//Variables principales del temaunitec
//Colores pricipales
$unitec_principal: #006fba;
$unitec_principal_b: #0f406b;
$unitec_secundario: #F68B1F;
//Titulos y texto
$titulos_principales: #757575;
$titulos_secundarios: #FFFFFF;
$texto_principal: #5a5a5a;
$texto_secundario: #FFFFFF;
$fondo-cuerpo-form: #FFFFFF;
//Divisores y lineas
$divisores_de_secciones: #333333;
//Margenes
$margen-superior-cuerpo: 10px;
$margen-inferior-imagen: 15px;
//Colores Thania
$azul_unitec: #006fba;
$boton_naranja_unitec: #f68b1f;
$gris_titulos: #757575;
$gris_texto: #333333;
$gray-light : #ededed;
$grayPred : #939393;
$gris_minicards: #f8f8f8;
$iconos: #757575;
$input_verde: #00c851;
$input_rojo: #cc0000;
$input_azul: #0099CC;
$check_verde: #007E33;
.sin-estado {
    display: block;
}

.con-estado {
    display: none;
}

::ng-deep .row-content-menu-app {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -10px;
}


/*Listado de divs par los estados*/

::ng-deep .division-div {
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: $gris_texto;
    cursor: pointer;
    padding-left: 10px;
}

::ng-deep .div-productos {
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: $gris_texto;
    cursor: pointer;
    padding-left: 10px;
}

::ng-deep .division-div.active {
    background-color: $azul_unitec;
    color: white;
    padding-left: 10px;
}

::ng-deep .div-productos.active {
    background-color: $azul_unitec;
    color: white;
    padding-left: 10px;
}

::ng-deep .col-cuadros-contenedor.active {
    background-color: $azul_unitec;
    color: white;
}

::ng-deep .col-estados {
    width: 100%;
}


::ng-deep .col-lineas-negocio {
    display: none;
    // overflow: hidden; //Para escritorio
}

::ng-deep .col-cuadros-lineas.active {
    background-color: $azul_unitec;
    color: white;
    .imagen-lineas-cuadros {
        background-color: white !important;
    }
}

::ng-deep .col-cuadros-lineas {
    height: 150px;
    border: solid 2px $gray-light;
}

::ng-deep .col-cuadros-ciclos.active {
    background-color: $azul_unitec;
    color: white;
}

::ng-deep .col-cuadros-ciclos {
    height: 150px;
    border: solid 2px $gray-light;
}

::ng-deep .col-cuadros-modalidades.active {
    background-color: $azul_unitec;
    color: white;
    .imagen-lineas-cuadros {
        background-color: white !important;
    }
}

::ng-deep .col-cuadros-modalidades {
    height: 150px;
    border: solid 2px $gray-light;
}

::ng-deep .col-cuadros-revalidaciones.active {
    background-color: $azul_unitec;
    color: white;
    .imagen-lineas-cuadros {
        background-color: white !important;
    }
}

::ng-deep .col-cuadros-revalidaciones {
    height: 100px;
    border: solid 1px $grayPred;
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 10px;
    background-color: $fondo-cuerpo-form;
    cursor: pointer;
    .titulo-lineas-cuadros {
        border: hidden;
    }
}
::ng-deep .col-cuadros-revalidaciones:hover {
    -webkit-box-shadow:  0 2px 10px 0 rgba(0,0,0,.05), 0 4px 20px 0 rgba(0,0,0,.05);
            box-shadow:  0 2px 10px 0 rgba(0,0,0,.05), 0 4px 20px 0 rgba(0,0,0,.05);
}

// ::ng-deep .col-contenedor-revalidaciones
// {
//     border: inset;
//     border-top: hidden;
//     border-left: hidden;
// }

::ng-deep .col-cuadros-campus.active {
    background-color: $azul_unitec;
    color: white;
    .imagen-lineas-cuadros {
        background-color: white !important;
    }
}

::ng-deep .col-cuadros-campus {
    height: 150px;
    min-width: 155px;
    border: solid 2px $gray-light;
}

::ng-deep .col-cuadros-contenedor {
    margin: -1px;
}

::ng-deep #secProductos {
    display: none;
}

::ng-deep .col-cuadros-ciclos {
    .titulo-lineas-cuadros {
        font-size: .8rem;
    }
}

::ng-deep .col-cuadros-ciclos.active {
    background-color: $azul_unitec;
    color: white;
    .imagen-lineas-cuadros {
        background-color: white !important;
    }
}

.adapt-desk-lineas {
    justify-content: center;
}

// 


// .adapt-campus-section {
//     height: 100% !important;
// }

// .adapt-specific-modalidades {
//     height: 100% !important;
// }

a.waves-effect, a.waves-light {
    display: inline-block;
}
::ng-deep .btn-dtc {
    background: #086fb9;
    color: #fff;
    width: 100%;
    padding: 2.5px;
    border-radius: .25rem;
    border: 1px solid transparent;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 0.875rem;
    vertical-align: middle;
}
::ng-deep .btn-dtc:hover {
    -webkit-box-shadow:  0 2px 5px 0 rgba(0,0,0,.3), 0 5px 15px 0 rgba(0,0,0,.2);
            box-shadow:  0 2px 5px 0 rgba(0,0,0,.3), 0 5px 15px 0 rgba(0,0,0,.2);
}
::ng-deep .btn-flecha {
    background-color: #fff;
    color: #757575!important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    width: 3rem;
    height: 3rem;
    margin: 0;
    border-radius: 50%;
    font-size: 2.5rem;
    left: -60px;
}
// .tabs_content {
//     height: 200px;
// }
::ng-deep .ancho{
    min-width: 155px;
}