<span [formGroup]="formularioPadre">
    <div class="" formGroupName="{{fase}}">
        <div id="secLineasNegocio" class="tabs_content">
            <div class="row adapt-desk-lineas mt-2">
                <div class="col-lg-2 col-md-3 col-cuadros-contenedor" *ngFor="let lineas of lineasNegocio; let i = index;">
                    <div class="col-12 col-cuadros-lineas d-flex flex-column align-items-center justify-content-center">
                        <div class="titulo-lineas-cuadros" style="text-align:center;">
                            {{ lineas.name }}
                        </div>
                        <div class="imagen-lineas-cuadros {{ lineas.class }}">

                        </div>
                        <button id="" (click)="muestraProductos($event,lineas.id)" role="button" class="btn-dtc waves-effect waves-light">Selecciona</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Div para el listado de productos (carreras) -->
        <div id="secProductos" class="tabs_content adapt-products-modalidades">
            <div class="dropdown productos-dropdown col-8 offset-2 p-0">
                <div id="" class="drop-view filtro-paises d-flex align-items-center justify-content-center p-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="col-2 p-0">
                        <div class="d-flex align-items-center justify-content-center borde-derecho">
                            <i class="icon-u-licenciaturas pais"></i>
                        </div>
                    </div>  
                    <div class="col-8">
                        <div class="d-flex align-items-center">
                            <h4 id="nameCarreraFormulario" data-carreras-formulario="">Selecciona la Licenciatura</h4>
                        </div>
                    </div>  
                    <div class="col-2">
                        <div class="d-flex align-items-center justify-content-end">
                            <i class="icon-u icon-u-ver-abajo icon-abajo"></i>
                        </div>
                    </div>
                    
                    
                    <!-- <div class="w-75">
                        <h4 id="nameCarreraFormulario" data-carreras-formulario="">Selecciona la Carrera</h4>
                    </div>
                    <div class="w-25 w-25 d-flex align-items-center justify-content-end">
                        <i class="icon-u icon-u-ver-abajo icon-abajo"></i>
                    </div> -->
                </div>
                <div class="dropdown-menu dropdown-primary menu-filtro-paises" id="secProductosSecond">
                    <!-- <a class="dropdown-item destacar" *ngFor="let estado of estados; let i = index;" (click)="muestraLineasDeNegocio(estado.name)">
                        {{ estado.name }}
                    </a> -->
                    <!-- <a class="dropdown-item destacar" onclick="filtroNoAnos( '<?php //echo $key ?>', '<?php //echo $opc_no_anos; ?>' );"><?php //echo $opc_no_anos; ?>PRIMERA OPCIÓN</a>
                    <a class="dropdown-item destacar" onclick="filtroNoAnos( '<?php //echo $key ?>', '<?php //echo $opc_no_anos; ?>' );"><?php //echo $opc_no_anos; ?>SEGUNDA OPCIÓN</a> -->
                </div>
            </div>
            <div id="secModalidades" class="tabs_content adapt-specific-modalidades mt-2">
                <h2 class="adapt-title-select-state text-center">{{ second_title_modalidades }}</h2>
                <h4 class="adapt-subtitle-select-state text-center">{{ second_subtitle_modalidades }}</h4>
                <div class="row adapt-desk-lineas">
                </div>
            </div>
        </div>
        <!-- div para el listado de modalidades -->
        <!-- <div id="secModalidades" class="tabs_content">
            <div class="row">
            </div>
        </div> -->
        <!-- div para el listado de campus -->
        <div id="secCampus" class="adapt-campus-section tabs_content">
            <div class="row justify-content-center">
            </div>
        </div>
        <!-- <div id="secTipoRegistro" class="tabs_content">
            <div class="row d-flex justify-content-center">   
            </div>
        </div> -->
        <!-- div para el listado de ciclos -->
        <div id="secCiclos" class="tabs_content">
            <div class="row adapt-desk-lineas col-12">
            </div>
        </div>

    </div>
</span>