<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <!-- <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
          <a [routerLink]="['/registro']" *ngIf="authType == 'login'">Need an account?</a>
        </p> -->




        <form [formGroup]="authForm"  class="md-form" (ngSubmit)="submitForm(authForm.value)">
          <fieldset [disabled]="isSubmitting">
            

            <fieldset class="form-group">
              <input formControlName="nombre" (ngModelChange)="myFunc()" placeholder="Nombre" class="form-control form-control-lg" type="text" *ngIf="authType == 'registro'"/>
            </fieldset>

            <fieldset class="form-group">
              <input formControlName="apaterno" placeholder="Apellido Paterno" class="form-control form-control-lg" type="text" *ngIf="authType == 'registro'"
              />
            </fieldset>

            <fieldset class="form-group">
              <input formControlName="amaterno" placeholder="Apellido Materno" class="form-control form-control-lg" type="text"
                *ngIf="authType == 'registro'" />
            </fieldset>

            <fieldset class="form-group">
              <input
                formControlName="email"
                placeholder="Correo Electrónico"
                class="form-control form-control-lg"
                type="text" /> 
            </fieldset>

            <fieldset class="form-group">
              <input formControlName="celular" placeholder="Celular" class="form-control form-control-lg" type="text"*ngIf="authType == 'registro'" />
            </fieldset>

           

           

            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
