<div class="container solicitaInfo">
    <!-- <div class="content-gral d-flex justify-content-center"> -->
    <div class="">
        <div class="text-center">{{titulo}}</div>

        <form id="frm_tradicional" [formGroup]="formularioTradicional" (ngSubmit)="enviar()" novalidate="novalidate" class="w-100">

            <div id="paso1" class="content-gral d-flex justify-content-center">
                <div class="col-lg-12 col-xl-6 card-blue p-5 d-flex align-items-center">
                    <div class="overlay">
                        <div class="card-desc">
                            <div class="row titulo-logo mb-1">
                                <div class="col-2 logo-formulario">
                                </div>
                                <div class="col-10">
                                    <h3 class="tit-desc">{{ titulo_app_menu }}</h3>
                                </div>
                            </div>
                            <h4 class="sub-desc">{{ descripcion_app_menu }}</h4>
                            <div class="lista-desc mb-2">
                                <ul class="mt-2">
                                    <li class="desc-ind d-flex align-items-center" *ngFor="let opcion of opcionesInformacion;">
                                        <div class="col-md-1 offset-1">
                                            <i class="{{ opcion.class }}"></i>
                                        </div>
                                        <div class="col-md-9">
                                            {{ opcion.name }}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                                <span class="legales modal-terminos-descuentos"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-5 align-self-center card-white p-0">
                    <div class="card-body card text-md-left card-left pl-4 pr-4 pt-1 pb-1 d-flex align-items-end">
                        <div class="icons-desktop d-flex align-items-center justify-content-center">
                            <a href="" data-dismiss="modal">
                                <i class="icon-u icon-u-cerrar" data-dismiss="modal"></i>
                            </a>
                        </div>
                        <div class="col-md-12 mt-1 mb-1 titulo-contactanos">
                            {{descripcion_formulario_app}}
                        </div>
                        <div class="col-md-12">
                            <frm-nombre (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-nombre>
                            <frm-apaterno (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-apaterno>
                            <frm-amaterno (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-amaterno>
                            <frm-mail (execChildInputTypeAhead)="validaEmailConAutocomplete($event)" (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-mail>
                            <!-- <frm-mail (execChildInputTypeAhead)="validaEmailConAutocomplete($event)" (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso"></frm-mail> -->
                            <frm-celular (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-celular>
                            <div id="div_revalidacion">
                                <frm-revalidacion [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true" id="revalidacion" class="frm-revalidacion"></frm-revalidacion>
                            </div>
                            <input type="hidden" id="CID" name="CID">
                            <frm-politicas-condiciones></frm-politicas-condiciones>
                            <div class="form-group row fila-botones">
                                <div class="centered div-btn-continuar">
                                    <button class="btn btn-primary btn-frm" id="continuarTrd" (click)="btnToogle()">
                                        {{ btnToogleValue }}
                                    </button>
                                    <!-- <button type="submit" class="btn btn-primary btn-frm" id="enviarTrd" style="display:none">
                                        {{ btnEnviar }}
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paso2" style="display : none">
                <div class="container contenedor-app">
                    <!-- <div class="row row-menu-app-form adapt-row-reset-desk">
                        <div class="col-2 app-left-arrow" (click)="rmCookie();">
                            <i class="material-icons">arrow_back</i>
                        </div>
                    </div> -->
                    <div class="row row-menu-app-form adapt-row-reset-desk">
                        <div class="app-left-arrow waves-effect waves-light btn-flecha d-flex align-items-center justify-content-center" (click)="rmCookie();">
                            <i class="icon-u icon-u-ver-izquierda"></i>
                        </div>
                    </div>
                    <!-- <hr id="divisor-menu-app"> -->
                    <!-- div mensaje de error no asignado -->
                    <div class="row row-error-app">
                        <div class="col-12">
                            <div class="col-12 col-error-app">
                            </div>
                        </div>
                    </div>
                    <div class="row row-content-menu-app">
                        <!-- Paso seleccion de estado -->
                        <div class="col-estados">
                            <h2 class="adapt-title-select-state text-center">{{ select_state }}</h2>
                            <!-- <h4 class="adapt-subtitle-select-state text-center">{{ description_state }}</h4> -->
                            <frm-estado-expuesto [formularioPadre]="formularioTradicional" [fase]="segundoPaso" [asterisk]="true"></frm-estado-expuesto>
                        </div>
                        <!-- paso seleccion de linea de negocio -->
                        <div class="col-lineas-negocio">
                            <h2 class="adapt-title-select-state text-center">{{ second_title_lineas }}</h2>
                            <!-- <h4 class="adapt-subtitle-select-state text-center">{{ second_subtitle_lineas }}</h4> -->
                            <frm-lineas-negocio-app [formularioPadre]="formularioTradicional" [fase]="segundoPaso" [asterisk]="true" (titles-second-step)="onUpdateTitleLineas($event)"></frm-lineas-negocio-app>
                        </div>
                    </div>
                </div>
                <!-- termina div container -->
            </div>
            <!-- termina div paso 2 -->

        </form>

    </div>
</div>
<div id="formApp"></div>