<!-- Modal -->
<div class="modal fade" id="modal_frm_app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Cintillo para cerrar el formulario -->
    <div id="head_close_modal">
        <i id="icon-exit-form" class="icon-u icon-u-cerrar"></i>
    </div>
    
    <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header modal-header-formulario">
                <div class="container contenedor-header-p">
                    <!-- div para imagen de fondo -->
                    <div id="videoPersonalizado" class="row img-header-formulario"></div>
                    <!-- div para el icono y el titulo -->
                    <div class="row titulo-logo">
                        <div class="col-2 logo-formulario">
                        </div>
                        <div class="col-10 titulo-formulario">
                            <h1>{{ titulo_modal_formulario }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header segundo paso -->
            <div class="modal-header modal-header-app" style="display: none;">
                <button type="button" class="close cerrar-modal" data-dismiss="modal" aria-label="Close">
                    <!-- <i class="material-icons">close</i> -->
                </button>
                <div class="col-2 titulo-icono">
                </div>
                <div class="col-10 titulo-modal">
                    <h4 class="titulo modal-title w-100" id="myModalLabel">{{ titulo_modal_formulario }}</h4>
                </div>

            </div>
            <!-- Header thank you page -->
            <div class="modal-header modal-header-thankyou" style="display: none;">
                <div class="container contenedor-header">
                    <!-- div para imagen de fondo -->
                    <div class="row img-header-thankyou">
                    </div>
                    <!-- div para el icono y el titulo -->
                    <!-- <div class="row titulo-logo">
                        <div class="col-2 logo-thankyou">
                            ICONO
                        </div>
                        <div class="col-10 titulo-thankyou">
                            <h2>Thank you page</h2>
                        </div>
                    </div> -->
                </div>
            </div>
            <!--Body formulario-->
            <div class="modal-body modal-body-form">
                <app-formulario-tradicional></app-formulario-tradicional>
            </div>
            <!-- Body thankyoupage -->
            <div class="modal-body-thankyou" style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 primer-texto-thankyou">
                            <span id="nombre-thankyou"></span> <label id="descripcionThanks">Gracias por proporcionarnos tus datos. En breve te enviaremos la información que nos solicitas de:</label>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12 segundo-texto-thankyou">
                            Compártenos tu promedio para conocer tu porcentaje de beca y tu colegiatura para:
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12 tercer-texto-thankyou">
                            
                        </div>
                    </div>
                    <div class="row" id="div-btn-continuar">
                        <div class="col-12 mini-app">
                            <div class="form-group row fila-botones">
                                <div class="centered div-btn-continuar">
                                    <!-- <button type="submit" class="btn btn-primary btn-frm" id="calcula-tu-beca" (click)="calculadora();">
                                        CALCULA TU BECA
                                    </button> -->
                                    <a href="/calcula-tu-beca">
                                        <button class="btn btn-primary btn-frm" id="continuarTrdThank">
                                            Calcula tu beca
                                        </button>
                                    </a>
                                </div>
                                <div class="centered div-btn-continuar">
                                    <div class="mt-2">
                                        <p>
                                            <b>¡Hablemos ahora!</b>
                                            <br>Ponemos a tus órdenes otros métodos de contacto para resolver tus dudasde manera inmediata
                                        </p>
                                    </div>
                                    <a class="btn button-whatsapp mt-2 waves-effect waves-light" data-gtm-tr="chat" data-gtm-pos="intenciones" data-gtm-location="thank you page" data-gtm-etiqueta="envio a página" href="https://www.unitec.mx/chatea-con-nosotros/" target="_blank" style="background-color: rgb(241, 196, 15) !important;">
                                        <i class="icon-u icon-u-chat"></i>&nbsp;Chatea con nosotros
                                    </a>
                                    <a class="btn button-whatsapp mt-2 waves-effect waves-light" data-gtm-accion="intención" data-gtm-depto="" data-gtm-seccion="formulario" data-gtm-tr="call" href="tel:8007864832" style="background-color: rgb(30, 190, 165) !important;">
                                        <i class="icon-u icon-u-llamar-footer"></i>&nbsp;Llámanos ahora</a>
                                    <a class="btn button-whatsapp mt-2 waves-effect waves-light" data-gtm-accion="intención" data-gtm-depto="" data-gtm-seccion="formulario" data-gtm-tr="evWhats" href="https://api.whatsapp.com/send?phone=525529688928&text=Hola%2C%20estoy%20en%20la%20página%20de%20internet%20y%20quiero%20más%20información" target="_blank">
                                        <i class="icon-u icon-u-whatsapp"></i>&nbsp;&nbsp;Resuelve tus dudas
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->
<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_frm_app">
    Modal formulario tradicional diseño app
</button> -->