<script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>

  
<div class="container resultados-container mt-1 mb-3">
  <div class="row">
    <div class="col-12 app-menu-title">
        Detalle de colegiatura
    </div>
  </div>
  <hr id="divisor-menu-app" class="mt-1 mb-1">

  <div class="row align-items-center">
    <div class="col-6 beca text-center">
      <h3>{{beca}}%</h3>
      <p>Beca Académica</p>
    </div>
    <div class="col-6">
      <div class="row no-gutters"  [ngClass]="{invisible: !duracionAnios} ">
        <div class="col-4 d-flex align-items-center justify-content-center"  (click)="duracion('menos')"><div class="btn-circle d-flex justify-content-center align-items-center " [ngClass]="this.aniosRango.includes( (this.duracionAnios*1 - 1).toString() )?'visible':'invisiblecr'"><i class="fa fa-minus"></i></div></div>
        <div class="col-4 d-flex align-items-center justify-content-center">
          <h3 class="m-circle">{{duracionAnios}}</h3>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center" (click)="duracion('mas')" ><div class="btn-circle d-flex justify-content-center align-items-center " [ngClass]="this.aniosRango.includes((this.duracionAnios*1 + 1).toString())?'visible':'invisiblecr' ">
          <i class="fa fa-plus"></i>
        </div></div>
      </div> 
      <div class="row" [ngClass]="{invisible: !duracionAnios} ">
        <p class="subtitulo mx-auto">Duración en años</p>
      </div>

      <div class="row no-gutters">
        <div class="col-4 d-flex align-items-center justify-content-center" [ngClass]="this.datos.getCampo('modalidad').catCosto=='ESP'?'invisible':'visible'" (click)="getMaterias('menos')" >
          <div [ngClass]="this.materias==1?'invisiblecr':'visible'" class="btn-circle d-flex justify-content-center align-items-center">
          <i class="fa fa-minus"></i>
        </div></div> 
        <div class="col-4 d-flex align-items-center justify-content-center"> 
          <h3 class="m-circle">{{materias}}</h3>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center" [ngClass]="this.datos.getCampo('modalidad').catCosto=='ESP'?'invisible':'visible'"  (click)="getMaterias('mas')" >
          <div [ngClass]="this.materias>=this.limitMaterias?'invisiblecr':'visible'" class="btn-circle d-flex justify-content-center align-items-center">
          <i class="fa fa-plus"></i>
        </div></div>
      </div>
      <div class="row">
        <p class="subtitulo mx-auto"># Materias</p>
      </div>
      
    </div>
  </div> 


  <div class="row">
    <div class="col-12 mx-auto">
      <p>Promedio de {{nivelAnterior}}</p>
    </div>
  </div>

  <div class="row  mb-2">
    <div class="col-10 mx-auto slideru">


    </div>

  </div>

  <div class="row">
    <div class="col-12 linea">
      Resultados de pagos por cuatrimestre
    </div> 
  </div>


  <div class="row no-gutters mt-1 text-left">
    <div class="col-5 concepto b-verde">
      <h3 class="costo">${{PagoConBeca | number}}</h3>
        <p>PAGO MENSUAL</p>
    </div>
    <div class="col-4 medio">Ahorro con Beca</div>
    <div class="col-3"><h3 class="costo">${{AhorroMensual | number}}</h3></div>
  </div>


  <div class="row no-gutters mt-1 text-left">
    <div class="col-5 concepto b-amarillo">
      <h3 class="costo">${{PagoConBecaContado | number}}</h3>
      <p>PAGO DE CONTADO</p>
    </div>
    <div class="col-4 medio">Ahorro con Beca</div>
    <div class="col-3">
      <h3 class="costo">${{AhorroContado | number}}</h3>
    </div>
  </div>


  <div class="row no-gutters mt-1 text-left">
    <div class="col-5 concepto b-rojo">
      <h3 class="costo">$0</h3>
    </div>
    <div class="col-4 medio">Inscripción / Reinscripción</div>
    <div class="col-3">
      <h3 class="costo"></h3>
    </div> 
  </div>

  <div class="row mt-1">
    <div class="col-12 terminos">
      <p ><span *ngFor="let term of terms ">{{term}}<br></span> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
       <a class="btn btn-block" href="http://www.unitec.mx/admision-unitec/">INSCRIBETE AQUI</a>
    </div>
  </div>


</div>


