.beca{
    font-size: 1rem;
}
.beca h3{
    font-size: 3.3rem;
     color: #0275d8;
}

.resultados-container{
    color: #757575;
    //font-weight: 100
}
.colorAzul{
    color: #0275d8;
}
.btn-circle{
    border-radius: 69px;
    border-color: #757575;
    background-color: #0275d8;
    color: #FFF;
    width: 85%;
    height: 85%;
}

.invisiblecr{
    border-radius: 69px;
    border-color: #757575;
    background-color: #dbdbdb;
    color: #FFF;
    width: 85%;
    height: 85%;
}

.btn{    background: #f68b1f!important;}



.linea{
    border-bottom-color: #0275d8;;
    border-bottom-style: solid;
}
.subtitulo{font-size: .7rem}
.b-verde{
    border-left-color: #0eb1ac;
  
}
.b-amarillo{
    border-left-color: #cedc2d;
  
}
.b-rojo{
    border-left-color: #e9674f;
  
}
.concepto{
  border-left-style: solid;
    border-left-width: 7px;
    padding-top: 4px;
    padding-left: 7px !important;
}
.concepto p{
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.costo{font-size: 8vw;
    padding-top: 12px;}

.medio{padding: 10px!important}

.terminos{font-size: 1.5vh}

.m-circle{
   font-size:  6vh!important;
} 

@import "../../../node_modules/nouislider/distribute/nouislider.min.css";
//@import "../linea/linea.component.scss";   