.img-menu-campu{
    filter: invert(100%) brightness(.4) sepia(0) hue-rotate(0) saturate(1);
}
.ATZ {
    background-image: url("assets/atizapan.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.MAR {
    background-image: url("assets/marina.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.ECA {
    background-image: url("assets/ecatepec.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.GDL {
    background-image: url("assets/guadalajara.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.LEO {
    background-image: url("assets/leon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.SUR {
    background-image: url("assets/sur.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.CUI {
    background-image: url("assets/cuitlahuac.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.TOL {
    background-image: url("assets/toluca.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.QRO {
    background-image: url("assets/queretaro.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.REY {
    background-image: url("assets/losreyes.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.ONL {
    background-image: url("assets/enlinea.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}