<div class="container mt-1">
    <div class="row">
      <div class="col-12 app-menu-title">
        <div class="row">
          <div class="col-2 d-flex align-items-center justify-content-center">
              <a href="javascript:history.back()"><i class="icon-u icon-u-tab-izquierda back"></i></a>
          </div>
          <div class="col-8">
              ¿En qué campus ? 
          </div>
      </div>
      </div>
    </div>
    <hr id="divisor-menu-app" class="mt-1 mb-1">

  <ul class="list-group carreras-mob">
    <li class="list-group-item d-flex justify-content-left align-items-center" *ngFor="let campu of campus " (click)="setCampus(campu)">
      <div *ngIf="campu == 'ATZ'" class="img-menu-campu ATZ"></div>
      <div *ngIf="campu == 'MAR'" class="img-menu-campu MAR"></div>
      <div *ngIf="campu == 'ECA'" class="img-menu-campu ECA"></div>
      <div *ngIf="campu == 'GDL'" class="img-menu-campu GDL"></div>
      <div *ngIf="campu == 'LEO'" class="img-menu-campu LEO"></div>
      <div *ngIf="campu == 'SUR'" class="img-menu-campu SUR"></div>
      <div *ngIf="campu == 'CUI'" class="img-menu-campu CUI"></div>
      <div *ngIf="campu == 'TOL'" class="img-menu-campu TOL"></div>
      <div *ngIf="campu == 'QRO'" class="img-menu-campu QRO"></div>
      <div *ngIf="campu == 'REY'" class="img-menu-campu REY"></div>
      <div *ngIf="campu == 'ONL'" class="img-menu-campu ONL"></div>
      {{( campu == 'ATZ') ? 'Atizapán' : '' }} 
      {{( campu == 'MAR') ? 'Marina' : '' }} 
      {{( campu == 'ECA') ? 'Ecatepec' : '' }}
      {{( campu == 'GDL') ? 'Guadalajara' : '' }}
      {{( campu == 'LEO') ? 'León' : '' }}
      {{( campu == 'SUR') ? 'Sur' : '' }}
      {{( campu == 'CUI') ? 'Cuitláhuac' : '' }}
      {{( campu == 'TOL') ? 'Toluca' : '' }}
      {{( campu == 'QRO') ? 'Querétaro' : '' }}
      {{( campu == 'REY') ? 'Los Reyes' : '' }}
      {{( campu == 'ONL') ? 'En Línea' : '' }}
    </li>
  </ul>
</div>