<div class="container mt-1">
    <div class="row">
        <div class="col-12 app-menu-title">
                ¿En qué modalidad? 
        </div>
    </div>
    <hr id="divisor-menu-app" class="mt-1 mb-1">

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let modalidad of modalidades" (click)="setOferta(modalidad)" >
            
            {{( modalidad.modalidad == 1) ? 'Presencial' : '' }}
             {{( modalidad.modalidad == 2) ? 'Ejecutiva' : '' }}
             {{( modalidad.modalidad == 3) ? 'En línea' : '' }}

        </li>
    </ul>
</div>
 