<div class="container mt-1">
    <div class="row">
        <div class="col-12 app-menu-title">
           <div class="row">
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <a href="javascript:history.back()"><i class="icon-u icon-u-tab-izquierda back"></i></a>
                </div>
                <div class="col-8">
                    ¿Qué carrera? 
                </div>
           </div>
        </div>
    </div>
    <hr id="divisor-menu-app" class="mt-1 mb-1">

    <ul class="list-group carreras-mob">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let carrera of carrerasBien " (click)="setOferta(carrera)" >
            {{ carrera.Categoria }}
        </li>
    </ul>
</div>
 