.sin-estado {
    display: block;
}
.con-estado {
    display: none;
}
// .carreras-mob{
//     max-height: 80vh;
//     overflow: auto;
//     display: block!important;
//     padding-bottom: 2rem;
// }
.carreras-mob{
    padding: 5px !important;
    min-height: 70vh;
    max-height: 75vh;
    overflow: auto;
    display: block!important;
}
.list-group-item{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: none !important;
    margin: 2px 0;
}
