


<div class="container mt-1">
    <div class="row">
        <div class="col-12 app-menu-title">
            <div class="row">
                <!-- <div class="col-2 d-flex align-items-center justify-content-center">
                    <i class="icon-u icon-u-tab-izquierda back"></i>
                </div> -->
                <div class="col-12">
                    ¿Qué te interesa estudiar?
                </div>
            </div> 
        </div>
    </div>
    <hr id="divisor-menu-app" class="mt-1 mb-1">
    <div class="row">
        <div class="col-6 mb-1" *ngFor="let linea of lineasNegocio; let i = index;" (click)="setLinea(linea)">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mt-0 "> {{ linea.name }}</h5>
                    <!-- <img src="assets/{{ linea.id_name | lowercase }}.svg" class="img-fluid mx-auto mb-1 icono-size" alt=""> -->
                    <div class="imagen-lineas-cuadros cuadro {{linea.abrv}}">
                    </div>
                    <button id="home-updates-react" (click)="setLinea(linea)" role="button" class="btn btn-dtc btn-sm px-3 waves-effect waves-light">Selecciona</button>
                </div>   
            </div>     
        </div>
    </div>
</div>
 
