<div class="home-page">
<div class="container">
  <div class="row">
<app-formulario-tradicional></app-formulario-tradicional>
</div>
</div>
  <div class="container page">
    <div class="row">
    </div>
  </div>
</div>
