<div id="frm_politicas_y_condiciones" class="frm-politicas">
    <label class="politicas light frm-tradicional-cl" id="form_politicas">
        Al hacer clic en <span id="continuar_politicas">"Continuar"</span>, reconoces haber leído las 
        <a href="//www.unitec.mx/politicas-de-privacidad/" target="_blank">
        Políticas de Privacidad</a> y confirmas estar de acuerdo con el uso de ellas, así como los 
        <a href="//www.unitec.mx/terminos-y-condiciones/" target="_blank">
        Términos y Condiciones</a> del sitio
    </label>
</div>