/*Estilos de calculadora*/
@import url(mobile.css);
@import url(desktop.css);
#status2 {
  width: 210px;
  height: 210px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("http://localhost/unitec/wp-content/themes/temaunitec2/calculadora/img/status.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; }

#home-calc {
  background-image: url("http://localhost/unitec/wp-content/themes/temaunitec2/calculadora/img/bgcalcu.jpg");
  background-size: cover; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4F4F4F;
  z-index: 99; }

#status {
  width: 210px;
  height: 210px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; }

.toggle-on.active {
  text-indent: 10px; }

.toggle-off.active {
  text-indent: 30px; }

.matctrl {
  display: none; }

.promctrl {
  display: none; }

/*# sourceMappingURL=estilos.css.map */
