/* Load animation */

@-webkit-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@keyframes 
load { 0% {
stroke-dashoffset:0
}
}

/* Container */

.progreso_cifras {
  position: relative;
  padding: 0;
  text-align: center;
}

/* Item */

.progreso_cifras>li {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: Lato;
  font-weight: 100;
  margin: 4rem;
}

.progreso_cifras>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}

.progreso_cifras>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 4.7rem;
  left: 0;
  font-size: 4rem;
  text-align: center;
}

.progreso_cifras svg {
  width: 20rem;
  height: 15rem;
}

.progreso_cifras svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.progreso_cifras svg:nth-child(2) path {
  fill: none;
  stroke-width: 16;
  stroke-dasharray: 629;
  stroke: rgba(255, 255, 255, 0.9);
  -webkit-animation: load 2s;
  -moz-animation: load 2s;
  -o-animation: load 2s;
  animation: load 2s;
}