/*                  __    _ __
   ____ ___  ____  / /_  (_) /__   _______________
  / __ `__ \/ __ \/ __ \/ / / _ \ / ___/ ___/ ___/
 / / / / / / /_/ / /_/ / / /  __// /__(__  |__  )
/_/ /_/ /_/\____/_.___/_/_/\___(_)___/____/____/

Aun no te atreves a optimizar tu sitio web para móviles porque crees que eso significa un gran
trabajo de programación?

==================================================================================================*/


/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 @import url(http://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Light.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

a {
    color: #757575;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #f68b1f;
}

body {
    width: 100%;
    height: 100%;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #757575;
    background-color: #fff;
    font-size: 16px;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;

}

h1{
    font-size: 40px;
}

h2{
   /* text-transform: uppercase;
    font-weight: 700;*/
}

h3{
    font-size: 25px;
    text-transform: uppercase;
}



h5{
    font-size: 24px;
    font-weight: 600;
}

h6{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

p {

    font-size: 20px;
    line-height: 1.5;
}

#accordion a:hover{
    color: #f68b1f;
}

#accordion a:focus{
    color: #f68b1f;
}

.alinear-center{
  text-align: center;
}

.no-margin{
    margin: 0!important;
   }

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.bottom-box{
    position: absolute;
    bottom: 0;
}

.espacio-menu{
    margin-top: 60px;
   }

.light{
    color: #FFF;
}

.lista_paginas{
    list-style: none;
    padding: 0;
}

.lista_paginas li{
    border-bottom: 1px solid #757575;
    padding: 3px 0px;
    margin: 10px 0;
}

.dark{
    color: #757575!important;
}

a.dark:hover{
    color: #757575;
    border-bottom: 2px solid #757575;
}


.text-middle{
    display: table-cell;
    vertical-align: middle;
}

.text-full{
    display: table;
}

.no-padding{
    padding: 0 0 0 0;
}



.sub-footer{
    background-color: #006FBA;
    padding: 30px;
    color: #FFF;
}

.sub-footer ul{
    list-style: none;
}

.sub-footer a{
    color: #FFF;
}

.footer{
    background-color: #002640;
    padding: 30px;
    color: #FFF;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;

}

.navbar-custom .nav li a {

}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;

}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn {
  text-transform: uppercase;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #FFF;
    color: #FFF;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #FFF;
    outline: 0;
    color: #F68B1F;
    background-color: #FFF;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/********Estilos navegacion top*********/

.navbar-header{color:#FFF; }
.navbar-header button{
position: relative;
padding: 3px 0px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
float: right;
right: 0px;
}

.menu_resize{font-size: 22px;
height: 47px;
width: 40px;
margin-bottom: 0px;}
.menu_opt{font-size:12px;margin-top: 14px;margin-right: 7px;margin-bottom: 0px;}
.secundario{display:none;}

.box.naranja h4 a{color:#FFF;}
.box.azul h4 a{color:#FFF;}

.fondo_negro{
    z-index: 99999;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.fondo_naranja{
    background-color: #F68B1F;
}

.box{
  height:100%;
    padding: 10px;
  margin-bottom:2px;
}

.gris{
    background-color: #E5E5E5;
}

.azul{
    background-color: #3fa7f3;
}
.azuld{
    background-color:#0E83D8;
}

.naranja{
    background-color: #ff911e;
}
.naranja-bold{
    background-color: #F30;
}

.cta{
    background-color: #F68B1F;
    padding: 30px;
    color: #FFF;
}
.linkSeccion div{
  padding:40px;
  text-align:center;
  color:#FFFFFF;
  }
.sec-titulo{ margin:25px 0;}




/*CALCULADORA*/

.calcu-primera-seccion{
  margin-top: 4%;
}


.calcu-primera-seccion h1{
  margin-bottom: 4%;
  text-align: left;
}

.calcu-primera-seccion ul{
  list-style:none;
  text-align: left;
  font-size: 14px;
}

.calcu-segunda-seccion{
  margin-top: 7%;
  margin-left: 20px;
}

.calcu-segunda-seccion h3{
  text-align: center;
}

.calcu-segunda-seccion input{
  background-color: rgba(255,255,255,.3);
  color: #777575;
}

.calcu-segunda-seccion input::-webkit-input-placeholder {
  color: #777575;
}
.calcu-segunda-seccion input:-moz-placeholder {
  color: #777575;
}
.calcu-segunda-seccion input:-ms-input-placeholder {
  color: #777575;
}

.titulo-slides-calcu{
  margin-bottom: 40px;
  font-size: 18px;
}

.numero-promedio{
  margin-bottom: 20px;
  font-size: 10em;
  margin-top:-80px;
}
/* JEAB Cambio de fuente de 18px a 13*/
.calcu-ultima-seccion p{
  font-size: 13px;
}
/*JEAB Cambio de fuente de 70 a 55*/
.numero-calcu-resultado{
  font-size: 55px;
  font-weight: 900;
  margin-top: -15px;
  text-align: right;
}


.clcIntro{   font-size: 40px;}
.clcIntroCalltoAct{
  padding: 20px 0px;
  font-size: 20px;
}

.clcTextBanner{ position: relative; top:0;}
.clcContainer{color: #006FBA;}
.clcForm{ font-size:20px;}
.clcSelector{
  background-color:#fff;
  margin: 0px 0px 3px 0px;
  font-size: 20px;
  padding: 15px 20px;
  overflow: hidden;
  height: 100%;
}

.clcSelector i{
  position: absolute;
  top: 40%;
  right: 10px;
}
.clcSelector span{
  margin-top: 3.4%;
  display:inline-block;
}

.crtl{ height: 100%;
  font-size: 13px;
  padding: 12px 0;
  text-align: center;}

.color-control{
   display:none;
   color: #FFF;
   z-index:1000;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:95px;
    margin-bottom:0px;
   }
   .sec_promedio{ padding-top:30px;}
   .clcPromedio{ font-size:40px;}

.politicas{
  font-size: 14px;
}

.pos-relative{
  position: relative;
}

.mas-promedio{
  position: absolute;
  left: 80%;
  font-size: 28px;
  z-index: 9999;

}

.control-mas, .control-mas-mat{
  padding: 15px;
}

.menos-promedio{
  position: absolute;
  right: 80%;
  font-size: 28px;
  z-index: 9999;

}

.control-menos, .control-menos-mat{
   padding: 15px;
}

.margen{
  margin-top: 7%;
}

.rellenar{
  width: 100%;
}

.img-calcu{
  width: 10%;
  margin-right: 20px;
}

.check-politicas{
  font-size: 20px!important;
  margin-top: 8px!important;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.nombre-linea{
  padding-top: 20px;
  float: left;
}

/*TERMINA CALCULADORA*/




@media(min-width:980px) {
    .navbar {
        padding: 0px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: rgba(0,0,0,0.5);
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .boton-inicio-calculadora{
        display: none;   
    }


}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;

    color: #fff;


    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fondo_modalidades{
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    background: url(../img/modalidades.jpg) no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fondo_solido{
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: #006FBA;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 50px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}
.brand-heading span {
    font-weight: 400;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 50px;
    }

    .intro .intro-body .intro-text {
        font-size: 20px;
    }

}





/********ESTILOS GENERALES*******/



@media (max-width: 980px) {
/* .imgFull{ margin-bottom:35px;}*/
  body{padding-top: 47px;}
  .box{  height: 33%;}
  .box h4{ font-size:14px;}
  .textBanner {color: #FFFFFF; position: relative; top: 100px;}
  h1{ font-size:20px}

  .fp-slide, .fp-slidesContainer {
      overflow: scroll;
      height: 100%;
    }
  p {
    font-size: 14px;
    line-height: 1.5;
  }

}



@media (max-width: 770px) {

.brand-mobile {
    margin: 7px 0 0 8px;
}

.phone-mobile{
  margin: 10px 0 0 8px;
  text-align: center;
}

.information-mobile{
  margin: 8px 0 0 8px;
}

}



.textBanner {color: #FFFFFF; position: relative; top: 100px;}
h3.mcenter{ text-transform:none; font-size:19px}
.vertical-center {
  height:100%;


  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/****ESTILOS PARA BANNER CENTRAL***/


#sec_1 {background-size: cover;background-attachment: fixed;}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */

}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}



.carousel-inner .active.left { left: -20%; }
.carousel-inner .next        { left:  20%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.carItem{  padding-right: 0px; padding-left: 0px; height:500px; }
.carousel-play{ font-size:6em;}
.carousel-caption p{ font-size:35px;}
.btn-marco{ margin-bottom:5px;   padding: 0 5px;  border-style: solid; border-color: #ff0000 #ff0000 ;border: 2px solid #FFF;border-radius: 4px;text-shadow: 0 1px 2px rgba(0, 0, 0, .6); text-align:center; padding:8px auto;}
.solicitaInfo{  text-align: center;
  color: #FFFFFF;
  padding: 15px;
  font-size: 23px;}
  .footertext{ text-align: center;  color: #FFFFFF;font-size: 19px;}
 footer p{ font-size:60%}
.margins		{ margin: 15px; }
.margins-horz	{ margin: 0 15px; }
.margins-vert	{ margin: 10px 0; }
.margin-bottom	{ margin: 0px 0px 10px 0px;}
.redesSociales p span{ margin-right:15px;}
.sec_cifras{}


/* Load animation */

@-webkit-keyframes
load { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes
load { 0% {
stroke-dashoffset:0
}
}
@-ms-keyframes
load { 0% {
stroke-dashoffset:0
}
}
@keyframes
load { 0% {
stroke-dashoffset:0
}
}

/* Container */

.progressCifras {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}

/* Item */

.progressCifras>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #FFF;
  font-weight: 100;
  margin: 2rem;
}

.progressCifras>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}

.progressCifras>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}

.progressCifras svg {
  width: 10rem;
  height: 10rem;
}

.progressCifras svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.progressCifras svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: rgba(255, 255, 255, 0.9);
  -webkit-animation: load 4s;
  -moz-animation: load 4s;
  -ms-animation: load 4s;
  -o-animation: load 4s;
  animation: load 4s;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}


/*******MenÃº***********/
#menu {
	position: absolute;
	right: 0;
	top: 0;
	min-height: 100%;
	z-index: 99999;
}

.mlpm_w {
	position: absolute;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.mlpm_w .levelHolderClass {
	position: absolute;
	overflow: hidden;
	top: 0;
	background: #0B70B8;
	width: auto;
	min-height: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	zoom: 1;
}

.mlpm_w .ltr {
	margin-left: -100%;
	left: 0;
	-moz-box-shadow: 5px 0 5px -5px #0B70B8;
	-webkit-box-shadow: 5px 0 5px -5px #0B70B8;
	box-shadow: 5px 0 5px -5px #0B70B8;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#0B70B8,direction=90,strength=2);
}

.mlpm_w .rtl {
	margin-right: -100%;
	right: 0;
	-moz-box-shadow: 5px 0 5px 5px #0B70B8;
	-webkit-box-shadow: 5px 0 5px 5px #0B70B8;
	box-shadow: 5px 0 5px 5px #0B70B8;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#0B70B8,direction=270,strength=2);
}

.mlpm_w .mlpm_inactive {
	background: #124B7D;
}

.mlpm_w h2 {
	font-size: 1.5em;
	line-height: 1em;
	font-weight: bold;
	color: #FFF;
	padding: 0 .4em 0 .4em;
}

.mlpm_w ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mlpm_w li {
	cursor: pointer;
	border-top: 1px solid #0B70B8;
	padding: .4em .4em .4em .4em;
}

.mlpm_w li:last-child {
	border-bottom: 1px solid #0B70B8;
}

.mlpm_w li:hover {
	background-color: #0B70B8;
}

.mlpm_w a {
	display: block;
	outline: none;
	overflow: hidden;
	font-size: 1.5em;
	line-height: 1em;
	padding: .2em .2em;
	text-decoration: none;
	color: #fff;
}

.mlpm_w a:hover {
	color: #ffe;
}

.mlpm_w .backItemClass {
	display: block;
	padding: .4em .4em .4em .4em;
	background: #124B7D;
	border-top: 1px solid #0B70B8;
}

.mlpm_w .floatRight {
	float: right;
}

.mlpm_w .floatLeft {
	float: left;
}

.mlpm_w .cursorPointer {
	cursor: pointer;
}

.mlpm_w .iconSpacing_ltr {
	padding: 0 .4em 0 0;
}

.mlpm_w .iconSpacing_rtl {
	padding: 0 0 0 .4em;
}


/********CALCULADORA*******/
#app-esquemapagos{ margin-bottom: 5px;}

 input.vertical { -webkit-appearance: slider-vertical !important; writing-mode: bt-lr !important; }
input[type=range].vVertical {
    -webkit-appearance: none;
    background-color: green;
    width: 200px;
    height:10px;
    margin-top: 100px;
      -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    z-index: 0;
}
input[type=range].vHorizon {
    -webkit-appearance: none;
    background-color: pink;
    height: 10px;
    width:200px;

}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: red;
    width: 40px;
    height: 80px;
}
.divfix{ height:50px;}
.slider-tick-label-container {
  margin-left: 30px;}
  body{
    background-color: #FFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;}

    .intro p{
        color: #fff;
    }

    /* Centered texts in each section
    * --------------------------------------- */


    /* Fixed header and footer.
    * --------------------------------------- */
    #header, #footer{
        display:block;
        width: 100%;
        z-index:9;
        text-align:center;
        color: #f2f2f2;
        padding: 20px 0 0 0;
    }

    #header{
        top:0px;
        margin-bottom:25px;
    }
    #footer{
        bottom:0px;
    }
    .oculto{ display: none;}

/* Landscape phone to portrait tablet */
@media (max-width: 980px) {

.numero-promedio{
  font-size: 12em;
}

.calcu-primera-seccion{
  margin: 0;
}

.calcu-primera-seccion h1{
  text-align: center;
}

.calcu-primera-seccion ul{
  display: none;
}

.calcu-segunda-seccion{
  margin:0;
}

.img-calcu{
  width: 15%;
  margin-right: 15px;
  float: left;
}

.espacio-menu {
    margin: 60px auto 0 auto;
    max-height: 800px!important;
}

/*.clcSelector i{
  position: absolute;
  top: 40%;
}*/

.clcSelector span{
  margin-top: 4.5%;
  display: inline-block;
}

.ancho-carrera{
  width: 90%;
}

.padding-top-calcu{
  padding-top: 45px;
  padding-bottom: 90px;
}

    .espacio-prom-mater {
        margin-bottom: 0px !important;
    }

    .crtl {
      padding: 7px 0 !important;
      margin-top: -40px;
      height: 600px;
    }



}


/* Landscape phones and down */
@media (max-width: 480px) {

  .brand-mobile {
    margin: 14px 0 0 8px;
}
.phone-mobile{
  margin: 10px 0 0 8px;
  text-align: center;
}
.information-mobile{
  margin: 8px 0 0 8px;
}


  .numero-promedio{
  font-size: 120px;
  margin-bottom: 10px;
}

.numero-calcu-parrafo{
  font-size: 20px!important;
}

.numero-calcu-resultado{
    font-size: 20px;
}

.calcu-ultima-seccion p{
  font-size: 14px;
}

.division-calcu{
  margin: 5px 0;
}

.renglones-sl{
  top: 44px;
}

.renglones{
    border-bottom: 0!important;
}

.renglones-texto{
  top: 51px;
}

.condiciones{
    font-size:10px;
    margin-top:50px;
}

.texto-minimo{
  font-size: 12px;
}

.margen-superior{
  margin-top: 10px;
}

.espacio-prom-mater{
  margin-top: -10px !important;
  margin-bottom: 0!important;
}

.crtl {
  padding: 12px 0 !important;
  margin-top: 0;
  height: 100%;
}

.clcIntro{ font-size: 30px;}

.margen-arriba{
  top: 61px!important;
}

.top-renglon{
  top: 38px!important;
}

.calculadora-respaldo{
  display: none;
}


}

.item-selected{
  background-color: #f68b1f  !important;
}

/*JEAB ESTILO PARA EL LINK DE POLITICAS DE PRIVACIDAD EN LA CALCULADORA*/
#lnk-politicas-privacidad {
    color: rgb(246, 139, 31) !important;
}

