<span [formGroup]="formularioPadre" class="d-flex align-items-center justify-content-center">
    <div class="form-group col-8" formGroupName="{{fase}}">
        <div class="dropdown">
                <!-- style="height: 100vh; align-items: center; display: flex; flex-direction: column; justify-content: center; top: -361px; position: absolute;" -->
            <div id="" class="drop-view filtro-paises d-flex align-items-center justify-content-center p-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="col-2 p-0">
                    <div class="d-flex align-items-center justify-content-center borde-derecho">
                        <i class="icon-u-estado pais"></i>
                    </div>
                </div>  
                <div class="col-9">
                    <div class="d-flex align-items-center">
                        <h4 id="nameCampusDescuentos" data-descuentos-campus="">Escoge tu lugar de residencia</h4>
                    </div>
                </div>  
                <div class="col-1">
                    <div class="d-flex align-items-center justify-content-end">
                        <i class="icon-u icon-u-ver-abajo icon-abajo"></i>
                    </div>
                </div>  
            </div>
            <div class="dropdown-menu dropdown-primary menu-filtro-paises" *ngIf="fase == 'faseDos'">
                    <!-- style="position:initial;" -->
                <a 
                    class="dropdown-item destacar"
                    *ngFor="let estado of estados; let i = index;"
                    (click)="muestraLineasDeNegocio(estado.name)"
                >
                    {{ estado.name }}
                </a>
                <!-- <a class="dropdown-item destacar" onclick="filtroNoAnos( '<?php //echo $key ?>', '<?php //echo $opc_no_anos; ?>' );"><?php //echo $opc_no_anos; ?>PRIMERA OPCIÓN</a>
                <a class="dropdown-item destacar" onclick="filtroNoAnos( '<?php //echo $key ?>', '<?php //echo $opc_no_anos; ?>' );"><?php //echo $opc_no_anos; ?>SEGUNDA OPCIÓN</a> -->
            </div>
            <div class="dropdown-menu dropdown-primary menu-filtro-paises" *ngIf="fase == 'faseDosCalculadora'">
                <a 
                    class="dropdown-item destacar"
                    *ngFor="let estado of estados; let i = index;"
                    (click)="terminaCalculadora(estado.name)"
                >
                    {{ estado.name }}
                </a>
                <!-- <a class="dropdown-item destacar" onclick="filtroNoAnos( '<?php //echo $key ?>', '<?php //echo $opc_no_anos; ?>' );"><?php //echo $opc_no_anos; ?>PRIMERA OPCIÓN</a>
                <a class="dropdown-item destacar" onclick="filtroNoAnos( '<?php //echo $key ?>', '<?php //echo $opc_no_anos; ?>' );"><?php //echo $opc_no_anos; ?>SEGUNDA OPCIÓN</a> -->
            </div>
        </div>
        <!-- <div id="secEstado" class="tabs_content">
            <div 
                *ngFor="let estado of estados; let i = index;"
                class="division-div"
                (click)="muestraLineasDeNegocio(estado.name)"
            >
                {{ estado.name }}
            </div>
        </div> -->
    </div>
</span>