<fieldset class="text-align-center">
    <input type="checkbox" id="frm_revalidacion" (change)="cambiaTipoRegistro($event);">
    <label for="frm_revalidacion" class="frm-revalidacion-label">¿Quiéres revalidar tus estudios?</label>
    <!-- <hr class="hr-revalidacion"> -->
</fieldset>
<input type="hidden" id="frm_tipo_registro" value="10040">