

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


$margen-quest: 0px 0px .5vh 0px;
$azul:#006fba;
$gris:rgba(0, 0, 0, 0.125);
$gris-font:#757575;
$espacio-ente-preguntas:0px 0px 3vh 0px;
*:focus {
    outline: none;
}
.btn-or{
    background-color: #f68b1f;
    font-weight: 400;
    font-size: .875rem;
    box-shadow: none!important;
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    color: #fff!important;
    margin: 6px;
    white-space: normal!important;
    word-wrap: break-word;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0; 
    border: 0;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;

    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }

#results{right: 0;
    position: relative;
    width: 60%; 
    margin-left: 40%;
height: 100%}


#selector-float { color: #757575; overflow: auto; 
   z-index:15;
    width: 40%; height: 100%; position: fixed; left: 0px; bottom: 0px; background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.59) 0px -14px 20px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
 }

.ca{ color: #006fba;}
.btn-group{    position: relative;
    display: inline-block;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
}
 


    .btn-group>.btn {
        position: relative;
        float: left;
    }
    #text{
    position: absolute;
    top: 20%;
    right: 0vw;
    width: 51vw;
    
    color: white;
    }
    #text p{
        font-size: 4vw;
    }
  

    .btn {
        padding: .6vw;
        vertical-align: middle;
        display: inline-block;
        zoom: 1;
    }
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    .btn-circ{border-radius: 50%;
        width: 2vw;
        height: 2vw;
        font-size: 1.5vw;
        text-align: center;
        padding-top: 1.2vh;
        background-color: #FFF;
        border-width: 2px;
        color: #757575;
        border-style: solid;
        padding: 1.3vw 1.2vw 1vw 1.2vw;
        vertical-align: middle;
        display: inline-block;
        zoom: 1;
        border-color: #cacaca;
        border: 1px solid rgba(0, 0, 0, 0.125);
        // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    
    .btn-dual-x {
        font-family: 'NeueHaasUnicaPro-Medium', sans-serif;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #fff;
        bottom: 15px;
        cursor: pointer;
        border-radius: 2vw;        border-color: rgb(202, 202, 202);
        color: #757575;
        display: inline-flex;
        font-size: 1vw;
        height: 3vw;
        width: 7vw;
                border-width: 2px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 12px;
        margin-top: 0;
        min-width: 36px;
        user-select: none;
        text-align: center;
        right: 12px;
        text-decoration: none;
        
        z-index: 101;
        transition: .2s ease-out;
        // margin: 6px;
        
    }
    .btn-dual-y {
        font-family: 'NeueHaasUnicaPro-Medium', sans-serif;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer; 
        background-color: #fff;
        bottom: 15px;
        border-radius: 18px;
        border-color: rgb(202, 202, 202);
        color: #757575;
        display: inline-flex;
        font-size: 12px;
        border-width: 2px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 12px;
        margin-top: 0;
        min-width: 36px;
        user-select: none;
        text-align: center;
        right: 12px;
        text-decoration: none;
        z-index: 101;
        transition: .2s ease-out;
       
        font-size: 1.4vw;
        width: 11.5vw;
        height: 3.5vw;
        border: 1px solid rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        // margin: 6px;
        
    }
    .btn-dual-x.selected{
        background-color: $azul;
        color: #FFF;
    }

    .card.selected{
        background-color: $azul;
        color: #FFF;
    }

    .btn-dual-y.selected{
        background-color: $azul;
        color: #FFF;
    }

    .btn-dual.selected{
        background-color: $azul;
        color: #FFF;
    }

    .btn-circ.selected{
        background-color: $azul;
        color: #FFF;
    }
.reset{background-color: #e9ecef;
    vertical-align: middle;
    padding: 4px;}
    .sel {
        width: 50%;
        vertical-align: top;
        display: inline-block;
        zoom: 1;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        display: flex;
    }

 

.ipt-b {
    display: block;
    border-width: 2px;
    border-style: solid;
    border-color: $gris;
    padding: 0.5em 1em 0.5em 0.7em;
    width: calc(100% - 0em);
    background: white;
    color: $gris-font;
    font-size: 2vw;
    line-height: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.mt-2{
    margin-top: 2vw
}


.bl{border-radius: 10px 0 0 10px;}

.bl:nth-child(2){
    border-radius: 0 10px 10px 0px;   margin-left: -0.5vw;
}
// .br{border-radius: 0 10px 10px 0px;   margin-left: -0.5vw;}

.btn-dual {
    font-family: 'NeueHaasUnicaPro-Medium', sans-serif;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFF;
    color: #757575;
    bottom: 15px;
    border-color: #cacaca;
    border-width: 2px;
    border-style: solid;
    display: inline-flex;
    font-size: 1.4vw;
   
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 12px;
    margin-top: 0;
    min-width: 36px;
    text-align: center;
    right: 12px;
    text-decoration: none;
   
    width: 11.5vw;
    height: 3.5vw;
    z-index: 101;
    border: 1px solid rgba(0, 0, 0, 0.125);
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mr{margin-right: 2vw}
.imagen{
    background-color: green;
    height: 20vw;
    width: 90%;
    margin: 0vw 2vw 1.5vw 2vw;
}

#results{
    color:#FFF;
    
}


.PromotionGlobalLarge-videoBackgroundWrapper {
    padding-top: 44.44444%;
    position: relative;
    width: 100%;
    z-index: 0;
}

.PromotionGlobalLarge-videoBackground {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #0B2343;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.titulo{

   // font-weight: 400;
   // color: #5a5a5a;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 {
    font-size: 2.2vw;
}

h1.titulo {
    // margin: 2vw 2vw 0 2vw;
}

h2.titulo {
    margin: 2vw 2vw 0 2vw;
}
h2 {
    font-size: 1vw;
}

.resumen>span {
    font-size: 3vw;
}

.pad{
    padding: 20px
}

.copy{
    
    font-size: 1.5vw;
    margin: 2vw 0 1.3vw 0;
}

.tc{text-align: center;}

#first{
    background-color: #006fba;
    padding: 2vw;
    position: relative;
    overflow: auto;
    
}

.blur{
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px)
}


.w50{
    width: 50%;
}
.check{
    list-style-type: none;
    text-align: left

}
.check:nth-child(2) li:before { content:"\2714\0020"; color: #f68b1f; font-size: 2vw}  /* OR */

#resumen{
    background-color: #02538b;
    padding: 2vw;
    position: relative;
    overflow: auto;
}

.politicas{
    font-size: .8vw;
    text-align: right;
    margin: 30px 0px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.more{    background-color: #f68b1f;
    /* width: 10px; */
    position: absolute;
    /* bottom: -10px; */
     display: flex; 
    /* position: relative; */
    z-index: 8; 
        margin-left: calc(30vw);
    align-items: center;
    /* justify-content: center; */
    border-radius: 50%;
    width: 2.313rem;
    height: 2.313rem;
    /* background-color: #f68b1f!important; */
    /* z-index: 30; */
    margin-top: -17px;}

    .mb-1{
        margin-bottom: 1vw;
    }
    .mb-3{
        margin-bottom: 3vw;
    }
    .mt-4{
        margin-top: 4vw;
    }
    .quest{}
    .materias{ text-align: center;margin: 1vh auto;}


    .titlecont{
        background-color: $azul;
        color: #fff;
        padding: 10px 0 5px 0;
        z-index:999;
    }

    .quest>.subtitulo{margin: $margen-quest}
    .label{margin: $margen-quest}
    .quest>.btn-group{margin: $espacio-ente-preguntas}
    // .btn-group.quest{margin: 0px 0px 7vh 0px;}
    
    
    .container{padding: 2vw;}
    //PRIMERA INTERACCION
    // .cont-quest {padding: 0vw 21vw;} //CONTENEDOR PRINCIPAL EN PASO 1
    // .cont-quest>.quest>.subtitulo{ font-size: 2vw; text-align: center; }
    // .cont-quest > .quest > .desc-subtitle {
    //     margin: 1vw 0 3vw 0;
    //     color: #c5c5c5;
    //     text-align: center;
    // }

    
   
    .cont-quest{
        padding: 0vw 21vw;

        >.quest{
            >.slider{
                display: block;
                >.output{
                    width: 15vw;
                    height: 13vw;
                    margin: 0 auto;
                    font-size: 12vw;
                    color: #006ebb;
                    background-color: #FFF;
                
                }
            }
            >.btn-group{
                
                >.card{

                }
                   
                
            }
            >.subtitulo{
                font-size: 2vw; text-align: center;
            }
            >.desc-subtitle{
                margin: 1vw 0 3vw 0;
                color: #c5c5c5;
                text-align: center;
            }
        }
        .card{
            border: 0; 
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            margin: 0px 20px ;
            .card-body{
                position: relative;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding: 1.1rem;
                font-weight: 400;
                margin-bottom: 1rem;
                > h5{
                    margin-bottom: 1rem;
                    font-size: 1rem;
                    font-weight: 400;
                    
                }
                >.PREPA{
                  
                        mask: url(http://www.calidadacademica.mx/assets/preparatoria.svg) no-repeat 50% 50%;
                        -webkit-mask: url(http://www.calidadacademica.mx/assets/preparatoria.svg) no-repeat 50% 50%;
                        mask-image: url(http://www.calidadacademica.mx/assets/preparatoria.svg);
                        -webkit-mask-size: 70px 70px;
                        mask-size: 400px 600px;
                        -webkit-mask-image: url(http://www.calidadacademica.mx/assets/preparatoria.svg);
                    
                }

                >.UG{
                  
                    mask: url(http://www.calidadacademica.mx/assets/licenciatura.svg) no-repeat 50% 50%;
                    -webkit-mask: url(http://www.calidadacademica.mx/assets/licenciatura.svg) no-repeat 50% 50%;
                    mask-image: url(http://www.calidadacademica.mx/assets/licenciatura.svg);
                    -webkit-mask-size: 70px 70px;
                    mask-size: 400px 600px;
                    -webkit-mask-image: url(http://www.calidadacademica.mx/assets/licenciatura.svg);
                
                }

                >.ING{
                  
                    mask: url(http://www.calidadacademica.mx/assets/ingenieria.svg) no-repeat 50% 50%;
                    -webkit-mask: url(http://www.calidadacademica.mx/assets/ingenieria.svg) no-repeat 50% 50%;
                    mask-image: url(http://www.calidadacademica.mx/assets/ingenieria.svg);
                    -webkit-mask-size: 70px 70px;
                    mask-size: 400px 600px;
                    -webkit-mask-image: url(http://www.calidadacademica.mx/assets/ingenieria.svg);
                
                }

                >.CS{
                  
                    mask: url(http://www.calidadacademica.mx/assets/salud.svg) no-repeat 50% 50%;
                    -webkit-mask: url(http://www.calidadacademica.mx/assets/salud.svg) no-repeat 50% 50%;
                    mask-image: url(http://www.calidadacademica.mx/assets/salud.svg);
                    -webkit-mask-size: 70px 70px;
                    mask-size: 400px 600px;
                    -webkit-mask-image: url(http://www.calidadacademica.mx/assets/salud.svg);
                
                }
                >.POS{
                  
                    mask: url(http://www.calidadacademica.mx/assets/posgrado.svg) no-repeat 50% 50%;
                    -webkit-mask: url(http://www.calidadacademica.mx/assets/posgrado.svg) no-repeat 50% 50%;
                    mask-image: url(http://www.calidadacademica.mx/assets/posgrado.svg);
                    -webkit-mask-size: 70px 70px;
                    mask-size: 400px 600px;
                    -webkit-mask-image: url(http://www.calidadacademica.mx/assets/posgrado.svg);
                
                }
                
                >.cuadro{
                        height: 12vh;
                        background-color: #757575;
                    
                   
                }
                >.btn-dtc{display:inline}
                
            }
        }
    }

    


    .card{
    
        border: 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 2vw;
        width: 7vw;
        height: 2vw;
        vertical-align: middle;
        padding: 0.5vw 0 0vw 0;
        width: auto;
        height: auto;
    }
    .btn-dtc{display:none}
  
   

    .mt-0 {
        margin-top: 0!important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
    }
     h5 {
        font-size: 1vw;
                    padding: 0px .5vw 0px;
    }

    
    .btn:not([disabled]):not(.disabled) {
        cursor: pointer;
    }
    .btn.btn-sm {
        font-size: .6rem;
        padding: .5rem 1.6rem;
    }
    .btn.btn-sm, .btn.wishlist {
        font-size: .6rem;
        padding: .5rem 1.6rem;
    }
    .btn {
        border-radius: 2px;
        border: 0;
        transition: .2s ease-out;
        color: #fff!important;
        margin: 6px;
        white-space: normal!important;
        word-wrap: break-word;
        text-transform: uppercase;
    }
    .btn {
        font-size: .8rem;
        padding: .85rem 2.13rem;
    }
    .waves-effect {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        z-index: 1;
    }
    .btn-dtc {
        background: #086fb9;
    }

 
body {
    background: white;
  }
  
  
  input[type=range] {
    -webkit-appearance: none;
    margin-top: 0.5rem;
    width: 99%;
    border: none !important;
    background: transparent;
    padding: 0;
        -webkit-appearance: none;
        margin-top: 0.5rem;
        width: 99%;
        height: 14px;
        border-radius:10px;
        background: #eeeeee;
        padding: 0;
        color: rgb(0, 0, 0);

}

    input[type=range]:focus {
      outline: none; }
    input[type=range]::-webkit-slider-runnable-track {
        width: 98%;
      height: 0.3rem;
      cursor: pointer;
      animate: 0.2s;
      background: #eee;
      border-radius: 5px; }
    input[type=range]::-webkit-slider-thumb {
      height: 2vw;
      width: 2vw;
      border-radius: 2vw;
      background: #0275d8;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -.9vw; }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 0.3rem;
      cursor: pointer;
      animate: 0.2s;
      background: #eee;
      border-radius: 5px; }
    input[type=range]::-moz-range-thumb {
      height: 1rem;
      width: 1rem;
      border-radius: 0.5rem;
      background: #0275d8;
      cursor: pointer; }
    input[type=range]::-ms-track {
      width: 100%;
      height: 0.3rem;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      color: transparent; }
    input[type=range]::-ms-fill-lower {
      background: #e1e1e1;
      border-radius: 10px; }
    input[type=range]::-ms-fill-upper {
      background: #eee;
      border-radius: 10px; }
    input[type=range]::-ms-thumb {
      height: 1rem;
      width: 1rem;
      border-radius: 0.5rem;
      background: #0275d8;
      cursor: pointer; }
    input[type=range]:focus::-ms-fill-lower {
      background: #eee; }
  
  datalist {    
    display: flex;
    margin-left: 0.6vw;
    justify-content: space-between;
    height: 30px;
    font-size: 1vw;
    margin-top: 5px;
 }
    datalist option::before {
      content: '';
      display: block;
      width: 0;
      border-right: 1px solid #DDD;
      height: 10px;
      padding-left: 3px;
      text-indent: 0; }
    .output{
        background-color: #006ebb;
        width: 6vw;
        height: 4vw;
        color: #FFF;
        display: flex;
        margin-top: 1.7vw; 
        font-size: 3vw;
        padding-top: 0.8vw;
        justify-content: center;
        align-content: center;
        border-radius: 50%;
        text-align: center;
        vertical-align: -webkit-baseline-middle;
    }
    
    .p-activa {
        visibility: visible;
        height: auto;
  
    }
    .hide{display: none}
    .hidev{visibility: hidden}
    // #selector-float{
    //     display: flex;
    //     align-items: center;
    // }

    .Aligner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      
      .Aligner-item {
        max-width: 50%;
      }
      
      .Aligner-item--top {
        align-self: flex-start;
      }
      
      .Aligner-item--bottom {
        align-self: flex-end;
      }

     .p-activa{
        margin:18vh auto;
     }
 
     .desc-subtitle {
        margin: 1vw auto;
    }

    .ui-autocomplete{z-index: 9999999!important}
    .arrow{
        position: absolute;
        width: 5vw;
        right: 0;
        height: 100%;
        border: none;
        background-color: rgba(216, 216, 216, 0);
    }

    i {
        border: solid #717171;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 10px;
        
    }

    i.down{
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: .3vw;
        margin-left: .7vw;
    }
    //.an-up{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1;display:block}}
    .an-slideUp{ 
        position:relative;
        animation:animatebottom 0.4s ;
         
    }
    @keyframes animatebottom{
        from{top:0px;opacity:1} 
        to{top:-300px;opacity:0} 
    }

    .an-slideDownToUp{ 
        position:relative;
        animation:animatestu 0.4s ;
         
    }
    @keyframes animatestu{
        from{top:-300px;opacity:0} 
        to{top:0px;opacity:1} 
    }



    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }


    /**Dropdown Selector*/

    /*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
  }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  .select-selected {
    background-color: #FFF;
  }
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 24px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $gris transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    padding: 15px 16px;
    font-size: 1.5vw;
    border: 1px solid $gris;
    /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
    cursor: pointer;
    user-select: none;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #FFF;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color:$gris;
  }


  /****icono del reset***/
  .icono-reset {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-left-color: transparent;
    margin-top: 10px;
}

.icono-reset:before {
	position: absolute;
	width: 0;
	height: 0;
	left: -7px;
	bottom: 0;
	border-width: 6px;
	border-style: solid;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg)
}
[class*=icono-][class*=Circle],
[class*=icono-][class*=Square],
[class*=icono-check][class*=Circle] {
	border: 2px solid
}
[class*=icono-] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-style: normal;
	color: #717171;
	text-align: left;
	text-indent: -9999px;
	direction: ltr
}

[class*=icono-]:after,
[class*=icono-]:before {
	content: '';
	pointer-events: none
}

[class*=icono-][class*=Circle] {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 2px
}

[class*=icono-][class*=Square] {
	border-radius: 4px;
	width: 30px;
	height: 30px;
	margin: 2px
}

[class*=icono-],
[class*=icono-] * {
	box-sizing: border-box
}