$input_verde: #00c851;
$input_rojo: #cc0000;
$input_azul: #0099CC;
$grayPred : #939393;
$unitec_secundario: #F68B1F;
$azul_unitec: #006fba;
$fondo-cuerpo-form: #FFFFFF;

.modal-fluid {
    max-width: none;
    position: relative;
    margin: 0 auto;
}

::ng-deep .tt-cursor {
    background-color: $unitec_secundario;
    color: #FFFFFF;
}
::ng-deep .size-calc{
    font-size: 2.5rem;
}
.fila-botones {
    /*margin-top: 35px;*/
    margin-top: 0px;
}

.btn-frm {
    background: $unitec_secundario !important;
    font-size: 1.125rem;
    font-weight: 500;
}

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#div_ciclo {
    margin-top: 40px;
}

.oculta-ciclo {
    display: none;
}

.muestra-ciclo {
    display: block;
}

#div_revalidacion {
    margin-top: 40px;
}

.oculta-revalidacion {
    display: none;
}

.muestra-revalidacion {
    display: block;
}

.contenedor-app {
    padding: 0;
}

// .row-content-menu-app {
//     margin-top: -100px;
// }

.adapt-row-reset-desk {
    position: absolute;
    top: 50%;
}

 ::ng-deep .col-lineas-negocio {
    width: 100%;
    height: 350px !important;
}

//  ::ng-deep #secLineasNegocio {
//     overflow-x: hidden;
//     overflow-y: hidden;
//     padding: 0px;
// }

//  ::ng-deep #secProductos {
//     overflow-x: hidden;
//     overflow-y: hidden;
// }

//  ::ng-deep #secModalidades {
//     overflow-x: hidden;
//     overflow-y: hidden;
//     padding: 0px;
// }

//  ::ng-deep #secCampus {
//     overflow-x: hidden;
//     overflow-y: hidden;
//     padding: 0px;
// }

//  ::ng-deep #secCiclos {
//     overflow-x: hidden;
//     overflow-y: hidden;
//     padding: 0px;
// }


/*Errores*/

 ::ng-deep .row-error-app {
    display: none;
    text-align: center;
    color: $input_rojo;
}

::ng-deep .md-form label.active {
    font-size: .75rem;
}


/*Efecto para el error*/

::ng-deep .hr-error {
    border-top-color: $input_rojo !important;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    color: $input_rojo;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}


/*Implementacion de iconos de formulario*/

::ng-deep .md-form {
    margin-bottom: 0px !important;
}

::ng-deep .iconos-form {
    //margin-top: 20px;
    margin-top: 14px;
}

::ng-deep .mic-form {
    font-size: 1.125rem;
}


/*Animacion del microfono*/

::ng-deep .rotate-mic {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}


/*Animacion del borde*/

@-webkit-keyframes rainbow {
    0% {
        border-color: $input_rojo;
    }
    50% {
        border-color: $input_verde
    }
    75% {
        border-color: $input_rojo;
    }
    100% {
        border-color: $input_azul;
    }
}

 ::ng-deep .rainbow_border {
    border: 4px solid $input_rojo;
    -webkit-animation: rainbow 1.5s infinite alternate;
            animation: rainbow 1.5s infinite alternate;
}
// ::ng-deep input {
//     text-transform: lowercase !important;
// }
/*Autocomplete*/

::ng-deep .typeahead-menu {
    position: absolute;
    z-index: 1000;
    background-color: whitesmoke !important;
    width: 335px;
}


::ng-deep .tt-dataset-domains {
    padding: 10px;
}

::ng-deep .tt-selectable {
    padding:10px;
}
::ng-deep .tt-selectable:hover {
    background-color: $unitec_secundario;
    color: #FFFFFF;
    cursor: pointer;
}
// Estilos flecha
::ng-deep .active-right-arrow {
    color: #F68B1F !important;
}

::ng-deep .app-left-arrow {
    color: #f68b1f!important;
    .material-icons {
        margin-left: -20px;
    }
}

::ng-deep .app-rigth-arrow {
    
        .material-icons {
            margin-right: -20px;
        }
}

::ng-deep .btn-flecha {
    background-color: #fff;
    color: #757575!important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    width: 3rem;
    height: 3rem;
    margin: 0;
    border-radius: 50%;
    font-size: 2.5rem;
    left: -60px;
}

//Modificacion inputs
::ng-deep input {
    padding-bottom: 0px;
    margin-bottom: .5rem;
}

//Espacio entre inputs
::ng-deep .form-group {
    margin-bottom: 3rem !important;
}
::ng-deep .form-control{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
::ng-deep .myFeedBackError{
    font-size: .8rem;
    color: $input_rojo;
}
// ::ng-deep #div_revalidacion {
//     .form-group {
//         margin-bottom: 1.5rem !important;
//     }  
// }
.logo-formulario{
    background: #FFFFFF;
}

::ng-deep .form-group{
    margin-bottom: 1rem!important;
    height: 55px; /*altura de los inputs de formulario*/
}
::ng-deep .identificacion{
    color:$unitec_secundario;
    font-size: 1.125rem;
}

::ng-deep .adapt-title-select-state {
    font-size: 1.5625rem;
}

::ng-deep .adapt-subtitle-select-state {
    font-size: 0.9375rem;
}

::ng-deep .col-estados {
    width: 100%;
}

::ng-deep .col-cuadros-revalidaciones.active {
    background-color: $azul_unitec;
    color: white;
    .imagen-lineas-cuadros {
        background-color: white !important;
    }
}

::ng-deep .col-cuadros-revalidaciones {
    height: 100px;
    border: solid 1px $grayPred;
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 10px;
    background-color: $fondo-cuerpo-form;
    cursor: pointer;
    .titulo-lineas-cuadros {
        border: hidden;
    }
}
::ng-deep .col-cuadros-revalidaciones:hover {
    -webkit-box-shadow:  0 2px 10px 0 rgba(0,0,0,.05), 0 4px 20px 0 rgba(0,0,0,.05);
            box-shadow:  0 2px 10px 0 rgba(0,0,0,.05), 0 4px 20px 0 rgba(0,0,0,.05);
}

::ng-deep .tabs_content {
    width: 100%;
}