<div class="container solicitaInfo">
    <!-- <div class="content-gral d-flex justify-content-center"> -->
    <div class="">
        <div class="text-center">{{titulo}}</div>

        <form id="frm_tradicional" [formGroup]="formularioTradicional" (ngSubmit)="enviar()" novalidate="novalidate" class="adapt-size-form">

            <div id="paso1" class="content-gral d-flex justify-content-center">
                <div class="col-lg-12 col-xl-6 card-blue p-5 d-flex align-items-center">
                    <div class="overlay">
                        <div class="card-desc">
                            <div class="row titulo-logo mb-1">
                                <div class="col-md-2 d-flex justify-content-center">
                                    <i class="size-calc icon-u-becas-academicas"></i>
                                </div>
                                <div class="col-10">
                                    <h3 class="tit-desc">Descubre</h3>
                                </div>
                                <div class="col-10 offset-2">
                                    <h4 class="sub-desc">Qué porcentaje de beca puedes alcanzar tomando como base tu último promedio obtenido.</h4>
                                </div>
                            </div>
                            <div class="row titulo-logo mb-1">
                                <div class="col-md-2 d-flex justify-content-center">
                                    <i class="size-calc icon-u-financiamientos"></i>
                                </div>
                                <div class="col-10">
                                    <h3 class="tit-desc">Conóce</h3>
                                </div>
                                <div class="col-10 offset-2">
                                    <h4 class="sub-desc">Infórmate sobre los montos que no tendrás que pagar por concepto de inscripción ni reinscripción.</h4>
                                </div>
                            </div>
                            <div class="row titulo-logo mb-1">
                                <div class="col-md-2 d-flex justify-content-center">
                                    <i class="size-calc icon-u-calculadora"></i>
                                </div>
                                <div class="col-10">
                                    <h3 class="tit-desc">Calcula</h3>
                                </div>
                                <div class="col-10 offset-2">
                                    <h4 class="sub-desc">Estima el costo aproximado por materia, así como el monto por colegiatura mensual y cuatrimestral.</h4>
                                </div>
                            </div>
                            <!-- <div class="lista-desc mb-2">
                                <ul class="mt-2">
                                    <li class="desc-ind d-flex align-items-center" *ngFor="let opcion of opcionesInformacion;"> 
                                        <div class="col-md-1 offset-1">
                                            <i class="{{ opcion.class }}"></i>
                                        </div>
                                        <div class="col-md-9">
                                            {{ opcion.name }}
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                            <span class="legales modal-terminos-descuentos"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-5 align-self-center card-white p-0">
                    <div class="card-body card text-md-left card-left pl-4 pr-4 pt-1 pb-1 d-flex align-items-end">
                        <div class="icons-desktop d-flex align-items-center justify-content-center">
                            <a (click)="cierraFormularioCalculadora()" data-dismiss="modal">
                                <i class="icon-u icon-u-cerrar" data-dismiss="modal"></i>
                            </a>
                        </div>
                        <div class="col-md-12 p-2 titulo-contactanos">
                            Compártenos tus datos para poder accesar a la calculadora de becas.
                            <!-- {{descripcion_formulario_app}} -->
                        </div>
                        <div class="col-md-12 p-0">
                            <frm-nombre (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-nombre>
                            <frm-apaterno (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-apaterno>
                            <frm-amaterno (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-amaterno>
                            <frm-mail (execChildInputTypeAhead)="validaEmailConAutocomplete($event)" (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-mail>
                            <frm-celular (execChildInput)="vozInput($event)" [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true"></frm-celular> 
                            <!-- <frm-estado [formularioPadre]="formularioTradicional" [fase]="segundoPasoCalculadora" [asterisk]="true" (completaEstado)="completa_estado($event)"></frm-estado> -->
                            <div id="div_revalidacion">
                                <frm-revalidacion [formularioPadre]="formularioTradicional" [fase]="primerPaso" [asterisk]="true" id="revalidacion" class="frm-revalidacion"></frm-revalidacion>
                            </div>     
                            <input type="hidden" id="CID" name="CID">
                            <frm-politicas-condiciones></frm-politicas-condiciones>
                            <div class="form-group row fila-botones">
                                <div class="centered div-btn-continuar">
                                    <button class="btn btn-primary btn-frm m-0" id="continuarTrd" (click)="send_data()">
                                        {{ btnToogleValue }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paso2" style="display : none">
                <div class="container contenedor-app">
                    <div class="row row-menu-app-form adapt-row-reset-desk" style="display: none">
                        <div class="app-left-arrow waves-effect waves-light btn-flecha d-flex align-items-center justify-content-center" (click)="rmCookie();">
                            <i class="icon-u icon-u-ver-izquierda"></i>
                        </div>
                    </div>
                    <div class="row row-error-app">
                        <div class="col-12">
                            <div class="col-12 col-error-app">
                            </div>
                        </div>
                    </div>
                    <div class="row row-content-menu-app">
                        <!-- Paso seleccion de estado -->
                        <div class="col-estados">
                            <h2 class="adapt-title-select-state text-center">{{ select_state }}</h2>
                            <!-- <h4 class="adapt-subtitle-select-state text-center">{{ description_state }}</h4> -->
                            <frm-estado-expuesto [formularioPadre]="formularioTradicional" [fase]="segundoPasoCalculadora" [asterisk]="true" (completaEstado)="completa_estado($event)"></frm-estado-expuesto>
                        </div>
                        <!-- <div class="tabs_content" id="secTipoRegistro" style="display: none">
                            <h2 class="adapt-title-select-state text-center">¿Quieres revalidar tus estudios?</h2>
                            <h4 class="adapt-subtitle-select-state text-center">Elige si tienes estudios inconclusos que deseas retomar</h4>
                            <div class="row mt-2 d-flex justify-content-center mt-2">
                                <div class="col-5 p-0 col-cuadros-contenedor col-contenedor-revalidaciones" id="div_revalidacion1" value="10183" (click)="completa_tipoRegistro('10183')">
                                    <div class="col-12 col-cuadros-revalidaciones d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="titulo-lineas-cuadros h-100 d-flex align-items-center justify-content-center" id="div_revalidacion_inner1" value="10183">
                                            Sí
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5 p-0 col-cuadros-contenedor col-contenedor-revalidaciones" id="div_revalidacion2" value="10040" (click)="completa_tipoRegistro('10040')">
                                    <div class="col-12 col-cuadros-revalidaciones d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="titulo-lineas-cuadros h-100 d-flex align-items-center justify-content-center" id="div_revalidacion_inner2" value="10040">
                                            No
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- termina div container -->
            </div>
            <!-- termina div paso 2 -->
        </form>

    </div>
</div>
<div id="formApp"></div>