@charset "UTF-8";
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

html, body {
  font-size: 1rem;
  color: #757575; }

.margen-top-menu {
  height: 51px; }

.icon-u-cerrar, .icon-u-ver-derecha, .icon-u-ver-izquierda, .icon-u-tab-derecha, .icon-u-tab-izquierda, .icon-u-ver-mas, .icon-u-compartir {
  font-size: 1.5rem; }

.custom-indicadores li {
  background-color: #454545 !important;
  margin-left: 5px; }

.custom-indicadores .active {
  background-color: #bebebe !important; }

.link-simple-list {
  color: #757575 !important; }

/* Eliminar el espaciado que hay en los collapsables */
.fix-card-block {
  padding-top: 0 !important; }

/* End Eliminar el espaciado que hay en los collapsables */
/*Fix remove bold a texto secundario a la card de prestigio*/
.fix-texto-secundario {
  font-size: 1rem;
  font-weight: 400;
  display: inline; }

/*Fix remove bold a texto secundario a la card de prestigio*/
/*Fix para dar margen y borde entre el contenido, imagen y collapasble*/
.card-text {
  margin-bottom: 0.625rem !important; }

.border-top-fix {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: none !important; }

.fix-top-space {
  margin-top: -2px !important; }

/*Fix para dar margen entre el contenido, imagen y collapasble*/
/*Ajuste a bold titulos carreras de interes*/
.title-nuevas-carreras {
  font-weight: 400 !important; }

/*Ajuste a bold titulos carreras de interes*/
/*Fix para los iconos de la card nuestros campus */
.fix-margen-icono {
  padding-left: .75rem; }

/*End Fix para los iconos de la card nuestros campus */
/* Fix para Corregir altas y bajas en la clase md-form label */
.div-productos,
.division-div,
.md-form label {
  text-transform: unset !important; }

/* Fix para Corregir altas y bajas en la clase md-form label */
.bt {
  border-top: 1px solid rgba(0, 0, 0, 0.125); }

.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.bsn {
  box-shadow: none; }

.lh-0 {
  line-height: 0; }

.cintillo {
  background-color: rgba(0, 80, 160, 0.7);
  position: absolute;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 10px;
  width: 100%; }

a.linkSecundario {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  padding: 0px !important;
  display: inline-block !important;
  color: #F68B1F !important; }

.botonSecundario {
  padding: 0.5rem 1rem;
  display: inline-block !important;
  color: #FFFFFF;
  background-color: #F68B1F;
  outline: none;
  border: 0 solid transparent;
  margin-bottom: 0; }

.special {
  bottom: -18px;
  left: calc(50% - 18px);
  position: absolute;
  margin: 0 auto;
  background-color: #f68b1f !important; }

.vertical-centered-text {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.back-gris-unitec {
  background-color: #939393; }

.back-azul-secundario {
  background-color: #42748d; }

.back-naranja-unitec {
  background-color: #F68B1F; }

.bg-light {
  background-color: #fff; }

.bg-video {
  background-color: rgba(0, 0, 0, 0.5); }

.roboto-thin {
  font-weight: 200; }

.roboto-light {
  font-weight: 300; }

.roboto-regular {
  font-weight: 400; }

.roboto-medium {
  font-weight: 500; }

.roboto-bold {
  font-weight: 700; }

.tachado {
  text-decoration: line-through; }

/* Inician estilos para dropdown custom */
.prodColapsables {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  margin: 0.5rem 0;
  font-size: 0.75rem; }
  .prodColapsables .dropdown {
    flex: 1;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    padding: 0.5rem;
    border: 1px solid #006fba; }
    .prodColapsables .dropdown .drop-view {
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1; }
      .prodColapsables .dropdown .drop-view .drop-text {
        display: flex;
        flex: 1;
        flex-direction: column;
        font-size: .75rem; }
        .prodColapsables .dropdown .drop-view .drop-text label {
          margin-right: .25rem !important;
          font-weight: 300 !important;
          align-items: center;
          margin: 0;
          display: block !important; }
          .prodColapsables .dropdown .drop-view .drop-text label:nth-child(1) {
            font-size: 1rem;
            font-weight: 500 !important; }
      .prodColapsables .dropdown .drop-view i {
        width: 20px;
        color: #006fba; }
    .prodColapsables .dropdown .dropdown-menu {
      padding: 0px .5rem;
      min-width: 100%; }
      .prodColapsables .dropdown .dropdown-menu .dropdown-item {
        border-bottom: 1px solid #757575; }
      .prodColapsables .dropdown .dropdown-menu .dropdown-item:last-child {
        border-bottom: none; }
  .prodColapsables .dropdown:first-child {
    margin-right: 0.5rem; }
  .prodColapsables .dropdown:last-child {
    margin-left: 0.5rem; }
  @media (max-width: 340px) {
    .prodColapsables {
      display: block; }
      .prodColapsables .dropdown {
        margin: 0.5rem 0 !important; } }

/* Finalizan estilos para dropdown custom */
.select-box {
  padding: 4px;
  flex: 0 0 calc( 50% - 23px);
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  border: 1px solid #006fba; }
  .select-box label {
    margin: 0; }
  .select-box .select-custom {
    display: flex;
    align-items: center; }
    .select-box .select-custom .select-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; }
      .select-box .select-custom .select-wrapper input.select-dropdown {
        height: default;
        line-height: normal; }
    .select-box .select-custom span:before, .select-box .select-custom i:before {
      display: inline-block;
      padding: 0 4px; }
  .select-box:first-child {
    margin: 0 8px 0 15px; }
  .select-box:last-child {
    margin: 0 15px 0 8px; }

section#tabNav {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center; }
  section#tabNav.free {
    align-items: end; }
    section#tabNav.free i.direccionales:first-child {
      margin-right: 5px; }
    section#tabNav.free i.direccionales:last-child {
      margin-left: 5px; }
  section#tabNav .tabs-wrapper {
    flex: 1; }
    section#tabNav .tabs-wrapper ul.nav::-webkit-scrollbar {
      display: none;
      width: 0px;
      height: 0px; }
    section#tabNav .tabs-wrapper ul.nav ::-moz-scrollbar-track {
      -moz-box-shadow: inset 0 0 6px red;
      background: red; }
    section#tabNav .tabs-wrapper ul.nav ::-moz-scrollbar-thumb {
      border-radius: 10px;
      -moz-box-shadow: inset 0 0 6px red;
      background: greenyellow; }
    section#tabNav .tabs-wrapper ul.nav li.nav-item {
      width: 100%; }
  section#tabNav i.direccionales {
    color: #F68B1F; }
    section#tabNav i.direccionales:first-child {
      margin-right: 5px; }
    section#tabNav i.direccionales:last-child {
      margin-left: 5px; }

/* Finalizan estilos para tabs custom */
.nextSeccion {
  padding: 10px;
  font-weight: 400;
  display: inline-block !important;
  color: #FFFFFF;
  background-color: #006fba;
  outline: none;
  border: 0 solid transparent; }

/* Inician estilos para lista simple */
.simple-list {
  width: 100%;
  margin: 0; }
  .simple-list.no-active.active {
    background-color: transparent; }
  .simple-list .list-item-container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    /*Fix para pintar border en colapsables*/
    /*Fix para pintar border en colapsables*/ }
    .simple-list .list-item-container .calendario {
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: flex;
      margin: 0 0 0 1.5rem;
      flex-direction: column;
      line-height: 2.5rem;
      justify-content: center;
      align-items: center;
      min-width: 81px;
      max-width: 81px;
      min-height: 80px;
      padding: 0 0.5rem; }
      .simple-list .list-item-container .calendario > * {
        margin: 0; }
      .simple-list .list-item-container .calendario .dia {
        font-size: 3.125rem;
        font-weight: 700;
        max-height: 2.25rem; }
      .simple-list .list-item-container .calendario .mes {
        font-size: 0.75rem;
        font-weight: 500; }
    .simple-list .list-item-container .item-icon {
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 3.375rem;
      max-width: 3.375rem;
      min-height: 3.375rem; }
      .simple-list .list-item-container .item-icon span, .simple-list .list-item-container .item-icon i {
        font-size: 1.75rem; }
    .simple-list .list-item-container .item-description {
      padding: 1rem 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      line-height: normal; }
      .simple-list .list-item-container .item-description h6 {
        font-weight: 300; }
      .simple-list .list-item-container .item-description a {
        color: #757575; }
        .simple-list .list-item-container .item-description a .active {
          color: #757575; }
        .simple-list .list-item-container .item-description a.linkSecundario {
          line-height: 0.5rem;
          text-align: right; }
      .simple-list .list-item-container .item-description p {
        margin: 0;
        font-size: 1rem;
        font-weight: 500; }
        .simple-list .list-item-container .item-description p a {
          text-decoration: none;
          cursor: pointer; }
          .simple-list .list-item-container .item-description p a b {
            color: #006fba;
            font-size: 1.5rem;
            font-weight: 500; }
        .simple-list .list-item-container .item-description p :hover {
          font-weight: 500; }
    .simple-list .list-item-container .arrow {
      padding: 0.5rem;
      display: flex;
      align-items: center; }
      .simple-list .list-item-container .arrow i, .simple-list .list-item-container .arrow span {
        display: flex;
        font-size: 1rem;
        align-content: center;
        justify-content: center; }

.listop3 {
  margin-top: 1.8rem;
  overflow: hidden; }
  .listop3 li {
    /* display: flex; */
    display: inline-flex;
    align-items: baseline;
    font-weight: 300 !important;
    padding-bottom: 0.5rem;
    text-align: left; }
    .listop3 li i {
      width: 10px;
      font-size: 8px;
      color: #006fba;
      padding-right: 1rem;
      flex: 1; }

.card-title-comparte {
  border-bottom: 1px solid #5a5a5a;
  color: #5a5a5a !important; }

.title-galerias {
  font-size: 0.875rem !important;
  font-weight: 300;
  text-align: center !important; }

.card-block {
  line-height: normal;
  /* text-align: justify; */ }

.titulo-stepper {
  font-size: 1rem;
  text-align: left; }

.inicio-clases {
  padding: 1rem 0.7rem !important; }
  .inicio-clases a.linkCalendario {
    color: #F68B1F !important; }

.alineacion-collapsable {
  padding-left: 2.6875rem !important; }

/* Fix para la card Oferta Academica */
.fix-horario {
  padding-left: 1.7rem; }

/* Fix para la card Oferta Academica */
.horario .horario-item {
  display: flex;
  justify-content: center;
  padding: .5rem 1.1rem; }
  .horario .horario-item .horario-dia {
    display: flex;
    width: 100px;
    font-size: 1rem; }
  .horario .horario-item .horario-hora {
    display: flex;
    flex: 1;
    font-size: 1rem; }
.horario label {
  margin: 0; }

/* Estilos para youtube Lazy*/
.youtube {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer; }
  .youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.3;
    /* background: rgba(0, 0, 0, 0.2); */ }

.youtube .play-button {
  width: 35px;
  height: 25px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px; }

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff; }

.youtube img,
.youtube .play-button {
  cursor: pointer; }

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute; }

.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.clase_para_h1 {
  color: blue; }

.clase_para_p {
  color: #F68B1F; }

/**************** Inician estilos de t├¼tulos y subt├¼tulos generales *********************/
.titleSection {
  font-size: 1.5rem;
  font-weight: 400; }

.descriptionSection {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: .5px; }

/**************** Terminan estilos de t├¼tulos y subt├¼tulos generales *********************/
#UnitecSideNav {
  z-index: 1050; }

/**************** Inicia estilo ocultar popUp barra calculadora *********************/
input[type=range] + .thumb.active {
  display: none !important; }

/**************** Termina estilo ocultar popUp barra calculadora *********************/
