<main class="container-fluid wow fadeIn d-flex justify-content-center align-items-center">
<!-- Live preview-->
<div class="col-lg-11 justify-content-center mt-2 mb-2">

    <article class="col-12 text-center mb-1 d-flex justify-content-center" data-wow-offset="50">
        <h4 class="w-75 titulo-buscador">
            {{titulo_buscador}}
        </h4>
    </article>

    <!-- Descripción de sección del producto -->
    <article class="col-12 text-center mb-2 mt-0 d-flex justify-content-center" data-wow-offset="50">
        <h6 class="w-100 descripcion">
            {{contenido_buscador}}
        </h6>
    </article>
    <!-- Descripción de sección del producto -->

    <!-- Buscador -->
    <div class="contenedor-buscador ml-3 mr-3 d-flex justify-content-center">
        <div class="col-xl-8 col-md-10">
            <!-- Icono de Buscador -->
            <div class="buscador-desk d-flex align-items-center">
                <input type="hidden" class="inputSearch" name="_token" id="" value="">
                <div class="buscador-desk-input d-flex align-items-center w-100">
                    <input type="search" placeholder="Buscar en biblioteca..." id="input-busqueda-integrada" autocomplete="off" (keydown.enter)="busqueda_integrada($event)">
                    <button type="submit" id="" class="microfono" (click)="busqueda_integrada($event)">
                        <i class="icon-u icon-u-buscar d-flex justify-content-center align-items-center"></i>
                    </button>
                    <a href="#" class="buscador-desk-clear"></a>
                </div>
            </div>
        </div>

    </div>
    <!-- Botones Biblioteca-->
</div>
<!-- /.Live preview-->
</main>