.modal-buscador{
  max-height: calc(100vh - 69px);
  top: 69px;
}
.modal-fluid{ 
  max-width: none;
  position: relative;
  margin: 0 auto;
}
.modal-content{
  min-height: calc(100vh);
}
.modal-content-buscador{
  background-color: #ffffff;
  min-height: calc(100vh - 72px);
  width: 100%;
}
.modal-body{
  padding: 0!important;
}
// ::ng-deep .modal-backdrop{
//   display: none !important;
// }