$color-dirty: #4285f4;
$color-success: #01D082;
$color-error: red;
//Variables principales del temaunitec
//Colores pricipales
$unitec_principal: #006fba;
$unitec_principal_b: #0f406b;
$unitec_secundario: #F68B1F;
//Titulos y texto
$titulos_principales: #757575;
$titulos_secundarios: #FFFFFF;
$texto_principal: #5a5a5a;
$texto_secundario: #FFFFFF;
$fondo-cuerpo-form: #FFFFFF;
//Divisores y lineas
$divisores_de_secciones: #333333;
//Margenes
$margen-superior-cuerpo: 10px;
$margen-inferior-imagen: 15px;
//Colores Thania
$azul_unitec: #006fba;
$boton_naranja_unitec: #f68b1f;
$gris_titulos: #757575;
$gris_texto: #333333;
$gris_minicards: #f8f8f8;
$iconos: #757575;
$input_verde: #00c851;
$input_rojo: #cc0000;
$input_azul: #0099CC;
$check_verde: #007E33;
/*
:host /deep/ input[type=text].myError,
#frm_email.myError,
input[type=password].myError,
input[type=email].myError,
input[type=url].myError,
input[type=time].myError,
input[type=date].myError,
input[type=datetime-local].myError,
input[type=tel].myError,
input[type=number].myError,
input[type=search-md].myError,
input[type=search].myError {
    border-bottom: 1px solid $input_rojo;
    box-shadow: none;
}

:host /deep/ input[type=text]+label.myError,
#frm_email+label.myError,
input[type=password]+label.myError,
input[type=email]+label.myError,
input[type=url]+label.myError,
input[type=time]+label.myError,
input[type=date]+label.myError,
input[type=datetime-local]+label.myError,
input[type=tel]+label.myError,
input[type=number]+label.myError,
input[type=search-md]+label.myError,
input[type=search]+label.myError {
    color: $gris_titulos;
}

:host /deep/ input[type=text]+label.myError+active,
#frm_email+label.myError+active,
input[type=password]+label.myError+active,
input[type=email]+label.myError:active,
input[type=url]+label.myError:active,
input[type=time]+label.myError:active,
input[type=date]+label.myError:active,
input[type=datetime-local]+label.myError:active,
input[type=tel]+label.myError:active,
input[type=number]+label.myError:active,
input[type=search-md]+label.myError:active,
input[type=search]+label.myError:active {
    color: $gris_titulos;
}

:host /deep/ input[type=text]:focus:not([readonly])+label.myError,
#frm_email:focus:not([readonly])+label.myError,
input[type=password]:focus:not([readonly])+label.myError,
input[type=email]:focus:not([readonly])+label.myError,
input[type=url]:focus:not([readonly])+label.myError,
input[type=time]:focus:not([readonly])+label.myError,
input[type=date]:focus:not([readonly])+label.myError,
input[type=datetime-local]:focus:not([readonly])+label.myError,
input[type=tel]:focus:not([readonly])+label.myError,
input[type=number]:focus:not([readonly])+label.myError,
input[type=search-md]:focus:not([readonly])+label.myError,
input[type=search]:focus:not([readonly])+label.myError {
    color: $gris_titulos;
}*/


/*label focus*/
/*
:host /deep/ input[type=text]+label,
#frm_email+label,
input[type=password]+label,
input[type=email]+label,
input[type=url]+label,
input[type=time]+label,
input[type=date]+label,
input[type=datetime-local]+label,
input[type=tel]+label,
input[type=number]+label,
input[type=search-md]+label,
input[type=search]+label {
    color: $gris_titulos !important;
}*/


/*termina label focus*/


/*Label success*/
/*
:host /deep/ input[type=text]+label.mySuccess,
#frm_email+label.mySuccess,
input[type=password]+label.mySuccess,
input[type=email]+label.mySuccess,
input[type=url]+label.mySuccess,
input[type=time]+label.mySuccess,
input[type=date]+label.mySuccess,
input[type=datetime-local]+label.mySuccess,
input[type=tel]+label.mySuccess,
input[type=number]+label.mySuccess,
input[type=search-md]+label.mySuccess,
input[type=search]+label.mySuccess {
    color: $gris_titulos !important;
}

:host /deep/ input[type=text]+label.mySuccess:active,
#frm_email+label.mySuccess:active,
input[type=password]+label.mySuccess:active,
input[type=email]+label.mySuccess:active,
input[type=url]+label.mySuccess:active,
input[type=time]+label.mySuccess:active,
input[type=date]+label.mySuccess:active,
input[type=datetime-local]+label.mySuccess:active,
input[type=tel]+label.mySuccess:active,
input[type=number]+label.mySuccess:active,
input[type=search-md]+label.mySuccess:active,
input[type=search]+label.mySuccess:active {
    color: $gris_titulos;
}

:host /deep/ input[type=text]:focus:not([readonly])+label.mySuccess,
#frm_email:focus:not([readonly])+label.mySuccess,
input[type=password]:focus:not([readonly])+label.mySuccess,
input[type=email]:focus:not([readonly])+label.mySuccess,
input[type=url]:focus:not([readonly])+label.mySuccess,
input[type=time]:focus:not([readonly])+label.mySuccess,
input[type=date]:focus:not([readonly])+label.mySuccess,
input[type=datetime-local]:focus:not([readonly])+label.mySuccess,
input[type=tel]:focus:not([readonly])+label.mySuccess,
input[type=number]:focus:not([readonly])+label.mySuccess,
input[type=search-md]:focus:not([readonly])+label.mySuccess,
input[type=search]:focus:not([readonly])+label.mySuccess {
    color: $gris_titulos !important;
}

//Termina label success
:host /deep/ input[type=text]:focus:not([readonly]).myError,
#frm_email.myError,
input[type=password]:focus:not([readonly]).myError,
input[type=email]:focus:not([readonly]).myError,
input[type=url]:focus:not([readonly]).myError,
input[type=time]:focus:not([readonly]).myError,
input[type=date]:focus:not([readonly]).myError,
input[type=datetime-local]:focus:not([readonly]).myError,
input[type=tel]:focus:not([readonly]).myError,
input[type=number]:focus:not([readonly]).myError,
input[type=search-md]:focus:not([readonly]).myError,
input[type=search]:focus:not([readonly]).myError {
    border-bottom: 1px solid $input_rojo;
    box-shadow: none;
}
*/

/*Exito*/
/*
:host /deep/ input[type=text].mySuccess,
#frm_email.mySuccess,
input[type=password].mySuccess,
input[type=email].mySuccess,
input[type=url].mySuccess,
input[type=time].mySuccess,
input[type=date].mySuccess,
input[type=datetime-local].mySuccess,
input[type=tel].mySuccess,
input[type=number].mySuccess,
input[type=search-md].mySuccess,
input[type=search].mySuccess {
    border-bottom: 1px solid $input_verde;
    box-shadow: none;
}

:host /deep/ input[type=text]+label.mySuccess,
#frm_email+label.mySuccess,
input[type=password]+label.mySuccess,
input[type=email]+label.mySuccess,
input[type=url]+label.mySuccess,
input[type=time]+label.mySuccess,
input[type=date]+label.mySuccess,
input[type=datetime-local]+label.mySuccess,
input[type=tel]+label.mySuccess,
input[type=number]+label.mySuccess,
input[type=search-md]+label.mySuccess,
input[type=search]+label.mySuccess {
    color: $input_verde;
}

:host /deep/ input[type=text]:focus:not([readonly])+label.mySuccess,
#frm_email:focus:not([readonly])+label.mySuccess,
input[type=password]:focus:not([readonly])+label.mySuccess,
input[type=email]:focus:not([readonly])+label.mySuccess,
input[type=url]:focus:not([readonly])+label.mySuccess,
input[type=time]:focus:not([readonly])+label.mySuccess,
input[type=date]:focus:not([readonly])+label.mySuccess,
input[type=datetime-local]:focus:not([readonly])+label.mySuccess,
input[type=tel]:focus:not([readonly])+label.mySuccess,
input[type=number]:focus:not([readonly])+label.mySuccess,
input[type=search-md]:focus:not([readonly])+label.mySuccess,
input[type=search]:focus:not([readonly])+label.mySuccess {
    color: $input_verde;
}

:host /deep/ input[type=text]:focus:not([readonly]).mySuccess,
#frm_email:focus:not([readonly]).mySuccess,
input[type=password]:focus:not([readonly]).mySuccess,
input[type=email]:focus:not([readonly]).mySuccess,
input[type=url]:focus:not([readonly]).mySuccess,
input[type=time]:focus:not([readonly]).mySuccess,
input[type=date]:focus:not([readonly]).mySuccess,
input[type=datetime-local]:focus:not([readonly]).mySuccess,
input[type=tel]:focus:not([readonly]).mySuccess,
input[type=number]:focus:not([readonly]).mySuccess,
input[type=search-md]:focus:not([readonly]).mySuccess,
input[type=search]:focus:not([readonly]).mySuccess {
    border-bottom: 1px solid $input_verde;
    box-shadow: none;
}
*/
