@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat);
.crtl,
a {
  -webkit-transition: all 0.2s ease-in-out; }

@media (min-width: 980px) {
  .navbar {
    padding: 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; } }
.btn,
.navbar-custom,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif; }

@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }
hr,
img {
  border: 0; }

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse,
.pre-scrollable {
  max-height: 340px; }

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent;
  color: #f68b1f;
  text-decoration: none;
  transition: all .2s ease-in-out; }

pre,
textarea {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

button,
input,
optgroup,
select,
textarea {
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  line-height: normal;
  margin: 4px 0 0;
  padding: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.dropdown-menu,
.modal-content {
  -webkit-background-clip: padding-box; }

.btn,
.btn-danger.active,
.btn-danger:active,
.btn-default.active,
.btn-default:active,
.btn-info.active,
.btn-info:active,
.btn-primary.active,
.btn-primary:active,
.btn-warning.active,
.btn-warning:active,
.btn.active,
.btn:active,
.dropdown-menu > .disabled > a:focus,
.dropdown-menu > .disabled > a:hover,
.form-control,
.navbar-toggle,
.open > .dropdown-toggle.btn-danger,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-info,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-warning {
  background-image: none; }

@font-face {
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-family: FontAwesome;
  src: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format(embedded-opentype), url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/font-awesome/fonts/fontawesome-webfont.woff?v=4.2.0) format(woff), url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/font-awesome/fonts/fontawesome-webfont.ttf?v=4.2.0) format(truetype), url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/font-awesome/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format(svg);
  font-weight: 400;
  font-style: normal; }
*,
::after,
::before {
  box-sizing: border-box; }

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 1.42857;
  color: #333;
  font-size: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 47px;
  overflow-x: hidden;
  overflow-y: scroll; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

.h4,
h4 {
  font-size: 21px; }

p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 10px; }

address,
blockquote .small,
blockquote footer,
blockquote small,
dd,
dt,
pre {
  line-height: 1.42857; }

dl,
ol,
ul {
  margin-top: 0; }

blockquote ol:last-child,
blockquote p:last-child,
blockquote ul:last-child,
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0; }

ol,
ul {
  margin-bottom: 10px; }

/* .container {
width:1170px;
} */
legend,
pre {
  display: block;
  color: #333; }

pre {
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 0 10px;
  padding: 9.5px; }

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-3 {
  width: 25%; }

.col-xs-offset-0 {
  margin-left: 0; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box; }

.form-control,
output {
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  display: block; }

.form-control {
  width: 100%;
  height: 34px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.07451) 0 1px 1px inset;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: 6px 12px; }

.form-control::-webkit-input-placeholder {
  color: #999; }

.form-group {
  margin-bottom: 10px !important; }

.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

.checkbox label,
.radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer; }

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: absolute;
  margin-left: -20px; }

.has-success .form-control {
  box-shadow: rgba(0, 0, 0, 0.07451) 0 1px 1px inset;
  border-color: #3c763d; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all .3s ease-in-out;
  padding: 6px 12px; }

.btn-default {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-color: #ccc; }

.btn-primary {
  color: #fff;
  background-color: #f68b1f;
  border-color: #fff !important; }

.btn-group-lg > .btn,
.btn-lg {
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 3px;
  padding: 10px 16px; }

.btn-group-sm > .btn,
.btn-sm {
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 5px 10px; }

.fade {
  opacity: 0;
  transition: opacity .15s linear; }

.collapse {
  display: none;
  visibility: hidden; }

.nav > li,
.nav > li > a {
  display: block;
  position: relative; }

.nav {
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none; }

.nav > li > a {
  padding: 10px 15px; }

.navbar {
          /* border-radius:4px;
border-bottom:0;
letter-spacing:1px;
background:0 0;
transition:background .5s ease-in-out, padding .5s ease-in-out;
position:relative;
min-height:47px;
margin-bottom:20px;
border:1px solid transparent;
padding:0; */
  position: relative;
  min-height: 47px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

.navbar-header {
  float: left;
  color: #fff; }

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

.collapse {
  display: none;
  visibility: hidden; }

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px; }

.embed-responsive,
.modal,
.modal-open,
.progress {
  overflow: hidden; }

.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-brand {
  float: left;
  height: 47px;
  line-height: 20px;
  font-size: 12px !important;
  padding: 7px 15px; }

.navbar-brand > img {
  margin-right: 10px;
  vertical-align: sub;
  display: inline-block !important; }

.navbar-fixed-bottom,
.navbar-fixed-top,
.navbar-static-top {
  border-radius: 0; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px; }

.navbar-nav {
  float: left;
  margin: 7.5px -15px; }

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px; }

.navbar-right {
  margin-right: -15px;
  float: right !important; }

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.close {
  line-height: 1; }

.close {
  float: right;
  font-size: 21px;
  color: #000;
  text-shadow: #fff 0 1px 0;
  opacity: 0.2; }

.popover,
.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400; }

button.close {
  -webkit-appearance: none;
  cursor: pointer;
  background: 0 0;
  border: 0;
  padding: 0; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  outline: 0; }

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0px, -25%); }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.49804) 0 3px 9px; }

.modal-header {
  min-height: 16.43px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  line-height: 1.42857;
  margin: 0; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  text-align: right;
  border-top: 1px solid #e5e5e5;
  padding: 15px; }

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  opacity: 0; }

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0; }

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0; }

.tooltip-inner {
  max-width: 200px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  padding: 3px 8px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0; }

.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #000;
  top: 0;
  border-width: 0 5px 5px; }

.tooltip.bottom .tooltip-arrow {
  left: 50%;
  margin-left: -5px; }

.btn-group-vertical > .btn-group::after,
.btn-group-vertical > .btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
  display: table;
  content: " "; }

.btn-group-vertical > .btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
  clear: both; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.pull-right {
  float: right !important; }

.hidden {
  visibility: hidden !important; }

.visible-lg {
  display: block !important; }

.crtl,
a {
  transition: all .2s ease-in-out; }

a,
body {
  color: #757575; }

body,
html {
  width: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  margin: 0;
  padding: 0; }

.btn,
.navbar-custom,
h3,
h6 {
  text-transform: uppercase; }

.btn,
.navbar-custom,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif; }

#menu,
.mlpm_w {
  min-height: 100% !important; }

.lista_paginas,
.mlpm_w ul,
.sub-footer ul {
  list-style: none; }

#frm_politicas,
.calc-steps-title,
.checkboxpol label,
.control,
.cursor-pointer,
.frm_btn,
.mlpm_w .cursorPointer,
.mlpm_w li,
.select select {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px; }

.no-margin {
  margin: 0 !important; }

.espacio-menu {
  max-height: 800px !important;
  margin: 60px auto 0; }

.dark {
  color: #757575 !important; }

.no-padding {
  padding: 0; }

img::selection {
  background: 0 0; }

.navbar-header button {
  position: relative;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: right;
  right: 0;
  width: 10%;
  padding: 3px 0; }

.box,
.crtl {
  height: 100%; }

.azul {
  background-color: #3fa7f3; }

.naranja {
  background-color: #ff911e; }

.titulo-slides-calcu {
  margin-bottom: 40px;
  font-size: 18px; }

.numero-promedio {
  margin-top: -80px;
  font-size: 12em;
  /* margin-bottom: -80px; */ }

.col-xs-12 {
  width: 100%; }

.numero-calcu-resultado {
  font-weight: 900;
  margin-top: -15px;
  text-align: right;
  font-size: 55px; }

.clcForm,
.clcSelector {
  font-size: 20px; }

.clcTextBanner {
  position: relative;
  top: 0; }

.clcContainer {
  color: #006fba; }

.crtl {
  font-size: 13px;
  margin-top: 0;
  height: 100%;
  border: 1px solid rgba(204, 204, 204, 0.52157);
  transition: all .2s ease-in-out;
  padding: 12px 0 !important; }

.color-control {
  display: none;
  color: #fff;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 125px;
  margin-bottom: 0; }

.control-mas,
.control-mas-mat,
.control-menos,
.control-menos-mat {
  padding: 15px; }

.mas-promedio,
.menos-promedio {
  position: absolute;
  font-size: 28px;
  z-index: 9999; }

.mas-promedio {
  left: 80%; }

.menos-promedio {
  right: 80%; }

.margen {
  margin-top: 7%; }

.check-politicas {
  font-size: 20px !important;
  margin-top: 8px !important; }

.montserrat {
  font-family: Montserrat, sans-serif; }

#sec_1 {
  background-size: cover;
  background-attachment: fixed; }

#menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999999; }

.mlpm_w {
  position: absolute;
  overflow: hidden;
  min-width: 100%;
  margin: 0;
  padding: 0; }

.mlpm_w .levelHolderClass {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  background: #0b70b8;
  width: auto;
  min-height: 100%;
  zoom: 1; }

.mlpm_w a,
.mlpm_w h2 {
  font-size: 1.5em;
  line-height: 1em; }

.mlpm_w .rtl {
  box-shadow: #0b70b8 5px 0 5px 5px;
  margin-right: -100%;
  right: 0; }

.mlpm_w .mlpm_inactive {
  background: #124b7d; }

.mlpm_w h2 {
  font-weight: 700;
  color: #fff;
  padding: 0 .4em; }

.mlpm_w ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.mlpm_w li {
  border-top: 1px solid #0b70b8;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: .4em; }

.mlpm_w li:last-child {
  border-bottom: none; }

.mlpm_w a {
  display: block;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.5em;
  text-decoration: none;
  color: #fff;
  padding: .2em .2em .2em 1em; }

.mlpm_w .backItemClass {
  background: #124b7d;
  display: block;
  color: #124b7d;
  border-top: 1px solid #0b70b8;
  padding: .4em; }

.home-fullscreen,
body {
  background-attachment: fixed; }

.mlpm_w .floatLeft {
  float: left;
  padding-left: 30px; }

.mlpm_w .iconSpacing_rtl {
  padding: 0 0 0 .4em; }

#app-esquemapagos {
  margin-bottom: 5px; }

.slider-tick-label-container {
  margin-left: 30px; }

#preloader,
.home-fullscreen,
.home-fullscreen::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.item-selected {
  background-color: #f68b1f !important; }

#lnk-politicas-privacidad {
  color: #f68b1f !important; }

.checkboxpol {
  margin-bottom: 20px;
  margin-top: -10px; }

.txtpoliticas {
  font-size: 3vw; }

.padding-inferior {
  padding-bottom: 120px; }

.termino-4 {
  margin: 10px 0; }

.renglones {
  border-bottom: 0 !important;
  top: 40px; }

.numero-calcu-parrafo {
  font-size: 20px !important;
  text-align: right; }

.espacio {
  margin: 0 40px 0 28px; }

.top-renglon {
  top: 38px !important; }

#ATZ,
#ATZ.item-selected,
#CUI,
#CUI.item-selected,
#ECA,
#ECA.item-selected,
#GDL,
#GDL.item-selected,
#LEO,
#LEO.item-selected,
#MAR,
#MAR.item-selected,
#ONL,
#ONL.item-selected,
#SUR,
#SUR.item-selected,
#TOL,
#TOL.item-selected {
  background-position-x: -50px; }

#LICENCIATURA {
  background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)) 0 0/cover, url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/LIC.jpg) no-repeat; }

#POSGRADO {
  background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)) 0 0/cover, url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/MAE.jpg) no-repeat; }

#INGENIERIA {
  background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)) 0 0/cover, url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/ING.jpg) no-repeat; }

#SALUD {
  background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)) 0 0/cover, url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/SAL.jpg) no-repeat; }

#PREPARATORIA {
  background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)) 0 0/cover, url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/PRE.jpg) no-repeat; }

#LICENCIATURA.item-available {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/LIC.jpg) right center/cover no-repeat; }

#POSGRADO.item-available {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/MAE.jpg) right center/cover no-repeat; }

#INGENIERIA.item-available {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/ING.jpg) right center/cover no-repeat; }

#SALUD.item-available {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/SAL.jpg) right center/cover no-repeat; }

#PREPARATORIA.item-available {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/PRE.jpg) right center/cover no-repeat; }

#CAMPUS {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/css/img/campus.jpg) 0 0/cover no-repeat; }

.que-campus {
  font-size: 35px;
  color: #fff !important;
  padding: 70px 0 0 70px; }

.que-estudiar {
  font-size: 35px;
  padding: 70px 0 0 70px; }

.que-modalidad {
  font-size: 35px;
  padding: 20px 0 0 70px; }

.carreramod {
  color: #000;
  padding: 30px 0 0 70px; }

#frm_politicas {
  position: relative;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 5px;
  border-radius: 4px; }

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
  padding: 8px 0; }

.mod-carrera {
  text-transform: capitalize; }

.slider-tick {
  opacity: 0 !important;
  /* background-image:linear-gradient(rgb(249,249,249) 0 #f5f5f5 100%; */
  background-repeat: repeat-x;
  box-shadow: rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  box-sizing: border-box;
  filter: none;
  border: 0 solid transparent; }

.slider.slider-horizontal .slider-track {
  height: 4px !important;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0; }

.slider.slider-horizontal .slider-handle,
.slider.slider-horizontal .slider-tick {
  margin-top: -8px !important;
  margin-left: -10px; }

.lineas-caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65098);
  width: 100%;
  color: #fff;
  font-size: 22px;
  padding: 15px; }

.sel-campus,
.sel-carrera {
  color: #000;
  width: 100%; }

.sel-campus,
.sel-carrera {
  font-size: 15px;
  height: 40px;
  width: 70%; }

.margin-bottom-ln {
  margin-bottom: -46px; }

.p-bloques {
  margin-top: -20px;
  font-size: 15px; }

.d-bloques {
  font-size: 45px !important; }

.b-botones {
  display: inline !important; }

.btn-plan {
  background-color: #3fa7f3 !important; }

.div-tipo-pago {
  margin-top: -12px; }

.margin-top-inscripcion {
  margin-top: 40px; }

.btn-back-sec-cursar {
  margin-left: 50px; }

.btn-back-sec-campus {
  margin-left: 67px; }

.btn-go-sec-promedio {
  margin-left: -65px; }

.c-leyenda-promedio {
  font-size: 26px; }

.btn-esquema-unselected {
  border: 1px solid #f68b1f;
  color: #f68b1f; }

.btn-esquema-selected,
.btn-esquema-unselected:hover {
  border: 1px solid #f68b1f;
  background-color: #f68b1f;
  color: #fff; }

iframe {
  max-width: 100%; }

#status,
#status2 {
  width: 210px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 210px; }

.margin-top-ln {
  margin-top: 47px; }

#preloader {
  position: fixed;
  background-color: #4f4f4f;
  z-index: 99; }

#status {
  background-image: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/img/status.gif);
  margin: -100px 0 0 -100px; }

.toggle-off.active {
  text-indent: 30px; }

.politicas-frm {
  margin-left: 10px !important; }

.fa {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-stretch: normal;
  line-height: 1;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.fa-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-search::before {
  content: "┬┤├ç├®"; }

.fa-home::before {
  content: "┬┤├ç├▓"; }

.fa-play::before {
  content: "┬┤├╝├»"; }

.fa-chevron-left::before {
  content: "┬┤├╝├┤"; }

.fa-chevron-right::before {
  content: "┬┤├╝├Â"; }

.fa-arrow-right::before {
  content: "┬┤├╝├¡"; }

.fa-plus::before {
  content: "┬┤├╝┬║"; }

.fa-minus::before {
  content: "┬┤├╝┬┐"; }

.fa-phone::before {
  content: "┬┤├®├▓"; }

.fa-navicon::before,
.fa-reorder::before,
.fa-bars::before {
  content: "┬┤├ó├½"; }

.fa-envelope::before {
  content: "┬┤├ó├í"; }

.fa-angle-left::before {
  content: "┬┤├ñ├ñ"; }

.fp-section {
  position: relative;
  box-sizing: border-box; }

.fp-slide,
.fp-slidesContainer {
  display: block;
  margin-bottom: 80px; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all .3s ease-out; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.slider-selection,
.slider-track-high,
.slider-track-low {
  box-sizing: border-box;
  border-radius: 4px; }

.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.slider.slider-horizontal {
  width: 90%;
  height: 20px; }

.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-high,
.slider.slider-horizontal .slider-track-low {
  height: 100%;
  top: 0;
  bottom: 0; }

.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
  margin-top: 20px; }

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  padding-top: 4px;
  display: inline-block;
  text-align: center; }

.slider-handle,
.slider-tick {
  position: absolute;
  width: 20px;
  height: 20px; }

.slider .tooltip.top {
  margin-top: -36px; }

.slider .tooltip-inner {
  white-space: nowrap; }

.slider-track {
  position: absolute;
  cursor: pointer;
  /* background-image:linear-gradient(rgb(245,245,245) 0 #f9f9f9 100%; */
  background-repeat: repeat-x;
  box-shadow: rgba(0, 0, 0, 0.09804) 0 1px 2px inset;
  border-radius: 4px; }

.slider-selection {
  position: absolute;
  /* background-image:linear-gradient(rgb(249,249,249) 0 #f5f5f5 100%; */
  background-repeat: repeat-x;
  box-shadow: rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  box-sizing: border-box; }

.slider-selection.tick-slider-selection {
  /* background-image:linear-gradient(rgb(137,205,239) 0 #81bfde 100%; */
  background-repeat: repeat-x; }

.slider-track-high,
.slider-track-low {
  position: absolute;
  background: 0 0;
  box-sizing: border-box; }

.slider-handle {
  background-color: #337ab7;
  /* background-image:linear-gradient(rgb(20,155,223) 0 #0480be 100%; */
  background-repeat: repeat-x;
  filter: none;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 inset, rgba(0, 0, 0, 0.04706) 0 1px 2px;
  border: 0 solid transparent; }

.slider-tick.in-selection {
  /* background-image:linear-gradient(rgb(137,205,239) 0 #81bfde 100%; */
  background-repeat: repeat-x;
  opacity: 1; }

.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  direction: ltr; }

.toggle-slide .toggle-blob {
  position: relative;
  z-index: 99;
  cursor: 0; }

.toggle-light .toggle-slide {
  border-radius: 9999px;
  box-shadow: #999 0 0 0 1px; }

.toggle-light .toggle-off,
.toggle-light .toggle-on {
  font-size: 11px;
  font-weight: 500; }

.toggle-light .toggle-on,
.toggle-light .toggle-select .toggle-inner .active {
  background: #45a31f;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px inset;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
  color: rgba(255, 255, 255, 0.8); }

.toggle-light .toggle-off,
.toggle-light .toggle-select .toggle-on {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px;
  /* background:linear-gradient(rgb(207,207,207), #f5f5f5; */ }

.toggle-light .toggle-blob {
  border-radius: 50px;
  /* background:linear-gradient(rgb(245,245,245), #cfcfcf; */
  box-shadow: #888 1px 1px 2px; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.bounceInDown {
  animation-name: bounceInDown; }

.searchMenu {
  position: relative;
  top: -30px; }

.searchMenu a {
  color: #fff !important; }

#menu-social {
  width: 100%;
  display: inline-block;
  margin-top: 15%; }

#menu-social li {
  border-bottom: none;
  text-align: center;
  margin: 0 10px; }

span.navbar-brand.back-menu {
  padding-top: 15px; }

.facebook {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/images/redes-sociales.png) -67px -13px no-repeat;
  width: 33px;
  height: 33px; }

.blogs-unitec a,
.facebook a,
.gplus a,
.twitter a {
  padding-bottom: 30px !important; }

.twitter {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/images/redes-sociales.png) -4px -13px no-repeat;
  width: 34px;
  height: 34px; }

.gplus {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/images/redes-sociales.png) -123px -7px no-repeat;
  width: 53px;
  height: 47px; }

.youtube {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/images/redes-sociales.png) -199px -13px no-repeat;
  width: 34px;
  height: 34px;
  margin-left: 11% !important; }

.blogs-unitec {
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/images/redes-sociales.png) -247px -4px no-repeat;
  width: 55px;
  height: 52px;
  float: left; }

.redesSociales a {
  display: inline-block !important; }

.titulo-principal-menu a {
  font-size: 30px !important;
  font-weight: 700 !important;
  margin-top: 10px !important; }

.mobile-menu {
  font-size: 25px;
  padding: 4px 15px; }

#pushobj,
.mlpm_w {
  position: absolute; }

#menu_multilevelpushmenu > div > h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 0 8px; }

.levelHolderClass ul:not(#menu-social) {
  height: 36em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 8px 0 27px; }

.menu-item-depth-0 {
  text-align: right !important; }

.levelHolderClass {
  height: 100% !important; }

.casa-home {
  position: fixed;
  right: 459px;
  top: 14px;
  display: none; }

.no-gutter > [class*="col-"],
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse {
  padding-right: 0;
  padding-left: 0; }

.col-sm-8,
.col-md-8 {
  width: 66.6667%; }

.calcu-ultima-seccion p,
#frm-calculadora {
  font-size: 13px; }

.p4 {
  color: red; }

.btn.focus,
.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none; }

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff911e;
  border-color: #ff9433; }

.clcSelector {
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  margin: 0 0 3px;
  padding: 15px 20px; }

.clcSelector i {
  position: absolute;
  top: 40%;
  right: 10px; }

.clcSelector span {
  margin-top: 4.5%;
  display: inline-block; }

.brand-mobile {
  margin: 14px 0 0 8px; }

.phone-mobile {
  text-align: center;
  margin: 10px 0 0 8px; }

.information-mobile {
  margin: 8px 0 0 8px; }

.ancho-carrera {
  width: 90%; }

.renglones-sl {
  top: 44px; }

.renglones-texto {
  top: 51px; }

.condiciones {
  font-size: 10px;
  margin-top: 50px; }

.texto-minimo {
  font-size: 12px; }

.margen-arriba {
  top: 61px !important; }

.no-disponible {
  color: #fff;
  width: 80%;
  text-align: center;
  margin: 50% auto; }

.margin-top-mobile {
  margin-top: 70px; }

.mb-inscripcion {
  margin-bottom: 20px; }

.anios-carrera-mobile {
  margin-right: 70px;
  margin-left: 70px; }

.fa.pull-right {
  margin-left: .3em; }

.morphsearch {
  min-height: 25px;
  position: fixed;
  z-index: 1031;
  top: 9px;
  transform-origin: 100% 0 0;
  transition-property: min-height, width, top, right;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  width: 32px;
  right: 15%;
  background: 0 0; }

.morphsearch-close,
.morphsearch-content,
.morphsearch-submit {
  overflow: hidden;
  position: absolute; }

.morphsearch-form {
  width: 100%;
  height: 27px;
  position: relative;
  transition-property: width, height, transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  margin: 0 auto; }

.morphsearch-input {
  font-weight: 400;
  border: none;
  font-size: .9em;
  color: #006fba;
  transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/img/buscador.png) center center/cover no-repeat;
  width: 100%;
  height: 100%;
  padding: 0; }

.morphsearch-input::-webkit-input-placeholder {
  color: #c2c2c2;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.morphsearch-submit {
  width: 80px;
  height: 80px;
  text-indent: 100px;
  right: 0;
  top: 50%;
  background: url(https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/img/magnifier.svg) center center/100% no-repeat;
  border: none;
  pointer-events: none;
  transform-origin: 50% 50% 0;
  opacity: 0;
  transform: translate3d(-30px, -50%, 0px) scale3d(0, 0, 1); }

.morphsearch-close {
  width: 36px;
  height: 36px;
  right: 1em;
  top: 1em;
  text-indent: 100%;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transform: scale3d(0, 0, 1); }

.morphsearch-close::after,
.morphsearch-close::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  border-radius: 3px;
  opacity: 0.2;
  background: #000; }

.morphsearch-close::before {
  transform: rotate(45deg); }

.morphsearch-close::after {
  transform: rotate(-45deg); }

.morphsearch-content {
  color: #333;
  width: 100%;
  height: 0;
  background: #fff;
  pointer-events: none;
  opacity: 0;
  margin-top: .5em;
  padding: 0; }

body,
figure,
.calcu-segunda-seccion {
  margin: 0; }

img,
.frm_btn,
.intro .intro-body,
.no-disponible,
.text-middle,
.vertical-center::before {
  vertical-align: middle; }

.h2,
h2,
.clcIntro {
  font-size: 40px; }

.row,
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px; }

.politicas,
.calcu-ultima-seccion p {
  font-size: 14px; }

.home-calc,
.padding-top-calcu {
  padding-top: 45px; }

.nuevo-boton-ir-campus,
.nuevo-boton-ir-carrera,
.nuevo-boton-regresar,
.margen-superior {
  margin-top: 10px; }

.btn-group > .btn-group,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.navbar-nav > li,
.mlpm_w .floatRight,
.fp-slide,
.facebook,
.gplus,
.toggle-slide .toggle-blob,
.toggle-slide .toggle-off,
.toggle-slide .toggle-on,
.twitter,
.youtube,
.btn-group > .btn-group,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu,
.mlpm_w .floatRight,
.fp-slide,
.facebook,
.gplus,
.toggle-slide .toggle-blob,
.toggle-slide .toggle-off,
.toggle-slide .toggle-on,
.twitter,
.youtube {
  float: left; }

.img-thumbnail,
body,
.tt-dropdown-menu,
.typeahead,
.img-thumbnail,
body,
.tt-dropdown-menu,
.typeahead {
  background-color: #fff; }

.text-center,
.alinear-center,
.linkSeccion div,
#footer,
#header,
.btn-marco,
.col-centered,
.crtl,
.footertext,
.progressCifras,
.progressCifras > li,
.progressCifras > li::after,
.row-centered,
.vertical-center,
.text-center,
.alinear-center,
.linkSeccion div,
#footer,
#header,
.btn-marco,
.col-centered,
.crtl,
.footertext,
.progressCifras,
.progressCifras > li,
.progressCifras > li::after,
.row-centered,
.vertical-center {
  text-align: center; }

.checkbox + .checkbox,
.radio + .radio,
.backItemClass,
.backItemClass {
  margin-top: -5px; }

.alert .alert-link,
.close,
.navbar-custom .navbar-brand,
.mp-current,
.navbar-custom .navbar-brand,
.alert .alert-link,
.close,
.navbar-custom .navbar-brand,
.mp-current,
.navbar-custom .navbar-brand {
  font-weight: 700; }

/* .hide,.hidden,.visible-lg,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-md,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.hidden-lg,.hide,.hidden,.visible-lg,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-md,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.hidden-xs {
display:none!important;
} */
.frm_btn,
.frm_btn:hover,
.mlpm_w a,
.navbar-custom .nav li a.active,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active,
.navbar-custom .navbar-brand .navbar-toggle:active,
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand:focus,
.select select,
.mlpm_w a,
.mp-back,
.navbar-custom .nav li a.active,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active,
.navbar-custom .navbar-brand .navbar-toggle:active,
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand:focus,
.frm_btn,
.frm_btn:hover,
.mlpm_w a,
.navbar-custom .nav li a.active,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active,
.navbar-custom .navbar-brand .navbar-toggle:active,
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand:focus,
.select select,
.mlpm_w a,
.mp-back,
.navbar-custom .nav li a.active,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active,
.navbar-custom .navbar-brand .navbar-toggle:active,
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand:focus {
  outline: 0; }

.navbar-custom a,
.box.azul h4 a,
.box.naranja h4 a,
.cta,
.navbar-header,
.navbar-custom a,
.box.azul h4 a,
.box.naranja h4 a,
.cta,
.navbar-header {
  color: #fff; }

.pos-relative,
.clCampus,
.clcLinea,
.pos-relative {
  position: relative; }

.texto-naranja,
.mlpm_w .backItemClass a,
.texto-naranja,
.mlpm_w .backItemClass a {
  color: #f68b1f; }

.renglones-calculadora,
.anios-carrera,
.anios-carrera {
  font-size: 24px; }

.matctrl,
.promctrl,
.slider .hide,
.slider input,
.matctrl,
.promctrl,
.slider .hide,
.slider input {
  display: none; }

.slider-handle.round,
.slider-tick.round,
.round,
.img-circle,
.slider-handle.round,
.slider-tick.round,
.round {
  border-radius: 50%; }

.btn-group > .btn-group,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu {
  float: left; }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-12 {
  width: 100%; }

.toggle-on.active {
  text-indent: 10px; }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url("http://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: FontAwesome;
  src: url("https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/font-awesome/fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/font-awesome/fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("https://unitecmx-universidadtecno.netdna-ssl.com/wp-content/themes/temaunitec/calculadora/font-awesome/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body,
html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; }

.facebook,
.gplus,
.toggle-slide .toggle-blob,
.toggle-slide .toggle-off,
.toggle-slide .toggle-on,
.twitter,
.youtube {
  float: left; }

.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  direction: ltr; }

.toggle-slide .toggle-blob {
  position: relative;
  z-index: 99;
  cursor: -webkit-grab; }

.toggle-light .toggle-slide {
  border-radius: 9999px;
  box-shadow: #999999 0px 0px 0px 1px; }

.toggle-light .toggle-off,
.toggle-light .toggle-on {
  font-size: 11px;
  font-weight: 500; }

.toggle-light .toggle-on,
.toggle-light .toggle-select .toggle-inner .active {
  background: #45a31f;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px inset;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
  color: rgba(255, 255, 255, 0.8); }

.toggle-light .toggle-off,
.toggle-light .toggle-select .toggle-on {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: rgba(255, 255, 255, 0.2) 0px 1px;
  background: linear-gradient(#cfcfcf, whitesmoke); }

.toggle-light .toggle-blob {
  border-radius: 50px;
  background: linear-gradient(whitesmoke, #cfcfcf);
  box-shadow: #888888 1px 1px 2px; }

body,
html {
  height: 100%; }

body {
  overflow-x: hidden;
  overflow-y: scroll; }

.clcSelector {
  background-color: #fff;
  margin: 0 0 3px;
  padding: 15px 20px;
  overflow: hidden;
  height: 100%; }

.clcSelector i {
  position: absolute;
  top: 40%;
  right: 10px; }

.clcSelector span {
  margin-top: 3.4%;
  display: inline-block; }

.btn-close {
  position: absolute;
  padding: 10px 14px 28px 15px;
  right: 0;
  top: -37px;
  z-index: 9;
  height: 20px;
  background-color: orange;
  font-weight: 700; }

@media (min-width: 768px) {
  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left; }

  .col-xs-12 {
    width: 100%; }

  .container {
    width: 750px; }

  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0; }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important; }

  .navbar-right {
    float: right !important;
    margin-right: -15px; }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .col-sm-4 {
    width: 33.33333333%; }

  .lineas-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    color: #FFF;
    font-size: 22px;
    padding: 15px; }

  .frm_calc,
  .home-calc {
    padding-top: 45px; }

  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: 0;
    margin-left: 0; } }
@media only screen and (min-width: 769px) {
  .no-margin {
    margin: 0 !important; } }
@media only screen and (min-width: 992px) {
  #frm-calculadora {
    font-size: 13px; }

  .ocultomobile {
    display: block; }

  .txtpoliticas {
    font-size: 0.8vw; }

  .btn-primary {
    border-color: #FFF !important; }

  .formbtn {
    border-radius: 20px !important; }

  .transparentenav {
    background-color: transparent !important;
    border: none !important; }

  .fbbtn {
    border-radius: 20px !important; }

  .frm-calculadoradiv {
    margin-bottom: 100px; }

  .home-wrapper {
    padding: 80px 0 70px; }

  .home-sm {
    padding: 100px 0 120px;
    position: relative;
    z-index: 100; }

  .home-sm .h1 {
    margin-bottom: 30px !important;
    font-weight: 700;
    font-size: 3.5vw;
    color: #FFF; }

  .home-wrapper-alt {
    display: table-cell;
    vertical-align: middle; }

  .home-wrapper h1 {
    line-height: 46px;
    margin: 0 auto; }

  .home-wrapper h4 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    margin: 30px auto 50px; }

  .home-sm img.header-mobile {
    max-width: 500px;
    display: block; }

  .full-screen {
    display: table;
    height: 100%;
    width: 100%; }

  .or-space {
    margin: 0 20px; }

  iframe {
    max-width: 100%; }

  .frame-border {
    border: 9px solid rgba(0, 0, 0, 0.3);
    webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

  .up-type-title {
    margin-right: 9px;
    font-size: 2vw;
    line-height: 55px;
    color: #fff; }

  .header-info {
    margin-top: 30px;
    margin-bottom: 30px; }

  .header-info p {
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 20px; }

  .up-type-title .animated-text {
    border-bottom: 2px solid; }

  .typed-cursor {
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink 0.7s infinite; }

  #frm-calculadora {
    font-size: 13px; }

  .ocultomobile {
    display: block; }

  .txtpoliticas {
    color: #757575 !important;
    font-size: 0.8vw; }
    .txtpoliticas a {
      color: #006FBA;
      text-decoration: underline !important; }

  .btn-primary {
    border-color: #FFF !important; }

  .formbtn {
    border-radius: 20px !important; }

  .transparentenav {
    background-color: transparent !important;
    border: none !important; }

  .fbbtn {
    border-radius: 20px !important; }

  .frm-calculadoradiv {
    margin-bottom: 100px; }

  .home-wrapper {
    padding: 80px 0 70px; }

  .home-sm {
    padding: 100px 0 120px;
    position: relative;
    z-index: 100; }

  .home-sm .h1 {
    margin-bottom: 30px !important;
    font-weight: 700;
    font-size: 3.5vw;
    color: #FFF; }

  .home-wrapper-alt {
    display: table-cell;
    vertical-align: middle; }

  .home-wrapper h1 {
    line-height: 46px;
    margin: 0 auto; }

  .home-wrapper h4 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    margin: 30px auto 50px; }

  .home-sm img.header-mobile {
    max-width: 500px;
    display: block; }

  .full-screen {
    display: table;
    height: 100%;
    width: 100%; }

  .or-space {
    margin: 0 20px; }

  iframe {
    max-width: 100%; }

  .frame-border {
    border: 9px solid rgba(0, 0, 0, 0.3);
    webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

  .up-type-title {
    margin-right: 9px;
    font-size: 2vw;
    line-height: 55px;
    color: #fff; }

  .header-info {
    margin-top: 30px;
    margin-bottom: 30px; }

  .header-info p {
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 20px; }

  .up-type-title .animated-text {
    border-bottom: 2px solid; }

  .typed-cursor {
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink 0.7s infinite; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; }

  .container {
    width: 1170px; } }
@media (max-width: 980px) {
  .img-calcu {
    width: 15%;
    margin-right: 15px;
    float: left; }

  .padding-top-calcu {
    padding-top: 45px; }

  .calcu-primera-seccion {
    margin: 25px 0 0; }

  .calcu-primera-seccion {
    height: auto !important; }

  .col-xs-12 {
    width: 100%; } }
@media (max-width: 768px) {
  .hidden-xs {
    display: none !important; }

  .margin-top-mobile {
    margin-top: 70px; }

  .mb-inscripcion {
    margin-bottom: 20px; }

  .calcu-primera-seccion {
    height: auto !important; }

  .home-sm {
    padding: 15px 0 30px !important;
    position: relative;
    z-index: 100; }

  .home-wrapper {
    padding: 40px 0 20px; }

  .home-sm .h1 {
    font-weight: 700;
    font-size: 7.5vw;
    color: #FFF; }

  .calcu-primera-seccion {
    height: auto !important; }

  body {
    padding-top: 47px; }

  .box {
    height: 33%; }

  .box h4 {
    font-size: 14px; }

  .textBanner {
    color: #FFF;
    position: relative;
    top: 100px; }

  h1 {
    font-size: 20px; }

  .fp-slide,
  .fp-slidesContainer {
    overflow: scroll;
    height: 100%; }

  p {
    font-size: 14px;
    line-height: 1.5; } }
@media (max-width: 480px) {
  .brand-mobile {
    margin: 14px 0 0 8px; }

  .phone-mobile {
    margin: 10px 0 0 8px;
    text-align: center; }

  .information-mobile {
    margin: 8px 0 0 8px; }

  .numero-promedio {
    font-size: 120px;
    margin-bottom: 10px; }

  .numero-calcu-parrafo {
    font-size: 20px !important; }

  .numero-calcu-resultado {
    font-size: 20px; }

  .calcu-ultima-seccion p {
    font-size: 14px; }

  .division-calcu {
    margin: 5px 0; }

  .renglones-sl {
    top: 44px; }

  .renglones {
    border-bottom: 0 !important; }

  .renglones-texto {
    top: 51px; }

  .condiciones {
    font-size: 10px;
    margin-top: 50px; }

  .texto-minimo {
    font-size: 12px; }

  .margen-superior {
    margin-top: 10px; }

  .espacio-prom-mater {
    margin-top: -10px !important;
    margin-bottom: 0 !important; }

  .crtl {
    padding: 12px 0 !important;
    margin-top: 0;
    height: 100%; }

  .clcIntro {
    font-size: 30px; }

  .margen-arriba {
    top: 61px !important; }

  .top-renglon {
    top: 38px !important; }

  .calculadora-respaldo {
    display: none; } }
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0px; }
  100% {
    background-position: 0px 0px; } }
@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0px; }
  100% {
    background-position: 0px 0px; } }
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes blink-input-field {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
@keyframes blink-input-field {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
@-webkit-keyframes wrench {
  0% {
    transform: rotate(-12deg); }
  8% {
    transform: rotate(12deg); }
  10% {
    transform: rotate(24deg); }
  18%,20% {
    transform: rotate(-24deg); }
  28%,30% {
    transform: rotate(24deg); }
  38%,40% {
    transform: rotate(-24deg); }
  48%,50% {
    transform: rotate(24deg); }
  58%,60% {
    transform: rotate(-24deg); }
  68% {
    transform: rotate(24deg); }
  100%,75% {
    transform: rotate(0deg); } }
@keyframes wrench {
  0% {
    transform: rotate(-12deg); }
  8% {
    transform: rotate(12deg); }
  10% {
    transform: rotate(24deg); }
  18%,20% {
    transform: rotate(-24deg); }
  28%,30% {
    transform: rotate(24deg); }
  38%,40% {
    transform: rotate(-24deg); }
  48%,50% {
    transform: rotate(24deg); }
  58%,60% {
    transform: rotate(-24deg); }
  68% {
    transform: rotate(24deg); }
  100%,75% {
    transform: rotate(0deg); } }
@-webkit-keyframes ring {
  0% {
    transform: rotate(-15deg); }
  2% {
    transform: rotate(15deg); }
  4% {
    transform: rotate(-18deg); }
  6% {
    transform: rotate(18deg); }
  8% {
    transform: rotate(-22deg); }
  10% {
    transform: rotate(22deg); }
  12% {
    transform: rotate(-18deg); }
  14% {
    transform: rotate(18deg); }
  16% {
    transform: rotate(-12deg); }
  18% {
    transform: rotate(12deg); }
  100%,20% {
    transform: rotate(0deg); } }
@keyframes ring {
  0% {
    transform: rotate(-15deg); }
  2% {
    transform: rotate(15deg); }
  4% {
    transform: rotate(-18deg); }
  6% {
    transform: rotate(18deg); }
  8% {
    transform: rotate(-22deg); }
  10% {
    transform: rotate(22deg); }
  12% {
    transform: rotate(-18deg); }
  14% {
    transform: rotate(18deg); }
  16% {
    transform: rotate(-12deg); }
  18% {
    transform: rotate(12deg); }
  100%,20% {
    transform: rotate(0deg); } }
@-webkit-keyframes vertical {
  0% {
    transform: translate(0px, -3px); }
  4% {
    transform: translate(0px, 3px); }
  8% {
    transform: translate(0px, -3px); }
  12% {
    transform: translate(0px, 3px); }
  16% {
    transform: translate(0px, -3px); }
  20% {
    transform: translate(0px, 3px); }
  100%,22% {
    transform: translate(0px, 0px); } }
@keyframes vertical {
  0% {
    transform: translate(0px, -3px); }
  4% {
    transform: translate(0px, 3px); }
  8% {
    transform: translate(0px, -3px); }
  12% {
    transform: translate(0px, 3px); }
  16% {
    transform: translate(0px, -3px); }
  20% {
    transform: translate(0px, 3px); }
  100%,22% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes horizontal {
  0% {
    transform: translate(0px, 0px); }
  6% {
    transform: translate(5px, 0px); }
  12% {
    transform: translate(0px, 0px); }
  18% {
    transform: translate(5px, 0px); }
  24% {
    transform: translate(0px, 0px); }
  30% {
    transform: translate(5px, 0px); }
  100%,36% {
    transform: translate(0px, 0px); } }
@keyframes horizontal {
  0% {
    transform: translate(0px, 0px); }
  6% {
    transform: translate(5px, 0px); }
  12% {
    transform: translate(0px, 0px); }
  18% {
    transform: translate(5px, 0px); }
  24% {
    transform: translate(0px, 0px); }
  30% {
    transform: translate(5px, 0px); }
  100%,36% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes flash {
  0%,100%,50% {
    opacity: 1; }
  25%,75% {
    opacity: 0; } }
@keyframes flash {
  0%,100%,50% {
    opacity: 1; }
  25%,75% {
    opacity: 0; } }
@-webkit-keyframes bounce {
  0%,10%,100%,20%,50%,80% {
    transform: translateY(0px); }
  40%,60% {
    transform: translateY(-15px); } }
@keyframes bounce {
  0%,10%,100%,20%,50%,80% {
    transform: translateY(0px); }
  40%,60% {
    transform: translateY(-15px); } }
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
@-webkit-keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-6px); }
  100% {
    transform: translateY(0px); } }
@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-6px); }
  100% {
    transform: translateY(0px); } }
@-webkit-keyframes pulse {
  0% {
    transform: scale(1.1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1.1); } }
@keyframes pulse {
  0% {
    transform: scale(1.1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1.1); } }
@-webkit-keyframes tada {
  0% {
    transform: scale(1); }
  10%,20% {
    transform: scale(0.9) rotate(-8deg); }
  30%,50%,70% {
    transform: scale(1.3) rotate(8deg); }
  40%,60% {
    transform: scale(1.3) rotate(-8deg); }
  100%,80% {
    transform: scale(1) rotate(0deg); } }
@keyframes tada {
  0% {
    transform: scale(1); }
  10%,20% {
    transform: scale(0.9) rotate(-8deg); }
  30%,50%,70% {
    transform: scale(1.3) rotate(8deg); }
  40%,60% {
    transform: scale(1.3) rotate(-8deg); }
  100%,80% {
    transform: scale(1) rotate(0deg); } }
@-webkit-keyframes passing {
  0% {
    transform: translateX(-50%);
    opacity: 0; }
  50% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(50%);
    opacity: 0; } }
@keyframes passing {
  0% {
    transform: translateX(-50%);
    opacity: 0; }
  50% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(50%);
    opacity: 0; } }
@-webkit-keyframes passing-reverse {
  0% {
    transform: translateX(50%);
    opacity: 0; }
  50% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(-50%);
    opacity: 0; } }
@keyframes passing-reverse {
  0% {
    transform: translateX(50%);
    opacity: 0; }
  50% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(-50%);
    opacity: 0; } }
@-webkit-keyframes burst {
  0% {
    opacity: 0.6; }
  50% {
    transform: scale(1.8);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes burst {
  0% {
    opacity: 0.6; }
  50% {
    transform: scale(1.8);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes bounce {
  0%,100%,20%,53%,80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0px, 0px, 0px); }
  40%,43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0px, -30px, 0px); }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0px, -15px, 0px); }
  90% {
    transform: translate3d(0px, -4px, 0px); } }
@keyframes bounce {
  0%,100%,20%,53%,80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0px, 0px, 0px); }
  40%,43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0px, -30px, 0px); }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0px, -15px, 0px); }
  90% {
    transform: translate3d(0px, -4px, 0px); } }
@-webkit-keyframes flash {
  0%,100%,50% {
    opacity: 1; }
  25%,75% {
    opacity: 0; } }
@keyframes flash {
  0%,100%,50% {
    opacity: 1; }
  25%,75% {
    opacity: 0; } }
@-webkit-keyframes pulse {
  0%,100% {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); } }
@keyframes pulse {
  0%,100% {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); } }
@-webkit-keyframes rubberBand {
  0%,100% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); } }
@keyframes rubberBand {
  0%,100% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); } }
@-webkit-keyframes shake {
  0%,100% {
    transform: translate3d(0px, 0px, 0px); }
  10%,30%,50%,70%,90% {
    transform: translate3d(-10px, 0px, 0px); }
  20%,40%,60%,80% {
    transform: translate3d(10px, 0px, 0px); } }
@keyframes shake {
  0%,100% {
    transform: translate3d(0px, 0px, 0px); }
  10%,30%,50%,70%,90% {
    transform: translate3d(-10px, 0px, 0px); }
  20%,40%,60%,80% {
    transform: translate3d(10px, 0px, 0px); } }
@-webkit-keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  100% {
    transform: rotate3d(0, 0, 1, 0deg); } }
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  100% {
    transform: rotate3d(0, 0, 1, 0deg); } }
@-webkit-keyframes tada {
  0%,100% {
    transform: scale3d(1, 1, 1); }
  10%,20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,50%,70%,90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,60%,80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } }
@keyframes tada {
  0%,100% {
    transform: scale3d(1, 1, 1); }
  10%,20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,50%,70%,90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,60%,80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } }
@-webkit-keyframes wobble {
  0%,100% {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0px, 0px) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0px, 0px) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0px, 0px) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0px, 0px) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0px, 0px) rotate3d(0, 0, 1, -1deg); } }
@keyframes wobble {
  0%,100% {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0px, 0px) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0px, 0px) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0px, 0px) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0px, 0px) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0px, 0px) rotate3d(0, 0, 1, -1deg); } }
@-webkit-keyframes bounceIn {
  0%,100%,20%,40%,60%,80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  0%,100%,20%,40%,60%,80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes bounceInDown {
  0%,100%,60%,75%,90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0px, -3000px, 0px); }
  60% {
    opacity: 1;
    transform: translate3d(0px, 25px, 0px); }
  75% {
    transform: translate3d(0px, -10px, 0px); }
  90% {
    transform: translate3d(0px, 5px, 0px); }
  100% {
    transform: none; } }
@keyframes bounceInDown {
  0%,100%,60%,75%,90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0px, -3000px, 0px); }
  60% {
    opacity: 1;
    transform: translate3d(0px, 25px, 0px); }
  75% {
    transform: translate3d(0px, -10px, 0px); }
  90% {
    transform: translate3d(0px, 5px, 0px); }
  100% {
    transform: none; } }
@-webkit-keyframes bounceInLeft {
  0%,100%,60%,75%,90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0px, 0px); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0px, 0px); }
  75% {
    transform: translate3d(-10px, 0px, 0px); }
  90% {
    transform: translate3d(5px, 0px, 0px); }
  100% {
    transform: none; } }
@keyframes bounceInLeft {
  0%,100%,60%,75%,90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0px, 0px); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0px, 0px); }
  75% {
    transform: translate3d(-10px, 0px, 0px); }
  90% {
    transform: translate3d(5px, 0px, 0px); }
  100% {
    transform: none; } }
@-webkit-keyframes bounceInRight {
  0%,100%,60%,75%,90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0px, 0px); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0px, 0px); }
  75% {
    transform: translate3d(10px, 0px, 0px); }
  90% {
    transform: translate3d(-5px, 0px, 0px); }
  100% {
    transform: none; } }
@keyframes bounceInRight {
  0%,100%,60%,75%,90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0px, 0px); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0px, 0px); }
  75% {
    transform: translate3d(10px, 0px, 0px); }
  90% {
    transform: translate3d(-5px, 0px, 0px); }
  100% {
    transform: none; } }
@-webkit-keyframes bounceInUp {
  0%,100%,60%,75%,90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0px, 3000px, 0px); }
  60% {
    opacity: 1;
    transform: translate3d(0px, -20px, 0px); }
  75% {
    transform: translate3d(0px, 10px, 0px); }
  90% {
    transform: translate3d(0px, -5px, 0px); }
  100% {
    transform: translate3d(0px, 0px, 0px); } }
@keyframes bounceInUp {
  0%,100%,60%,75%,90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0px, 3000px, 0px); }
  60% {
    opacity: 1;
    transform: translate3d(0px, -20px, 0px); }
  75% {
    transform: translate3d(0px, 10px, 0px); }
  90% {
    transform: translate3d(0px, -5px, 0px); }
  100% {
    transform: translate3d(0px, 0px, 0px); } }
@-webkit-keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
@-webkit-keyframes bounceOutDown {
  20% {
    transform: translate3d(0px, 10px, 0px); }
  40%,45% {
    opacity: 1;
    transform: translate3d(0px, -20px, 0px); }
  100% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px); } }
@keyframes bounceOutDown {
  20% {
    transform: translate3d(0px, 10px, 0px); }
  40%,45% {
    opacity: 1;
    transform: translate3d(0px, -20px, 0px); }
  100% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px); } }
@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0px, 0px); }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px); } }
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0px, 0px); }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px); } }
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0px, 0px); }
  100% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px); } }
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0px, 0px); }
  100% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px); } }
@-webkit-keyframes bounceOutUp {
  20% {
    transform: translate3d(0px, -10px, 0px); }
  40%,45% {
    opacity: 1;
    transform: translate3d(0px, 20px, 0px); }
  100% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px); } }
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0px, -10px, 0px); }
  40%,45% {
    opacity: 1;
    transform: translate3d(0px, 20px, 0px); }
  100% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px); } }
@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px); } }
@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px); } }
@keyframes fadeOutDownBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px); } }
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px); } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px); } }
@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px); } }
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px); } }
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px); } }
@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px); } }
@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px); } }
@keyframes fadeOutRightBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px); } }
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px); } }
@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px); } }
@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px); } }
@keyframes fadeOutUpBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px); } }
@-webkit-keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  100% {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }
@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  100% {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }
@-webkit-keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px); } }
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px); } }
@-webkit-keyframes flipInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  100% {
    transform: perspective(400px); } }
@keyframes flipInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  100% {
    transform: perspective(400px); } }
@-webkit-keyframes flipOutX {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
@keyframes flipOutX {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
@-webkit-keyframes flipOutY {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }
@keyframes flipOutY {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }
@-webkit-keyframes lightSpeedIn {
  0% {
    transform: translate3d(100%, 0px, 0px) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@keyframes lightSpeedIn {
  0% {
    transform: translate3d(100%, 0px, 0px) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    transform: translate3d(100%, 0px, 0px) skewX(30deg);
    opacity: 0; } }
@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    transform: translate3d(100%, 0px, 0px) skewX(30deg);
    opacity: 0; } }
@-webkit-keyframes rotateIn {
  0% {
    transform-origin: center center 0px;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {
    transform-origin: center center 0px;
    transform: none;
    opacity: 1; } }
@keyframes rotateIn {
  0% {
    transform-origin: center center 0px;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {
    transform-origin: center center 0px;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom 0px;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  100% {
    transform-origin: left bottom 0px;
    transform: none;
    opacity: 1; } }
@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom 0px;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  100% {
    transform-origin: left bottom 0px;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom 0px;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {
    transform-origin: right bottom 0px;
    transform: none;
    opacity: 1; } }
@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom 0px;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {
    transform-origin: right bottom 0px;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom 0px;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {
    transform-origin: left bottom 0px;
    transform: none;
    opacity: 1; } }
@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom 0px;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {
    transform-origin: left bottom 0px;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes rotateInUpRight {
  0% {
    transform-origin: right bottom 0px;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  100% {
    transform-origin: right bottom 0px;
    transform: none;
    opacity: 1; } }
@keyframes rotateInUpRight {
  0% {
    transform-origin: right bottom 0px;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  100% {
    transform-origin: right bottom 0px;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes rotateOut {
  0% {
    transform-origin: center center 0px;
    opacity: 1; }
  100% {
    transform-origin: center center 0px;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }
@keyframes rotateOut {
  0% {
    transform-origin: center center 0px;
    opacity: 1; }
  100% {
    transform-origin: center center 0px;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }
@-webkit-keyframes rotateOutDownLeft {
  0% {
    transform-origin: left bottom 0px;
    opacity: 1; }
  100% {
    transform-origin: left bottom 0px;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }
@keyframes rotateOutDownLeft {
  0% {
    transform-origin: left bottom 0px;
    opacity: 1; }
  100% {
    transform-origin: left bottom 0px;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }
@-webkit-keyframes rotateOutDownRight {
  0% {
    transform-origin: right bottom 0px;
    opacity: 1; }
  100% {
    transform-origin: right bottom 0px;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@keyframes rotateOutDownRight {
  0% {
    transform-origin: right bottom 0px;
    opacity: 1; }
  100% {
    transform-origin: right bottom 0px;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@-webkit-keyframes rotateOutUpLeft {
  0% {
    transform-origin: left bottom 0px;
    opacity: 1; }
  100% {
    transform-origin: left bottom 0px;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@keyframes rotateOutUpLeft {
  0% {
    transform-origin: left bottom 0px;
    opacity: 1; }
  100% {
    transform-origin: left bottom 0px;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@-webkit-keyframes rotateOutUpRight {
  0% {
    transform-origin: right bottom 0px;
    opacity: 1; }
  100% {
    transform-origin: right bottom 0px;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }
@keyframes rotateOutUpRight {
  0% {
    transform-origin: right bottom 0px;
    opacity: 1; }
  100% {
    transform-origin: right bottom 0px;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }
@-webkit-keyframes hinge {
  0% {
    transform-origin: left top 0px;
    animation-timing-function: ease-in-out; }
  20%,60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: left top 0px;
    animation-timing-function: ease-in-out; }
  40%,80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: left top 0px;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  100% {
    transform: translate3d(0px, 700px, 0px);
    opacity: 0; } }
@keyframes hinge {
  0% {
    transform-origin: left top 0px;
    animation-timing-function: ease-in-out; }
  20%,60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: left top 0px;
    animation-timing-function: ease-in-out; }
  40%,80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: left top 0px;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  100% {
    transform: translate3d(0px, 700px, 0px);
    opacity: 0; } }
@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px) rotate3d(0, 0, 1, -120deg); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px) rotate3d(0, 0, 1, -120deg); }
  100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes rollOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px) rotate3d(0, 0, 1, 120deg); } }
@keyframes rollOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px) rotate3d(0, 0, 1, 120deg); } }
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -1000px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -1000px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-webkit-keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-webkit-keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-webkit-keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 1000px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 1000px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 2000px, 0px);
    transform-origin: center bottom 0px;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 2000px, 0px);
    transform-origin: center bottom 0px;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-webkit-keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0px, 0px);
    transform-origin: left center 0px; } }
@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0px, 0px);
    transform-origin: left center 0px; } }
@-webkit-keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0px, 0px);
    transform-origin: right center 0px; } }
@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0px, 0px);
    transform-origin: right center 0px; } }
@-webkit-keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -2000px, 0px);
    transform-origin: center bottom 0px;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -2000px, 0px);
    transform-origin: center bottom 0px;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-webkit-keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible; }
  100% {
    transform: translateY(0px); } }
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible; }
  100% {
    transform: translateY(0px); } }
@-webkit-keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    visibility: visible; }
  100% {
    transform: translateX(0px); } }
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    visibility: visible; }
  100% {
    transform: translateX(0px); } }
@-webkit-keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible; }
  100% {
    transform: translateX(0px); } }
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible; }
  100% {
    transform: translateX(0px); } }
@-webkit-keyframes slideInUp {
  0% {
    transform: translateY(100%);
    visibility: visible; }
  100% {
    transform: translateY(0px); } }
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    visibility: visible; }
  100% {
    transform: translateY(0px); } }
@-webkit-keyframes slideOutDown {
  0% {
    transform: translateY(0px); }
  100% {
    visibility: hidden;
    transform: translateY(100%); } }
@keyframes slideOutDown {
  0% {
    transform: translateY(0px); }
  100% {
    visibility: hidden;
    transform: translateY(100%); } }
@-webkit-keyframes slideOutLeft {
  0% {
    transform: translateX(0px); }
  100% {
    visibility: hidden;
    transform: translateX(-100%); } }
@keyframes slideOutLeft {
  0% {
    transform: translateX(0px); }
  100% {
    visibility: hidden;
    transform: translateX(-100%); } }
@-webkit-keyframes slideOutRight {
  0% {
    transform: translateX(0px); }
  100% {
    visibility: hidden;
    transform: translateX(100%); } }
@keyframes slideOutRight {
  0% {
    transform: translateX(0px); }
  100% {
    visibility: hidden;
    transform: translateX(100%); } }
@-webkit-keyframes slideOutUp {
  0% {
    transform: translateY(0px); }
  100% {
    visibility: hidden;
    transform: translateY(-100%); } }
@keyframes slideOutUp {
  0% {
    transform: translateY(0px); }
  100% {
    visibility: hidden;
    transform: translateY(-100%); } }
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-xs-4 {
  width: 33.3333%; }

.col-xs-2,
.col-sm-2,
.col-xs-2 {
  width: 16.6667%; }

.col-xs-12,
.col-sm-12,
.col-md-12,
.col-xs-12 {
  width: 100%; }

/*# sourceMappingURL=calculadora-calc.css.map */
