.texto-naranja {
  color: #F68B1f; }

.padding-inferior {
  padding-bottom: 120px; }

.termino-4 {
  margin: 10px 0; }

.renglones {
  top: 40px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2); }

/*JEAB Cambio de fuente de 25 a 35*/
.numero-calcu-parrafo {
  font-size: 35px;
  text-align: right; }

.espacio {
  margin: 0 40px 0 28px; }

.margen-inferior {
  margin-bottom: 20px; }

.espacio-prom-mater {
  margin-bottom: 21px; }

.top-renglon {
  top: -12px; }

.no-disponible {
  color: #FFF;
  vertical-align: middle;
  margin: 50% auto;
  width: 80%;
  text-align: center; }

.btn-close {
  position: absolute;
  padding: 10px 14px 28px 15px;
  right: 0px;
  top: -37px;
  z-index: 9;
  height: 20px;
  background-color: orange;
  font-weight: bold; }

/* Large Devices, Wide Screens */
/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) { ... }

 Medium devices (desktops, 992px and up)  */
@media only screen and (min-width: 992px) {
  /************************CAMPUS POR DEFAULT*******************/
  #ATZ {
    background-position-x: -50px; }

  #CUI {
    background-position-x: -50px; }

  #ECA {
    background-position-x: -50px; }

  #LEO {
    background-position-x: -50px; }

  #MAR {
    background-position-x: -50px; }

  #ONL {
    background-position-x: -50px; }

  #SUR {
    background-position-x: -50px; }

  #TOL {
    background-position-x: -50px; }

  #GDL {
    background-position-x: -50px; }

  /***ESTILO PARA CAMPUS SELECCIONADO ***********/
  #ATZ.item-selected {
    background-position-x: -50px; }

  #CUI.item-selected {
    background-position-x: -50px; }

  #ECA.item-selected {
    background-position-x: -50px; }

  #LEO.item-selected {
    background-position-x: -50px; }

  #MAR.item-selected {
    background-position-x: -50px; }

  #ONL.item-selected {
    background-position-x: -50px; }

  #SUR.item-selected {
    background-position-x: -50px; }

  #TOL.item-selected {
    background-position-x: -50px; }

  #GDL.item-selected {
    background-position-x: -50px; } }
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 769px) {
  .clCampus {
    position: relative; }

  .clcLinea {
    position: relative; }

  /************************CAMPUS POR DEFAULT*******************/
  /*#ATZ{background: url('../img/ATZ-DSK-ND.jpg') no-repeat;  background-size: cover;}
  #CUI{background: url('../img/CUI-DSK-ND.jpg') no-repeat;  background-size: cover;}
  #ECA{background: url('../img/ECA-DSK-ND.jpg') no-repeat;  background-size: cover;}
  #LEO{background: url('../img/LEO-DSK-ND.jpg') no-repeat;  background-size: cover;}
  #MAR{background: url('../img/MAR-DSK-ND.jpg') no-repeat;  background-size: cover;}
  #ONL{background: url('../img/ONL-DSK-ND.jpg') no-repeat;  background-size: cover;}
  #SUR{background: url('../img/SUR-DSK-ND.jpg') no-repeat;  background-size: cover;}
  #TOL{background: url('../img/TOL-DSK-ND.jpg') no-repeat;  background-size: cover;}
  #GDL{background: url('../img/GDL-DSK-ND.jpg') no-repeat;  background-size: cover;}*/
  /************ESTILO PARA MOSTRAR CAMPUS DISPONIBLES***************************/
  /*#ATZ.item-available{background: url('../img/ATZ-DSK.jpg') no-repeat;  background-size: cover;}
  #CUI.item-available{background: url('../img/CUI-DSK.jpg') no-repeat;  background-size: cover;}
  #ECA.item-available{background: url('../img/ECA-DSK.jpg') no-repeat;  background-size: cover;}
  #LEO.item-available{background: url('../img/LEO-DSK.jpg') no-repeat;  background-size: cover;}
  #MAR.item-available{background: url('../img/MAR-DSK.jpg') no-repeat;  background-size: cover;}
  #ONL.item-available{background: url('../img/ONL-DSK.jpg') no-repeat;  background-size: cover;}
  #SUR.item-available{background: url('../img/SUR-DSK.jpg') no-repeat;  background-size: cover;}
  #TOL.item-available{background: url('../img/TOL-DSK.jpg') no-repeat;  background-size: cover;}
  #GDL.item-available{background: url('../img/GDL-DSK.jpg') no-repeat;  background-size: cover;}*/
  /***ESTILO PARA CAMPUS SELECCIONADO ***********/
  /*#ATZ.item-selected{background: url('../img/ATZ-DSK-S.jpg') no-repeat;  background-size: cover;}
  #CUI.item-selected{background: url('../img/CUI-DSK-S.jpg') no-repeat;  background-size: cover;}
  #ECA.item-selected{background: url('../img/ECA-DSK-S.jpg') no-repeat;  background-size: cover;}
  #LEO.item-selected{background: url('../img/LEO-DSK-S.jpg') no-repeat;  background-size: cover;}
  #MAR.item-selected{background: url('../img/MAR-DSK-S.jpg') no-repeat;  background-size: cover;}
  #ONL.item-selected{background: url('../img/ONL-DSK-S.jpg') no-repeat;  background-size: cover;}
  #SUR.item-selected{background: url('../img/SUR-DSK-S.jpg') no-repeat;  background-size: cover;}
  #TOL.item-selected{background: url('../img/TOL-DSK-S.jpg') no-repeat;  background-size: cover;}
  #GDL.item-selected{background: url('../img/GDL-DSK-S.jpg') no-repeat;  background-size: cover;}*/
  /***************************LINEAS******************************/
  /************************LINEAS POR DEFAULT*******************/
  #LICENCIATURA {
    background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)), url("../img/LIC.jpg") no-repeat;
    background-size: cover; }

  #POSGRADO {
    background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)), url("../img/MAE.jpg") no-repeat;
    background-size: cover; }

  #INGENIERIA {
    background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)), url("../img/ING.jpg") no-repeat;
    background-size: cover; }

  #SALUD {
    background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)), url("../img/SAL.jpg") no-repeat;
    background-size: cover; }

  #PREPARATORIA {
    background: linear-gradient(rgba(0, 0, 0, 0.29804), rgba(26, 26, 26, 0.49804)), url("../img/PRE.jpg") no-repeat;
    background-size: cover; }

  /************ESTILO PARA MOSTRAR LINEAS DISPONIBLES***************************/
  #LICENCIATURA.item-available {
    background: url("../img/LIC.jpg") no-repeat;
    background-size: cover;
    background-position: right; }

  #POSGRADO.item-available {
    background: url("../img/MAE.jpg") no-repeat;
    background-size: cover;
    background-position: right; }

  #INGENIERIA.item-available {
    background: url("../img/ING.jpg") no-repeat;
    background-size: cover;
    background-position: right; }

  #SALUD.item-available {
    background: url("../img/SAL.jpg") no-repeat;
    background-size: cover;
    background-position: right; }

  #PREPARATORIA.item-available {
    background: url("../img/PRE.jpg") no-repeat;
    background-size: cover;
    background-position: right; }

  /***ESTILO PARA LINEAS SELECCIONADO ***********/
  #LICENCIATURA.item-selected {
    background-color: #FFF;
    background-image: none; }

  #POSGRADO.item-selected {
    background-color: #FFF;
    background-image: none; }

  #INGENIERIA.item-selected {
    background-color: #FFF;
    background-image: none; }

  #SALUD.item-selected {
    background-color: #FFF;
    background-image: none; }

  #PREPARATORIA.item-selected {
    background-color: #FFF;
    background-image: none; }

  /******/
  /***************JEAB ESTILO PARA NUEVA EXPERIENCIA DE CAMPUS************/
  #CAMPUS {
    background: url("../img/campus.jpg") no-repeat;
    background-size: cover; }

  .que-campus {
    padding: 70px 0 0 70px;
    font-size: 35px;
    color: white !important; }

  .sel-campus {
    font-size: 15px;
    height: 40px;
    width: 70%; }

  /*****TERMINA NUEVA EXPERIENCIA****/
  .color-control {
    height: 22%; }

  .que-estudiar {
    padding: 70px 0 0 70px;
    font-size: 35px; }

  .que-modalidad {
    padding: 20px 0 0 70px;
    font-size: 35px; }

  .sel-carrera {
    font-size: 15px;
    height: 40px;
    width: 70%; }

  .carreramod {
    padding: 30px 0 0 70px; }

  .espacio-menu {
    margin-top: 60px; }

  .no-margin {
    margin: 0 !important; }

  .renglones-calculadora {
    font-size: 24px; } }
/*ESTILOS QUE SE MIGRARON DE CALCULADORA 09-05-2016*/
/*botones de pregunta form*/
/* all elements */
::-webkit-input-placeholder {
  color: #f00; }

::-moz-placeholder {
  color: #f00; }

/* firefox 19+ */
:-ms-input-placeholder {
  color: #f00; }

/* ie */
input:-moz-placeholder {
  color: #f00; }

#frm_politicas {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 5px;
  border-radius: 4px; }

.frm_btn {
  width: 49%; }

.frm_choosed_blue {
  color: #FFF;
  font-weight: bold;
  background-color: #006FBA !important;
  border-color: #adadad; }

.frm_btn {
  background: #bbbbbb;
  outline: none;
  color: #FFF;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #FFF;
  -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
  box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
  border-radius: 3px; }

.ui-tabs {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-bottom: 13px !important; }

.ui-tabs-nav li:before {
  display: none; }

.frm_btn:hover {
  border: 1px solid #FFF;
  outline: 0;
  color: #F68B1F;
  background-color: #FFF; }

/*fin botones de pregunta form*/
.CURLid {
  color: #FFF; }

.typeahead {
  background-color: #fff; }

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999; }

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 19px; }

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #006FBA; }

.tt-suggestion
p {
  margin: 0; }

/*Estilos email suggest*/
.typeahead {
  background-color: #fff; }

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999; }

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 19px; }

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #006FBA; }

.tt-suggestion p {
  margin: 0;
  color: #000; }

.mod-carrera {
  text-transform: capitalize; }

label.error {
  color: red; }

.slider-tick {
  opacity: 0 !important; }

.slider.slider-horizontal .slider-track {
  height: 4px !important; }

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -8px !important; }

.oculto {
  display: none; }

.l1 {
  margin: 5px auto; }

.campus-dsk {
  background-color: #000;
  padding: 0px !important; }

.lineas-caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  color: #FFF;
  font-size: 22px;
  padding-left: 15px; }

@media (min-width: 768px) {
  .lineas-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    color: #FFF;
    font-size: 22px;
    padding: 15px; }

  .calcu-primera-seccion {
    padding-top: 45px;
    background-image: url(//www.unitec.mx/wp-content/themes/temaunitec/calculadora/img/GifCalculadora.gif);
    background-position: 50% 135px;
    background-repeat: no-repeat; }

  .frm_calc {
    padding-top: 45px; }

  .home-calc {
    padding-top: 45px; } }
/*#introsec{
   background: url(<?php echo get_template_directory_uri();?>/calculadora/img/homebg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}*/
/*JEAB CAMBIO EN EL ESTILO DEL SELECT Y NUEVO BOTON REGRESAR 29-04-2016*/
.sel-carrera {
  color: #000;
  width: 100%; }

.sel-campus {
  color: #000;
  width: 100%; }

.carreramod {
  color: #000; }

.nuevo-boton-regresar {
  margin-top: 10px; }

.nuevo-boton-ir-campus {
  margin-top: 10px; }

.nuevo-boton-ir-carrera {
  margin-top: 10px; }

/*.lineas-caption{
    -moz-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
    box-shadow: inset 0 10px 8px -10px #E4E4E4, inset 0 7px 22px -9px #000000;
}*/
.crtl {
  border: 1px solid rgba(204, 204, 204, 0.52);
  /* border-radius: 4px; */
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

/*JEAB Estilos para la calculadora 27-04-2016*/
.frm-calc-error {
  margin-top: 1px !important;
  border-radius: 4px !important;
  width: 100% !important;
  width: 99.5% !important;
  margin: auto !important;
  text-align: center; }

/*JEAB Estilo a los titulos de las cajas de los pasos de la calculadora 28-04-2016*/
.calc-steps-title {
  cursor: pointer; }

/*Estilo general de cursor pointer*/
.cursor-pointer {
  cursor: pointer; }

/*Margen a la seccion principal de las lineas de negocio*/
.margin-top-ln {
  margin-top: 47px; }

.margin-bottom-ln {
  margin-bottom: -46px; }

.p-bloques {
  margin-top: -20px;
  font-size: 15px; }

.d-bloques {
  font-size: 45px !important; }

.b-botones {
  display: inline !important; }

/*Estilos para el indicador de click en los bloques inferiores de lca calculadora*/
.hide-fa {
  display: none; }

.show-fa {
  display: true; }

/*Para el boton de plan de estudios de la calculadora*/
.btn-plan {
  background-color: #3FA7F3 !important; }

.btn-plan:hover {
  background-color: #FF911E !important;
  color: white !important; }

.div-tipo-pago {
  margin-top: -12px; }

/*Margen del cambio del boton plan de estudios para mobile*/
@media (max-width: 768px) {
  .margin-top-mobile {
    margin-top: 70px; }

  .mb-inscripcion {
    margin-bottom: 20px; } }
.margin-top-inscripcion {
  margin-top: 40px; }

/*Nueva posicion para el boton regresar de sec-cursar*/
.btn-back-sec-cursar {
  margin-left: 50px; }

.btn-back-sec-campus {
  margin-left: 67px; }

.btn-go-sec-promedio {
  margin-left: -65px; }

.anios-carrera {
  font-size: 24px; }

.anios-carrera-mobile {
  margin-right: 70px;
  margin-left: 70px; }

.c-leyenda-promedio {
  font-size: 26px; }

.btn-esquema-unselected {
  border: 1px solid #F68B1F;
  color: #F68B1F; }

.btn-esquema-unselected:hover {
  border: 1px solid #F68B1F;
  background-color: #F68B1F;
  color: white; }

.btn-esquema-selected {
  border: 1px solid #F68B1F;
  background-color: #F68B1F;
  color: white; }

.btn-esquema-selected:hover {
  border: 1px solid #F68B1F;
  color: #F68B1F;
  background-color: white; }

/*ESTILOS DE CALCULADORA SOCIAL*/
/*TERMINA ESTILOS QUE SE MIGRARON DE CALCULADORA 09-05-2016*/
/*calculadora fecbook login */
.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.fa-facebook {
  font-size: 20px; }

.fbbtn {
  background-color: #3b5998; }

.ohr {
  font-size: 25px;
  padding-top: 10px;
  color: #FFF; }

hr.fb {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #b1afaf !important; }

/* Medium devices (desktops, 992px and up)  */
@media only screen and (min-width: 992px) {
  /*======= 3. Home =======*/
  #frm-calculadora {
    font-size: 13px; }

  .ocultomobile {
    display: block; }

  .txtpoliticas {
    font-size: .8vw; }

  .btn-primary {
    border-color: #FFF !important; }

  .formbtn {
    border-radius: 20px !important; }

  .transparentenav {
    background-color: transparent !important;
    border: none !important; }

  .fbbtn {
    border-radius: 20px !important; }

  .frm-calculadoradiv {
    margin-bottom: 100px; }

  .home-wrapper {
    padding: 80px 0px 70px 0px; }

  .home-sm {
    padding: 100px 0px 120px 0px;
    position: relative;
    z-index: 100; }

  .home-sm .h1 {
    margin-bottom: 30px !important;
    font-weight: 700;
    font-size: 3.5vw;
    color: #FFF; }

  .home-wrapper-alt {
    display: table-cell;
    vertical-align: middle; }

  .home-wrapper h1 {
    line-height: 46px;
    margin: 0 auto; }

  .home-wrapper h4 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    margin: 30px auto 50px auto; }

  .home-sm img.header-mobile {
    max-width: 500px;
    display: block; }

  .full-screen {
    display: table;
    height: 100%;
    width: 100%; }

  .or-space {
    margin: 0 20px; }

  iframe {
    max-width: 100%; }

  .frame-border {
    border: 9px solid rgba(0, 0, 0, 0.3);
    webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }

  /* 3.1 Animated Text */
  .up-type-title {
    margin-right: 9px;
    font-size: 2vw;
    line-height: 55px;
    color: #fff; }

  .header-info {
    margin-top: 30px;
    margin-bottom: 30px; }

  .header-info p {
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 20px; }

  .up-type-title .animated-text {
    border-bottom: 2px solid; }

  /* Cursor blinking */
  .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite; }

  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-webkit-keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-moz-keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

/*# sourceMappingURL=desktop.css.map */
