/*Estilos de calculadora*/
@import url(mobile.css);
@import url(desktop.css);
#status2 {
  width: 210px;
  height: 210px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("//www.unitec.mx/wp-content/themes/temaunitec/calculadora/img/status.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; }

.form-group {
  margin-bottom: 10px !important; }

.margin-top-ln {
  margin-top: 47px; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4F4F4F;
  z-index: 99; }

#status {
  width: 210px;
  height: 210px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../../img/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; }

.toggle-on.active {
  text-indent: 10px; }

.toggle-off.active {
  text-indent: 30px; }

.matctrl {
  display: none; }

.promctrl {
  display: none; }

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #b1adad; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #2aa1c0; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none; }

.control__indicator:after {
  content: '';
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block; }

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff; }

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b; }

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%; }

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

.select select::-ms-expand {
  display: none; }

.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc; }

.select select:disabled {
  opacity: 0.5;
  pointer-events: none; }

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent; }

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000; }

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc; }

.politicas-frm {
  margin-left: 10px !important; }

.valign > [class*="col"] {
  display: inline-block;
  float: none;
  font-size: 14px;
  font-size: 1rem;
  vertical-align: middle; }

@-moz-keyframes blink-input-field {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }
@-webkit-keyframes blink-input-field {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }
@keyframes blink-input-field {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }
.blink-animation {
  -webkit-animation: blink-input-field 0.5s ease-in-out 4 alternate;
  -moz-animation: blink-input-field 0.5s ease-in-out 4 alternate;
  animation: blink-input-field 0.5s ease-in-out 4 alternate; }

/*# sourceMappingURL=estilos.css.map */
