#callme {
  position: relative;
  display: none;
  background-color: #0F8C00;
  /* right: -25%; */
  z-index: 99;
  width: 100px;
  /* top: -25%; */
  border-radius: 5px 0px 0px 5px;
  padding: 4px 12px;
  /* box-shadow: 7px 3px 13px #000000; */
  width: 100%;
  cursor: pointer;
  text-align: center; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #callme {
    position: absolute;
    background-color: #0F8C00;
    right: -25%;
    z-index: 99;
    width: 100px;
    top: -60%;
    border-radius: 5px 0px 0px 5px;
    padding: 15px 12px;
    box-shadow: 7px 3px 13px #000000;
    width: 300px; } }
/*botones de pregunta form*/
#frm_politicas {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 5px;
  border-radius: 4px; }

.frm_btn {
  width: 49%; }

.frm_choosed_blue {
  color: #FFF;
  font-weight: bold;
  background-color: #006FBA !important;
  border-color: #adadad; }

.frm_btn {
  background: rgba(95, 95, 95, 0.8);
  outline: none;
  color: #FFF;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #FFF;
  -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
  box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
  border-radius: 3px; }

.ui-tabs {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-bottom: 13px !important; }

.ui-tabs-nav li:before {
  display: none; }

.frm_btn:hover {
  border: 1px solid #FFF;
  outline: 0;
  color: #F68B1F;
  background-color: #FFF; }

/*fin botones de pregunta form*/
.CURLid {
  color: #FFF; }

.typeahead {
  background-color: #fff; }

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999; }

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 19px; }

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #006FBA; }

.tt-suggestion
p {
  margin: 0; }

/*Estilos email suggest*/
.typeahead {
  background-color: #fff; }

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999; }

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 19px; }

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #006FBA; }

.tt-suggestion p {
  margin: 0;
  color: #000; }

.mod-carrera {
  text-transform: capitalize; }

label.error {
  color: red; }

.slider-tick {
  opacity: 0 !important; }

.slider.slider-horizontal .slider-track {
  height: 4px !important; }

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -8px !important; }

.oculto {
  display: none; }

.l1 {
  margin: 5px auto; }

.campus-dsk {
  background-color: #000;
  padding: 0px !important; }

.lineas-caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  color: #FFF;
  font-size: 22px;
  padding-left: 15px; }

@media (min-width: 768px) {
  .lineas-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    color: #FFF;
    font-size: 22px;
    padding: 15px; } }
/*JEAB CAMBIO EN EL ESTILO DEL SELECT Y NUEVO BOTON REGRESAR 29-04-2016*/
.sel-carrera {
  color: #000;
  width: 100%; }

.sel-campus {
  color: #000;
  width: 100%; }

.carreramod {
  color: #000; }

.nuevo-boton-regresar {
  margin-top: 10px; }

.nuevo-boton-ir-campus {
  margin-top: 10px; }

.crtl {
  border: 1px solid rgba(204, 204, 204, 0.52);
  /* border-radius: 4px; */
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

/*JEAB Estilos para la calculadora 27-04-2016*/
.frm-calc-error {
  margin-top: 1px !important;
  border-radius: 4px !important;
  width: 100% !important;
  width: 99.5% !important;
  margin: auto !important; }

/*JEAB Estilo a los titulos de las cajas de los pasos de la calculadora 28-04-2016*/
.calc-steps-title {
  cursor: pointer; }

/*Estilo general de cursor pointer*/
.cursor-pointer {
  cursor: pointer; }

/*Margen a la seccion principal de las lineas de negocio*/
.margin-top-ln {
  margin-top: 46px; }

.margin-bottom-ln {
  margin-bottom: -46px; }

.p-bloques {
  margin-top: -20px;
  font-size: 15px; }

.d-bloques {
  font-size: 45px !important; }

.b-botones {
  display: inline; }

/*Estilos para el indicador de click en los bloques inferiores de lca calculadora*/
.hide-fa {
  display: none; }

.show-fa {
  display: true; }

/*Para el boton de plan de estudios de la calculadora*/
.btn-plan {
  background-color: #3FA7F3 !important; }

.btn-plan:hover {
  background-color: #FF911E !important;
  color: white !important; }

.div-tipo-pago {
  margin-top: -12px; }

/*Margen del cambio del boton plan de estudios para mobile*/
@media (max-width: 768px) {
  .margin-top-mobile {
    margin-top: 70px; }

  .mb-inscripcion {
    margin-bottom: 20px; } }
.margin-top-inscripcion {
  margin-top: 40px; }

/*Nueva posicion para el boton regresar de sec-cursar*/
.btn-back-sec-cursar {
  margin-left: 50px; }

.btn-back-sec-campus {
  margin-left: 67px; }

.btn-go-sec-promedio {
  margin-left: -65px; }

.anios-carrera {
  font-size: 24px; }

.c-leyenda-promedio {
  font-size: 26px; }

#status2 {
  width: 210px;
  height: 210px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("//www.unitec.mx/wp-content/themes/temaunitec/calculadora/img/status.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; }

#preloader2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4F4F4F;
  z-index: 99; }

#preloader2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4F4F4F;
  z-index: 99; }

#home-calc {
  background-image: url("//www.unitec.mx/wp-content/themes/temaunitec/calculadora/img/bgcalcu.jpg");
  background-size: cover; }

/*# sourceMappingURL=estilos_social.css.map */
