.beca{
    font-size: 1rem;
}
.beca h3{
    font-size: 3.3rem;
    font-weight: 400;
    color: #0275d8;
}

.resultados-container{
    color: #757575;
    //font-weight: 100
}
.colorAzul{
    color: #0275d8;
}
.btn-circle{
    border-radius: 69px;
    border-color: #757575;
    background-color: #0275d8;
    color: #FFF;
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invisiblecr{
    border-radius: 69px;
    border-color: #757575;
    background-color: #dbdbdb;
    color: #FFF;
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{    background: #f68b1f;}



.linea{
    border-bottom-color: #0275d8;;
    border-bottom-style: solid;
    padding-bottom: 8px;
}
.subtitulo{font-size: .7rem}
.b-verde{
    border-left-color: #0eb1ac;
  
}
.b-amarillo{
    border-left-color: #cedc2d;
  
}
.b-rojo{
    border-left-color: #e9674f;
  
}
.concepto{
    border-left-style: solid;
    border-left-width: 7px;
}
// .concepto p{
//     font-size: 13px;
//     font-weight: bolder;
// }

.costo{
    font-size: 8vw;
    //padding-top: 12px;
}
.b{
    text-shadow: 0.7px 0.7px #757575;
}

// .medio{
//     line-height: 1;
// }

.terminos{font-size: 1.5vh}

.m-circle{
   font-size:  6vh!important;
   font-weight: 400;
} 
.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    left: 50%;
    bottom: 120%;
    background-color: #0275d8;
    color: white;
    border-radius: 50%;
    width: 35px;
}

@import "../../../node_modules/nouislider/distribute/nouislider.min.css";
//@import "../linea/linea.component.scss";   