
<div class="container mt-1">
    <div class="row">
        <div class="col-12 app-menu-title">
            Selecciona tu estado
        </div>
    </div>
    <hr id="divisor-menu-app" class="mt-1 mb-1">

    <ul class="list-group mb-6">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let estado of estados " (click)="setEstado(estado)">
            {{ estado.name }}
        </li>
    </ul>
</div>
