.footer {
  padding: 10px; }

.footer-content {
  line-height: 15px;
  padding: 6px; }

.espaciado {
  line-height: 10px;
  padding: 22px; }

.margen {
  padding-left: 10px;
  padding-top: 15px; }

.divisor {
  color: #F68B1F;
  font-size: 28px;
  font-weight: bold; }

.mb-0, .fa-plus, .card-block, .contact {
  color: #FFFFFF !important; }

.contact {
  font-size: 24px; }

.mb-0, .fa-plus {
  font-size: 32px; }

.fa-plus, .fa-minus {
  float: right !important; }

.form-control {
  display: inline !important; }

#suscribete {
  width: 30% !important;
  font-size: 10px;
  padding: 8px; }

.suscribete {
  display: inline !important;
  padding-left: 10px; }

.background-accordion, .card, .accordion {
  background: #006fba;
  border-bottom: 0px !important; }

.content-logos {
  margin: auto; }
