  <span [formGroup]="formularioPadre">
    <div class="form-group" formGroupName="{{ fase }}">
        <div class="md-form form-sm div-content-cuenta">
        <input  type="text" 
                class="form-control" 
                formControlName="frm_ncuenta"
                onpaste="return false;" 
                autocomplete="off">
                <label for="frm_ncuenta" id="lbl-frm-cuenta-alumno" *ngIf="formularioPadre.get('faseUno.frm_radio_perfil_AlumnoMaestro').value == 'alumno' || !formularioPadre.get('faseUno.frm_radio_perfil_AlumnoMaestro').value">Ingresa Número de cuenta:
                    <span [ngClass]="{ asteriskDisplay : !asterisk }" style="color: red">*</span>
                </label>
            <label for="frm_ncuenta" id="lbl-frm-cuenta-profesor" *ngIf="formularioPadre.get('faseUno.frm_radio_perfil_AlumnoMaestro').value == 'profesor'">Favor de Ingresar su RFC: 
                   <span [ngClass]="{ asteriskDisplay : !asterisk }" style="color: red">*</span>
            </label>
            <div class="myFeedBackError" *ngIf="formularioPadre.get(inputComponent).errors  && 
                                                formularioPadre.get(inputComponent).dirty">
                <div *ngIf="formularioPadre.get(inputComponent).errors.fieldError">
                    {{formularioPadre.get(inputComponent).errors.customErrorMessage}}
                </div>
            </div>
        </div>
    </div>
  </span>