<!-- Modal -->
<div class="modal fade" id="elementoModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="titulo modal-title w-100" id="myModalLabel">Solicita informes</h4>
            </div>

            <!--Body-->
            <div class="modal-body">
                <app-formulario-login></app-formulario-login>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->


<!-- Modal -->
<div class="modal fade" id="buscador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Body-->
            <div class="modal-body">
                <formularioGCS></formularioGCS>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->