$input_naranja : #f68b1f;
$input_azul_unitec : #006fba;
$titulos_principales: #757575;
$texto_principal: #5a5a5a;
$bold_title:400;

.btn-alumno-profesor{
    width: 50%;
    text-align: center;
    cursor: pointer;
    border: solid 1px $titulos_principales;
    margin: -1px;
}

fieldset{
    div{
        i{
            font-size: 1.25rem;  
        }
        .name{
            font-size: 0.875rem;
            font-family: gotham;
            margin: 0;
            margin-top: 0.5rem;
        }
    }
}


// fieldset{
//     div.icon-alumno{
//         background-color:$input_azul_unitec;
//         mask-image: url(/assets/salud.svg);
//         -webkit-mask-image: url(/assets/salud.svg);
//         width: 20px;
//         height: 20px;
//         margin-right:2px;   
//     }

//     div.icon-profesor{
//         background-color:$input_azul_unitec;
//         mask-image: url(/assets/salud.svg);
//         -webkit-mask-image: url(/assets/salud.svg);
//         width: 20px;
//         margin-right: 2px;
//         height: 20px;       
//     }
// }
