<span [formGroup]="formularioPadre">
    <div class="d-flex justify-content-center" formGroupName="{{fase}}">
        <label for="alumno" class="btn-alumno-profesor">
            <fieldset class="radio-input icon-alumno">
                <!-- <div class="icon-alumno ml-3 icono"></div> -->
                <div class="m-auto d-flex flex-column p-2">
                    <input class="radio-form" formControlName="frm_radio_perfil_AlumnoMaestro" name="frm_radio_perfil_AlumnoMaestro" type="radio" id="alumno" value="alumno" checked="checked">
                    <i class="icon-u icon-u-alumnos"></i>
                    <span class="name">Soy Alumno</span>
                </div>                     
            </fieldset>
        </label>
        <label for="profesor" class="btn-alumno-profesor">
            <fieldset class="radio-input icon-profesor">
                <!-- <div class="icon-profesor ml-3 icono"></div> -->
                <div class="m-auto d-flex flex-column p-2">
                    <input class="radio-form" formControlName="frm_radio_perfil_AlumnoMaestro" name="frm_radio_perfil_AlumnoMaestro" type="radio" id="profesor" value="profesor">
                    <i class="icon-u icon-u-profesores"></i>
                    <span class="name">Soy Profesor</span>
                </div>
            </fieldset>
        </label>
    </div>
</span>
<div class="myFeedBackError" *ngIf="formularioPadre.get(inputComponent).errors  && formularioPadre.get(inputComponent).dirty">
    <div *ngIf="formularioPadre.get(inputComponent).errors.fieldError">
        {{formularioPadre.get(inputComponent).errors.customErrorMessage}}
    </div>
</div>

<!-- <span [formGroup]="formularioPadre">
    <div class="btn-group" data-toggle="buttons" formGroupName="{{fase}}">
        <label class="btn btn-primary col">
            <input formControlName="frm_radio_perfil_AlumnoMaestro" name="frm_radio_perfil_AlumnoMaestro" type="radio" value="alumno" id="alumno"> Soy Alumno
        </label>

        <label class="btn btn-primary col">
            <input formControlName="frm_radio_perfil_AlumnoMaestro" name="frm_radio_perfil_AlumnoMaestro" type="radio" value="profesor" id="profesor"> Soy Profesor
        </label>
    </div>
</span>

<div class="myFeedBackError row" *ngIf="formularioPadre.get(inputComponent).errors  && formularioPadre.get(inputComponent).dirty">
    <div *ngIf="formularioPadre.get(inputComponent).errors.fieldError">
        {{formularioPadre.get(inputComponent).errors.customErrorMessage}}
    </div>
</div> -->

