<!-- Modal -->
<div class="modal modal-tarjeta" id="modal_frm_app_calculadora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-terminado="0"> 
    <div id="head_close_modal" style="display: none">
        <div class="row h-100">
            <div class="col-10 titulo-formulario title-modal-desk text-center">
                <h3 class="title-inside-head mb-0">{{ titulo_modal_formulario }}</h3>
            </div>
            <div class="col-2 titulo-formulario">
                <div class="row steps-row d-flex justify-content-around">
                    <p class="mb-0 d-flex align-items-center">Paso <span class="step-row-one-calculadora"> 1 </span> de 6</p>
                    <button type="button" class="close cerrar-modal" data-dismiss="modal" aria-label="Close">
                    </button>
                    <div class="icons-desktop d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)" data-dismiss="modal">
                            <i class="icon-u icon-u-cerrar" data-dismiss="modal"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content d-flex align-items-center justify-content-center">
            <!--Body formulario-->
            <div class="modal-content-tarjeta" id="body-form-todo">
                <app-formulario-solitario></app-formulario-solitario>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>