  .modal-fluid { 
    max-width: none;
    position: relative;
    margin: 0 auto;
  }

  .modal-content{
    min-height: calc(100vh - 20px);
  } 

  .modal-body {
    padding: 0!important;
    background-color: #F6F6F6;
  }

  .modal-header {
    background-color: #006fba;
    color: white;
    height: 50px;
    /*Borde del modal*/
    border-left-color: #F68B1F;
    border-left-style: solid;
    border-left-width: 10px;
    border-bottom-color: transparent;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 10;
  }

  .cerrar-modal {
    color: white;
    font-size: 2.5rem;
    opacity: .8;
  }