<!-- Modal -->
<div class="modal fade" id="elementoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <!-- <button type="button" class="close cerrar-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <h4 class="titulo modal-title w-100" id="myModalLabel">{{ titulo_modal_formulario }}</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <!-- <app-formulario-tradicional></app-formulario-tradicional> -->
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->
<!-- Button trigger modal 
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#elementoModal">
    Modal formulario tradicional
</button>-->