$titulos_principales: #757575;

.sin-estado {
    display: block;
}
.icono-size{ 
        -webkit-mask-size: 70px 70px;
           

}
.con-estado {
    display: none;
}

.card .card-body h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.card-body h3, .card-body h5 {
    font-weight: 400;
    margin-bottom: 1rem;
}

.card .card-body {
    position: relative;
}
.text-center { 
    text-align: center!important;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.10rem;
}
.btn:not([disabled]):not(.disabled) {
    cursor: pointer;
}

 
.btn.btn-sm, .btn.wishlist {
    font-size: .6rem;
    padding: .5rem 1.6rem;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.btn-dtc {
    background: #086fb9;
}


/*Iconos lineas de negocio*/

 .cuadro-UG {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/licenciatura.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/licenciatura.svg) no-repeat 50% 50%;
    mask-image: url(/assets/licenciatura.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/licenciatura.svg);
    /*background-image: url(/assets/licenciatura.svg) no-repeat;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center bottom;
    width: 100%;
    margin: 0 auto;
    height: 500px;*/
}

::ng-deep .cuadro-ing {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/ingenieria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/ingenieria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/ingenieria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/ingenieria.svg);
    width: 108%;
}

::ng-deep .cuadro-salud {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/salud.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/salud.svg) no-repeat 50% 50%;
    mask-image: url(/assets/salud.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/salud.svg);
    width: 108%;
}

::ng-deep .cuadro-pos {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/posgrado.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/posgrado.svg) no-repeat 50% 50%;
    mask-image: url(/assets/posgrado.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/posgrado.svg);
    width: 108%;
}

::ng-deep .cuadro-prepa {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/preparatoria.svg);
    width: 108%;
}

::ng-deep .titulo-lineas-cuadros {
    width: 108%;
}


/*Clases modalidades*/

::ng-deep .cuadro-pres {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/presencial.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/presencial.svg) no-repeat 50% 50%;
    mask-image: url(/assets/presencial.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/presencial.svg);
    width: 108%;
}

::ng-deep .cuadro-eje {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/ejecutiva.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/ejecutiva.svg) no-repeat 50% 50%;
    mask-image: url(/assets/ejecutiva.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/ejecutiva.svg);
    width: 108%;
}

::ng-deep .cuadro-enlinea {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/enlinea.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/enlinea.svg) no-repeat 50% 50%;
    mask-image: url(/assets/enlinea.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/enlinea.svg);
    width: 108%;
}


/*Cuadros de campus*/

::ng-deep .cuadro-atz {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/atizapan.svg);
    width: 108%;
}

::ng-deep .cuadro-mar {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/marina.svg);
    width: 108%;
}

::ng-deep .cuadro-eca {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/ecatepec.svg);
    width: 108%;
}

::ng-deep .cuadro-gdl {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/guadalajara.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/guadalajara.svg);
    width: 108%;
}

::ng-deep .cuadro-leo {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/leon.svg);
    width: 108%;
}

::ng-deep .cuadro-sur {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/sur.svg);
    width: 108%;
}

::ng-deep .cuadro-cui {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/cuitlahuac.svg);
    width: 108%;
}

::ng-deep .cuadro-tol {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/toluca.svg);
    width: 108%;
}

::ng-deep .cuadro-qro {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/queretaro.svg);
    width: 108%;
}

::ng-deep .cuadro-onl {
    height: 50%;
    height: 70%;
    background-color: $titulos_principales;
    mask: url(/assets/onl.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/onl.svg) no-repeat 50% 50%;
    mask-image: url(/assets/onl.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/onl.svg);
    width: 108%;
}

.PREPA {
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/preparatoria.svg);
}
.UG {
    mask: url(/assets/licenciatura.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/licenciatura.svg) no-repeat 50% 50%;
    mask-image: url(/assets/licenciatura.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/licenciatura.svg);
}
.ING {
    mask: url(/assets/ingenieria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/ingenieria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/ingenieria.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/ingenieria.svg);
}
.CS {
    mask: url(/assets/salud.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/salud.svg) no-repeat 50% 50%;
    mask-image: url(/assets/salud.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/salud.svg);
}
.POS {
    mask: url(/assets/posgrado.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/posgrado.svg) no-repeat 50% 50%;
    mask-image: url(/assets/posgrado.svg);
    -webkit-mask-size: 70px 70px;
    mask-size: 400px 600px;
    -webkit-mask-image: url(/assets/posgrado.svg);
}

.cuadro {
    height: 50%;
    height: 12vh;
    background-color: #757575;
}