#div_linea_interes {
    margin-top: 10px;
}
#select_lineas {
    display: block !important;
    width: 100%;
    border: 0;
    outline:none;
    background: transparent;
    option {
        padding: 10px;
        cursor: pointer;
    }

}
#secCarreras {
    //height: 180px;
    max-height: 180px;
    overflow-y: scroll;
    cursor: pointer;
    padding-top: 10px;
}

#secModalidades {
    //height: 180px;
    max-height: 180px;
    overflow-y: scroll;
    cursor: pointer;
    padding-top: 10px;
}

#secCampus {
    //height: 170px;
    max-height: 170px;
    overflow-y: scroll;
    cursor: pointer;
    padding-top: 10px;
}
#secEstudio {
    span {
        color: #F68B1F;
    }
}
.titulo-oferta {
    margin-bottom: 1px solid gray;
    span {
        margin-right: 34px;
    }
}
.titulo-interes {
    font-size: 13px;
    color: #3373FF;
    font-weight: bold;
}
.ocultar {
    display: none;
}
.texto-cambio {
    font-size: 13px;
    text-align: right;
    //color: #3373FF;
    color: #0f406b;
    font-weight: bold;
    text-decoration: underline;
}

.container_tabs {
    //height: 200px;
    height:auto;
}

.tabs_content {
    height:auto;
}

.carrera-resultado, .modalidad-resultado, .campus-resultado {
    font-weight: bold;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.muestra-error {
    display: block;
}

.oculta-error {
    display: none;
}

:host /deep/ .division-div {
    border-bottom: 1px;
    /*border-bottom-style: groove;
    border-bottom-color: antiquewhite;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    background-color: snow;
}
:host /deep/ .division-div:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.22), 0 10px 10px rgba(0,0,0,0.22);
}

:host /deep/  #secEstudio {
    border-bottom: 1px;
    /*border-bottom-style: groove;
    border-bottom-color: antiquewhite;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: snow;
}