@import "../generales/_variables_temaunitec";

.footer{
    padding:10px;
}

.footer-content{
    line-height:15px;
    padding:6px;
}

.espaciado{
    line-height:10px;
    padding:22px;
}

.margen{
    padding-left:10px;
    padding-top:15px;
}

.divisor{
    color:$unitec_secundario;
    font-size:28px;
    font-weight:bold;
}

.mb-0, .fa-plus, .card-block, .contact{
    color:$texto_secundario !important;
}

.contact{
    font-size:24px;
}

.mb-0, .fa-plus{
    font-size:32px;
}

.fa-plus, .fa-minus{
    float:right !important;
}

.form-control{
    display:inline !important;
    //width:50% !important;
}

#suscribete{
    width:30% !important;
    font-size:10px;
    padding:8px;
}

.suscribete{
    display:inline !important;
    padding-left:10px;
}

.background-accordion, .card, .accordion{
    background:$unitec-principal;
    border-bottom:0px !important;
}

.content-logos{
    margin:auto;
}