/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
.tooltip-info {
  position: relative;
  display: inline-block; }

.tooltip-info .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #f68b1f;
  color: #fff;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: .25rem;
  padding: .5rem;
  margin-top: -3rem;
  left: 0;
  position: absolute;
  z-index: 1;
  text-transform: none; }

.tooltip-info .tooltiptext:before {
  content: "";
  position: absolute;
  top: 1.9rem;
  right: 45%;
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-top: .5rem solid #f68b1f;
  font-size: 0;
  line-height: 0; }

.tooltip-info:hover .tooltiptext {
  visibility: visible; }

.filo-inicio-t {
  color: #006fba;
  font-weight: 500; }

.descripcion {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal; }

.btn-primary {
  background-color: #006fba !important; }

.btn-warning {
  background-color: #F68B1F !important; }

.btn-maestria {
  background-color: #5a5a5a !important; }

.btn-maestria:hover {
  background-color: #828282 !important; }
