/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
.contenido-buscador .titulo-buscador {
  font-size: 1.75rem;
  font-weight: 400; }
.contenido-buscador .descripcion {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.5px; }
.contenido-buscador .contenedor-buscador .buscador-desk {
  border: solid 1px #aba99e;
  height: 3rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  overflow: hidden;
  background: #ffffff; }
  .contenido-buscador .contenedor-buscador .buscador-desk .buscador-desk-input input[type=search] {
    border: none;
    color: #757575;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 center;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-appearance: none;
    appearance: none;
    opacity: .5;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 400; }
  .contenido-buscador .contenedor-buscador .buscador-desk .buscador-desk-input input[type=search]:focus:not([readonly]) {
    opacity: 1;
    box-shadow: none; }
  .contenido-buscador .contenedor-buscador .buscador-desk .buscador-desk-input .microfono {
    background: 0 0;
    border: none;
    width: 5rem;
    border-left: solid 1px #aba99e; }
    .contenido-buscador .contenedor-buscador .buscador-desk .buscador-desk-input .microfono i {
      font-size: 2rem;
      color: #006fba; }
