/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
iframe {
  max-width: 100vw; }

.filter-blue {
  background: rgba(0, 55, 92, 0.6);
  background: -moz-linear-gradient(left, rgba(0, 55, 92, 0.6) 0%, rgba(0, 51, 86, 0.24) 45%, rgba(0, 49, 82, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 55, 92, 0.6)), color-stop(45%, rgba(0, 51, 86, 0.24)), color-stop(100%, rgba(0, 49, 82, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 55, 92, 0.6) 0%, rgba(0, 51, 86, 0.24) 45%, rgba(0, 49, 82, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 55, 92, 0.6) 0%, rgba(0, 51, 86, 0.24) 45%, rgba(0, 49, 82, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 55, 92, 0.6) 0%, rgba(0, 51, 86, 0.24) 45%, rgba(0, 49, 82, 0) 100%);
  background: linear-gradient(to right, rgba(0, 55, 92, 0.6) 0%, rgba(0, 51, 86, 0.24) 45%, rgba(0, 49, 82, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00375c', endColorstr='#003152', GradientType=1 );
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1; }

.myVideo {
  position: fixed;
  min-height: 100vh;
  left: 0;
  top: 59px; }

.carousel-inner {
  z-index: 2; }

@media (max-width: 815px) {
  .container {
    align-items: end !important; } }
@media (max-width: 815px) and (orientation: landscape) {
  .container .cont-banner-mob .cintillo {
    margin-top: 20px; }

  .indicadores {
    bottom: 55px !important; } }
