@charset "UTF-8";
@font-face {
  font-family: "Roboto Light";
  src: url("/wp-content/themes/temaunitec/assets/frontend_desktop/font/generales/roboto/Roboto-Light.woff2"); }
@font-face {
  font-family: "Roboto Medium";
  src: url("/wp-content/themes/temaunitec/assets/frontend_desktop/font/generales/roboto/Roboto-Regular.woff2"); }
@font-face {
  font-family: "Roboto Bold";
  src: url("/wp-content/themes/temaunitec/assets/frontend_desktop/font/generales/roboto/Roboto-Medium.woff2"); }
*:focus {
  outline: none;
  opacity: 1 !important; }

/* ===================================== ESTILOS ESPEC├ìFICOS DE LA CALCULADORA ==============================*/
.d-flex {
  display: flex !important; }

.d-none {
  display: none !important; }

.align-items-center {
  align-items: center !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.mx-auto {
  margin: auto !important; }

.mb-1 {
  margin-bottom: 1vw; }

.mb-2 {
  margin-bottom: 2vw; }

.mb-3 {
  margin-bottom: 3vw; }

.mt-0 {
  margin-top: 0 !important; }

.mt-1 {
  margin-top: 1vh !important; }

.mt-2 {
  margin-top: 2vw; }

.mt-3 {
  margin-top: 3vw; }

.mt-4 {
  margin-top: 4vw; }

.w-20 {
  width: 19% !important; }

.w-40 {
  width: 40% !important; }

.w-50 {
  width: 50% !important; }

.w-80 {
  width: 80% !important; }

.w-100 {
  width: 100% !important; }

.tc {
  text-align: center !important; }

.contenedor-principal-calculadora {
  overflow: hidden; }

.close-x-last {
  cursor: pointer;
  background-color: #f68b1f;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  font-size: 3vh;
  width: 5vh;
  height: 5vh;
  font-family: "Roboto Bold", sans-serif;
  border: none;
  padding: 1px;
  float: right;
  right: 0.5vw;
  top: 1vh;
  z-index: 1; }

.titlecont {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: space-between;
  background-color: #006fba;
  color: #fff;
  padding: 1vh 0 1vh 0;
  z-index: 999; }
  .titlecont .titulo-calculadora .title-inside {
    font-size: 3vh;
    font-family: "Roboto Light", sans-serif;
    margin: 0 0 0 8rem; }
  .titlecont .titulo-calculadora .steps-calc {
    align-items: center; }
    .titlecont .titulo-calculadora .steps-calc .pasos {
      margin: 0 1rem;
      font-size: 2vh;
      font-family: "Roboto Medium"; }
      .titlecont .titulo-calculadora .steps-calc .pasos .steps {
        color: #f68b1f;
        font-family: "Roboto Bold";
        font-weight: bolder; }
    .titlecont .titulo-calculadora .steps-calc .close-x {
      cursor: pointer;
      background-color: #f68b1f;
      border-radius: 50%;
      position: relative;
      color: #fff;
      font-size: 2.5vh;
      width: 4vh;
      height: 4vh;
      font-family: "Roboto Medium", sans-serif;
      margin-right: 1rem;
      border: none;
      padding: 1px; }

.overlay-controls {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100%;
  z-index: 999; }

#project.missing-select {
  border: 1px solid #006fba !important; }

.ipt-b {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 1vh 3.5vw 1vh .5vw;
  width: 100%;
  background: transparent;
  color: #757575;
  font-size: 1.25vw;
  transition: opacity 0.3s;
  opacity: 0.8;
  margin: auto;
  font-family: "Roboto Medium", sans-serif; }

.ipt-b:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: transparent; }

.ui-autocomplete {
  z-index: 9999999 !important;
  overflow-y: scroll;
  max-height: 39vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute !important;
  padding: .5rem 0;
  margin: .125rem 0 0;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important; }
  .ui-autocomplete .ui-menu-item {
    cursor: pointer; }
  .ui-autocomplete .ui-menu-item-wrapper {
    margin: 5px 10px;
    font-size: 1.25vw;
    padding: 0.5rem;
    font-family: "Roboto Medium", sans-serif; }
  .ui-autocomplete .ui-menu-item-wrapper:hover {
    border-radius: 2px;
    background-color: #f68b1f !important;
    color: #fff !important;
    transition: all .1s linear;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

i {
  display: inline-block;
  padding: 10px; }

.down-window {
  border: solid #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 0 3px 3px 0;
  padding: .3vw;
  margin-top: -5px; }

.top-window {
  border: solid #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 3px 0px 0px 3px;
  padding: .3vw;
  margin-top: 5px; }

.plus-controls {
  position: relative;
  /* Vertical line */
  /* horizontal line */ }
  .plus-controls:before, .plus-controls:after {
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.25s ease-out; }
  .plus-controls:before {
    top: 2px;
    left: 49%;
    width: 4px;
    height: 80%;
    margin-left: -2px; }
  .plus-controls:after {
    top: 50%;
    left: 1.5px;
    width: 80%;
    height: 4px;
    margin-top: -2px; }

.minus:before {
  display: none; }

/**Dropdown Selector*/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: "Roboto Medium", sans-serif; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25); }

.select-selected.missing-select {
  border: 1px solid #006fba !important; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style items (options):*/
.select-items {
  position: absolute !important;
  z-index: 9999999 !important;
  overflow-y: auto;
  max-height: 35vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  left: 0;
  right: 0;
  top: 100%;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  padding: 0 0.5rem 0.5rem; }

.select-items div, .select-selected {
  margin: 2px 0px;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  font-size: 1.25vw;
  cursor: pointer;
  user-select: none;
  border-radius: 0.25rem;
  text-align: left; }

.select-selected:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05); }

.select-selected.inactive {
  color: #757575;
  background-color: #ebebeb;
  border-color: #adadad !important;
  content: no-open-quote;
  cursor: not-allowed;
  pointer-events: none;
  z-index: 1; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  border-radius: 2px;
  background-color: #f68b1f !important;
  color: #fff !important;
  transition: all .1s linear;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/****icono del reset***/
.icono-reset {
  height: 9%;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-left-color: transparent;
  margin-top: 10px; }

.icono-reset:before {
  position: absolute;
  width: 0;
  height: 0;
  left: -7px;
  bottom: 0;
  border-width: 6px;
  border-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

[class*=icono-][class*=Circle],
[class*=icono-][class*=Square],
[class*=icono-check][class*=Circle] {
  border: 2px solid; }

[class*=icono-] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #717171;
  text-align: left;
  text-indent: -9999px;
  direction: ltr; }

[class*=icono-]:after,
[class*=icono-]:before {
  content: '';
  pointer-events: none; }

[class*=icono-][class*=Circle] {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 2px; }

[class*=icono-][class*=Square] {
  border-radius: 4px;
  width: 30px;
  height: 30px;
  margin: 2px; }

/* ================================ TERMINAN ESTILOS ESPEC├ìFICOS DE LA CALCULADORA ===========================*/
.btn-or {
  background-color: #f68b1f;
  line-height: 1.25;
  font-size: 2vh;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05); }

#results {
  right: 0;
  position: fixed;
  width: 55%;
  height: 100%;
  overflow-y: auto;
  background-color: #006fba; }

#selector-float {
  color: #757575;
  overflow: auto;
  z-index: 1050;
  width: 40%;
  height: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.59) 0px -14px 20px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px; }

.ca {
  color: #006fba; }

.btn-group {
  position: relative;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto; }
  .btn-group > .btn {
    position: relative;
    float: left; }

#text {
  position: absolute;
  top: 25%;
  right: 0;
  width: 50vw;
  padding-right: 1vw;
  color: white; }
  #text p {
    font-size: 2.5vw;
    font-family: "Roboto Light", sans-serif;
    font-weight: 100; }
  #text .bullets {
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
    font-size: 2.5vw; }
    #text .bullets span {
      color: #f68b1f; }

.btn {
  padding: .6vw;
  vertical-align: middle;
  display: inline-block;
  zoom: 1; }

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /* Black background with opacity */
  z-index: 9;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */ }

.btn-circ {
  cursor: pointer;
  font-family: "Roboto Medium", sans-serif;
  border-radius: 50%;
  width: 2.5vh;
  font-size: 1vw;
  background-color: #FFF;
  color: #757575;
  padding: 1vh;
  display: inline-block;
  zoom: 1;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: unset;
  width: 1vw; }

.btn-dual-x {
  cursor: pointer;
  background-color: #fff;
  color: #757575;
  transition: .2s ease-out;
  font-size: 1.4vw;
  width: 11.5vw;
  height: 2.5vw;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.btn-dual-y {
  cursor: pointer;
  background-color: #fff;
  color: #757575;
  transition: .2s ease-out;
  font-size: 1vw;
  width: 9vw;
  height: 2.5vw;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.btn-dual-x.selected {
  background-color: #006fba;
  color: #FFF; }

.card.selected {
  background-color: #006fba;
  color: #FFF; }
  .card.selected .card-body .cuadro {
    filter: invert(100%) brightness(1) sepia(0) hue-rotate(0) saturate(1) !important; }

.btn-dual-y.selected {
  background-color: #006fba;
  color: #FFF; }

.btn-dual.selected {
  background-color: #006fba;
  color: #FFF; }

.btn-circ.selected {
  background-color: #006fba;
  color: #FFF; }

.reset {
  background-color: #f68b1f;
  color: #fff;
  border-radius: 50%;
  width: 3vw;
  height: 2.5vw;
  font-size: 1.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05); }
  .reset .flecha-reset {
    transform: rotate(135deg);
    margin: 0px 0px 0px 2px; }

.reset-2 {
  color: #f68b1f;
  border-radius: 50%;
  width: 3vw;
  height: 2.5vw;
  font-size: 2vw;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .reset-2 .flecha-reset {
    transform: rotate(135deg);
    margin: 3px 0px 0px 2px; }

.sel {
  width: 48%;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  align-items: center; }

.alert-primary {
  color: #757575;
  background-color: #ebebeb;
  border-color: #adadad !important;
  font-family: "Roboto Medium", sans-serif; }

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.bl {
  border-radius: 10px 0 0 10px; }

.bl:nth-child(2) {
  border-radius: 0 10px 10px 0px;
  margin-left: -0.5vw; }

.btn-dual {
  cursor: pointer;
  background-color: #fff;
  color: #757575;
  transition: .2s ease-out;
  font-size: 1vw;
  width: 7vw;
  height: 2vw;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.mr {
  margin-right: 2vw; }

#results {
  color: #FFF; }

.center {
  display: flex;
  justify-content: center;
  margin-top: 7vh; }

.PromotionGlobalLarge-videoBackgroundWrapper {
  position: relative;
  width: 100%;
  max-height: 70vh;
  z-index: 0;
  transition: width 500ms; }

.PromotionGlobalLarge-videoBackground {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #0B2343;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Medium", sans-serif;
  line-height: normal;
  margin: 0; }

.pad {
  padding: 20px; }

#first {
  text-align: center;
  background-color: #006fba;
  padding: 2vw 3vh 2vw 3vw;
  position: relative;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: unset; }
  #first .rs-carrera {
    font-family: "Roboto Medium",sans-serif;
    font-weight: 300;
    font-size: 4vh;
    text-align: left;
    margin: 1vh 0;
    letter-spacing: 1px; }
  #first .sub-carrera {
    display: flex;
    justify-content: flex-start;
    margin: 2vh 0;
    width: auto; }
  #first .rs-mod, #first .rs-campus, #first .rs-line {
    font-size: 3vh;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300; }
  #first .calc-becas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%; }
    #first .calc-becas > .resumen {
      width: 100%; }
      #first .calc-becas > .resumen > .resumen-sub {
        font-size: 2.5vh;
        font-family: "Roboto Light", sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: left;
        margin: 1vh 0; }
      #first .calc-becas > .resumen > span {
        font-size: 3.5vw;
        font-family: "Roboto Medium", sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
        float: left; }
  #first .copy {
    font-size: 1.5vw; }
    #first .copy .copy-line {
      justify-content: space-between; }
      #first .copy .copy-line .btn-copy {
        font-size: 3vh;
        font-family: "Roboto Light", sans-serif;
        font-weight: 300; }

.scrollbar-calculadora::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out; }

.scrollbar-calculadora::-webkit-scrollbar-thumb {
  background: #006fba;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px -5px 5px #4289e0 inset, 4px 3px 3px #9ee2e1 inset; }

.scrollbar-calculadora::-webkit-scrollbar-track {
  background: #FBFBFB;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) inset; }

.blur {
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px); }

.check:nth-child(2) li:before {
  content: "\2714\0020";
  color: #f68b1f;
  font-size: 2vw;
  margin-right: 4px; }

/* OR */
#resumen {
  background-color: #02538b;
  padding: 2vw;
  position: relative;
  overflow: auto; }
  #resumen .copy .copy-sub {
    font-size: 1.8vw;
    font-family: "Roboto Medium", sans-serif;
    letter-spacing: 1px; }
  #resumen .copy .copy-plan {
    font-size: 2vw;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left; }
  #resumen .copy .btn-descarga {
    border: solid 2px;
    border-radius: 3px; }
  #resumen .copy .check {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
    padding: 0; }
    #resumen .copy .check li {
      display: inline-flex;
      align-items: center;
      font-family: "Roboto Light", sans-serif;
      letter-spacing: 1px;
      margin: 0.25vh 0;
      line-height: 1.25; }

.politicas {
  text-align: right; }
  .politicas p {
    font-size: 1.5vh;
    font-family: "Roboto Light";
    letter-spacing: 1px;
    margin: 0; }

.controls {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  left: 4vw;
  margin-top: 5vh; }

.back {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5.5vh;
  height: 5.5vh; }

i.left {
  border: solid #757575;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 0px 0px 3px 3px;
  padding: .4vw;
  margin-right: -6px; }

.abajo {
  position: relative;
  right: 2vw;
  z-index: -1; }

i.ver-abajo {
  border: solid #f68b1f;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 0px 3px 3px 0px;
  padding: .3vw;
  margin-top: -5px; }

.more {
  background-color: #f68b1f;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  right: 48%;
  align-items: center;
  border-radius: 50%;
  width: 4.5vh;
  height: 4.5vh;
  margin-top: -2vh;
  cursor: pointer;
  -webkit-animation: parpadeo 2s;
  -moz-animation: parpadeo 2s;
  animation: parpadeo 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.more-controls {
  background-color: #f68b1f;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  right: 93%;
  align-items: center;
  border-radius: 50%;
  width: 4.5vh;
  height: 4.5vh;
  margin-top: 48vh;
  cursor: pointer; }

.adjust-container {
  padding: 0px !important;
  display: block;
  margin-bottom: -9vh;
  margin-top: -3vh; }

@keyframes parpadeo {
  0% {
    background-color: transparent; }
  100% {
    background-color: #f68b1f; } }
@-webkit-keyframes parpadeo {
  0% {
    background-color: transparent; }
  100% {
    background-color: #f68b1f; } }
.materias {
  text-align: center;
  margin: 2vh auto; }

.subtitulo {
  margin: 1vh 0;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 500;
  font-size: 3vh;
  text-align: center; }

.label {
  margin: 0px 0px 0.5vh 0px; }

.containerFirst {
  padding: 0 5vh; }
  .containerFirst .quest {
    padding: 0 1vw; }

.containerSecond {
  height: 100%;
  padding: 0 2vh;
  flex-direction: column;
  justify-content: space-around; }
  .containerSecond .subtitulo {
    font-size: 2vh;
    text-align: left;
    margin: 1vh; }

.cont-quest > .quest > .sliderCalc {
  display: block; }
  .cont-quest > .quest > .sliderCalc > .output {
    width: 15vw;
    height: 13vw;
    margin: 0 auto;
    font-size: 12vw;
    color: #006ebb;
    background-color: #FFF;
    font-family: "Roboto Medium",sans-serif;
    font-weight: 600; }
.cont-quest > .quest > .desc-subtitle {
  margin: 1vh 0 2vh 0;
  color: #757575;
  text-align: center;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
  font-size: 2.2vh; }
.cont-quest .card {
  border-radius: .25rem;
  margin: 1vw; }
  .cont-quest .card .card-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
    font-weight: 400; }
    .cont-quest .card .card-body > h5 {
      margin-bottom: 2vh;
      font-size: 2vh;
      font-weight: 400; }
    .cont-quest .card .card-body > .PREPA {
      background-image: url("/assets/preparatoria.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .cont-quest .card .card-body > .UG {
      background-image: url("/assets/licenciatura.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .cont-quest .card .card-body > .ING {
      background-image: url("/assets/ingenieria.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .cont-quest .card .card-body > .CS {
      background-image: url("/assets/salud.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .cont-quest .card .card-body > .POS {
      background-image: url("/assets/posgrado.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .cont-quest .card .card-body .DIP {
      background-image: url("/assets/diplomado.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .cont-quest .card .card-body > .cuadro {
      height: 10vh;
      margin: 2vh 0;
      filter: invert(100%) brightness(0.4) sepia(0) hue-rotate(0deg) saturate(1); }
    .cont-quest .card .card-body > .btn-dtc {
      display: inline; }

.card-calculadora {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2vw;
  vertical-align: middle;
  padding: 1.2vh 0;
  margin: 0 2px; }

.card-adapted {
  cursor: pointer;
  background: #f68b1f;
  color: white; }

.btn-dtc {
  display: none; }

.btn:not([disabled]):not(.disabled) {
  cursor: pointer; }

.btn.btn-sm {
  font-size: .6rem;
  padding: .5rem 1.6rem; }

.btn.btn-sm, .btn.wishlist {
  font-size: .6rem;
  padding: .5rem 1.6rem; }

.btn-dtc {
  background: #086fb9; }

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 1; }

body {
  background: white; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 2.5vh;
  border-radius: 10px;
  background: #eeeeee;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 98%;
  height: 0.3rem;
  cursor: pointer;
  background: #eee;
  border-radius: 5px; }

input[type=range]::-webkit-slider-thumb {
  height: 2vw;
  width: 2vw;
  border-radius: 2vw;
  background: #0275d8;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.9vw; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: #eee;
  border-radius: 5px; }

input[type=range]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background: #0275d8;
  border: none;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #e1e1e1;
  border-radius: 10px; }

input[type=range]::-ms-fill-upper {
  background: #eee;
  border-radius: 10px; }

input[type=range]::-ms-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background: #0275d8;
  border: none;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #eee; }

datalist {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 1vh;
  font-family: "Roboto Medium", sans-serif; }
  datalist :nth-child(1) {
    padding-left: 0.5rem; }
  datalist :nth-child(2) {
    padding-left: 0.3rem; }
  datalist :nth-child(3) {
    padding-left: 0.3rem; }
  datalist :nth-child(4) {
    padding-left: 0.3rem; }

datalist option::before {
  content: '';
  display: block;
  width: 0px;
  border: 1px solid #aba99e;
  height: 1.3vh;
  margin: auto; }

.output {
  background-color: #006ebb;
  width: 6vw;
  height: 5vw;
  color: #FFF;
  display: flex;
  align-items: center;
  margin-top: 0.5vh;
  margin-right: 1vw;
  font-size: 2.5vw;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  font-family: "Roboto Medium",sans-serif; }

.p-activa {
  visibility: visible;
  height: auto; }

.hide {
  display: none; }

.hide-prepa {
  display: none !important; }

.hidev {
  visibility: hidden; }

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.Aligner-item {
  max-width: 50%; }

.Aligner-item--top {
  align-self: flex-start; }

.Aligner-item--bottom {
  align-self: flex-end; }

.desc-subtitle {
  margin: 1vh 0 2vh;
  font-family: "Roboto Light", sans-serif;
  text-align: center;
  font-size: 2.2vh; }

.an-slideUp {
  position: relative;
  animation: animatebottom 0.4s; }

@keyframes animatebottom {
  from {
    top: 0px;
    opacity: 1; }
  to {
    top: -300px;
    opacity: 0; } }
.an-slideDownToUp {
  position: relative;
  animation: animatestu 0.4s; }

@keyframes animatestu {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

div.main {
  width: 100%;
  height: auto; }

div#footer {
  width: 100%;
  height: 200px;
  background: yellow; }

#project-label {
  display: block;
  font-weight: bold;
  margin-bottom: 1em; }

#project-icon {
  float: left;
  height: 32px;
  width: 32px; }

#project-description {
  margin: 0;
  padding: 0; }

#selector-float {
  width: 100%;
  z-index: 1050;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; }

span.thumb {
  display: none; }

.cont-video-beca-open {
  display: flex; }

.cont-left-open {
  width: 75%; }

.cont-right-open {
  width: 15%;
  padding: 5vh 4vw; }

.cont-video-beca-close {
  display: block; }

.cont-left-close {
  width: 100%; }

.cont-right-close {
  width: 100%;
  padding: 0;
  margin-top: 2vh; }
  .cont-right-close .calc-becas {
    flex-direction: row !important;
    justify-content: space-between !important; }
    .cont-right-close .calc-becas .resumen-sub {
      text-align: center !important; }
    .cont-right-close .calc-becas .rs-beca, .cont-right-close .calc-becas .rs-pg-final, .cont-right-close .calc-becas .rs-ahorro-mns {
      font-size: 2.5vw !important; }
    .cont-right-close .calc-becas span {
      float: none !important; }

/************* MEDIA QUERY'S PARA LA VERSI├ôN MOBILE ***********/
@media (max-width: 750px) {
  .main-calculadora-todo {
    display: flex;
    flex-direction: column; }

  #results, #selector-float {
    position: relative;
    width: 100vw !important; }

  #selector-float {
    height: 100vh !important;
    flex-direction: initial; }

  #first {
    padding: 1vw 3vh 1vw 2vw; }

  .containerFirst {
    width: 95vw;
    padding: 0 1vh; }

  .btn-group {
    flex-wrap: wrap; } }
.pruebaCalc {
  display: inline; }

.col-cuadros-ciclos {
  height: 30vh !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 5px;
  padding: 1.2vh 0;
  margin: 0 5px;
  text-align: center; }

.btn-ciclos {
  width: 80% !important;
  font-size: 1rem !important;
  padding: 5px; }

.cuadro-periodo {
  -webkit-mask-size: 65px 65px !important;
  mask-size: 65px 65px !important;
  margin: 15px 0; }

.btn-return-form {
  font-size: 2rem;
  z-index: 1;
  width: 37px;
  height: 37px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.btn-return-form:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer; }

.breadcrumbs {
  position: absolute;
  top: 60px; }

.bread-name {
  line-height: 0;
  color: #757575;
  font-size: 14px;
  font-weight: 400; }

.breadActive {
  color: #f68b1f; }
