/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.content-gral-procesos {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000;
  position: relative; }

.cont-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 765px; }

li.nav-item-2.nav-item {
  width: 100%;
  margin-left: 0px; }

a.linkSecundario {
  margin: 0;
  font-size: 1rem;
  font-weight: 400 !important;
  padding: 0px !important;
  display: inline-block !important;
  color: #F68B1F !important; }

section#tabNav {
  align-items: center; }
  section#tabNav.free {
    align-items: end; }
    section#tabNav.free i.direccionales {
      /* font-size: 40px;
      background-color: #f68b1f;
      border-radius: 50%;
      color: white; */ }
      section#tabNav.free i.direccionales:first-child {
        margin-right: 5px; }
      section#tabNav.free i.direccionales:last-child {
        margin-left: 5px; }
  section#tabNav .tabs-wrapper {
    flex: 1; }
    section#tabNav .tabs-wrapper ul.nav::-webkit-scrollbar {
      display: none;
      width: 0px;
      height: 0px; }
    section#tabNav .tabs-wrapper ul.nav ::-moz-scrollbar-track {
      -moz-box-shadow: inset 0 0 6px red;
      background: red; }
    section#tabNav .tabs-wrapper ul.nav ::-moz-scrollbar-thumb {
      border-radius: 10px;
      -moz-box-shadow: inset 0 0 6px red;
      background: greenyellow; }
  section#tabNav i.direccionales {
    color: #F68B1F; }
    section#tabNav i.direccionales:first-child {
      margin-right: 5px; }
    section#tabNav i.direccionales:last-child {
      margin-left: 5px; }

/* Finalizan estilos para tabs custom */
.nextSeccion {
  padding: 10px;
  font-family: inherit;
  font-weight: 400;
  display: inline-block !important;
  color: #FFFFFF;
  background-color: #006fba;
  outline: none;
  border: 0 solid transparent;
  cursor: pointer; }

/* Inician estilos para lista simple */
.titulo-stepper {
  font-size: 1rem;
  text-align: left; }

.inicio-clases {
  padding: 1rem 0.7rem !important; }

.alineacion-collapsable {
  padding-left: 2.6875rem !important; }

.asesor {
  margin: auto;
  font-family: inherit;
  font-weight: 400; }

.content-procesos p {
  line-height: normal; }
.content-procesos .botones-coninuar {
  padding: 0px 15px !important; }

.stepper li a .circle {
  font-size: 1rem;
  color: #ffffff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  width: 35px;
  height: 35px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .stepper li a .circle i {
    font-size: 1rem; }

.stepper-vertical li:not(:last-child):after {
  left: 15px; }
