/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.contenedor-testimoniales {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .contenedor-testimoniales .contenido-centrado .titulo-testimoniales {
    font-size: 1.75rem;
    font-weight: 400; }
  .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales {
    overflow: hidden; }
    .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .altura-card {
      min-height: 410px;
      height: auto; }
    .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .front {
      -webkit-backface-visibility: initial;
      backface-visibility: initial;
      background-color: #ffffff; }
    .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .cover {
      position: relative;
      overflow: hidden;
      width: 95%;
      height: 200px;
      top: -2rem;
      box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
      margin: auto;
      background-size: cover;
      background-position: center; }
    .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .content {
      text-align: center;
      line-height: normal;
      position: relative;
      top: -1rem; }
      .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .content .main .name {
        font-weight: normal;
        line-height: normal;
        font-size: 1.125rem; }
      .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .content .main .ocupacion {
        font-weight: 300; }
      .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .content .main .profesion {
        line-height: normal;
        padding-bottom: 10px; }
      .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .content .main .comilla {
        font-weight: 400; }
    .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .footer {
      border-top: 3px solid #eee;
      padding: 10px 30px 10px 30px; }
      .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .footer .navegacion {
        display: flex;
        width: 100%;
        justify-content: space-between; }
        .contenedor-testimoniales .contenido-centrado .cards-testimoniales .carrousel_inner_testimoniales .card-testimonial .footer .navegacion .activator {
          top: 0;
          right: 0;
          padding: 1rem;
          margin-right: 0;
          font-size: 1.5rem;
          color: #999999; }
  .contenedor-testimoniales .contenido-centrado .controls-testimoniales .btn-arrow {
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center; }
    .contenedor-testimoniales .contenido-centrado .controls-testimoniales .btn-arrow .arrow-right, .contenedor-testimoniales .contenido-centrado .controls-testimoniales .btn-arrow .arrow-left {
      font-size: 2.6rem;
      color: #939393; }
