/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

#listado, #detalle {
  background: white;
  z-index: 1000;
  position: relative; }

section.cita {
  height: 100vh;
  background-color: transparent !important; }
  section.cita .video-tour {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover; }
  section.cita .img-background {
    height: 100vh;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  section.cita .container-formulario {
    height: calc(100vh - 60px);
    top: 60px;
    overflow: visible !important;
    background-color: rgba(0, 0, 0, 0.4); }

.overlay-absorcion {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  cursor: pointer; }

.tituloBanner {
  font-weight: 400 !important; }

.subtituloBanner {
  font-size: 1.5rem;
  font-weight: 300; }

.bulletCita {
  font-size: 1.40rem; }

.md-select-form label, .md-form label {
  font-size: 0.85rem !important;
  font-weight: 300; }

.titleCitaThanks {
  color: #006fba; }

.titleCitaLoad {
  color: #fff; }

.textInfoThankYou {
  font-size: 0.85rem; }
  .textInfoThankYou a {
    color: #f68b1f; }

.textThankYou {
  font-weight: 400; }

.lineThankyouCita {
  border: solid 1px #f68b1f; }

.icon i {
  color: #006fba;
  font-size: 1.5rem; }

.blur-absorcion {
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px); }

.card-blue-absorcion {
  background-color: #fff;
  position: absolute;
  z-index: 1; }

.card-formulario {
  float: right; }

.form-head {
  height: 70px; }

.titulo-formulario-expuesto {
  color: #006fba;
  font-weight: 400; }

.descFormExpuesto {
  font-size: 1rem;
  font-weight: 400; }

.frm-politicas-expuestas label {
  font-size: .625rem; }

.span-continuar {
  text-transform: uppercase;
  color: #f68b1f; }

.btn-frm-expuesto {
  background: #f68b1f !important;
  font-size: 1.125rem;
  font-weight: 500; }

input[type=email] {
  height: 2rem; }

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 2px solid #4285f4;
  box-shadow: none !important; }

.form-control {
  padding-bottom: 0; }

.md-form .form-control.is-valid, .was-validated .md-form .form-control:valid {
  padding-right: 0; }

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: #28a745;
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2); }

.md-form .form-control.is-invalid, .was-validated .md-form .form-control:invalid {
  padding-right: 0; }

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2); }

.valid-feedback {
  display: none;
  width: 100%;
  margin-bottom: .25rem;
  font-size: 80%;
  color: #28a745; }

.form-control.is-valid ~ .valid-feedback, .form-control.is-valid ~ .valid-tooltip, .was-validated .form-control:valid ~ .valid-feedback, .was-validated .form-control:valid ~ .valid-tooltip {
  display: block; }

.invalid-feedback {
  display: none;
  width: 100%;
  margin-bottom: .25rem;
  font-size: 80%;
  color: #dc3545; }

.form-control.is-invalid ~ .invalid-feedback, .form-control.is-invalid ~ .invalid-tooltip, .was-validated .form-control:invalid ~ .invalid-feedback, .was-validated .form-control:invalid ~ .invalid-tooltip {
  display: block; }

[type=checkbox] + label:before {
  margin-top: 4px; }

section#tabNav {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center; }
  section#tabNav.free {
    align-items: end; }
    section#tabNav.free i.direccionales:first-child {
      margin-right: 5px; }
    section#tabNav.free i.direccionales:last-child {
      margin-left: 5px; }
  section#tabNav .tabs-wrapper {
    flex: 1; }
    section#tabNav .tabs-wrapper ul.nav::-webkit-scrollbar {
      display: none;
      width: 0px;
      height: 0px; }
    section#tabNav .tabs-wrapper ul.nav ::-moz-scrollbar-track {
      -moz-box-shadow: inset 0 0 6px red;
      background: red; }
    section#tabNav .tabs-wrapper ul.nav ::-moz-scrollbar-thumb {
      border-radius: 10px;
      -moz-box-shadow: inset 0 0 6px red;
      background: greenyellow; }
    section#tabNav .tabs-wrapper ul.nav li.nav-item {
      width: 100%; }
  section#tabNav i.direccionales {
    color: #F68B1F; }
    section#tabNav i.direccionales:first-child {
      margin-right: 5px; }
    section#tabNav i.direccionales:last-child {
      margin-left: 5px; }

.banner-formulario-expuesto {
  margin-top: 52px; }

.dropdown, .dropup {
  position: relative; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none; }

.btn-select {
  border: 0;
  width: 100%;
  float: none;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: left;
  box-shadow: none;
  border-radius: 0;
  font-weight: 300;
  padding: 0.5rem 0;
  font-family: 'Roboto';
  background-color: #fff;
  color: #757575;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center bottom, center calc(100% - 1px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#686868)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
  background-image: linear-gradient(#686868, #686868), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 1px, 100% 1px;
  transition: background 0s ease-out; }

.icon-style {
  color: #f6881f;
  font-size: 1.5rem;
  padding-top: 0.5rem; }

.alturaFila {
  height: 55px !important;
  max-height: 55px !important; }

.alturaHora {
  height: 55px; }

.backHora {
  background-color: #ededed;
  border-bottom: .1rem solid #f6881f !important;
  color: #757575; }

.classic-tabs li a.backHora.active {
  background-color: #f6881f;
  color: #fff; }

.dateBox {
  background-color: #757575; }
  .dateBox span {
    color: #fff !important; }
  .dateBox .date {
    font-size: 0.85rem; }

.dirRight, .dirLeft {
  height: 55px;
  align-items: center;
  background-color: #767676;
  color: #fff !important; }

.px-b {
  padding: 0 0.125rem; }

.btn-frm-expuesto {
  font-size: 1.125rem; }

.md-select-form span {
  color: #f6881f; }

.md-select-form p {
  font-weight: 300; }

label.politicas.light {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: normal; }

.disabled {
  cursor: not-allowed !important;
  color: #cacaca;
  margin: 0.35rem 0; }

.icon-disabled {
  color: #cacaca !important; }

div#co-campus, div#co-fecha {
  overflow-y: auto;
  z-index: 1100; }

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #f6881f !important; }
