/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
.tooltip-info {
  position: relative;
  display: inline-block; }

.tooltip-info .tooltiptext {
  visibility: hidden;
  width: 6rem;
  font-size: 0.75rem;
  background-color: #f68b1f;
  color: #fff;
  text-align: center;
  border-radius: 0.25rem;
  padding: 1rem 0;
  margin-top: -4.75rem;
  left: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.3);
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip-info .tooltiptext:before {
  content: "";
  position: absolute;
  top: 1.95rem;
  width: 0rem;
  height: 0rem;
  border-left: 0.5rem solid transparent;
  /* izquierda flecha */
  border-right: 0.5rem solid transparent;
  /* derecha flecha */
  border-top: 0.5rem solid #f68b1f;
  /* base flecha y color*/
  font-size: 0rem;
  line-height: 0rem; }

.tooltip-info:hover .tooltiptext {
  visibility: visible; }

.botonesUnitecB {
  flex: initial; }
  .botonesUnitecB a {
    width: 100%;
    border-radius: 2px;
    color: #FFFFFF;
    margin: 0;
    font-size: 0.875rem;
    text-decoration: none;
    box-shadow: none !important; }
    .botonesUnitecB a .adjust-botonesUnitecB {
      margin-left: 5px !important;
      margin-right: 5px !important; }
    .botonesUnitecB a .info {
      color: #006fba; }
    .botonesUnitecB a .orange {
      color: #F68B1F; }
    .botonesUnitecB a .default {
      color: #757575; }
  .botonesUnitecB .adjust-botonesUnitecB {
    margin-left: 5px !important;
    margin-right: 5px !important; }

.botones .botones-contacto {
  margin-top: 25px; }
  .botones .botones-contacto .iconos-contacto {
    font-size: 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    line-height: 0;
    margin-top: 0.5rem; }

.filo-inicio-t {
  color: #006fba;
  font-weight: 500; }

.calendario i {
  font-size: 7.5rem;
  color: #ededed; }
.calendario a {
  position: absolute;
  color: #F68B1F; }
  .calendario a:hover, .calendario a:focus {
    color: #F68B1F; }
.calendario .ver-calendario {
  max-width: 6.25rem;
  font-size: 0.75rem;
  font-weight: 400; }

.descripcion {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal; }

.fecha-cluster hr {
  display: none; }
.fecha-cluster > :nth-child(2) {
  padding: 0 !important; }

.btn-default:hover {
  background-color: #5390af !important; }
