/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.cont-principal-oferta {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .filtros-oferta .tabs-wrapper .classic-tabs li:first-child {
    margin-left: 0; }
  .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .titulo-menu-oferta {
    font-size: 1.125rem;
    font-weight: 400; }
  .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta {
    padding: 0.5rem 0; }
    .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-first a:not(.collapsed) .rotate-icon {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      font-weight: 800; }
    .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-first .oferta-tit {
      color: #757575; }
      .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-first .oferta-tit .icon-menu-oferta {
        width: 10%;
        font-size: 1.125rem; }
      .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-first .oferta-tit .txt-menu-oferta {
        width: 80%;
        font-size: 1rem; }
      .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-first .oferta-tit .icon-arrow-oferta {
        width: 10%;
        font-weight: 100; }
    .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-second .padding-bottom-menu {
      padding-bottom: 0.75rem; }
    .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-second .menu-lista {
      justify-content: space-around;
      cursor: pointer; }
      .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-second .menu-lista .item-icon i {
        font-size: 0.875rem; }
      .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .card-menu-oferta .card-second .menu-lista .item-description {
        font-weight: 300;
        width: 90%;
        line-height: 1;
        font-size: 0.875rem;
        color: #757575;
        letter-spacing: -0.1px; }
  .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta {
    width: 100%;
    overflow: hidden; }
    .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta ul {
      display: flex; }
      .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta ul li .card-left {
        width: -webkit-calc(100% + 80px);
        width: -moz-calc(100% + 80px);
        width: calc(100% + 80px);
        height: auto;
        margin-left: -80px;
        background-color: #fff;
        border-radius: .25rem; }
        .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta ul li .card-left .card-unica-int {
          line-height: 1.5; }
    .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card {
      height: 430px; }
      .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta {
        transform-style: flat; }
        .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .front {
          -webkit-backface-visibility: initial;
          backface-visibility: initial; }
          .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .front .cover {
            overflow: hidden;
            border-radius: 4px 4px 0 0;
            height: 155px; }
            .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .front .cover img {
              height: 200px; }
          .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .front .content {
            padding: 10px;
            text-align: left;
            line-height: 1.4;
            /* Altura definida para la descripcion de la carrera relacionada */
            /* height:275px; */
            overflow: hidden;
            font-size: .9375rem;
            font-weight: 300; }
            .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .front .content .main {
              max-height: 35vh;
              color: #757575;
              font-size: 0.95rem;
              letter-spacing: -0.5px; }
              .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .front .content .main .title {
                font-weight: normal;
                font-size: 1rem;
                line-height: normal;
                margin-bottom: 0.5rem; }
        .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .footer {
          border-top: 2px solid #eee;
          width: 100%;
          position: absolute;
          bottom: 0;
          height: 35px; }
          .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .footer .navegacion {
            width: 100%;
            padding: 0 0.5rem; }
          .cont-principal-oferta .oferta-educativa .contenido-oferta-educativa .oferta-card .carrusel-oferta .cards-oferta .carrousel_inner_oferta .altura-card .card-oferta .footer .regresar {
            margin: 0;
            font-size: 1.25rem;
            font-weight: 400;
            display: inline-block;
            color: #757575;
            position: relative;
            float: none;
            right: 0;
            padding: 0; }

.controls .btn-arrow {
  background-color: #ffffff;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  margin: 0rem; }
  .controls .btn-arrow .arrow-right, .controls .btn-arrow .arrow-left {
    font-size: 2.6rem;
    color: #939393; }

.activeOferta {
  font-weight: 500 !important; }
