/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.mapa-campus {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000;
  padding: 0px;
  /*Fix para pintar border en colapsables*/
  /*Fix para pintar border en colapsables*/
  /* fixes potential theme css conflict */
  /* Optional: Makes the sample page fill the window. */ }
  .mapa-campus .geolocalizacion {
    display: flex;
    height: calc(100vh - 60px); }
    .mapa-campus .geolocalizacion .mapa {
      width: 100%;
      height: 100%; }
    .mapa-campus .geolocalizacion .transport-links {
      padding-top: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .mapa-campus .geolocalizacion .transport-links .transport-pilot a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #757575; }
        .mapa-campus .geolocalizacion .transport-links .transport-pilot a span, .mapa-campus .geolocalizacion .transport-links .transport-pilot a i {
          font-size: 38px; }
        .mapa-campus .geolocalizacion .transport-links .transport-pilot a label {
          margin: 0; }
    .mapa-campus .geolocalizacion .card-mapa {
      position: absolute;
      width: 30rem;
      right: 2%;
      top: 5%; }
      .mapa-campus .geolocalizacion .card-mapa .card .card-title-mapa {
        margin-bottom: 0;
        text-align: center;
        border-bottom: none;
        color: #757575;
        font-weight: 400;
        font-size: 1.75rem; }
  .mapa-campus .parametros-geolocalizacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    .mapa-campus .parametros-geolocalizacion .parametros {
      width: 100%;
      display: flex;
      padding-top: 1rem; }
      .mapa-campus .parametros-geolocalizacion .parametros .iconos {
        width: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around; }
        .mapa-campus .parametros-geolocalizacion .parametros .iconos i, .mapa-campus .parametros-geolocalizacion .parametros .iconos span {
          font-size: 1.125rem; }
          .mapa-campus .parametros-geolocalizacion .parametros .iconos i:first-child, .mapa-campus .parametros-geolocalizacion .parametros .iconos span:first-child {
            padding-top: 0.75rem; }
          .mapa-campus .parametros-geolocalizacion .parametros .iconos i:second-child, .mapa-campus .parametros-geolocalizacion .parametros .iconos span:second-child {
            color: #006fba; }
      .mapa-campus .parametros-geolocalizacion .parametros form {
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        flex: 1; }
        .mapa-campus .parametros-geolocalizacion .parametros form input[type=text] {
          border-bottom: solid 1px #006fba;
          font-family: inherit; }
          .mapa-campus .parametros-geolocalizacion .parametros form input[type=text]:focus:not([readonly]).mySuccess {
            border: none !important;
            box-shadow: none !important; }
          .mapa-campus .parametros-geolocalizacion .parametros form input[type=text].mySuccess {
            border: none !important;
            box-shadow: none !important; }
          .mapa-campus .parametros-geolocalizacion .parametros form input[type=text]:focus:not([readonly]).myError {
            border: none !important;
            box-shadow: none !important; }
          .mapa-campus .parametros-geolocalizacion .parametros form input[type=text].myError {
            border: none !important;
            box-shadow: none !important; }
          .mapa-campus .parametros-geolocalizacion .parametros form input[type=text].valid {
            border: none !important;
            box-shadow: none !important; }
    .mapa-campus .parametros-geolocalizacion .botonSecundario {
      margin: 1rem 0;
      width: 90%;
      text-align: center; }
  .mapa-campus .simple-list .list-item-mapa {
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 0.75rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-appearance: none;
    cursor: pointer; }
    .mapa-campus .simple-list .list-item-mapa .item-icon {
      width: 15%;
      display: flex;
      justify-content: center; }
    .mapa-campus .simple-list .list-item-mapa .item-description {
      width: 70%;
      display: flex;
      justify-content: left;
      font-weight: 400; }
    .mapa-campus .simple-list .list-item-mapa .arrow {
      width: 15%;
      display: flex;
      justify-content: center;
      font-size: 1.75rem; }
  .mapa-campus .simple-list.active {
    background-color: transparent; }
    .mapa-campus .simple-list.active .list-item-mapa .list-icon {
      background-color: transparent;
      color: inherit; }
    .mapa-campus .simple-list.active .list-item-mapa .item-description {
      font-weight: 500; }
  .mapa-campus .desplegable {
    padding: 5px 15px; }
    .mapa-campus .desplegable .item-interno .referencia {
      width: 100%;
      margin-bottom: 0;
      font-weight: 400 !important; }
  .mapa-campus .botonesUnitec {
    width: 100% !important; }
    .mapa-campus .botonesUnitec a {
      box-shadow: none;
      margin: 10px 0; }
  .mapa-campus .parametros-geolocalizacion {
    border-bottom: none !important; }
  .mapa-campus #map img {
    max-width: inherit !important; }
  .mapa-campus html, .mapa-campus body {
    height: 100%;
    margin: 0;
    padding: 0; }
  .mapa-campus #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px; }
  .mapa-campus #right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px; }
  .mapa-campus #right-panel select, .mapa-campus #right-panel input {
    font-size: 15px; }
  .mapa-campus #right-panel select {
    width: 100%; }
  .mapa-campus #right-panel i {
    font-size: 12px; }
  .mapa-campus #right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto; }
  .mapa-campus #floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4); }
  @media print {
    .mapa-campus #right-panel {
      float: none;
      width: auto; } }

.fix-margen-cards {
  padding-left: 12%;
  display: flex;
  flex-direction: column; }

.gm-style-iw {
  font-family: Gotham,sans-serif;
  display: flex;
  justify-content: center;
  top: 25px !important; }
  .gm-style-iw .img-mapa {
    width: 300px;
    height: 270px; }
    .gm-style-iw .img-mapa .imagen {
      background-size: cover;
      background-position: center;
      height: 180px; }
    .gm-style-iw .img-mapa .text-img {
      margin-top: 1rem;
      font-size: 0.875rem;
      font-weight: 400; }
