/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
.solicitaInfo {
  position: absolute;
  width: 100%;
  padding: 0;
  top: 1%;
  right: 0;
  z-index: 100;
  height: calc(100vh - 60px); }
  .solicitaInfo .paso2_expuesto {
    background: #fff;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center; }
