/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.card-simple {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .card-simple .cardsbullets .card-right {
    width: -webkit-calc(100% + 50px);
    width: -moz-calc(100% + 50px);
    width: calc(100% + 50px);
    height: auto;
    right: 50px;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 0.25rem; }
  .card-simple .cardsbullets .bullet {
    font-size: 0.5rem;
    color: #006fba;
    padding-right: 1rem; }
  .card-simple .cardsbullets .texto-int-card .card-title-desk {
    color: #006fba;
    font-weight: 400;
    font-size: 1.5rem; }
  .card-simple .cardsbullets .texto-int-card .card-sub-desk {
    font-size: 1rem;
    font-weight: 400; }
  .card-simple .cardsbullets .texto-int-card .card-sub-int {
    font-size: 1rem;
    font-weight: 300; }
  .card-simple .cardsbullets .texto-int-card .ver {
    color: #F68B1F;
    font-weight: 300; }
  .card-simple .cardsbullets .texto-int-card .filo-inicio-t {
    color: #006fba;
    font-weight: 300; }
  .card-simple .cardsbullets ul li {
    display: inline-flex;
    align-items: baseline;
    font-weight: 300 !important; }
    .card-simple .cardsbullets ul li span {
      color: #757575;
      font-weight: 300;
      font-size: 1rem;
      line-height: normal; }

@media (max-width: 1200px) {
  .card-left, .card-right {
    margin-left: 0px !important;
    width: 100% !important;
    right: 0px !important; } }
