/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.contenedor-nuevas-carreras {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .contenedor-nuevas-carreras .svg-top {
    fill: #ededed;
    margin-bottom: -10px;
    -webkit-transform: rotateY(180deg);
    /* Chrome, Safari, Opera */
    -ms-transform: rotateY(180deg);
    /* IE 9 */
    transform: rotateY(180deg); }
  .contenedor-nuevas-carreras .svg-bottom {
    fill: #ededed;
    margin-top: -10px;
    -webkit-transform: rotateZ(180deg);
    /* Chrome, Safari, Opera */
    -ms-transform: rotateZ(180deg);
    /* IE 9 */
    transform: rotateZ(180deg); }
  .contenedor-nuevas-carreras .back-carreras {
    background: #ededed; }
  .contenedor-nuevas-carreras .contenido-centrado .cards-nuevas-carreras .carrousel_inner_nuevas_carreras {
    overflow: hidden;
    /**************** Inician estilos del loader images *********************/
    /**************** Terminan estilos del loader images *********************/ }
    .contenedor-nuevas-carreras .contenido-centrado .cards-nuevas-carreras .carrousel_inner_nuevas_carreras .loader {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 19.5rem;
      background: url("../../../../../../../assets/cargando.gif") 50% 50% no-repeat #f9f9f9;
      background-size: 10%; }
    .contenedor-nuevas-carreras .contenido-centrado .cards-nuevas-carreras .carrousel_inner_nuevas_carreras .card-wrapper {
      height: 210px; }
    .contenedor-nuevas-carreras .contenido-centrado .cards-nuevas-carreras .carrousel_inner_nuevas_carreras .front {
      -webkit-backface-visibility: initial;
      backface-visibility: initial;
      background-color: #ffffff;
      box-shadow: none; }
      .contenedor-nuevas-carreras .contenido-centrado .cards-nuevas-carreras .carrousel_inner_nuevas_carreras .front .card-title-nuevas-carreras {
        height: 3rem;
        font-weight: 300;
        font-size: 1.35rem;
        margin: 1rem 0 0.5rem;
        word-break: break-word; }
    .contenedor-nuevas-carreras .contenido-centrado .cards-nuevas-carreras .carrousel_inner_nuevas_carreras .card-text {
      color: #757575;
      font-weight: 300;
      line-height: normal;
      text-align: left;
      height: 4.5rem; }
    .contenedor-nuevas-carreras .contenido-centrado .cards-nuevas-carreras .carrousel_inner_nuevas_carreras .icon-u-cerrar:before {
      color: #424242 !important;
      font-size: 25px !important; }
  .contenedor-nuevas-carreras .contenido-centrado .controls-nuevas-carreras .btn-arrow {
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center; }
    .contenedor-nuevas-carreras .contenido-centrado .controls-nuevas-carreras .btn-arrow .arrow-right, .contenedor-nuevas-carreras .contenido-centrado .controls-nuevas-carreras .btn-arrow .arrow-left {
      font-size: 2.6rem;
      color: #939393; }

.share .activator {
  color: #757575;
  font-size: 1.5rem;
  font-weight: 500; }

a .new-ofert {
  color: #fff;
  font-weight: 400;
  padding: 0.25rem 1rem;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  margin: 1rem;
  right: 0; }

.verMasNewCareers {
  border: solid 1px;
  border-radius: 3px;
  color: #F68B1F; }

.verMasNewCareers:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.08);
  -webkit-filter: brightness(110%);
  filter: brightness(110%); }

.default {
  background-color: #066fba; }

.licenciatura {
  background-color: #F1C40F; }

.preparatoria-2 {
  background-color: #59B14F; }

.ingenieria {
  background-color: #8B254F; }

.especialidad {
  background-color: #42748D; }

.diplomado {
  background-color: #CCDB2A; }

.maestria {
  background-color: #00AFA9; }
