/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
.mask .pleca {
  min-height: 70vh;
  background-color: rgba(0, 80, 160, 0.9); }
  .mask .pleca .alineacion-texto .descripcion-banner {
    font-weight: 300; }
  .mask .pleca .alineacion-texto .subtitulo-banner {
    font-weight: 300; }
  .mask .pleca .alineacion-texto .texto-claro {
    color: #ffffff; }
