@charset "UTF-8";
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.titleGalerias {
  font-weight: 500;
  font-size: 1rem; }

#modal-tarjeta-galeria-carrusel {
  padding: 0rem !important;
  overflow: hidden !important; }
  #modal-tarjeta-galeria-carrusel .modal-fluid {
    max-width: none;
    position: relative;
    margin: 0 auto; }
  #modal-tarjeta-galeria-carrusel .modal-content {
    min-height: calc(100vh);
    background-color: #ffffff;
    font-size: 1rem;
    border: none; }
    #modal-tarjeta-galeria-carrusel .modal-content .icons {
      position: absolute;
      z-index: 100;
      right: 1rem;
      top: 0.5rem;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      background-color: #F68B1F;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      #modal-tarjeta-galeria-carrusel .modal-content .icons a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
    #modal-tarjeta-galeria-carrusel .modal-content .icon-u-cerrar:before {
      color: #ffffff;
      font-size: 22px; }
    #modal-tarjeta-galeria-carrusel .modal-content .modal-header .imgMin {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: .5rem; }
      #modal-tarjeta-galeria-carrusel .modal-content .modal-header .imgMin img {
        width: inherit;
        height: inherit; }
      #modal-tarjeta-galeria-carrusel .modal-content .modal-header .imgMin .portada-galeria {
        width: 100%;
        max-width: 125px !important;
        margin: 0 !important;
        margin-right: 8px !important; }
    #modal-tarjeta-galeria-carrusel .modal-content .modal-header .description {
      flex: 1;
      line-height: 0.75rem;
      font-weight: 200;
      font-size: 0.875rem; }
      #modal-tarjeta-galeria-carrusel .modal-content .modal-header .description .nombre, #modal-tarjeta-galeria-carrusel .modal-content .modal-header .description .testimonio-title {
        font-size: inherit;
        font-weight: 400; }
    #modal-tarjeta-galeria-carrusel .modal-content .modal-header .icons .puntos-tarjeta {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 1rem;
      color: #757575; }
      #modal-tarjeta-galeria-carrusel .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item {
        display: flex !important;
        align-items: center;
        padding: 3px 1rem !important;
        color: inherit; }
        #modal-tarjeta-galeria-carrusel .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item i, #modal-tarjeta-galeria-carrusel .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item span {
          color: inherit;
          font-size: 1rem;
          padding-right: 0.5rem; }
    #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner {
      height: 100vh;
      box-shadow: none; }
      #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner .cont-modal {
        margin: auto;
        height: 100vh;
        width: 90%;
        text-align: center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: cover;
        background-position: center; }
        #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner .cont-modal iframe, #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner .cont-modal img, #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner .cont-modal audio, #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner .cont-modal video {
          max-height: 100vh;
          min-height: 100vh;
          min-width: 99%;
          margin: auto; }
        #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner .cont-modal .right {
          bottom: 2rem;
          position: absolute; }
          #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner .cont-modal .right .modal-footer {
            background-color: #ffffff;
            width: 26.25rem;
            padding: 1rem;
            border-right: solid 0.25rem #006fba; }
            #modal-tarjeta-galeria-carrusel .modal-content .carousel-inner .cont-modal .right .modal-footer p {
              font-weight: 400;
              margin: 0;
              line-height: normal; }

/*Clases para la navegacion en caso de que sea un iframe de youtube*/
.div-yt-video {
  padding: 0 !important; }

.div-yt-video-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-align: center; }

.div-yt-video-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-align: center; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item {
  width: 50%;
  float: left; }

.grid-item-video, video {
  width: 100%;
  float: left; }

.content-portadas-galeria {
  width: 100%;
  margin: auto;
  max-width: 90%; }
  .content-portadas-galeria .portada-galeria img {
    width: 72px !important;
    height: 70px !important;
    border-radius: 50%;
    margin: auto; }

/* Inician los estilos de la galer├¡a desktop */
.contenedor-galeria {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .contenedor-galeria .fila-galeria .carrousel_inner {
    overflow: hidden; }
  .contenedor-galeria .fila-galeria .collection-card .view {
    cursor: pointer; }
  .contenedor-galeria .fila-galeria .collection-card .stripe.dark {
    background-color: rgba(0, 80, 160, 0.7); }
  .contenedor-galeria .fila-galeria .collection-card .stripe {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 1.2rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .contenedor-galeria .fila-galeria .collection-card .stripe.dark p {
    color: #eee; }
  .contenedor-galeria .fila-galeria .collection-card .stripe p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem; }
  .contenedor-galeria .fila-galeria .zoom:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .contenedor-galeria .fila-galeria .zoom img {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }

.controls-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0rem;
  padding: 1rem; }
  .controls-top .btn-arrow {
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    margin: 0rem; }
    .controls-top .btn-arrow .arrow-right {
      padding-right: 0.25rem;
      font-size: 2.6rem;
      color: #939393; }
    .controls-top .btn-arrow .arrow-left {
      padding-left: 0.25rem;
      font-size: 2.6rem;
      color: #939393; }

.controls-gallery .carrousel_left {
  position: absolute;
  left: 1.5%;
  z-index: 10; }
.controls-gallery .carrousel_right {
  position: absolute;
  right: 1.5%;
  z-index: 10; }
.controls-gallery .btn-arrow {
  background-color: #ffffff;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  margin: 0rem; }
  .controls-gallery .btn-arrow .arrow-right {
    padding-right: 0.25rem;
    font-size: 2.6rem;
    color: #939393; }
  .controls-gallery .btn-arrow .arrow-left {
    padding-left: 0.25rem;
    font-size: 2.6rem;
    color: #939393; }

/* Terminan los estilos de la galer├¡a desktop */
.scroll-hiden {
  overflow: hidden; }
