/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.card-basica {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000;
  position: relative; }
  .card-basica .tabs-dinamicas {
    flex-wrap: wrap;
    min-height: fit-content; }
    .card-basica .tabs-dinamicas li.nav-item {
      width: 250px; }
  .card-basica .cardstext .card-inversa {
    flex-direction: row-reverse; }
  .card-basica .cardstext .card-left {
    width: -webkit-calc(100% + 90px);
    width: -moz-calc(100% + 90px);
    width: calc(100% + 90px);
    height: auto;
    margin-left: -75px;
    background-color: #FFFFFF;
    border-radius: 0.25rem; }
  .card-basica .cardstext .card-right {
    width: -webkit-calc(100% + 90px);
    width: -moz-calc(100% + 90px);
    width: calc(100% + 90px);
    height: auto;
    right: 15px;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 0.25rem; }
  .card-basica .cardstext .bullet {
    font-size: 0.5rem;
    color: #006fba;
    padding-right: 1rem; }
  .card-basica .cardstext .texto-int-card .card-title-desk {
    color: #006fba;
    font-weight: 400;
    font-size: 1.5rem; }
  .card-basica .cardstext .texto-int-card .card-sub-desk {
    font-size: 1.15rem; }
  .card-basica .cardstext .texto-int-card .filo-inicio-t {
    color: #006fba;
    font-weight: 500; }
  .card-basica .cardstext ul li {
    display: inline-flex;
    align-items: baseline;
    font-weight: 300 !important; }
    .card-basica .cardstext ul li span {
      color: #757575;
      font-weight: 300;
      font-size: 1rem;
      line-height: normal; }

.carrousel_inner_cards_basicas {
  overflow: hidden; }

.controls-card-basica .btn-arrow {
  background-color: #ffffff;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center; }
  .controls-card-basica .btn-arrow .arrow-right, .controls-card-basica .btn-arrow .arrow-left {
    font-size: 2.6rem;
    color: #939393; }

@media (max-width: 1200px) {
  .card-left, .card-right {
    margin-left: 0px !important;
    width: 100% !important;
    right: 0px !important; } }
