/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.contenedor-carreras {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .contenedor-carreras .contenido-centrado .titulo-carreras {
    font-size: 1.75rem;
    font-weight: 400; }
  .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras {
    overflow: hidden; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .front, .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .back {
      height: 485px;
      overflow: hidden;
      z-index: 2;
      -webkit-transition: -webkit-transform 0.8s;
      transition: transform 0.8s; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .front .cover img {
      max-height: 290px; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .front .content {
      padding: 10px;
      line-height: 1.4;
      color: #757575; }
      .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .front .content .title {
        font-weight: normal;
        line-height: normal;
        font-size: 1.125rem; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .front .footer {
      background-color: #ffffff;
      border-top: 3px solid #ededed;
      padding: 5px 15px 5px 15px;
      position: absolute;
      bottom: 0; }
      .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .front .footer .activator {
        font-size: 1.5rem;
        color: #999999; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .back .content {
      line-height: normal; }
      .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .back .content .main {
        min-height: 265px; }
      .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .back .content .title {
        font-weight: normal;
        line-height: normal;
        font-size: 1.125rem; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .back .footer {
      border-top: 3px solid #ededed;
      padding: 5px 15px 5px 15px;
      position: absolute;
      bottom: 0; }
      .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .back .footer .regresar {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 400;
        display: inline-block;
        color: #939393;
        position: relative;
        float: none;
        right: 0;
        padding: 0; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .stats-container .stats .card-back {
      height: 200px; }
      .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .stats-container .stats .card-back :nth-child(1) {
        text-align: center !important;
        font-size: 3rem; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .stats-container .stats .desktop-card-title-comparte {
      color: #5a5a5a !important; }
    .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .stats-container .stats ul.inline-ul-desktop {
      display: flex; }
      .contenedor-carreras .contenido-centrado .cards-relacionadas .carrousel_inner_carreras .stats-container .stats ul.inline-ul-desktop li {
        width: 25%; }
  .contenedor-carreras .contenido-centrado .controls-carreras .btn-arrow {
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center; }
    .contenedor-carreras .contenido-centrado .controls-carreras .btn-arrow .arrow-right, .contenedor-carreras .contenido-centrado .controls-carreras .btn-arrow .arrow-left {
      font-size: 2.6rem;
      color: #939393; }
