/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
iframe {
  max-width: 100vw; }

@media (max-width: 812px) {
  .mask {
    background-color: rgba(0, 0, 0, 0.3); } }
@media (max-width: 815px) and (orientation: landscape) {
  .container .cont-banner-mob .cintillo {
    margin-top: 20px; } }
