/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.fix-horario-campus {
  padding-left: 20%; }

.fix-horario-campus-tel {
  padding-left: 16%; }

/*Fix para alinear los horarios*/
.horarios-pre {
  flex: 1;
  line-height: normal;
  font-size: 1rem;
  color: #757575;
  padding-left: .1rem;
  margin: 0; }

.horarios-pre-arrow {
  flex-direction: inherit;
  justify-content: left; }

.fix-horarios-button {
  padding-left: 15px; }

/*Fix para alinear los horarios*/
.horario-item {
  width: 100%; }
  .horario-item .horario-dia {
    width: 25%; }
  .horario-item .hora {
    width: 67%; }
  .horario-item label {
    font-size: 1rem !important;
    color: #757575; }

.contactanos .content-gral {
  display: contents; }
  .contactanos .content-gral .fix-img {
    width: 100%;
    min-height: 390px;
    background-size: cover; }
    .contactanos .content-gral .fix-img img {
      border-radius: 0;
      width: 100%; }
    .contactanos .content-gral .fix-img .legend-contacto {
      background-color: rgba(0, 80, 160, 0.7);
      color: #ffffff;
      position: absolute;
      bottom: 6%;
      width: 100%;
      padding: 1.2rem;
      height: 6rem;
      font-weight: 300;
      line-height: normal; }
      .contactanos .content-gral .fix-img .legend-contacto span {
        width: 90%; }
.contactanos .card-cascade.narrower .view {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px; }
.contactanos .card-left {
  width: -webkit-calc(100% + 75px);
  width: -moz-calc(100% + 75px);
  width: calc(100% + 75px);
  margin-left: -75px;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  min-height: 370px; }
  .contactanos .card-left .titulo-contactanos {
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center; }
  .contactanos .card-left .simple-list {
    font-weight: 300; }
    .contactanos .card-left .simple-list .list-item-container {
      height: 35px; }
      .contactanos .card-left .simple-list .list-item-container .item-icon {
        font-size: 1rem; }
        .contactanos .card-left .simple-list .list-item-container .item-icon i {
          font-size: 1.5rem;
          color: #757575; }
      .contactanos .card-left .simple-list .list-item-container .item-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        line-height: normal;
        font-weight: 300; }
        .contactanos .card-left .simple-list .list-item-container .item-description a {
          color: #757575; }
      .contactanos .card-left .simple-list .list-item-container .item-description-arrow {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center; }
        .contactanos .card-left .simple-list .list-item-container .item-description-arrow a {
          color: #757575; }
    .contactanos .card-left .simple-list .card-flotante {
      position: absolute;
      left: 0%;
      width: 100%;
      background-color: #ffffff;
      z-index: 1;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      border-radius: .25rem; }
    .contactanos .card-left .simple-list .card-flotante-tel {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      border-radius: .25rem; }
  .contactanos .card-left .simple-list.active {
    background-color: transparent; }
    .contactanos .card-left .simple-list.active .item-description {
      font-weight: 500; }
    .contactanos .card-left .simple-list.active .list-icon {
      background-color: transparent;
      color: inherit;
      border-style: none; }
      .contactanos .card-left .simple-list.active .list-icon a {
        color: #757575 !important; }
.contactanos .card-right {
  width: -webkit-calc(100% + 90px);
  width: -moz-calc(100% + 90px);
  width: calc(100% + 90px);
  height: 370px;
  right: 10px;
  z-index: 1;
  background-color: #FFFFFF;
  border-radius: 0.25rem; }
.contactanos .bullet {
  font-size: 0.5rem;
  color: #006fba;
  padding-right: 1rem; }
.contactanos .texto-int-card {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .contactanos .texto-int-card .card-title-desk {
    color: #006fba;
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
    top: .25rem;
    margin-bottom: 1.5rem; }
  .contactanos .texto-int-card .card-sub-desk {
    font-size: 1.15rem; }
  .contactanos .texto-int-card .filo-inicio-t {
    color: #006fba;
    font-weight: 500; }
.contactanos ul li {
  display: inline-flex;
  align-items: baseline;
  font-weight: 300 !important;
  padding-bottom: .5rem;
  text-align: left;
  line-height: 1.1rem; }
  .contactanos ul li span {
    color: #757575;
    font-weight: 300;
    font-size: 1rem;
    line-height: normal; }

.icon-size > span {
  font-size: 1.5rem !important; }

@media (max-width: 1200px) {
  .card-left, .card-right {
    margin-left: 0px !important;
    width: 100% !important;
    right: 0px !important; }

  .legend-contacto {
    bottom: 0%; } }
