/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.tooltip-info {
  position: relative;
  display: inline-block; }
  .tooltip-info .tooltiptext {
    visibility: hidden;
    width: 6rem;
    font-size: 0.75rem;
    background-color: #F68B1F;
    color: #ffffff;
    text-align: center;
    border-radius: 0.25rem;
    padding: 1rem 0;
    margin-top: -4.75rem;
    left: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.3);
    /* Position the tooltip */
    position: absolute;
    z-index: 1; }
  .tooltip-info .tooltiptext:before {
    content: "";
    position: absolute;
    top: 1.95rem;
    width: 0rem;
    height: 0rem;
    border-left: 0.5rem solid transparent;
    /* izquierda flecha */
    border-right: 0.5rem solid transparent;
    /* derecha flecha */
    border-top: 0.5rem solid #f68b1f;
    /* base flecha y color*/
    font-size: 0rem;
    line-height: 0rem; }

.tooltip-info:hover .tooltiptext {
  visibility: visible; }

.descripcion-botones {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000;
  margin-top: 0px !important;
  position: relative; }

.tblSimulador .row {
  margin: 1rem 0; }
  .tblSimulador .row div {
    display: flex;
    align-items: center; }
    .tblSimulador .row div.backGray {
      color: #006fba;
      background: #ededed;
      font-weight: normal; }
.tblSimulador .special {
  bottom: -1.125rem;
  position: absolute;
  margin: 0 auto;
  background-color: #F68B1F !important;
  box-shadow: none !important;
  display: flex;
  align-items: center; }
  .tblSimulador .special .icon-u-ver-mas, .tblSimulador .special .icon-u-ver-menos {
    font-size: 2rem !important; }
  .tblSimulador .special a.hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }
.tblSimulador .caracteristicas-lic {
  font-weight: 300;
  font-size: 1rem;
  line-height: normal; }

.botonesUnitec {
  flex: initial; }
  .botonesUnitec a {
    width: 32%;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: .85rem;
    box-shadow: none !important;
    padding: 1rem 0rem; }
    .botonesUnitec a .info {
      color: #006fba; }
    .botonesUnitec a .orange {
      color: #F68B1F; }
    .botonesUnitec a .default {
      color: #757575; }

.botones .botones-contacto {
  max-width: 175px;
  display: flex;
  justify-content: space-between; }
  .botones .botones-contacto .iconos-contacto {
    font-size: 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    line-height: 0;
    margin-top: 0.5rem; }

.filo-inicio-t {
  color: #006fba;
  font-weight: 500; }

.calendario i {
  font-size: 7.5rem;
  color: #ededed; }
.calendario a {
  position: absolute;
  color: #F68B1F; }
  .calendario a:hover, .calendario a:focus {
    color: #F68B1F; }
.calendario .ver-calendario {
  width: 100%;
  max-width: 5.5rem;
  font-size: 0.75rem;
  font-weight: 300; }

.phantom {
  max-width: 70px; }

.altura {
  max-height: fit-content; }

.btn-default:hover {
  background-color: #5390af !important; }

.ancho-card {
  min-width: 30rem; }
