/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.contenido-biblioteca .titulo-biblioteca {
  font-size: 1.75rem;
  font-weight: 400; }
.contenido-biblioteca .descripcion {
  font-weight: 300;
  font-size: 1rem;
  line-height: normal; }
.contenido-biblioteca .biblioteca-botones .biblioteca-card .biblioteca-title {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 1.5rem; }
.contenido-biblioteca .biblioteca-botones .biblioteca-card .respaldo-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 3rem; }
.contenido-biblioteca .biblioteca-botones .extra-info {
  position: absolute;
  bottom: 0.875rem;
  width: 100%; }
  .contenido-biblioteca .biblioteca-botones .extra-info .biblioteca-links {
    background: 0 0;
    border: none;
    font-family: inherit;
    color: #F68B1F;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer; }
  .contenido-biblioteca .biblioteca-botones .extra-info span i {
    font-size: 2.5rem; }

.color-card-1 {
  border-bottom: solid 0.25rem #00b2e2; }

.color-card-2 {
  border-bottom: solid 0.25rem #006fba; }

.color-card-3 {
  border-bottom: solid 0.25rem #0f406b; }

.icon-color-1 {
  color: #00b2e2; }

.icon-color-2 {
  color: #006fba; }

.icon-color-3 {
  color: #0f406b; }
