.cx-widget.cx-theme-unitec .cx-toaster {
  z-index: 1040; }

.cx-widget.cx-theme-unitec, .cx-widget .cx-container {
  color: #757575;
  background: #fff;
  border-radius: 5px 5px 0 0; }

.cx-widget.cx-theme-unitec .cx-toaster.cx-theme-unitec.cx-desktop {
  right: 15px !important; }

.cx-widget.cx-theme-unitec .cx-common-container .cx-titlebar {
  clear: both;
  border: none;
  padding: 2px 5px;
  border-style: none;
  border-width: 0 0 1px;
  border-radius: 5px 5px 0 0;
  background-color: #f68b1f; }
  .cx-widget.cx-theme-unitec .cx-common-container .cx-titlebar .cx-title {
    display: inline-block;
    font-size: 20px;
    margin-left: 65px;
    font-weight: 300;
    color: #fff; }

.cx-widget.cx-theme-unitec .cx-common-container .cx-buttons-window-control button {
  color: transparent !important; }

.cx-titlebar .cx-icon {
  width: 16px !important;
  height: 16px !important;
  margin-top: 0 !important;
  position: absolute;
  display: block;
  top: 10px;
  left: 4%;
  color: #fff; }
  .cx-titlebar .cx-icon svg {
    display: none; }

.cx-icon svg {
  fill: #f68b1f; }

button.cx-icon svg {
  fill: #fff; }

.cx-widget.cx-theme-unitec .cx-common-container .cx-body .cx-form-wrapper .cx-form {
  padding: 24px 14px 5px;
  border-width: 0; }

.cx-widget.cx-theme-unitec .cx-common-container .cx-body input.cx-input {
  width: 100%;
  height: 30px;
  padding: 5px 5px;
  margin: 0.25rem 0;
  background-image: none;
  border-radius: 2px;
  box-sizing: border-box !important; }

.cx-wrapper {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 20px !important; }
  .cx-wrapper p {
    font-weight: 300 !important;
    font-size: 0.75rem !important;
    margin: 1rem 0 !important; }

.cx-widget.cx-theme-unitec.cx-webchat, .cx-widget.cx-theme-unitec .cx-webchat {
  border-radius: 8px 8px 0 0;
  color: #757575 !important;
  right: 15px !important;
  background: #fff;
  z-index: 1040; }

.cx-widget.cx-theme-unitec.cx-webchat .form input, .cx-widget.cx-theme-unitec .cx-webchat .form input {
  background: #DCF5FF; }

.cx-form-horizontal .cx-buttons-binary button.cx-btn-default.i18n {
  display: none !important; }

.cx-widget .cx-submit {
  background-color: #f68b1f !important;
  color: #fff !important;
  width: 100% !important; }

.cx-widget .cx-btn {
  text-shadow: none !important;
  width: 48%;
  border: none !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.cx-widget .cx-btn-primary {
  background-color: #f68b1f !important;
  color: #fff !important; }

.cx-widget .cx-btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.cx-webchat .cx-form .cx-button-group {
  padding-bottom: 0;
  padding: 0.2rem 0.5rem 1rem !important; }

.cx-wrapper .cx-buttons-binary {
  padding: 5px 10px 20px !important;
  color: #000; }

.cx-common-container .cx-footer {
  padding: 0 !important;
  display: none !important; }

.cx-webchat .cx-emoji-menu {
  background: #fff; }

.cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant.cx-you .cx-bubble {
  background: rgba(238, 238, 238, 0.8); }
.cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant.cx-you .cx-bubble-arrow svg {
  fill: rgba(238, 238, 238, 0.8); }

.cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant.cx-agent .cx-bubble {
  background-color: #c8c8c8; }
.cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant.cx-agent .cx-bubble-arrow svg {
  fill: #c8c8c8; }

.cx-webchat .cx-transcript .cx-message.cx-agent-typing .cx-bubble {
  background-color: #e2e2e2; }
.cx-webchat .cx-transcript .cx-message.cx-agent-typing .cx-bubble-arrow svg {
  fill: #e2e2e2; }

.cx-common-container.cx-toast .cx-button-container {
  padding: 0 24px 20px !important; }

.cx-webchat.cx-minimized .cx-webchat-counter {
  background-color: red !important;
  border-radius: 50% !important;
  font-size: 12px !important;
  min-width: 20px !important;
  padding: 2px !important;
  position: absolute;
  height: 20px;
  right: -10px;
  width: 20px;
  top: -10px; }

.notificacion-chat-purecloud {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5rem;
  position: absolute;
  right: -10px;
  top: -10px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate; }

.cx-toaster.cx-theme-unitec .cx-common-container .cx-body {
  font-size: 15px; }

.cx-widget.cx-theme-unitec.cx-mobile .cx-common-container .cx-titlebar {
  text-align: center; }

.cx-widget.cx-theme-unitec.cx-mobile .cx-common-container .cx-titlebar .cx-title {
  margin-left: 0; }

@-webkit-keyframes blinker {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }
