/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.contenedor-nuevas-carreras {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .contenedor-nuevas-carreras .svg-top {
    fill: #ededed;
    margin-bottom: -10px;
    -webkit-transform: rotateY(180deg);
    /* Chrome, Safari, Opera */
    -ms-transform: rotateY(180deg);
    /* IE 9 */
    transform: rotateY(180deg); }
  .contenedor-nuevas-carreras .svg-bottom {
    fill: #ededed;
    margin-top: -10px;
    -webkit-transform: rotateZ(180deg);
    /* Chrome, Safari, Opera */
    -ms-transform: rotateZ(180deg);
    /* IE 9 */
    transform: rotateZ(180deg); }
  .contenedor-nuevas-carreras .back-carreras {
    background: #ededed; }
  .contenedor-nuevas-carreras .nuevas-carreras .contenido-carreras p {
    font-size: 1rem;
    line-height: normal;
    font-weight: 300; }
  .contenedor-nuevas-carreras .nuevas-carreras .contenido-carreras a {
    color: #757575; }
  .contenedor-nuevas-carreras .nuevas-carreras .carrusel-nuevas-carreras .backface {
    -webkit-backface-visibility: initial;
    backface-visibility: initial;
    -webkit-transform: none;
    transform: none; }
  .contenedor-nuevas-carreras .nuevas-carreras .card img {
    width: 100%; }
  .contenedor-nuevas-carreras .nuevas-carreras .card .sub-nuevas-carreras {
    font-weight: 400;
    font-size: 1rem;
    line-height: normal; }
  .contenedor-nuevas-carreras .nuevas-carreras .card .descripcion-carrera {
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.4; }

.active-link {
  font-weight: 500;
  color: #006fba !important; }
