@charset "UTF-8";
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/**************** Inician estilos del menu *********************/
/* inician estilos del men├╣ est├ático superior */
a.logoNav img {
  height: 34px; }

.navbar {
  border-radius: 0; }

.menuSuperior {
  background-color: #0f406b; }
  .menuSuperior .optionMenuSuperior {
    height: 19px; }
    .menuSuperior .optionMenuSuperior a {
      color: #ffffff;
      font-size: 10px;
      letter-spacing: 1.5px;
      font-weight: 300;
      margin-top: 2px; }
    .menuSuperior .optionMenuSuperior span {
      font-size: 14px;
      color: #F68B1F;
      line-height: normal; }

.navContLanding {
  max-height: 60px !important;
  min-height: 60px !important; }

.navCont {
  max-height: 50px;
  min-height: 50px;
  background-color: #006fba; }
  .navCont a {
    color: #ffffff; }
  .navCont a:hover {
    color: #ffffff; }
  .navCont .btn-menu-head .whats .searchNav, .navCont .btn-menu-head .tel .searchNav, .navCont .btn-menu-head .solicitud .searchNav {
    font-size: 14px;
    color: #ffffff; }
    .navCont .btn-menu-head .whats .searchNav i, .navCont .btn-menu-head .tel .searchNav i, .navCont .btn-menu-head .solicitud .searchNav i {
      padding-right: 0.25rem;
      font-size: 14px; }
    .navCont .btn-menu-head .whats .searchNav .telefono, .navCont .btn-menu-head .tel .searchNav .telefono, .navCont .btn-menu-head .solicitud .searchNav .telefono {
      width: 115px;
      font-weight: 300; }
  .navCont .btn-menu-head .whats .btn-naranja-unitec, .navCont .btn-menu-head .tel .btn-naranja-unitec, .navCont .btn-menu-head .solicitud .btn-naranja-unitec {
    background-color: #F68B1F;
    font-weight: 400;
    text-transform: none;
    padding: .5rem .25rem;
    letter-spacing: -0.3px;
    width: 155px;
    height: 32px; }
  .navCont .btn-menu-head .whats .btn-naranja-landing, .navCont .btn-menu-head .tel .btn-naranja-landing, .navCont .btn-menu-head .solicitud .btn-naranja-landing {
    width: 110px; }
  .navCont .buscador-desk {
    height: 32px;
    box-sizing: border-box;
    padding: 0 1rem;
    overflow: hidden;
    background: #ffffff; }
    .navCont .buscador-desk .buscador-desk-input input[type=search] {
      margin: 0;
      border: none;
      color: #757575;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 center;
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      opacity: .4;
      -webkit-appearance: none;
      appearance: none; }
    .navCont .buscador-desk .buscador-desk-input input[type=search]:focus:not([readonly]) {
      opacity: 1;
      box-shadow: none; }
    .navCont .buscador-desk .buscador-desk-input .microfono {
      background: transparent;
      border: none; }
      .navCont .buscador-desk .buscador-desk-input .microfono i .path1 {
        font-size: 1.2rem !important; }
      .navCont .buscador-desk .buscador-desk-input .microfono i .path2 {
        font-size: 1.2rem !important; }
    .navCont .buscador-desk .buscador-desk-input .twitter-typeahead {
      width: 100%; }
  .navCont a.logoMenu img {
    height: 32px; }
  .navCont a.btnMenuMobile {
    flex-direction: column;
    margin-top: -3px; }
    .navCont a.btnMenuMobile i {
      font-size: 2.3rem;
      padding: 0; }
    .navCont a.btnMenuMobile .txt-menu {
      font-size: 0.65rem;
      text-align: center;
      margin-top: -6px; }
  .navCont a {
    font-weight: 300; }
    .navCont a i {
      font-size: 1rem;
      color: #ffffff; }

.arrow-r .icon-u-ver-abajo {
  position: absolute;
  right: 0; }

.arrow-r.active {
  font-weight: 500 !important; }

li.active > div {
  padding-left: 1rem; }

/*Fixes para el men├║*/
.nav-fixed-logo {
  position: fixed !important;
  width: inherit;
  background-color: #006fba !important;
  z-index: 10; }

.nav-margin-logo {
  padding-top: 56px; }

/* terminan estilos del men├╣ est├ático superior */
