/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.svg-top {
  fill: #ededed;
  margin-bottom: -10px;
  -webkit-transform: rotateY(180deg);
  /* Chrome, Safari, Opera */
  -ms-transform: rotateY(180deg);
  /* IE 9 */
  transform: rotateY(180deg); }

.svg-bottom {
  fill: #ededed;
  margin-top: -10px;
  -webkit-transform: rotateZ(180deg);
  /* Chrome, Safari, Opera */
  -ms-transform: rotateZ(180deg);
  /* IE 9 */
  transform: rotateZ(180deg); }

.mapa-curricular {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000;
  position: relative; }
  .mapa-curricular .titulo-mapa {
    position: absolute;
    top: 40px;
    z-index: 1; }
  .mapa-curricular .back-mapa {
    background-color: #ededed;
    padding-bottom: 1rem; }
  .mapa-curricular .dropdown {
    border: 1px solid #006fba;
    height: 75px; }
    .mapa-curricular .dropdown .destacar:hover {
      background-color: #F68B1F !important; }
    .mapa-curricular .dropdown .drop-view {
      flex: 1;
      cursor: pointer; }
    .mapa-curricular .dropdown .duracion {
      color: #006fba;
      padding: 0.1875rem 0rem 0.1875rem 1rem;
      font-weight: 500 !important; }
      .mapa-curricular .dropdown .duracion .semestres {
        color: #757575;
        font-weight: 300 !important;
        font-size: 0.95rem; }
    .mapa-curricular .dropdown .abajo {
      color: #006fba;
      font-size: 1.75rem; }
  .mapa-curricular .col-izq ul li {
    font-weight: 300 !important;
    line-height: 1; }
    .mapa-curricular .col-izq ul li .tab-materias {
      font-size: 1rem; }
    .mapa-curricular .col-izq ul li .nav-link {
      color: #ffffff;
      background-color: #cccccc;
      padding: 0.5rem 0rem;
      cursor: pointer; }
    .mapa-curricular .col-izq ul li .nav-link.active {
      background-color: #00b2e2 !important;
      width: 110%;
      position: relative;
      z-index: 1;
      padding: 13px 0px;
      padding-right: 10%;
      font-weight: 400;
      -webkit-border-radius: 0.1875rem 0rem 0rem 0.1875rem;
      -moz-border-radius: 0.1875rem 0rem 0rem 0.1875rem;
      -ms-border-radius: 0.1875rem 0rem 0rem 0.1875rem;
      -o-border-radius: 0.1875rem 0rem 0rem 0.1875rem;
      border-radius: 0.1875rem 0rem 0rem 0.1875rem;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
      -o-transition: all 0s;
      -ms-transition: all 0s;
      transition: all 0s; }
    .mapa-curricular .col-izq ul li .nav-link.active:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 99.99%;
      width: 0;
      height: 0;
      border-width: 1.34375rem;
      border-style: solid;
      border-color: transparent transparent transparent #00b2e2; }
  .mapa-curricular .labelMaterias {
    font-weight: 300;
    line-height: 1; }
  .mapa-curricular .indicadoresMaterias {
    flex-direction: row;
    flex-wrap: wrap; }
    .mapa-curricular .indicadoresMaterias .filtro-indicadores {
      font-weight: 400; }
      .mapa-curricular .indicadoresMaterias .filtro-indicadores .indicador {
        width: 1rem;
        height: 1rem; }
        .mapa-curricular .indicadoresMaterias .filtro-indicadores .indicador.rojo {
          background-color: #eb6852; }
        .mapa-curricular .indicadoresMaterias .filtro-indicadores .indicador.verde {
          background-color: #00afa9; }
        .mapa-curricular .indicadoresMaterias .filtro-indicadores .indicador.azul {
          background-color: #006fba; }
        .mapa-curricular .indicadoresMaterias .filtro-indicadores .indicador.naranja {
          background-color: #ccdb2a; }
        .mapa-curricular .indicadoresMaterias .filtro-indicadores .indicador.gris {
          background-color: #757575; }
        .mapa-curricular .indicadoresMaterias .filtro-indicadores .indicador.azulB {
          background-color: #00b2e2; }
  .mapa-curricular .fila .cont-materia {
    width: 31%;
    height: 6.125rem;
    color: #ffffff;
    padding: 3%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.1;
    margin: 1.1%; }
    .mapa-curricular .fila .cont-materia.rojo {
      background-color: #eb6852; }
    .mapa-curricular .fila .cont-materia.verde {
      background-color: #00afa9; }
    .mapa-curricular .fila .cont-materia.azul {
      background-color: #006fba; }
    .mapa-curricular .fila .cont-materia.naranja {
      background-color: #ccdb2a; }
    .mapa-curricular .fila .cont-materia.gris {
      background-color: #757575; }
    .mapa-curricular .fila .cont-materia.azulB {
      background-color: #00b2e2; }
  .mapa-curricular .icons-mapa a i {
    width: 2.5rem; }
  .mapa-curricular .descarga-plan {
    color: #F68B1F !important;
    font-size: 2rem !important; }

.mapa-share #demo {
  -webkit-transition: width 2s ease;
  -moz-transition: width 2s ease;
  -o-transition: width 2s ease;
  transition: width 2s ease;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0rem; }
.mapa-share #demo.in {
  width: 30rem; }
.mapa-share .social-reveal-mapa {
  position: absolute;
  right: 5rem;
  visibility: hidden; }
.mapa-share .social-reveal-active-mapa {
  z-index: 11;
  visibility: visible;
  text-align: right !important; }
  .mapa-share .social-reveal-active-mapa ul {
    margin-top: 0rem; }
.mapa-share a i {
  color: #F68B1F;
  margin-right: 0.25rem; }
