@charset "UTF-8";
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.modal-tarjeta .modal-fluid {
  max-width: none;
  margin: 0 auto; }
.modal-tarjeta .modal-content {
  min-height: 100vh;
  background-color: #ffffff;
  flex-direction: inherit;
  border: none; }
  .modal-tarjeta .modal-content .icons {
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: #F68B1F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .modal-tarjeta .modal-content .icons a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
  .modal-tarjeta .modal-content .icon-u-cerrar:before {
    color: #ffffff;
    font-size: 22px; }
  .modal-tarjeta .modal-content .content-gral .card-blue {
    background-color: #006fba;
    border-radius: 0.375rem; }
    .modal-tarjeta .modal-content .content-gral .card-blue .overlay .card-desc {
      color: #ffffff;
      width: 98%;
      font-weight: 400;
      line-height: normal; }
      .modal-tarjeta .modal-content .content-gral .card-blue .overlay .card-desc .tit-desc {
        font-size: 1.75rem;
        font-weight: 400;
        line-height: normal; }
      .modal-tarjeta .modal-content .content-gral .card-blue .overlay .card-desc .sub-desc {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: normal; }
      .modal-tarjeta .modal-content .content-gral .card-blue .overlay .card-desc .lista-desc .desc-ind {
        font-size: 1.125rem; }
        .modal-tarjeta .modal-content .content-gral .card-blue .overlay .card-desc .lista-desc .desc-ind .bullet {
          font-size: 0.5rem; }
      .modal-tarjeta .modal-content .content-gral .card-blue .overlay .card-desc .legales {
        font-size: 0.875rem;
        font-weight: 200; }
  .modal-tarjeta .modal-content .content-gral .card-white .card-left {
    width: -webkit-calc(100% + 25px);
    width: -moz-calc(100% + 25px);
    width: calc(100% + 25px);
    margin-left: -25px;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    min-height: 400px; }
    .modal-tarjeta .modal-content .content-gral .card-white .card-left .titulo-contactanos {
      font-size: 1.75rem;
      font-weight: 400;
      text-align: center; }
    .modal-tarjeta .modal-content .content-gral .card-white .card-left .convenio {
      max-height: 160px; }
    .modal-tarjeta .modal-content .content-gral .card-white .card-left .card-title-contacto {
      color: #757575;
      font-weight: 400; }
    .modal-tarjeta .modal-content .content-gral .card-white .card-left .card-sub-contacto {
      position: inherit;
      bottom: 3rem; }
      .modal-tarjeta .modal-content .content-gral .card-white .card-left .card-sub-contacto li.descuentos-lista {
        display: list-item; }
        .modal-tarjeta .modal-content .content-gral .card-white .card-left .card-sub-contacto li.descuentos-lista a {
          color: inherit; }
          .modal-tarjeta .modal-content .content-gral .card-white .card-left .card-sub-contacto li.descuentos-lista a .descargar-descuento {
            color: #F68B1F; }
  @media (max-width: 1200px) {
    .modal-tarjeta .modal-content .card-left, .modal-tarjeta .modal-content .card-right {
      margin-left: 0px !important;
      width: 100% !important;
      right: 0px !important; }
    .modal-tarjeta .modal-content .content-gral {
      display: block !important; } }
.modal-tarjeta .modal-descuentos {
  background-color: transparent !important; }

.content-portadas-galeria {
  width: 100%;
  margin: auto;
  max-width: 90%; }
  .content-portadas-galeria .portada-galeria img {
    width: 72px !important;
    height: 70px !important;
    border-radius: 50%;
    margin: auto; }

/* Inician los estilos de la galer├¡a desktop */
.carrousel_inner {
  overflow: hidden; }
  .carrousel_inner ul {
    display: flex; }

.descuentos {
  min-height: calc(100vh - 55px); }
  .descuentos .contenedor-descuentos .filtros .filtro-descuentos {
    border: solid 1px #939393;
    cursor: pointer; }
    .descuentos .contenedor-descuentos .filtros .filtro-descuentos .icon-abajo {
      color: #F68B1F;
      font-weight: 400;
      font-size: 2.5rem; }
  .descuentos .contenedor-descuentos .filtros .menu-filtro-descuentos {
    width: 100%; }
    .descuentos .contenedor-descuentos .filtros .menu-filtro-descuentos .destacar:hover {
      background-color: #f68b1f; }
  .descuentos .contenedor-descuentos .filtros .descargar {
    color: #F68B1F;
    font-weight: 400; }
  .descuentos .contenedor-descuentos .fila-descuentos .collection-card .view {
    cursor: pointer; }
  .descuentos .contenedor-descuentos .fila-descuentos .collection-card .stripe.dark {
    background-color: rgba(0, 80, 160, 0.7); }
  .descuentos .contenedor-descuentos .fila-descuentos .collection-card .stripe {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 1.2rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .descuentos .contenedor-descuentos .fila-descuentos .collection-card .stripe.dark p {
    color: #ffffff; }
  .descuentos .contenedor-descuentos .fila-descuentos .collection-card .stripe p {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem; }
  .descuentos .contenedor-descuentos .fila-descuentos .zoom:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .descuentos .contenedor-descuentos .fila-descuentos .zoom img {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }

/* Terminan los estilos de la galer├¡a desktop */
.scroll-hiden {
  overflow: hidden; }
