/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
.contenido-apoyo {
  min-height: calc(100vh - 55px); }
  .contenido-apoyo .contenedor-cards .contenido-titulo-material {
    border-bottom: 2px solid #ededed; }
    .contenido-apoyo .contenedor-cards .contenido-titulo-material .titulo-material {
      font-size: 1.125rem;
      font-weight: 400; }
  .contenido-apoyo .contenedor-cards .material-links {
    font-size: 1rem; }
    .contenido-apoyo .contenedor-cards .material-links span {
      color: #F68B1F; }
      .contenido-apoyo .contenedor-cards .material-links span i {
        font-size: 1.125rem; }
    .contenido-apoyo .contenedor-cards .material-links a {
      color: #757575;
      font-weight: 300;
      line-height: normal; }
