/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.tabs-cardsbullets {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .tabs-cardsbullets .tabs-dinamicas {
    flex-wrap: wrap;
    min-height: fit-content; }
    .tabs-cardsbullets .tabs-dinamicas li.nav-item {
      width: 250px; }
  .tabs-cardsbullets a {
    color: #757575 !important; }
  .tabs-cardsbullets .cardsbullets .card-inversa {
    flex-direction: row-reverse; }
  .tabs-cardsbullets .cardsbullets .card-left {
    width: -webkit-calc(100% + 90px);
    width: -moz-calc(100% + 90px);
    width: calc(100% + 90px);
    height: auto;
    margin-left: -75px;
    background-color: #FFFFFF;
    border-radius: 0.25rem; }
  .tabs-cardsbullets .cardsbullets .card-right {
    width: -webkit-calc(100% + 90px);
    width: -moz-calc(100% + 90px);
    width: calc(100% + 90px);
    height: auto;
    right: 15px;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 0.25rem; }
  .tabs-cardsbullets .cardsbullets .bullet {
    font-size: 0.5rem;
    color: #006fba;
    padding-right: 1rem; }
  .tabs-cardsbullets .cardsbullets .texto-int-card .card-title-desk {
    color: #006fba;
    font-weight: 400;
    font-size: 1.5rem; }
  .tabs-cardsbullets .cardsbullets .texto-int-card .card-sub-desk {
    font-size: 1.15rem; }
  .tabs-cardsbullets .cardsbullets .texto-int-card .filo-inicio-t {
    color: #006fba;
    font-weight: 500; }
  .tabs-cardsbullets .cardsbullets ul li {
    display: inline-flex;
    align-items: baseline;
    font-weight: 300 !important; }
    .tabs-cardsbullets .cardsbullets ul li span {
      color: #757575;
      font-weight: 300;
      font-size: 1rem;
      line-height: normal; }

.carrousel_inner_tabs_dinamicos {
  overflow: hidden; }

.controls-tabs-dinamicos .btn-arrow {
  background-color: #ffffff;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center; }
  .controls-tabs-dinamicos .btn-arrow .arrow-right, .controls-tabs-dinamicos .btn-arrow .arrow-left {
    font-size: 2.6rem;
    color: #939393; }

@media (max-width: 1200px) {
  .card-left, .card-right {
    margin-left: 0px !important;
    width: 100% !important;
    right: 0px !important; } }
/*Fix para alinear los horarios*/
.horariosLine {
  flex: 1;
  line-height: normal;
  font-size: 1rem;
  color: #757575; }

/*Fix para alinear los horarios*/
.horarios-int {
  font-size: 1rem !important;
  color: #757575;
  font-weight: 300; }

.card-cascade.narrower .view {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px; }

.card-left .titulo-contactanos, .card-right .titulo-contactanos {
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center; }
.card-left .simple-list, .card-right .simple-list {
  font-weight: 300; }
  .card-left .simple-list .list-item-container, .card-right .simple-list .list-item-container {
    height: 35px; }
    .card-left .simple-list .list-item-container .item-icon, .card-right .simple-list .list-item-container .item-icon {
      font-size: 1rem; }
      .card-left .simple-list .list-item-container .item-icon i, .card-right .simple-list .list-item-container .item-icon i {
        font-size: 1.5rem;
        color: #757575; }
    .card-left .simple-list .list-item-container .item-description, .card-right .simple-list .list-item-container .item-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      line-height: normal;
      font-weight: 300; }
      .card-left .simple-list .list-item-container .item-description a, .card-right .simple-list .list-item-container .item-description a {
        color: #757575; }
    .card-left .simple-list .list-item-container .item-description-arrow, .card-right .simple-list .list-item-container .item-description-arrow {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center; }
      .card-left .simple-list .list-item-container .item-description-arrow a, .card-right .simple-list .list-item-container .item-description-arrow a {
        color: #757575; }
  .card-left .simple-list .card-int-float, .card-right .simple-list .card-int-float {
    left: 5%;
    right: 5%;
    z-index: 1;
    border-radius: .25rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.card-left .simple-list.active, .card-right .simple-list.active {
  background-color: transparent; }
  .card-left .simple-list.active .item-description, .card-right .simple-list.active .item-description {
    font-weight: 500; }
  .card-left .simple-list.active .list-icon, .card-right .simple-list.active .list-icon {
    background-color: transparent;
    color: inherit;
    border-style: none; }

.texto-int-card {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .texto-int-card .card-title-desk {
    color: #006fba;
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
    top: .25rem;
    margin-bottom: 1.5rem; }
  .texto-int-card .card-sub-desk {
    font-size: 1.15rem; }
  .texto-int-card .filo-inicio-t {
    color: #006fba;
    font-weight: 500; }

.icon-size > span {
  font-size: 1.5rem !important; }

@media (max-width: 1200px) {
  .card-left, .card-right {
    margin-left: 0px !important;
    width: 100% !important;
    right: 0px !important; }

  .legend-contacto {
    bottom: 0%; } }
