/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.contenedor-principal-campus {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000; }
  .contenedor-principal-campus .imagen-campus {
    height: 65vh;
    width: 95%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .contenedor-principal-campus .imagen-campus .campusName {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: block;
      padding: 1rem;
      font-size: 1.375rem;
      font-weight: 500;
      color: #ffffff;
      background-color: rgba(0, 80, 160, 0.7);
      line-height: normal; }
  .contenedor-principal-campus .cont-card {
    margin-top: -2.5rem;
    margin-left: 1.5rem;
    border-radius: 0.25rem;
    width: 98%; }
    .contenedor-principal-campus .cont-card .texto-int-card .card-sub-desk {
      font-weight: 300;
      font-size: 1rem;
      line-height: normal; }
    .contenedor-principal-campus .cont-card .texto-int-card .botones-campus .link-list-boton .item-icon {
      color: #F68B1F; }
    .contenedor-principal-campus .cont-card .texto-int-card .botones-campus .link-list-boton .item-description {
      color: #F68B1F;
      font-weight: 300;
      line-height: normal; }

.backface {
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
  -webkit-transform: none !important;
  transform: none !important; }
