/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.background-definido-prestigio {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000;
  position: relative; }
  .background-definido-prestigio .nav-item {
    width: 16rem; }
  .background-definido-prestigio .iconos-unitec .tab-content .list-item-container .linkDinamico {
    color: #5a5a5a; }
  .background-definido-prestigio .iconos-unitec .tab-content .list-item-container .item-icon i {
    font-size: 3rem;
    color: #006fba; }
  .background-definido-prestigio .iconos-unitec .tab-content .list-item-container .item-description {
    font-weight: 300;
    letter-spacing: -0.025rem;
    line-height: normal; }
