/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/**************** Inician estilos del footer *********************/
footer {
  color: #FFFFFF;
  padding-bottom: 0.75rem; }

.footer a {
  color: #FFFFFF; }
  .footer a:hover {
    color: #FFFFFF; }
  .footer a:focus {
    color: #FFFFFF; }

ul {
  margin: 0;
  margin-top: 0.25rem; }
  ul li {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem; }

h2 {
  font-size: 2.0625rem;
  font-weight: 500; }

h3 {
  font-weight: 300; }

.sub-t-footer {
  border-bottom: solid 1px #FFFFFF; }

.sociales-border {
  border-left: solid 1px #FFFFFF; }

.no-und a:hover {
  color: #FFFFFF;
  cursor: pointer; }

.terminos {
  color: #006fba;
  font-weight: 300;
  font-size: 0.8125rem;
  cursor: pointer; }
  .terminos:hover {
    color: #006fba;
    text-decoration-line: none; }

.sponsors {
  cursor: context-menu; }

.img-spons {
  max-width: 23px; }

.text-legal {
  font-size: 11px;
  font-weight: 300; }

.tel-footer:before {
  content: "01 800 7 UNITEC";
  padding-left: 10px; }

.tel-footer:hover:before {
  content: "01 800 7 864832"; }

/* Caso especial Para el Footer */
@media (max-width: 575px) {
  .sub-t-footer {
    border-bottom: transparent; }

  .sociales-border {
    border-left: transparent; } }
/**************** Terminan estilos del footer *********************/
