@import "../generales/_variables_temaunitec";

.tooltip-info {
    position: relative;
    display: inline-block;
}
.tooltip-info .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #f68b1f;
    color: #fff;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: .25rem;
    padding: .5rem;
    margin-top: -3rem;
    left: 0;
    position: absolute;
    z-index: 1;
    text-transform: none;
}
.tooltip-info .tooltiptext:before {
    content: "";
    position: absolute;
    top: 1.9rem;
    right: 45%;
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid #f68b1f;
    font-size: 0;
    line-height: 0;
}
.tooltip-info:hover .tooltiptext {
    visibility: visible;
}


.filo-inicio-t {
    color: $unitec_principal;
    font-weight: 500;
}

.descripcion {
    font-size: $long-default;
    font-weight: $Gotham-light;
    line-height: normal;
}
.btn-primary{
    background-color: $unitec_principal !important;
}
.btn-warning{
    background-color: $unitec_secundario !important;
}
.btn-maestria {
    background-color: $texto_principal !important;
}
.btn-maestria:hover {
    background-color: #828282 !important;
}