@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.titleGalerias{
    font-weight:$Gotham-medium;
    font-size:$long-default;
}
#modal-tarjeta-galeria-carrusel {
    padding: 0rem !important;
    overflow: hidden !important;
    .modal-fluid { 
        max-width: none;
        position: relative;
        margin: 0 auto;
    }
    .modal-content {
        min-height: calc(100vh);
        background-color: $white;
        font-size: $long-default;
        border: none;
        .icons {
            position: absolute;
            z-index: 100;
            right: 1rem;
            top: 0.5rem;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            background-color: $unitec_secundario;
            border-radius: 50%;
            @include vertical_align();
            a {
                @include vertical_align();
            }
        }
        .icon-u-cerrar:before {
            color: $white;
            font-size: 22px;
        }
        .modal-header {
            .imgMin {
                width: 60px;
                height: 60px;
                overflow: hidden;
                border-radius: 50%;
                margin-right: .5rem;                
                img{
                    width: inherit;
                    height: inherit;
                }
                .portada-galeria{
                    width: 100%;
                    max-width: 125px !important;
                    margin: 0 !important;
                    margin-right:8px !important;
                }
            }
            .description{
                .nombre, .testimonio-title{
                    font-size: inherit;
                    font-weight: $Roboto-regular;
                }
                flex: 1;
                line-height: $long-medium;
                font-weight: $Roboto-thin;
                font-size: $long;
            }
            .icons{
                .puntos-tarjeta{
                    position: absolute;
                    right:$long-default;
                    top: $long-default;
                    font-size: $long-default;
                    color: $titulos_principales;
                    .dropdown-item{
                        display: flex !important;
                        align-items: center;
                        padding: 3px 1rem !important;
                        color: inherit;
                        i, span{
                            color: inherit;
                            font-size: $long-default;
                            padding-right: $long-small;
                        }
                    }
                }
            }
        }
        .carousel-inner {
            height: 100vh;
            box-shadow: none;
            .cont-modal{
                margin: auto;
                height: 100vh;
                width: 90%;
                text-align: center;
                background-repeat: no-repeat;
                background-color: white;
                background-size: cover;
                background-position: center;
                iframe, img, audio, video{
                    max-height: 100vh;
                    min-height: 100vh;
                    min-width: 99%;
                    margin: auto;
                }
                .right {
                    bottom: 2rem;
                    position: absolute;
                    .modal-footer{ 
                        background-color: $white;
                        width: 26.25rem;
                        padding: 1rem;
                        border-right: solid .25rem $unitec_principal;
                        p{
                            font-weight: $Gotham-normal;
                            margin: 0;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    } 
}
/*Clases para la navegacion en caso de que sea un iframe de youtube*/
.div-yt-video {
    padding: 0 !important;
}
.div-yt-video-left {
    @include vertical_align();
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: center;
}
.div-yt-video-right {
    @include vertical_align();
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: center;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
    width: 50%;
    float: left;
}
.grid-item-video, video {
    width: 100%;
    float: left; 
}
.content-portadas-galeria{
    width: 100%;
    margin:auto;
    max-width: 90%;
    .portada-galeria{
        img{
            width:72px !important;
            height:70px !important;
            border-radius: 50%;
            margin:auto;
        }
    }
}
/* Inician los estilos de la galería desktop */
.contenedor-galeria {
    @include full-screen();
    .fila-galeria {
        .carrousel_inner{
            overflow: hidden;
        }
        .collection-card .view {
            cursor: pointer;
        }
        .collection-card .stripe.dark {
            background-color: rgba(0,80,160,.7);
        }
        .collection-card .stripe {
            position: absolute;
            bottom: 1rem;
            width: 100%;
            text-align: center;
            padding: 1.2rem;
            height: 5rem;
            @include vertical_align();
        }
        .collection-card .stripe.dark p {
            color: #eee;
        }
        .collection-card .stripe p {
            margin: 0;
            font-size: $long-default;
            font-weight: $Gotham-normal;
            line-height: 1.125rem;
        }
        .zoom:hover img {
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1);
        }
        .zoom img {
            -webkit-transition: all .2s linear;
                 -o-transition: all .2s linear;
                    transition: all .2s linear;
        }
    }
}
.controls-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0rem;
    padding: 1rem;
    .btn-arrow {
        background-color: $white;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        margin: 0rem;
        .arrow-right {
            padding-right: 0.25rem;
            font-size: 2.6rem;
            color: $grayPred
        }
        .arrow-left {
            padding-left: 0.25rem;
            font-size: 2.6rem;
            color: $grayPred
        }
    }
}
.controls-gallery {
    .carrousel_left {
        position: absolute;
        left: 1.5%;
        z-index: 10;
    }
    .carrousel_right {
        position: absolute;
        right: 1.5%;
        z-index: 10;
    }
    .btn-arrow {
        background-color: $white;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        margin: 0rem;
        .arrow-right {
            padding-right: 0.25rem;
            font-size: 2.6rem;
            color: $grayPred
        }
        .arrow-left {
            padding-left: 0.25rem;
            font-size: 2.6rem;
            color: $grayPred
        }
    }
}
/* Terminan los estilos de la galería desktop */
.scroll-hiden{
    overflow: hidden;
}