@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.fix-horario-campus{
    padding-left: 20%;
}
.fix-horario-campus-tel{
    padding-left: 16%;
}
/*Fix para alinear los horarios*/
.horarios-pre{
    flex: 1;
    line-height: normal;
    font-size:$long-default;
    color: $titulos_principales;
    padding-left: .1rem;
    margin: 0;
}
.horarios-pre-arrow {
    flex-direction: inherit;
    justify-content: left;
}
.fix-horarios-button{
    padding-left:15px;
}
/*Fix para alinear los horarios*/
.horario-item {
    width: 100%;
    .horario-dia {
        width: 25%;
    }
    .hora {
        width: 67%;
    }
    label{
         font-size:1rem !important;
         color: $titulos_principales;
    }
}
.contactanos {
    .content-gral {
        display: contents;
        .fix-img {
            width: 100%;
            min-height: 390px;
            background-size: cover;
            img{
                border-radius: 0;
                width: 100%;
            }
            .legend-contacto {
                background-color: rgba(0,80,160,.7);
                color: $white;
                position: absolute;
                bottom: 6%;
                width: 100%;
                padding: 1.2rem;
                height: 6rem;
                font-weight: $Gotham-light;
                line-height: normal;
                span {
                    width: 90%;
                }
            }
        }
    }
    .card-cascade.narrower .view {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .card-left {
        width: -webkit-calc(100% + 75px);
           width: -moz-calc(100% + 75px);
                width: calc(100% + 75px);
        margin-left: -75px;
        background-color: $cards-fondo;
        border-radius: 0.25rem;
        min-height: 370px;
        .titulo-contactanos {
            font-size: $long-extra-large;
            font-weight: $Gotham-normal;
            text-align: center;
        }
        .simple-list {
            font-weight: $Gotham-light;
            .list-item-container {
                height: 35px;
                .item-icon {
                    font-size: $long-default;
                    i{
                        font-size: 1.5rem;
                        color: $titulos_principales;
                    } 
                }
                .item-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1;
                    line-height: normal;
                    font-weight: $Roboto-light;
                    a {
                        color: $titulos_principales;
                    }
                }
                .item-description-arrow {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    a {
                        color: $titulos_principales;
                    }
                }
            }
            .card-flotante {
                position: absolute;
                left: 0%;
                width: 100%;
                background-color: $white;
                z-index: 1;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                border-radius: .25rem;
            }
            .card-flotante-tel{
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                border-radius: .25rem;
            }
        }
        .simple-list.active {
            background-color: transparent;
            .item-description {
                font-weight: $Gotham-medium;
            }
            .list-icon {
                background-color: transparent;
                color: inherit;
                border-style: none;
                a {
                    color: $titulos_principales !important;
                }
            }
        }
    }
    .card-right {
        width: -webkit-calc(100% + 90px);
           width: -moz-calc(100% + 90px);
                width: calc(100% + 90px);
        height: 370px;
        right: 10px;
        z-index: 1;
        background-color: $cards-fondo;
        border-radius: 0.25rem;
    }
    .bullet {
        font-size: $long-small;
        color: $unitec_principal;
        padding-right: 1rem;
    }
    .texto-int-card {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .card-title-desk {
            color: $unitec_principal;
            font-weight: $Gotham-normal;
            font-size: 1.5rem;
            position: relative;
            top: .25rem;
            margin-bottom: 1.5rem;
        }
        .card-sub-desk {
            font-size: 1.15rem; 
        }
        .filo-inicio-t{
            color: $unitec_principal;
            font-weight: 500;
        }
    }
    ul {
        li {
            display: inline-flex;
            align-items: baseline;
            font-weight: 300!important;
            padding-bottom: .5rem;
            text-align: left;
            line-height: 1.1rem;
            span {
                color: $titulos_principales;
                font-weight: $Gotham-light;
                font-size: $long-default;
                line-height: normal;
            }
        }
    }
}
.icon-size > span{
    font-size:1.5rem !important;
}
@media (max-width: 1200px) {
    .card-left, .card-right {
        margin-left: 0px !important;
        width: 100% !important;
        right: 0px !important;
    }
    .legend-contacto {
        bottom: 0%;
    }
}