@import "../generales/_variables_temaunitec";


/**************** Inician estilos del footer *********************/
footer{
    color: $texto_secundario;
    padding-bottom: $long-medium;
    background-color: $unitec-principal;
    }
.footer a{
    color: $texto_secundario;
    &:hover{
        color: $titulos_secundarios;
    }  
    &:focus{
        color: $titulos_secundarios;
    }   
}
ul{
    margin:0;
    margin-top: $long-extra-small;
    li{
        font-weight: $Gotham-light;
        font-size: $long-default;
        line-height: $long-extra-large;
    }
}
h2{
    font-size: $h1;
    font-weight: $Gotham-medium;
}
h3{
    font-weight: 300;
}
.sub-t-footer{
    border-bottom: solid 1px $texto_secundario;
}
.sociales-border{
    border-left: solid 1px $texto_secundario;
}  
.no-und{
    a{
        &:hover{
            color: $titulos_secundarios;
            cursor:pointer;
        }         
    }
} 
.terminos{
    color: $unitec_principal;
    font-weight:$Gotham-light;
    font-size: 0.8125rem;
    cursor:pointer;
    &:hover{
        color: $unitec_principal;
        text-decoration-line: none;
    }
}
.sponsors{
    cursor: context-menu;
}
.img-spons{
    max-width: 23px;
}
.text-legal{
        font-size: $long-extra-medium;
        font-weight: $Gotham-light;
}
.tel-footer:before{
    content:"800 7 UNITEC";
    padding-left: 10px;
}
.tel-footer:hover:before{
    content:"800 7 864832"
}
/* Caso especial Para el Footer */
@media (max-width: 575px) {
  .sub-t-footer {
    border-bottom:transparent;
  }
  .sociales-border{
    border-left:transparent;
  }
}
/**************** Terminan estilos del footer *********************/