@import "../generales/_variables_temaunitec";

iframe{max-width: 100vw}
@media (max-width: 812px) {
    // .bann_wind{
    //     height: -webkit-fill-available;
    //     // CORREGIR ISSUE DE ACTUALIZACIÓN DE IMÁGENES DE DISPOSITIVOS EN DFP
    //     background-position: right;
    //     background-size: cover;
    // }
    .container{
        .cont-banner-mob{
            // height: calc(100vh - 60px);
            // .cintillo{
            //     background-color: rgba(0,80,160,.7);
            //     font-weight: 300;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     color: #fff;
            //     padding: 16px;
            //     width: 100%;
            //     margin-top: 35px;
            //     font-size: 1.375rem;
            //     .banner-share{display: none !important;}
            //     .vineta-orange{border-left: solid 2px #f68b1f;padding-left: 5px;
            //     }
            // }
        }
    }
    .mask{
        //align-items: end !important;
        background-color: rgba(0,0,0,.3);
    }
}
@media (max-width: 815px) and (orientation: landscape) { 
    .container .cont-banner-mob .cintillo{margin-top: 20px}
}