@import "../generales/_variables_temaunitec";

.contenido-buscador{
    .titulo-buscador{
        font-size: $long-extra-large;
        font-weight: $Gotham-normal;
    }
    .descripcion {
        font-weight: $Gotham-light;
        font-size: $long-default;
        line-height: 1.4;
        letter-spacing: 0.5px;
    }
    .contenedor-buscador{
        .buscador-desk{
            border: solid 1px $carreras_economicas;
            height: 3rem;
            box-sizing: border-box;
            padding: 0 0.5rem;
            overflow: hidden;
            background:$white;
            .buscador-desk-input{
                input[type=search] {
                    border: none;
                    color: $titulos_principales;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: 0 center;
                    -webkit-transition-duration: .3s;
                            transition-duration: .3s;
                    -webkit-appearance: none;
                            appearance: none;
                    opacity: .5;
                    font-size: $long-default;
                    font-family: inherit;
                    font-weight: $Gotham-normal;
                }
                input[type=search]:focus:not([readonly]){
                    opacity: 1;
                    box-shadow: none;
                }
                .microfono{
                    background: 0 0;
                    border: none;
                    width: 5rem;
                    border-left: solid 1px $carreras_economicas; 
                    i {
                        font-size: 2rem;
                        color: $unitec_principal;
                    }
                }
            }
        }
    }   
}