@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.contenido-biblioteca {
    .titulo-biblioteca{
        font-size: $long-extra-large;
        font-weight: $Gotham-normal;
    }
    .descripcion {
        font-weight: $Gotham-light;
        font-size: $long-default;
        line-height: normal;
    }
    .biblioteca-botones {
        .biblioteca-card {
            .biblioteca-title {
                margin-bottom: 1.5rem;
                font-weight: $Gotham-light;
                font-size: $h3;
            }
            .respaldo-text {
                font-size: $long-default;
                font-weight:$Gotham-light;
                line-height: $Gotham-Book;
                padding-bottom: 3rem;
            }
        }
        .extra-info {
            position: absolute;
            bottom: $long;
            width: 100%;
            .biblioteca-links {
                background: 0 0;
                border: none;
                font-family: inherit;
                color: $unitec_secundario;
                font-size: $long-default;
                font-weight: $Gotham-normal;
                cursor: pointer;
        }
            span {
                i {
                    font-size: 2.5rem;
                }
            }
        }
    }
}
.color-card-1 {
    border-bottom: solid $long-extra-small $carreras_salud;
}
.color-card-2 {
    border-bottom: solid $long-extra-small $unitec_principal;
}
.color-card-3 {
    border-bottom: solid $long-extra-small $unitec_principal_b;
}
.icon-color-1 {
    color: $carreras_salud;
}
.icon-color-2 {
    color: $unitec_principal;
}
.icon-color-3 {
    color: $unitec_principal_b;
}
