@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

// .modal-tarjeta {
//     .modal-fluid {
//         max-width: none;
//         margin: 0 auto;
//     }
//     .modal-content {
//         min-height: 100vh;
//         background-color: $white;
//         flex-direction: inherit;
//         border: none;
//         .icons {
//             position: absolute;
//             z-index: 100;
//             right: 1rem;
//             top: 0.5rem;
//             cursor: pointer;
//             width: 2rem;
//             height: 2rem;
//             background-color: $unitec_secundario;
//             border-radius: 50%;
//             @include vertical_align();
//             a {
//                 @include vertical_align();
//             }
//         }
//         .icon-u-cerrar:before {
//             color: $white;
//             font-size: 22px;
//         }
//         .content-gral{
//             .card-blue{
//                 background-color: $unitec_principal;
//                 border-radius: 0.375rem;
//                 .overlay{
//                     .card-desc {
//                         color: $white;
//                         width: 98%;
//                         font-weight: $Gotham-normal;
//                         line-height: normal;
//                         .tit-desc{
//                             font-size: $long-extra-large;
//                             font-weight: $Gotham-normal;
//                             line-height: normal;
//                         }
//                         .sub-desc{
//                             font-size: $long-normal;
//                             font-weight: $Gotham-normal;
//                             line-height: normal;
//                         }
//                         .lista-desc{
//                             .desc-ind{
//                                 font-size: $long-normal;
//                                 .bullet{
//                                     font-size: 0.5rem;
//                                 }
//                             }
//                         }
//                         .legales{
//                             font-size: $long;
//                             font-weight: 200;
//                         }
//                     }
//                 }
//             }
//             .card-white {
//                 .card-left {
//                     width: -webkit-calc(100% + 25px);
//                        width: -moz-calc(100% + 25px);
//                             width: calc(100% + 25px);
//                     margin-left: -25px;
//                     background-color: $cards-fondo;
//                     border-radius: 0.25rem;
//                     min-height: 400px;
//                     .titulo-contactanos {
//                         font-size: $long-extra-large;
//                         font-weight: $Gotham-normal;
//                         text-align: center;
//                     }
//                     .convenio{
//                         max-height: 160px;
//                     }
//                     .card-title-contacto{
//                         color: $titulos_principales;
//                         font-weight: $Gotham-normal;
//                     }
//                     .card-sub-contacto {
//                         position: inherit;
//                         bottom: 3rem;
//                         li.descuentos-lista {
//                             display: list-item;
//                             a{
//                                 color: inherit;
//                                 .descargar-descuento{
//                                     color: $unitec_secundario;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         @media (max-width: 1200px) {
//             .card-left, .card-right {
//                 margin-left: 0px !important;
//                 width: 100% !important;
//                 right: 0px !important;
//             }
//             .content-gral{
//                 display: block!important;
//             }
//         }
//     }
//     .modal-descuentos {
//         background-color: transparent!important;
//     }
// }
.content-portadas-galeria{
    width: 100%;
    margin:auto;
    max-width: 90%;
    .portada-galeria{
        img{
            width:72px !important;
            height:70px !important;
            border-radius: 50%;
            margin:auto;
        }
    }
}
/* Inician los estilos de la galerÃ­a desktop */
// .carrousel_inner{
//     overflow: hidden;
//     ul{
//         display: flex;
//     }
// }
.descuentos{
    min-height: $fullvh;
    .contenedor-descuentos{
        .filtros{
            .filtro-descuentos{
                border: solid 1px $grayPred;
                cursor:pointer;
                .icon-abajo{
                    color:$unitec_secundario;
                    font-weight:$Gotham-normal;
                    font-size:2.5rem;
                }
            }
            .menu-filtro-descuentos{
                width: 100%;
                .destacar:hover {
                    background-color: $unitec_secundario;
                }
            }
            // .descargar{
            //     color:$unitec_secundario;
            //     font-weight:$Gotham-normal;
            // }
        }
        // .fila-descuentos {
        //     .collection-card .view {
        //         cursor: pointer;
        //     }
        //     .collection-card .stripe.dark {
        //         background-color: rgba(0,80,160,.7);
        //     }
        //     .collection-card .stripe {
        //         position: absolute;
        //         bottom: 1rem;
        //         width: 100%;
        //         text-align: center;
        //         padding: 1.2rem;
        //         height: 5rem;
        //         @include vertical_align();
        //     }
        //     .collection-card .stripe.dark p {
        //         color: $white;
        //     }
        //     .collection-card .stripe p {
        //         margin: 0;
        //         font-size: $long;
        //         font-weight: $Gotham-normal;
        //         line-height: 1.125rem;
        //     }
        //     .zoom:hover img {
        //         -webkit-transform: scale(1.1);
        //             -ms-transform: scale(1.1);
        //                 transform: scale(1.1);
        //     }
        //     .zoom img {
        //         -webkit-transition: all .2s linear;
        //              -o-transition: all .2s linear;
        //                 transition: all .2s linear;
        //     }
        // }
    }
}
/* Terminan los estilos de la galerÃ­a desktop */
.scroll-hiden{
    overflow: hidden;
}





.cardHeight{
    height: 520px;;
    .front, .back {
        z-index: 2;
        -webkit-transition: -webkit-transform 0.8s;
                transition: transform 0.8s;
    }
    .front {
        .cover{
            position: relative;
            overflow: hidden;
            height: 220px;
            margin: auto;
            z-index: 5;
            width: 96%;
            top: -1rem;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.08), 0 2px 5px 0 rgba(0,0,0,.03);
            .etiqueta{
                position: absolute;
                top: .25rem;
                right: .25rem;
                color: #fff;
                padding: .2rem 1rem;
                font-size: .75rem;
                border-radius: 3px;
                text-transform: uppercase;
                letter-spacing: 1px;
                opacity: 0.85;
            }
        }
        .content {
            color: $titulos_principales;
            top: -$long-medium;
            .titleTaller {
                font-weight: $Roboto-medium;
                line-height: normal;
                font-size: $long-normal;
                height: 3rem;
            }
            .shortDescription{
                font-size: $long-default;
                font-weight: $Roboto-light;
                line-height: 1.2;
                height: 3rem;
            }
            .rowData{
                font-size: $long-normal;
                font-weight: $Roboto-light;
                .itemIcon{
                    color: $titulos_principales;
                }
                .tallerCampus{
                    font-weight: $Roboto-regular;
                }
                .tallerCost{
                    font-weight: $Roboto-regular;
                    color: $unitec_principal;
                }
            }
        }
        .footer {
            background-color: $white;
            position: absolute;
            bottom: 0;
            left:0;
        }
    }
    .back{
        .content{
            line-height: normal;
            .main{
                min-height: 265px;
            }
            .title{
                font-weight: $Roboto-medium;
                line-height: normal;
                font-size: $long-normal;
            }
            .longDescription{
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2;
            }
        }
        .footer{
            border-top: 3px solid $gray-light;
            padding: 5px 15px 5px 15px;
            position: absolute;
            bottom: 0;
            .regresar{
                font-size: $h5;
                font-weight: $Gotham-normal;
                color: $grayPred;
            }
        }
    }
    .verMas-taller, .asistir{
        border-radius: 0.25rem;
        font-weight: $Roboto-regular;
        font-size: $long-normal;
        width: 120px;
        height: 35px;
    }
    .verMas-taller {
        // border: solid 1px $unitec_secundario;
        font-size: $long-default;
        // color: $unitec_secundario;
    }
    .asistir{
        // font-size: $long-normal;
        border: solid 1px $unitec_secundario !important;
        color: $unitec_secundario !important;
    }
    .asistir:hover{
        background-color: $unitec_secundario !important;
        color: $white !important;
    }
    .stats-container{
        .stats{
            .card-back{
                height: 180px;
                & :nth-child(1){
                    text-align: center !important;
                    font-size: 3rem;
                }
            }
            .desktop-card-title-comparte{
                border-bottom: 3px solid $gray-light;
                color: $texto_principal;
                padding: 18px 12px 12px 12px;
                font-weight: $Roboto-regular;
                font-size: 1.125rem;
            }
            ul.inline-ul-desktop{
                display: flex;
                li{
                    width: 25%;
                }
            }
        }
    }
}
.default{
    background-color: #066fba;
}
.conferencia{
    background-color: #87C80A;  
}
.evento{
    background-color: #F49F22;  
}
.practica{
    background-color: #F3B41B;  
}
.rally{
    background-color: #547DBF;  
}
.simulador{
    background-color: #8C288C;  
}
.taller{
    background-color: #06C4B4;  
}
.webinar{
    background-color: #820000;  
}
// .economicas{
//     background-color: #0B9D58;  
// }
// .ingenierias{
//     background-color: #004987;  
// }
// .tecnologia-e-innovacion{
//     background-color: #B6CE2E;  
// }
// .turismo-y-gastronomia{
//     background-color: #E84B37;  
// }