@import "../generales/_variables_temaunitec";

/**************** Inician estilos del menu *********************/
/* inician estilos del menù estàtico superior */
a.logoNav{
    img{                
        height: 34px;
    }
}
.navbar{
    border-radius:0;
}
.menuSuperior{
    background-color:$unitec_principal_b;
    .optionMenuSuperior{
        height:19px;
        a{
            color:$white;
            font-size: 10px;
            letter-spacing: 1.5px;
            font-weight: $Roboto-light;
            margin-top: 2px;
        }
        span{
            font-size: 14px;
            color: $unitec_secundario;
            line-height: normal;
        }
    }
}
.navContLanding {
    max-height: 60px !important;
    min-height: 60px !important;
}
.navCont{
    max-height: 50px;
    min-height: 50px;
    background-color: $unitec_principal;
    a{
        color:$white
    }
    a:hover{
        color: $white
    }
    .btn-menu-head{
        .whats, .tel, .solicitud{
            .searchNav{
                font-size: 14px;
                color: $white;
                i{
                    padding-right: $long-extra-small;
                    font-size: 14px;
                    // color: $white;
                }
                .telefono{
                    width:115px;
                    // color: $white;
                    font-weight: $Gotham-light;
                }
            }
            .btn-naranja-unitec{
                background-color: $unitec_secundario;
                font-weight: $Gotham-normal;
                text-transform: none;
                padding: .5rem .25rem;
                letter-spacing: -0.3px;
                width:155px;
                height: 32px;
            }
            .btn-naranja-landing{
                width:110px;
            }
        }
    }
    .buscador-desk{
        height: 32px;
        box-sizing: border-box;
        padding: 0 1rem;
        overflow: hidden;
        background:$white;
        .buscador-desk-input{
            input[type=search]{
                margin: 0;
                border: none;
                color: $titulos_principales;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 0 center;
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                opacity: .4;
                -webkit-appearance: none;
                        appearance: none;
            }
            input[type=search]:focus:not([readonly]){
                opacity: 1;
                box-shadow: none;
            }
            .microfono{
                    background: transparent;
                    border: none;
                i {
                    .path1 {
                        font-size: 1.2rem !important;
                    }
                    .path2 {
                        font-size: 1.2rem !important;
                    }
                }
            }
            .twitter-typeahead{
                width: 100%;
            }
        }
    }
    a.logoMenu{
        img{                
            height: 32px;
        }
    }
    a.btnMenuMobile{
        flex-direction: column;
        margin-top: -3px;
        i {
            font-size: 2.3rem;
            padding: 0;
        }
        .txt-menu{
            font-size: 0.65rem;
            text-align: center;
            margin-top: -6px;
        }
    }
    a {
        font-weight:$Gotham-light;
        i{
            font-size: $long-default;
            color:$white;
        }
    }
}
.arrow-r .icon-u-ver-abajo{
    position: absolute;
    right: 0;
}
.arrow-r.active{
    font-weight: 500 !important;
}
li.active > div{
    padding-left: 1rem;
}
/*Fixes para el menú*/
.nav-fixed-logo {
    position: fixed !important;
    width: inherit;
    background-color: #006fba!important;
    z-index: 10;
}
.nav-margin-logo {
    padding-top: 56px;
}
/* terminan estilos del menù estàtico superior */