@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.contenedor-principal-campus{
    @include full-screen(); 
    .imagen-campus {
        height: 65vh;
        width: 95%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .campusName {
            width: -webkit-fit-content;
                width: -moz-fit-content;
                    width: fit-content;
            display: block;
            padding: $long-default;
            font-size: 1.375rem;
            font-weight: $Gotham-medium;
            color: $white;
            background-color: rgba(0,80,160,.7);
            line-height: normal;
        }
    }
    .cont-card {
        margin-top: -2.5rem;
        margin-left: 1.5rem;
        border-radius: $radio;
        width: 98%;
        .texto-int-card{
            .card-sub-desk{
                font-weight: $Gotham-light;
                font-size: $long-default;
                line-height: normal;
            }
            .botones-campus{
                .link-list-boton{
                    .item-icon{
                        color:$unitec_secundario;
                    }
                    .item-description{
                        color:$unitec_secundario;
                        font-weight: $Gotham-light;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
.backface{
    -webkit-backface-visibility: initial;
            backface-visibility: initial;
    -webkit-transform: none !important;
            transform: none !important;
}