@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.content-gral-procesos{
    @include full-screen();
    position: relative;
}
.cont-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 765px;
}

li.nav-item-2.nav-item {
    width: 100%;
    margin-left: 0px;
}
a.linkSecundario{
    margin: 0;
    font-size: $long-default;
    font-weight: $Roboto-regular !important;
    padding: 0px !important;  
    display: inline-block !important;
    color: $unitec_secundario !important;
}


section#tabNav {
    align-items: center;
    &.free{
        align-items: end;
        i.direccionales{
            /* font-size: 40px;
            background-color: #f68b1f;
            border-radius: 50%;
            color: white; */
            &:first-child{
                margin-right: 5px;
            }
            &:last-child{
                margin-left: 5px;
            }
        }
    }
    .tabs-wrapper{
        flex: 1;
        ul.nav{
            &::-webkit-scrollbar {
                display: none;
                width: 0px;
                height: 0px;
            }
            ::-moz-scrollbar-track {
                -moz-box-shadow: inset 0 0 6px red;
                background: red;
            }
            ::-moz-scrollbar-thumb {
                border-radius: 10px;
                -moz-box-shadow: inset 0 0 6px red;
                background: greenyellow;
            }
        } 
    }
    i.direccionales{
        color: $unitec_secundario;
        &:first-child{
            margin-right: 5px;
        }
        &:last-child{
            margin-left: 5px;
        }
    }
}

/* Finalizan estilos para tabs custom */
.nextSeccion{ 
    padding: 10px;
    font-family: inherit;
    font-weight: $Roboto-regular;
    display: inline-block !important;
    color: $texto_secundario;
    background-color: $unitec_principal;
    outline: none;
    border: 0 solid transparent;
    cursor:pointer;
}

/* Inician estilos para lista simple */
// .simple-list {
//     width: 100%;
//     margin: 0;

//     &.no-active.active{
//         background-color: transparent;
//     }
//     .list-item-container {
//         width: 100%;
//         border-bottom: 1px solid rgba(0,0,0,.125);  //antes 125

//         /*Fix para pintar border en colapsables*/
//         // border-top: 1px solid rgba(0,0,0,.125);
//         /*Fix para pintar border en colapsables*/


//         .item-description {
//             padding: $long-default .3rem;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             flex: 1;
//             line-height: normal;
//             h6{
//                 font-weight: $Roboto-light;
//             }
//             a{
//                 color: $titulos_principales;
//                 .active{
//                     color: $titulos_principales;
//                 }
//                 &.linkSecundario{
//                     line-height: $long-small;
//                     text-align: right;
//                 }
//             }
//             p{
//                 margin:0;
//                 font-size: $font-size-default;
//                 font-weight: $Roboto-medium;
//                 a{
//                     text-decoration: none;
//                     cursor: pointer;
//                     b{
//                         color: #006fba;
//                         font-size: $h3;
//                         font-weight: $Roboto-medium;
//                     }
//                 }
                
//                 :hover{
//                     font-weight: $Roboto-medium;
//                 }
//             }
//         }
//         .arrow{
//             padding: $long-small;
//             display: flex;
//             align-items: center;
//             i,span{
//                 display: flex;
//                 font-size: $long-default;
//                 align-content: center;
//                 justify-content: center;
//             }            
//         }
//     }
// }


.titulo-stepper{
    font-size:$long-default;
    text-align:left;
}

.inicio-clases{
    padding: 1rem 0.7rem !important;
}

.alineacion-collapsable{
    padding-left:2.6875rem !important;
}

.asesor {
    margin: auto;
    font-family: inherit;
    font-weight: $Gotham-normal;
}

.content-procesos{
    p{
        line-height: normal;
    }
    .botones-coninuar{
        padding: 0px 15px !important;
    }
}
.stepper li a .circle {
    font-size: $long-default;
    color: $white;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    width: 35px;
    height: 35px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        font-size: $long-default;
    }
}
.stepper-vertical li:not(:last-child):after {
    left: 15px;

}