@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.contenedor-nuevas-carreras{
    @include full-screen();
    .svg-top{
        fill: #ededed;
        margin-bottom: -10px;
        -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
            -ms-transform: rotateY(180deg); /* IE 9 */
                transform: rotateY(180deg);
    }
    .svg-bottom{
        fill: #ededed;
        margin-top: -10px;
        -webkit-transform: rotateZ(180deg); /* Chrome, Safari, Opera */
            -ms-transform: rotateZ(180deg); /* IE 9 */
                transform: rotateZ(180deg);
    }
    .back-carreras{
        background: $gray-light;
    }
    .nuevas-carreras{
        .contenido-carreras{
            p{
                font-size:$long-default;
                line-height:normal;
                font-weight: $Gotham-light;
            }
            a {
                color: $titulos_principales;
            }
        }
        .carrusel-nuevas-carreras{
            .backface{
                -webkit-backface-visibility: initial;
                        backface-visibility: initial;
                -webkit-transform: none;
                        transform: none;
            }     
        }
        .card{
            img{
                width:100%;
            }
            .sub-nuevas-carreras{
                font-weight: $Gotham-normal;
                font-size: $long-default;
                line-height: normal;
            }
            .descripcion-carrera{
                font-size: .9375rem;
                font-weight: $Gotham-light;
                line-height: 1.4;
            }
        }         
    }
}
.active-link {
    font-weight: $Gotham-medium;
    color: $unitec_principal !important;
}