@import "../generales/_variables_temaunitec";
// .iframedfp{
//     height: calc(100vh - 65px) !important;
// }
iframe{
    // padding-top: 65px;
    max-width: 100vw;
    min-width: 100%;
    // position: absolute;
    height: calc(100vh - 65px);
    bottom: 0;
}
.result{ height: -webkit-fill-available; padding-top: 65px }
.indicadores{ li{ margin:0 5px !important } }
.title-banner-dfp{ font-weight: 400; }
.btnB {
    display: none;
    align-items: center;
    position: absolute;
    margin-left: calc(50vw - 18px);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #f68b1f!important;
    z-index: 30;
    touch-action: manipulation;
    bottom: 0px;
    i{ font-size: 1.5rem; width: 100%; text-align: center; color: #fff;} 
}
.dfp-firefox{
    display: flex;
    align-items: stretch;
    height: calc(100vh - 50px);
}
.descripcion-mobile{ display: none; }
.titulo-mobile{ display: none; }
@media (max-width: 815px) {
    iframe{
        max-width: 100vw;
        min-width: 100%;
        // position: absolute;
        // height: calc(100vh - 50px);
        height:-webkit-fill-available;
        bottom: 0;
    }
    .result{ height: -webkit-fill-available; padding-top: 50px }
    .descripcion-mobile{ display: block; }   
    .titulo-mobile{ display: block; }
    .titulo-desktop{ display: none !important; }
    .result{ padding-top: 50px }
    .indicadores{ position: relative !important; bottom: 3.5rem !important; li{ margin:0 6px !important; max-width:9px!important;height:8px!important } }
    .bann_wind{
        height: -webkit-fill-available;
        background-size: cover;
    }
    #backImage{
        // height: calc(100vh - 50px);
    }
    .position-dfp{
        position: initial!important;
    }
    .container{
        align-items: end !important;
        .cont-banner-mob{
            height: calc(100vh - 50px);
            .cintillo{
                background-color: rgba(0,80,160,.7);
                font-weight: 300;
                display: flex;
                justify-content: center;
                align-items: center;
                position:fixed;
                color: #fff;
                padding: 16px;
                width: 100%;
                font-size: 1.375rem;
                top: 0%;
                .banner-share{display: none !important;}
                .vineta-orange{border-left: solid 2px #f68b1f;padding-left: 5px;
                }
            }
            .position-mob{
                position: absolute;
                bottom: 15vh;
                padding: 0 10px;
                text-align: center;
                .descripcion-banner{font-size: 1.5rem!important;color: #fff;margin: 10px 0 0; font-weight: 400;}
                .texto-banner-carousel{font-size: 1.2rem!important;color: #fff;margin: 10px 0 0;}
                .back-naranja-unitec {margin: 10px 0 0; font-size: 1rem}
            }
        } 
    }
    .btnB { display:flex; bottom: 10px }
}
@media (max-width: 815px) and (orientation: landscape) {
    .container .cont-banner-mob .position-mob{bottom: 20vh}
    .container .cont-banner-mob .cintillo{margin-top: 20px; display: none}
    .indicadores {bottom: 45px!important}
}