@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";


.svg-top{
    fill: #ededed;
    margin-bottom: -10px;
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
        -ms-transform: rotateY(180deg); /* IE 9 */
            transform: rotateY(180deg);
}
.svg-bottom{
    fill: #ededed;
    margin-top: -10px;
    -webkit-transform: rotateZ(180deg); /* Chrome, Safari, Opera */
        -ms-transform: rotateZ(180deg); /* IE 9 */
            transform: rotateZ(180deg);
}
.mapa-curricular{
	@include full-screen();
	position: relative;
	.titulo-mapa{
		position: absolute;
		top: 40px;
		z-index: 1;
	}
	.back-mapa{
		background-color: $gray-light;
		padding-bottom: 1rem;
	}
	.dropdown {
		border: 1px solid $unitec_principal;
		height: 75px;
		.destacar:hover {
			background-color: $unitec_secundario !important;
		}
		.drop-view {
			flex: 1;
			cursor: pointer;
		}
		.duracion {
			color: $unitec_principal;
			padding: 0.1875rem 0rem 0.1875rem 1rem;
			font-weight: $Gotham-medium !important;
			.semestres {
				color: $titulos_principales;
				font-weight: $Gotham-light !important;
				font-size: 0.95rem;
			}
		}
		.abajo {
			color: $unitec_principal;
			font-size: $long-extra-large;
		}
	}
	.col-izq {
		ul {
			li {
				// & .duracion-3:nth-last-of-type(1){
				// 	margin-bottom: 0 !important;
				// }
				font-weight: $Gotham-light !important;
				line-height: 1;
				.tab-materias {
						font-size: $long-default;
				}
				.nav-link {
					color: $white;
					background-color: #cccccc;
					padding: 0.5rem 0rem;
					cursor: pointer;
				}
				.nav-link.active {
					background-color: $carreras_salud !important;
					width: 110%;
					position: relative;
					z-index: 1;
					padding: 13px 0px;
					padding-right: 10%;
					font-weight: $Gotham-normal;
					-webkit-border-radius: 0.1875rem 0rem 0rem 0.1875rem;
					   -moz-border-radius: 0.1875rem 0rem 0rem 0.1875rem;
						-ms-border-radius: 0.1875rem 0rem 0rem 0.1875rem;
						 -o-border-radius: 0.1875rem 0rem 0rem 0.1875rem;
							border-radius: 0.1875rem 0rem 0rem 0.1875rem;
					-webkit-transition: all 0s;
					   -moz-transition: all 0s;
						 -o-transition: all 0s;
						-ms-transition: all 0s;
							transition: all 0s;
				}
				.nav-link.active:before {
					content: "";
					position: absolute;
					top: 0px;
					left: 99.99%;
					width: 0;
					height: 0;
					border-width: 1.34375rem;
					border-style: solid;
					border-color: transparent transparent transparent $carreras_salud;
				}
			}
		}
	}
	.labelMaterias{
		font-weight: 300;
    	line-height: 1;
	}
	.indicadoresMaterias{
		flex-direction: row;
		flex-wrap: wrap;
		.filtro-indicadores{
			font-weight: 400;
			.indicador{
				width: 1rem;
				height: 1rem;
				@include colores();
			}
		}
	}
	.fila {
		.cont-materia {
			width: 31%;
			height: 6.125rem;
			color: $white;
			padding: 3%;
			font-size: $long-default;
			font-weight: $Roboto-light;
			line-height: 1.1;
			margin: 1.1%;
			@include colores();
		}
		// .azul {
		// 	background-color: $unitec_principal;
		// 	margin: 1.1%;
		// }
	}
	.icons-mapa {
		a {
			i {
				width: 2.5rem;
			}
		}
	}
	.descarga-plan {
		color: $unitec_secundario !important;
		font-size: 2rem !important;
	}
}
.mapa-share {
	#demo {
        -webkit-transition: width 2s ease;
           -moz-transition: width 2s ease;
             -o-transition: width 2s ease;
                transition: width 2s ease;
        
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        width: 0rem;
    }
    #demo.in {
        width: 30rem;
    }
  	.social-reveal-mapa {
     	position: absolute;
      	right: 5rem;
      	visibility: hidden;

  	}
  	.social-reveal-active-mapa {
      	z-index: 11;
      	visibility: visible;
    	text-align: right !important;
    	ul {
    		margin-top: 0rem;
    	}
  	}
  	a {
      	i {
        	color: $unitec_secundario;
        	margin-right: 0.25rem;
      	}
  	}
}