@import "../generales/_variables_temaunitec";
.mask{
    // background-color: rgba(0,0,0,0.2);
    .pleca {
        min-height: 70vh;
        background-color: rgba(0,80,160,.9);
        .alineacion-texto {
            .descripcion-banner {
                font-weight: $Gotham-light;
            }
            .subtitulo-banner {
                font-weight: $Gotham-light;
            }
            .texto-claro {
                color: $white;
            }
        }
    }
}