$margen-quest: 0px 0px .5vh 0px;
$azul:#006fba;
$gris:rgba(0, 0, 0, 0.125);
$gris-font:#757575;
$espacio-ente-preguntas:0px 0px 3vh 0px;

@font-face {
    font-family: "Roboto Light";
    src: url("/wp-content/themes/temaunitec/assets/frontend_desktop/font/generales/roboto/Roboto-Light.woff2");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("/wp-content/themes/temaunitec/assets/frontend_desktop/font/generales/roboto/Roboto-Regular.woff2");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("/wp-content/themes/temaunitec/assets/frontend_desktop/font/generales/roboto/Roboto-Medium.woff2");
}

*:focus {
    outline: none;
    opacity: 1 !important;
}

/* ===================================== ESTILOS ESPECÍFICOS DE LA CALCULADORA ==============================*/
.d-flex{
    display: flex !important;
}
.d-none{
    display: none !important;
}
.align-items-center{
    align-items: center !important;
}
.justify-content-center{
    justify-content: center !important;
}
.justify-content-between{
    justify-content: space-between !important;
}

.mx-auto{
    margin: auto !important;
}
.mb-1{
    margin-bottom: 1vw;
}
.mb-2{
    margin-bottom: 2vw;
}
.mb-3{
    margin-bottom: 3vw;
}
.mt-0 {
    margin-top: 0!important;
}
.mt-1 {
    margin-top: 1vh!important;
}
.mt-2{
    margin-top: 2vw
}
.mt-3{
    margin-top: 3vw;
}
.mt-4{
    margin-top: 4vw;
}

.w-20{
    width: 19% !important;
}
.w-40{
    width: 40% !important;
}
.w-50{
    width: 50% !important;
}
.w-80{
    width: 80% !important;
}
.w-100{
    width: 100% !important;
}
.tc{
    text-align: center !important;
}

.contenedor-principal-calculadora{
    overflow: hidden;
}
.close-x-last{
    cursor: pointer;
    background-color: #f68b1f;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-size: 3vh;
    width: 5vh;
    height: 5vh;
    font-family: "Roboto Bold", sans-serif;
    border: none;
    padding: 1px;
    float: right;
    right: 0.5vw;
    top: 1vh;
    z-index: 1;
}
.titlecont{
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: space-between;
    background-color: $azul;
    color: #fff;
    padding: 1vh 0 1vh 0;
    z-index:999;
    .titulo-calculadora{
        .title-inside{
            font-size: 3vh;
            font-family: "Roboto Light", sans-serif;
            margin: 0 0 0 8rem;
        }
        .steps-calc{
            align-items: center;
            .pasos{
                margin: 0 1rem;
                font-size: 2vh;
                font-family: "Roboto Medium";
                .steps{
                    color: #f68b1f;
                    font-family: "Roboto Bold";
                    font-weight: bolder;
                }
            }
            .close-x{
                cursor: pointer;
                background-color: #f68b1f;
                border-radius: 50%;
                position: relative;
                color: #fff;
                font-size: 2.5vh;
                width: 4vh;
                height: 4vh;
                font-family: "Roboto Medium", sans-serif;
                margin-right: 1rem;
                border: none;
                padding: 1px;
            }
        }
    }
}
.overlay-controls{
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: space-between;
    // background-color: $azul;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    // padding: 1vh 0 1vh 0;
    height: 100%;
    z-index:999;
}
#project.missing-select{
    border: 1px solid $azul !important;
}
.ipt-b {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1vh 3.5vw 1vh .5vw;
    width: 100%;
    background: transparent;
    color: #757575;
    font-size: 1.25vw;
    transition: opacity 0.3s;
    opacity: 0.8;
    margin: auto;
    font-family: "Roboto Medium", sans-serif; 
}
.ipt-b:hover{
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1), 0 4px 20px 0 rgba(0,0,0,.05);
            box-shadow: 0 2px 10px 0 rgba(0,0,0,.1), 0 4px 20px 0 rgba(0,0,0,.05);
    background-color: transparent;
}
// .programa-academico{
//     width: 60%;
//     margin: auto;
// }
// .programa-academico:after {
//     position: relative;
//     content: "";
//     top: -3.5vh;
//     left: -2vw;
//     float: right;
//     border: 6px solid transparent;
//     border-color: rgba(246,139,31, 0.9) transparent transparent transparent;
// }
// .programa-academico-small{
//     width: 100% !important;
// }
// .programa-academico-small:after {
//     position: relative;
//     content: "";
//     top: -45%;
//     left: -1vw;
//     float: right;
//     border: 6px solid transparent;
//     border-color: rgba(246, 139, 31, 0.9) transparent transparent transparent;
// }
.ui-autocomplete{
    z-index: 9999999 !important;
    overflow-y: scroll;
    max-height: 39vh;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: absolute !important;
    padding: .5rem 0;
    margin: .125rem 0 0;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;     
            filter: blur(0px) !important;
         -o-filter: blur(0px) !important;
        -ms-filter: blur(0px) !important;
       -moz-filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
    .ui-menu-item{
        cursor: pointer;
    }
    .ui-menu-item-wrapper{
        margin: 5px 10px;
        font-size: 1.25vw;
        padding: 0.5rem;
        font-family: "Roboto Medium", sans-serif;
    }
    .ui-menu-item-wrapper:hover{
    border-radius: 2px;
    background-color: #f68b1f!important;
    color: #fff!important;
    transition: all .1s linear;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
}
i {
    display: inline-block;
    padding: 10px;
    
}

.down-window{
    border: solid #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-width: 0 3px 3px 0;
    padding: .3vw;
    margin-top: -5px;
}
.top-window{
    border: solid #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-width: 3px 0px 0px 3px;
    padding: .3vw;
    margin-top: 5px;
}

.plus-controls{
    position: relative;

    &:before,
    &:after{
        content: "";
        position: absolute;
        background-color: white;
        transition: transform 0.25s ease-out;
    }

    /* Vertical line */
    &:before{
        top: 2px;
        left: 49%;
        width: 4px;
        height: 80%;
        margin-left: -2px;
    }

    /* horizontal line */
    &:after{
        top: 50%;
        left: 1.5px;
        width: 80%;
        height: 4px;
        margin-top: -2px;
    }
}

.minus{
    &:before{display: none;}
}

/**Dropdown Selector*/

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: "Roboto Medium", sans-serif;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.select-selected.missing-select {
    border: 1px solid $azul !important;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style items (options):*/
.select-items {
    position: absolute !important;
    z-index: 9999999 !important;
    overflow-y: auto;
    max-height: 35vh;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    left: 0;
    right: 0;
    top: 100%;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    padding: 0 0.5rem 0.5rem;
}
.select-items div,.select-selected {
    margin: 2px 0px;
    padding: 0.5rem 1rem 0.5rem 0.7rem;
    font-size: 1.25vw;
    cursor: pointer;
    user-select: none;
    border-radius: 0.25rem;
    text-align: left;
}
.select-selected:hover{
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}
.select-selected.inactive{
    color: #757575;
    background-color: #ebebeb;
    border-color: #adadad !important;
    // color: #004085;
    // background-color: #cce5ff;
    // border-color: #6cb2ff !important;
    content: no-open-quote;
    cursor: not-allowed;
    pointer-events: none;
    z-index: 1;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    border-radius: 2px;
    background-color: #f68b1f!important;
    color: #fff!important;
    transition: all .1s linear;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
/****icono del reset***/
.icono-reset {
    // width: 10px;
    height: 9%;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-left-color: transparent;
    margin-top: 10px;
}
.icono-reset:before {
	position: absolute;
	width: 0;
	height: 0;
	left: -7px;
	bottom: 0;
	border-width: 6px;
	border-style: solid;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg)
}
[class*=icono-][class*=Circle],
[class*=icono-][class*=Square],
[class*=icono-check][class*=Circle] {
	border: 2px solid
}

[class*=icono-] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-style: normal;
	color: #717171;
	text-align: left;
	text-indent: -9999px;
	direction: ltr
}
[class*=icono-]:after,
[class*=icono-]:before {
	content: '';
	pointer-events: none
}

[class*=icono-][class*=Circle] {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 2px
}

[class*=icono-][class*=Square] {
	border-radius: 4px;
	width: 30px;
	height: 30px;
	margin: 2px
}

// [class*=icono-],
// [class*=icono-] * {
// 	box-sizing: border-box
// }
/* ================================ TERMINAN ESTILOS ESPECÍFICOS DE LA CALCULADORA ===========================*/

.btn-or{
    background-color: #f68b1f;
    line-height: 1.25;
    font-size: 2vh;
    letter-spacing: 1px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

#results{
    right: 0;
    top: 0;
    position: fixed;
    width: 55%;
    height: 100%;
    overflow-y: auto;
    background-color: #006fba;
    z-index: 5
}


#selector-float{
    color: #757575;
    overflow: auto; 
    z-index:15;
    width: 40%;
    height: 100%;
    position: fixed;
    left: 0px; 
    bottom: 0px; 
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.59) 0px -14px 20px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
 }

.ca{
    color: #006fba;
}

.btn-group{   
    position: relative;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    >.btn {
        position: relative;
        float: left;
    }
}
 


    #text{
        position: absolute;
        top: 25%;
        right: 0;
        width: 50vw;
        padding-right: 1vw;
        color: white;
        p{
            font-size: 2.5vw;
            font-family: "Roboto Light", sans-serif;
            font-weight: 100;
        }
        .bullets{
            font-family: "Roboto Medium", sans-serif;
            font-weight: 500;
            font-size: 2.5vw;
            span{
                color: #f68b1f;
            }
        }
    }
    // .btn {
    //     padding: .6vw;
    //     vertical-align: middle;
    //     display: inline-block;
    //     zoom: 1;
    // }
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.6); /* Black background with opacity */
        z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    .btn-circ{
        cursor: pointer;
        font-family: "Roboto Medium", sans-serif;
        border-radius: 50%;
        width: 2.5vh;
        font-size: 1vw;
        background-color: #FFF;
        color: #757575;
        padding: 1vh;
        display: inline-block;
        zoom: 1;
        border: 1px solid rgba(0, 0, 0, 0.125);
        margin: 4px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-sizing: unset;
        width: 1vw;
    }
    
    .btn-dual-x {
        cursor: pointer;
        background-color: #fff;
        color: #757575;
        transition: .2s ease-out;
        font-size: 1.4vw;
        width: 11.5vw;
        height: 2.5vw;
        border: 1px solid rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .btn-dual-y {
        cursor: pointer;
        background-color: #fff;
        color: #757575;
        transition: .2s ease-out;
        font-size: 1vw;
        width: 9vw;
        height: 2.5vw;
        border: 1px solid rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);        
    }
    .btn-dual-x.selected{
        background-color: $azul;
        color: #FFF;
    }

    .card.selected{
        background-color: $azul;
        color: #FFF;
        .card-body{
            .cuadro{
                filter: invert(100%) brightness(1) sepia(0) hue-rotate(0) saturate(1)!important;
            }
        }
    }

    .btn-dual-y.selected{
        background-color: $azul;
        color: #FFF;
    }

    .btn-dual.selected{
        background-color: $azul;
        color: #FFF;
    }

    .btn-circ.selected{
        background-color: $azul;
        color: #FFF;
    }
.reset{
    background-color: #f68b1f;
    color: #fff;
    border-radius: 50%;
    width: 3vw;
    height: 2.5vw;
    font-size: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    .flecha-reset{
        transform: rotate(135deg);
        margin: 3px 0px 0px 2px;
    }
}
.reset-2{
    color: #f68b1f;
    border-radius: 50%;
    width: 3vw;
    height: 2.5vw;
    font-size: 2vw;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .flecha-reset{
        transform: rotate(135deg);
        margin: 3px 0px 0px 2px;
    }
}
    .sel{
        width: 48%;
        vertical-align: top;
        display: inline-block;
        zoom: 1;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        display: flex;
        align-items: center;
    }

 
.alert-primary {
    color: #757575  ;
    background-color: #ebebeb;
    border-color: #adadad !important;
    font-family: "Roboto Medium", sans-serif;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.bl{border-radius: 10px 0 0 10px;}

.bl:nth-child(2){
    border-radius: 0 10px 10px 0px;   margin-left: -0.5vw;
}
// .br{border-radius: 0 10px 10px 0px;   margin-left: -0.5vw;}

.btn-dual {
    cursor: pointer;
    background-color: #fff;
    color: #757575;
    transition: .2s ease-out;
    font-size: 1vw;
    width: 7vw;
    height: 2vw;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mr{
    margin-right: 2vw
}

#results{
    color:#FFF;
    
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

.PromotionGlobalLarge-videoBackgroundWrapper {
    position: relative;
    width: 100%;
    max-height: 70vh;
    z-index: 0;
    transition:width 500ms;
}

.PromotionGlobalLarge-videoBackground {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #0B2343;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Medium", sans-serif;
    line-height: normal;
    margin: 0;
}

.pad{
    padding: 20px
}


#first{
    text-align: center;
    background-color: #006fba;
    padding: 2vw 3vh 2vw 3vw;
    position: relative;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: unset;
    .rs-carrera {
        font-family: "Roboto Medium",sans-serif;
        font-weight: 300;
        font-size: 4vh;
        text-align: left;
        margin: 1vh 0;
        letter-spacing: 1px;
    }
    .sub-carrera{
        display: flex;
        justify-content: flex-start;
        margin: 2vh 0;
        width: auto;
    }
    .rs-mod, .rs-campus, .rs-line {
        font-size: 3vh;
        font-family: "Roboto Light", sans-serif;
        font-weight: 300;
    }
    // .imagen{
    //     margin: 2vh 0;
    // }
    .calc-becas{   
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        >.resumen {
            width: 100%;
            >.resumen-sub{
                font-size: 2.5vh;
                font-family: "Roboto Light", sans-serif;
                font-weight: 300;
                letter-spacing: 1px;
                text-align: left;
                margin: 1vh 0;
            }
            >span {
                font-size: 3.5vw;
                font-family: "Roboto Medium", sans-serif;
                font-weight: 500;
                letter-spacing: 1px;
                text-align: left;
                float: left;
            }
        }
    }
    .copy{
        font-size: 1.5vw;
        .copy-line{
            justify-content: space-between;
            .btn-copy{
                font-size: 3vh;
                font-family: "Roboto Light", sans-serif;
                font-weight: 300;
            }
        }
    }
}

.scrollbar-calculadora::-webkit-scrollbar {
    width: 10px;
    -webkit-transition: 2s ease-out;
            transition: 2s ease-out;
}
.scrollbar-calculadora::-webkit-scrollbar-thumb {
    background: #006fba;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px -5px 5px rgba(66,137,224,1) inset, 4px 3px 3px rgba(158,226,225,1) inset;
}
.scrollbar-calculadora::-webkit-scrollbar-track {
    background: #FBFBFB;
    box-shadow: 3px 3px 10px rgba(0,0,0,.5) inset;
}
// .scrollbar-calculadora::-webkit-scrollbar-button:vertical:decrement{
// 	background-image: url(https://poselab.com/contenidos/webkit-scrollbar/scrollbar/arrow-up.png), -webkit-linear-gradient(left,  #f9f9f9 50%,#e2e2e2 100%) ;
// 	background-repeat: no-repeat;
//     background-position: 2px 3px, 0 0;
// }
// .scrollbar-calculadora::-webkit-scrollbar-button:vertical:increment{
// 	background-image: url(https://poselab.com/contenidos/webkit-scrollbar/scrollbar/arrow-down.png), -webkit-linear-gradient(left,  #f9f9f9 50%,#e2e2e2 100%) ;
// 	background-repeat: no-repeat;
//     background-position: 2px 3px, 0 0;
// }


.blur{
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px)
}

.check:nth-child(2) li:before { content:"\2714\0020"; color: #f68b1f; font-size: 2vw; margin-right: 4px;}  /* OR */

#resumen{
    background-color: #02538b;
    padding: 2vw;
    position: relative;
    overflow: auto;
    .copy{
        .copy-sub{
            font-size: 1.8vw;
            font-family: "Roboto Medium", sans-serif;
            letter-spacing: 1px;
        }
        .copy-plan{
            font-size: 2vw;
            font-family: "Roboto Medium", sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: left;
        }
        .btn-descarga{
            border: solid 2px;
            border-radius: 3px;
        }
        // .btn-descarga:hover{
        //     background-color: #fff;
        //     color: #f68b1f;
        // }
        .check{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            text-align: left;
            padding: 0;
            li{
                display: inline-flex;
                align-items: center;
                font-family: "Roboto Light", sans-serif;
                letter-spacing: 1px;
                margin: 0.25vh 0;
                line-height: 1.25;
            }
        }
    }
}

.politicas{
    text-align: right;
    p{
        font-size: 1.5vh;
        font-family: "Roboto Light";
        letter-spacing: 1px;
        margin: 0;
    }
}

.controls{
    position: absolute;
    z-index: 10;
    cursor: pointer;
    left: 4vw;
    margin-top: 5vh;
}
.back{
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 5.5vh;
    height: 5.5vh;
}
i.left{
    border: solid #757575;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-width: 0px 0px 3px 3px;
    padding: .4vw;
    margin-right: -6px;
}
.abajo{
    position: relative;
    right: 2vw;
    z-index: -1;
}
i.ver-abajo{
    border: solid #f68b1f;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-width: 0px 3px 3px 0px;
    padding: .3vw;
    margin-top: -5px;
}
.more{
    background-color: #f68b1f;
    
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    right: 48%;
    align-items: center;
    border-radius: 50%;
    width: 4.5vh;
    height: 4.5vh;
    margin-top: -2vh;
    cursor: pointer;
    -webkit-animation: parpadeo 2s;
       -moz-animation: parpadeo 2s;
            animation: parpadeo 2s;
    -webkit-animation-iteration-count:infinite;
       -moz-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
}

.more-controls{
    background-color: #f68b1f;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    right: 93%;
    align-items: center;
    border-radius: 50%;
    width: 4.5vh;
    height: 4.5vh;
    margin-top: 48vh;
    cursor: pointer;
}

.adjust-container{
    padding: 0px !important;
    display: block;
    margin-bottom: -9vh;
    margin-top: -3vh;
}

@keyframes parpadeo { 
0% {background-color: transparent}
100%{background-color: #f68b1f;} 
}

@-webkit-keyframes parpadeo { 
0% {background-color: transparent}
100%{background-color: #f68b1f;} 
}

.materias{
    text-align: center;
    margin: 2vh auto;
}

.subtitulo{
    margin: 1vh 0;
    font-family: "Roboto Bold", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    text-align: center;
}
.label{margin: $margen-quest}
    
.containerFirst{
    padding: 0 5vh;
    .quest{
        // text-align: center;
        padding: 0 1vw;
    }
}
.prepaUnamContainer{
    justify-content: space-evenly !important;
}
.prepaUnam{
    justify-content: space-between;
    div.disponible_materias{
        display: flex;
        align-items: center;
        width: 100% !important;
        margin-right: 0!important;
        justify-content: space-between;
        div.aniosduracion{
            margin: 0!important;
            button.btn-dual{
                margin: 0;
                width: 14vw;
                height: 4vh;
                font-size: 2vh;
                display: flex;
                color: #ffffff;
                align-items: center;
                border-radius: .5rem;
                padding: .25rem .5rem;
                justify-content: center;
                background-color: #006ebb;
                border: 1px solid rgba(0,0,0,.125);
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            }
        }
    }
    div.materias{
        margin: 0!important;
        .btn-dual-y.selected{
            margin: 0;
            width: 14vw;
            height: 4vh;
            font-size: 2vh;
            display: flex;
            color: #ffffff;
            align-items: center;
            border-radius: .5rem;
            padding: .25rem .5rem;
            justify-content: center;
            background-color: #006ebb;
            border: 1px solid rgba(0,0,0,.125);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        }
    }
}
.containerSecond{
    // padding: 2vh;
    // padding-top: 0;
    // padding-bottom: 2vh;
    //display: flex;
    height: 100%;
    padding: 0 2vh;
    flex-direction: column;
    justify-content: space-around;
    .subtitulo{
        font-size: 2vh;
        text-align: left;
        margin: 1vh;
    }
}
//PRIMERA INTERACCION
// .cont-quest {padding: 0vw 21vw;} //CONTENEDOR PRINCIPAL EN PASO 1
// .cont-quest>.quest>.subtitulo{ font-size: 2vw; text-align: center; }
// .cont-quest > .quest > .desc-subtitle {
//     margin: 1vw 0 3vw 0;
//     color: #c5c5c5;
//     text-align: center;
// }

    
   
.cont-quest{
    >.quest{
        >.sliderCalc{
            display: block;
            >.output{
                width: 15vw;
                height: 13vw;
                margin: 0 auto;
                font-size: 12vw;
                color: #006ebb;
                background-color: #FFF;
                font-family: "Roboto Medium",sans-serif;
                font-weight: 600;
            }
        }
        >.desc-subtitle{
            margin: 1vh 0 2vh 0;
            color: #757575;
            text-align: center;
            font-family: "Roboto Light", sans-serif;
            font-weight: 300;
            font-size: 2.2vh;
        }
    }
    .card{
        border-radius: .25rem;
        margin: 1vw;
        width: 15%;
        .card-body{
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 0.5rem;
            font-weight: 400;
            > h5{
                margin-bottom: 2vh;
                font-size: 2vh;
                font-weight: 400;
            }
            // >.PREPA{
                
                //     -webkit-mask-image: url(http://www.calidadacademica.mx/assets/preparatoria.svg);
                //             mask-image: url(http://www.calidadacademica.mx/assets/preparatoria.svg);
                //     -webkit-mask: url(http://www.calidadacademica.mx/assets/preparatoria.svg) no-repeat 50% 50%;
                //             mask: url(http://www.calidadacademica.mx/assets/preparatoria.svg) no-repeat 50% 50%;
                //     -webkit-mask-size: contain;
                //             mask-size: contain;
                // }
            >.PREPA {
                background-image: url("/assets/preparatoria.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            >.UG{ 
                background-image: url("/assets/licenciatura.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            >.ING{  
                background-image: url("/assets/ingenieria.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            >.CS{                
                background-image: url("/assets/salud.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            >.POS{              
                background-image: url("/assets/posgrado.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            >.DIP{              
                background-image: url("/assets/diplomado.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }        
            >.cuadro{
                height: 10vh;
                margin: 2vh 0;
                filter: invert(100%) brightness(0.4) sepia(0) hue-rotate(0deg) saturate(1);
                //background-color: #757575;
            }
            >.btn-dtc{
                display:inline
            }  
        }
    }
}


.card-calculadora{
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2vw;
    vertical-align: middle;
    padding: 1.2vh 0;
    margin: 0 2px;
}
.card-adapted{
    cursor: pointer;
    background: #f68b1f;
    color: white;
}
.btn-dtc{display:none}

.btn:not([disabled]):not(.disabled) {
    cursor: pointer;
}
.btn.btn-sm {
    font-size: .6rem;
    padding: .5rem 1.6rem;
}
.btn.btn-sm, .btn.wishlist {
    font-size: .6rem;
    padding: .5rem 1.6rem;
}
.btn {
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    color: #fff!important;
    white-space: normal!important;
    word-wrap: break-word;
    text-transform: uppercase;
    padding: .6vw 1vw;
}
.button-whatsapp {
  color: #fff!important;
  background-color: #25D366;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto !important;
  box-shadow: 0 1px 5px 0px rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
  padding: 15px 0 !important;
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.2vw;
  letter-spacing: 0.5px;
}
.btn-proceso{
    width: 75%;
    padding: 15px 0 !important;
    font-family: "Roboto Medium", sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.5px;
}
.btn-dtc {
    background: #086fb9;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

 
body {
    background: white;
  }
  
  
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 2.5vh;
    border-radius: 10px;
    background: #eeeeee;
    border: solid 1px rgba(0,0,0,0.1);
    margin: 0;
}

    input[type=range]:focus {
      outline: none; }
    input[type=range]::-webkit-slider-runnable-track {
      width: 98%;
      height: 0.3rem;
      cursor: pointer;
      background: #eee;
      border-radius: 5px; }
    input[type=range]::-webkit-slider-thumb {
      height: 2vw;
      width: 2vw;
      border-radius: 2vw;
      background: #0275d8;
      border:none;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -.9vw; }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 0.3rem;
      cursor: pointer;
      background: #eee;
      border-radius: 5px; }
    input[type=range]::-moz-range-thumb {
      height: 1rem;
      width: 1rem;
      border-radius: 0.5rem;
      background: #0275d8;
      border:none;
      cursor: pointer; }
    input[type=range]::-ms-track {
      width: 100%;
      height: 0.3rem;
      cursor: pointer;
      background: transparent;
      color: transparent; }
    input[type=range]::-ms-fill-lower {
      background: #e1e1e1;
      border-radius: 10px; }
    input[type=range]::-ms-fill-upper {
      background: #eee;
      border-radius: 10px; }
    input[type=range]::-ms-thumb {
      height: 1rem;
      width: 1rem;
      border-radius: 0.5rem;
      background: #0275d8;
      border:none;
      cursor: pointer; }
    input[type=range]:focus::-ms-fill-lower {
      background: #eee; }
  
datalist {    
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 1vh;
    font-family: "Roboto Medium", sans-serif;
    & :nth-child(1){
        padding-left: 0.5rem;
    }
    & :nth-child(2){
        padding-left: 0.3rem;
    }
    & :nth-child(3){
        padding-left: 0.3rem;
    }
    & :nth-child(4){
        padding-left: 0.3rem;
    }
 }
datalist option::before {
    content: '';
    display: block;
    width: 0px;
    border: 1px solid #aba99e;
    height: 1.3vh;
    margin: auto;
}

.output{
    background-color: #006ebb;
    width: 6vw;
    height: 5vw;
    color: #FFF;
    display: flex;
    align-items: center;
    margin-top: 0.5vh;
    margin-right: 1vw;
    font-size: 2.5vw;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    font-family: "Roboto Medium",sans-serif;
}

.p-activa {
    visibility: visible;
    height: auto;

}
.hide{display: none}
.hide-prepa{display:none !important}
.hidev{visibility: hidden}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    }
    
    .Aligner-item {
    max-width: 50%;
    }
    
    .Aligner-item--top {
    align-self: flex-start;
    }
    
    .Aligner-item--bottom {
    align-self: flex-end;
    }

    .desc-subtitle {
        margin: 1vh 0 2vh;
        font-family: "Roboto Light", sans-serif;
        text-align: center;
        font-size: 2.2vh;
    }


//.an-up{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1;display:block}}
.an-slideUp{ 
    position:relative;
    animation:animatebottom 0.4s ;
        
}
@keyframes animatebottom{
    from{top:0px;opacity:1} 
    to{top:-300px;opacity:0} 
}

.an-slideDownToUp{ 
    position:relative;
    animation:animatestu 0.4s ;
        
}
@keyframes animatestu{
    from{top:-300px;opacity:0} 
    to{top:0px;opacity:1} 
}



.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}




div.main { width: 100%; height: auto; }
div#footer { width: 100%; height: 200px; background: yellow; }
#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}
#project-icon {
    float: left;
    height: 32px;
    width: 32px;
}
#project-description {
    margin: 0;
    padding: 0;
}

#selector-float{
    width: 100%;
    z-index: 9;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span.thumb{
    display: none;
}

.button-whatsapp-100 { width: 100% !important;font-size: 1vw !important}
.btn-proceso-100{width: 100% !important;font-size: 1vw !important}

.cont-video-beca-open{ display:flex; }
.cont-left-open{ width: 75%; }
.cont-right-open{ width: 15%; padding: 5vh 4vw; }

.cont-video-beca-close{ display: block; }
.cont-left-close{ width: 100%; }
.cont-right-close{ width: 100%; padding: 0; margin-top: 2vh;
    .calc-becas{
        flex-direction: row !important;
        justify-content: space-between !important;
        .resumen-sub{ text-align: center !important;}
        .rs-beca, .rs-pg-final, .rs-ahorro-mns{font-size: 2.5vw !important;}
        span{ float: none !important;}
    } }




/************* MEDIA QUERY'S PARA LA VERSIÓN MOBILE ***********/
@media (max-width: 750px) {
    .main-calculadora-todo{
        display: flex;
        flex-direction: column;
    }
    #results, #selector-float{
        position: relative;
        width: 100vw !important;
    }
    #selector-float{
        height: 100vh !important;
        flex-direction: initial;
    }
    #first{
        padding: 1vw 3vh 1vw 2vw;
    }
    .containerFirst{
        width: 95vw;
        padding: 0 1vh;
    }
    .btn-group{
        flex-wrap: wrap;
    }
}

.pruebaCalc{
    display: inline;
}
.breadcrumbs{
    position: absolute;
    top: 60px;
}
.bread-name{
    line-height: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto Regular",sans-serif;
}
.breadActive{
    color: #f68b1f;
}
a.bread-name:focus, a.bread-name:hover {
    color: #014c8c;
}
    