@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

#listado{
    height: 60px;
}
.descripcion-links {
    position: relative;
    z-index: 1000;
    background-color: $white;
    .respaldo-eco {
        .respaldo-card {
            .respaldo-title {
                margin-bottom: 1.5rem;
                font-weight: $Gotham-light;
                font-size: $h3;
            }
            .respaldo-text {
                font-size: $long-default;
                font-weight:$Gotham-light;
                line-height: $Gotham-Book;
                padding-bottom: 3rem;
            }
        }
        .extra-info {
            position: absolute;
            /* left: $long; */
            bottom: $long;
            width: 100%;
            .respaldo-mas {
                background: 0 0;
                border: none;
                font-family: inherit;
                color: $unitec_secundario;
                font-size: $long-default;
                font-weight: $Gotham-normal;
                cursor: pointer;
        }
            span {
                i {
                    font-size: 2.5rem;
                }
            }
        }
    }
}
.color-card-1 {
    border-bottom: solid 0.25rem $carreras_salud;
}
.color-card-2 {
    border-bottom: solid 0.25rem $unitec_principal;
}
.color-card-3 {
    border-bottom: solid 0.25rem $unitec_principal_b;
}
.icon-color-1 {
    color: $carreras_salud;
}
.icon-color-2 {
    color: $unitec_principal;
}
.icon-color-3 {
    color: $unitec_principal_b;
}
