@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.contenedor-testimoniales{
    @include full-screen();
    .contenido-centrado{
        .titulo-testimoniales{
            font-size: $long-extra-large;
            font-weight: $Gotham-normal;
        }
        .cards-testimoniales{
            .carrousel_inner_testimoniales {
                overflow: hidden;
                .altura-card{
                    min-height: 410px;
                    height: auto;
                }
                .front{
                    -webkit-backface-visibility: initial;
                            backface-visibility: initial;
                    background-color: $white;
                }
                .card-testimonial {
                    .cover{
                        position: relative;
                        overflow: hidden;
                        width: 95%;
                        height: 200px;
                        top: -2rem;
                        box-shadow: 0 5px 10px 1px rgba(0,0,0,.2);
                        margin: auto;
                        background-size: cover;
                        background-position: center;
                    }
                    .content {
                        text-align: center;
                        line-height: normal;
                        position: relative;
                        top: -1rem;
                        .main {
                            .name {
                                font-weight: $Gotham-Book;
                                line-height: normal;
                                font-size: $long-normal;
                            }
                            .ocupacion {
                                font-weight: $Gotham-light;
                            }
                            .profesion {
                                line-height: normal;
                                padding-bottom: 10px;
                            }
                            .comilla{
                                font-weight: $Gotham-normal;
                            }
                        }
                    }
                    .footer {
                        border-top: 3px solid #eee;
                        padding: 10px 30px 10px 30px;
                        .navegacion {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            .activator {
                                top: 0;
                                right: 0;
                                padding: 1rem;
                                margin-right: 0;
                                font-size: 1.5rem;
                                color: rgb(153, 153, 153);
                            }
                        }
                    }
                }
            }
        }
        .controls-testimoniales{
            .btn-arrow {
                background-color: $white;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;  
                .arrow-right, .arrow-left {
                    font-size: 2.6rem;
                    color: $grayPred
                }
            }
        }
    }
}