@import "../generales/_variables_temaunitec";

iframe{max-width: 100vw}
.filter-blue{
    background: rgba(0,55,92,0.6);
    background: -moz-linear-gradient(left, rgba(0,55,92,0.6) 0%, rgba(0,51,86,0.24) 45%, rgba(0,49,82,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,55,92,0.6)), color-stop(45%, rgba(0,51,86,0.24)), color-stop(100%, rgba(0,49,82,0)));
    background: -webkit-linear-gradient(left, rgba(0,55,92,0.6) 0%, rgba(0,51,86,0.24) 45%, rgba(0,49,82,0) 100%);
    background: -o-linear-gradient(left, rgba(0,55,92,0.6) 0%, rgba(0,51,86,0.24) 45%, rgba(0,49,82,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,55,92,0.6) 0%, rgba(0,51,86,0.24) 45%, rgba(0,49,82,0) 100%);
    background: linear-gradient(to right, rgba(0,55,92,0.6) 0%, rgba(0,51,86,0.24) 45%, rgba(0,49,82,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00375c', endColorstr='#003152', GradientType=1 );
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.myVideo{position: fixed; min-height:100vh; left: 0;top: 59px; }
.carousel-inner{z-index: 2;}
@media (max-width: 815px) {
    .container{
        align-items: end !important;
        // .cont-banner-mob{
        //     // height: 90vh;
        //     .cintillo{
        //         background-color: rgba(0,80,160,.7);
        //         font-weight: 300;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         color: #fff;
        //         padding: 16px;
        //         width: 100%;
        //         margin-top: 35px;
        //         font-size: 1.375rem;
        //         .banner-share{display: none !important;}
        //         .vineta-orange{border-left: solid 2px #f68b1f;padding-left: 5px;
        //         }
        //     }
        // }
    }
}
@media (max-width: 815px) and (orientation: landscape) {
    .container .cont-banner-mob .cintillo{margin-top: 20px}
    .indicadores {bottom: 55px!important}
}



