@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.tabs-cardsbullets{
    @include full-screen();
    .tabs-dinamicas{
        flex-wrap: wrap;
        min-height: fit-content;
        li.nav-item {
            width: 250px;
        }
    }
    a {
        color: $titulos_principales !important;
    }
    .cardsbullets {
        .card-inversa {
            flex-direction: row-reverse;
        }
        .card-left {
            width: -webkit-calc(100% + 90px);
               width: -moz-calc(100% + 90px);
                    width: calc(100% + 90px);
            height: auto;
            margin-left: -75px;
            background-color: $cards-fondo;
            border-radius: 0.25rem;
        }
        .card-right {
            width: -webkit-calc(100% + 90px);
               width: -moz-calc(100% + 90px);
                    width: calc(100% + 90px);
            height: auto;
            right: 15px;
            z-index: 1;
            background-color: $cards-fondo;
            border-radius: 0.25rem;
        }
        .bullet {
            font-size: $long-small;
            color: $unitec_principal;
            padding-right: 1rem;
        }
        .texto-int-card {
            .card-title-desk {
                color: $unitec_principal;
                font-weight: $Gotham-normal;
                font-size: $h3;
            }
            .card-sub-desk {
                font-size: 1.15rem; 
            }
            .filo-inicio-t{
                color: $unitec_principal;
                font-weight: $Gotham-medium;
            }
        }
        ul {
            li {
                display: inline-flex;
                align-items: baseline;
                font-weight: $Gotham-light!important;
                span {
                    color: $titulos_principales;
                    font-weight: $Gotham-light;
                    font-size: $long-default;
                    line-height: normal;
                }
            }
        }
    }
}
.carrousel_inner_tabs_dinamicos{
    overflow: hidden;
}
.controls-tabs-dinamicos{
    .btn-arrow {
        background-color: $white;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;  
        .arrow-right, .arrow-left {
            font-size: 2.6rem;
            color: $grayPred
        }
    }
}

@media (max-width: 1200px) {
    .card-left, .card-right {
	    margin-left: 0px !important;
	    width: 100% !important;
	    right: 0px !important;
    }
}

// .fix-horario-campus{
//     padding-left: 16%;
// }
/*Fix para alinear los horarios*/
.horariosLine{
    flex: 1;
    line-height: normal;
    font-size:$long-default;
    color: $titulos_principales;
}
/*Fix para alinear los horarios*/
.horarios-int{
    font-size:1rem !important;
    color: $titulos_principales;
    font-weight: 300;
}
// .horario-item {
//     width: 100%;
//     .horario-dia {
//         width: 38%;
//     }
//     .hora {
//         width: 67%;
//     }
//     label{
//          font-size:1rem !important;
//          color: $titulos_principales;
//     }
// }
// .content-gral {
//     display: contents;
//     .fix-img {
//         width: 100%;
//         min-height: 390px;
//         background-size: cover;
//         img{
//             border-radius: 0;
//             width: 100%;
//         }
//         .legend-contacto {
//             background-color: rgba(0,80,160,.7);
//             color: $white;
//             position: absolute;
//             bottom: 6%;
//             width: 100%;
//             padding: 1.2rem;
//             height: 6rem;
//             font-weight: $Gotham-light;
//             line-height: normal;
//             span {
//                 width: 90%;
//             }
//         }
//     }
// }
.card-cascade.narrower .view {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.card-left, .card-right {
    .titulo-contactanos {
        font-size: $long-extra-large;
        font-weight: $Gotham-normal;
        text-align: center;
    }
    .simple-list {
        font-weight: $Gotham-light;
        .list-item-container {
            height: 35px;
            .item-icon {
                font-size: $long-default;
                i{
                    font-size: 1.5rem;
                    color: $titulos_principales;
                } 
            }
            .item-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1;
                line-height: normal;
                font-weight: $Roboto-light;
                a {
                    color: $titulos_principales;
                }
            }
            .item-description-arrow {
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                a {
                    color: $titulos_principales;
                }
            }
        }
        .card-int-float {
            left: 5%;
            right: 5%;
            z-index: 1;
            // position: absolute;
            border-radius: .25rem;
            background-color: $white;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        }
    }
    .simple-list.active {
        background-color: transparent;
        .item-description {
            font-weight: $Gotham-medium;
        }
        .list-icon {
            background-color: transparent;
            color: inherit;
            border-style: none;
        }
    }
}

.texto-int-card {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .card-title-desk {
        color: $unitec_principal;
        font-weight: $Gotham-normal;
        font-size: 1.5rem;
        position: relative;
        top: .25rem;
        margin-bottom: 1.5rem;
    }
    .card-sub-desk {
        font-size: 1.15rem; 
    }
    .filo-inicio-t{
        color: $unitec_principal;
        font-weight: 500;
    }
}

.icon-size > span{
    font-size:1.5rem !important;
}
@media (max-width: 1200px) {
    .card-left, .card-right {
        margin-left: 0px !important;
        width: 100% !important;
        right: 0px !important;
    }
    .legend-contacto {
        bottom: 0%;
    }
}