@import "../generales/_variables_temaunitec";

.contenido-recursos {
    min-height: $fullvh;
    .contenido-titulo-material{
         border-bottom: 2px solid $gray-light;
         .titulo-material{
            font-size:$long-normal;
            font-weight:$Gotham-normal;                                
        }
    }           
    .material-links{
        font-size:$long-default;
        span{
            color:$unitec_secundario;
            i{
                font-size:$long-normal;
            }
        }
        a{
            color:$titulos_principales;
            font-weight:$Gotham-light;
            line-height: $Gotham-Book;
        }                  
    }
   
}