@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.card-inversa {
	flex-direction: row-reverse;
}
.card-left {
	width: -webkit-calc(100% + 90px);
		width: -moz-calc(100% + 90px);
			width: calc(100% + 90px);
	height: auto;
	margin-left: -75px;
	background-color: $cards-fondo;
	border-radius: 0.25rem;
}
.card-right {
	width: -webkit-calc(100% + 90px);
		width: -moz-calc(100% + 90px);
			width: calc(100% + 90px);
	height: auto;
	right: 15px;
	z-index: 1;
	background-color: $cards-fondo;
	border-radius: 0.25rem;
}
.bullet {
	font-size: $long-small;
	color: $unitec_principal;
	padding-right: 1rem;
}
.texto-int-card {
	.card-title-desk {
		color: $unitec_principal;
		font-weight: $Gotham-normal;
		font-size: 1.5rem;
		position: relative;
		top: .25rem;
		margin-bottom: 1.5rem;
	}
	.card-sub-desk{
		font-size: 1.15rem; 
	}
	.filo-inicio-t{
		color: $unitec_principal;
		font-weight: $Gotham-medium;
	}
}
.lista-perfil{
	display: inline-flex;
	align-items: baseline;
	font-weight: $Gotham-light!important;
	padding-bottom: .5rem;
	line-height: 1.1rem;
	span {
		color: $titulos_principales;
		font-weight: $Gotham-light;
		font-size: $long-default;
		line-height: normal;
	}
}
.panel{
	position: relative;
	article{
		position: relative;
		background-color: #ffffff;
	}
}
@media (max-width: 1200px) {
    .card-left, .card-right {
	    margin-left: 0px !important;
	    width: 100% !important;
	    right: 0px !important;
	}
	.content-gral {
		display: block !important;
	}
}
  