@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.contenedor-carreras {
    @include full-screen();
    .contenido-centrado{
        .titulo-carreras {
            font-size: $long-extra-large;
            font-weight: $Gotham-normal;
        }
        .cards-relacionadas {
            .carrousel_inner_carreras {
                overflow: hidden;
                .front, .back {
                    height: 485px;
                    overflow: hidden;
                    z-index: 2;
                    -webkit-transition: -webkit-transform 0.8s;
                            transition: transform 0.8s;
                }
                .front{
                    .cover{
                        img{
                            max-height: 290px;
                        }
                    }
                    .content {
                        padding: 10px;
                        line-height: 1.4;
                        color: $titulos_principales;
                        .title {
                            font-weight: $Gotham-Book;
                            line-height: normal;
                            font-size: $long-normal;
                        }
                    }
                    .footer {
                        background-color: $white;
                        border-top: 3px solid $gray-light;
                        padding: 5px 15px 5px 15px;
                        position: absolute;
                        bottom: 0;
                        .activator {
                            font-size: 1.5rem;
                            color: rgb(153, 153, 153);
                        }
                    }
                }
                .back{
                    .content{
                        line-height: normal;
                        .main{
                            min-height: 265px;
                        }
                        .title{
                            font-weight: $Gotham-Book;
                            line-height: normal;
                            font-size: $long-normal;
                        }
                    }
                    .footer{
                        border-top: 3px solid $gray-light;
                        padding: 5px 15px 5px 15px;
                        position: absolute;
                        bottom: 0;
                        .regresar{
                            margin: 0;
                            font-size: $h5;
                            font-weight: $Gotham-normal;
                            display: inline-block;
                            color: $grayPred;
                            position: relative;
                            float: none;
                            right: 0;
                            padding: 0;
                        }
                    }
                }
                .stats-container{
                    .stats{
                        .card-back{
                            height: 200px;
                            & :nth-child(1){
                                text-align: center !important;
                                font-size: 3rem;
                            }
                        }
                        .desktop-card-title-comparte{
                            color: #5a5a5a!important;
                        }
                        ul.inline-ul-desktop{
                            display: flex;
                            li{
                                width: 25%;
                            }
                        }
                    }
                }
            }
        }
        .controls-carreras{
            .btn-arrow{
                background-color: $white;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                .arrow-right, .arrow-left {
                    font-size: 2.6rem;
                    color: $grayPred
                }
            }
        }
    }
}
