@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.background-definido-prestigio {
    @include full-screen();
    position: relative;
    .nav-item {
        width: 16rem;
    }
    .iconos-unitec {
        .tab-content {
            .list-item-container {
                .linkDinamico{
                    color: $texto_principal;
                }
                .item-icon {
                    i {
                        font-size: 3rem;
                        color: $unitec_principal;
                    }
                }
                .item-description {
                    font-weight: $Gotham-light;
                    letter-spacing: -0.025rem;
                    line-height: normal;
                }
            }
        }
    }
}
