@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.card-basica{
    @include full-screen();
    position: relative;
    .tabs-dinamicas{
        flex-wrap: wrap;
        min-height: fit-content;
        li.nav-item {
            width: 250px;
        }
    }
    .cardstext {
        .card-inversa {
            flex-direction: row-reverse;
        }
        .card-left {
            width: -webkit-calc(100% + 90px);
               width: -moz-calc(100% + 90px);
                    width: calc(100% + 90px);
            height: auto;
            margin-left: -75px;
            background-color: $cards-fondo;
            border-radius: 0.25rem;
        }
        .card-right {
            width: -webkit-calc(100% + 90px);
               width: -moz-calc(100% + 90px);
                    width: calc(100% + 90px);
            height: auto;
            right: 15px;
            z-index: 1;
            background-color: $cards-fondo;
            border-radius: 0.25rem;
        }
        .bullet {
            font-size: $long-small;
            color: $unitec_principal;
            padding-right: 1rem;
        }
        .texto-int-card {
            .card-title-desk {
                color: $unitec_principal;
                font-weight: $Gotham-normal;
                font-size: $h3;
            }
            .card-sub-desk {
                font-size: 1.15rem; 
            }
            .filo-inicio-t{
                color: $unitec_principal;
                font-weight: $Gotham-medium;
            }
        }
        ul {
            li {
                display: inline-flex;
                align-items: baseline;
                font-weight: $Gotham-light!important;
                span {
                    color: $titulos_principales;
                    font-weight: $Gotham-light;
                    font-size: $long-default;
                    line-height: normal;
                }
            }
        }
    }
}
.carrousel_inner_cards_basicas{
    overflow: hidden;
}
.controls-card-basica{
    .btn-arrow {
        background-color: $white;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;  
        .arrow-right, .arrow-left {
            font-size: 2.6rem;
            color: $grayPred
        }
    }
}

@media (max-width: 1200px) {
    .card-left, .card-right {
	    margin-left: 0px !important;
	    width: 100% !important;
	    right: 0px !important;
    }
}