@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.card-simple{
    @include full-screen();
    .cardsbullets{
        .card-right {
            width: -webkit-calc(100% + 50px);
               width: -moz-calc(100% + 50px);
                    width: calc(100% + 50px);
            height: auto;
            right: 50px;
            z-index: 1;
            background-color: $cards-fondo;
            border-radius: 0.25rem;
        }
        .bullet {
            font-size: $long-small;
            color: $unitec_principal;
            padding-right: 1rem;
        }
        .texto-int-card {
            .card-title-desk {
                color: $unitec_principal;
                font-weight: $Gotham-normal;
                font-size: $h3;
            }
            .card-sub-desk {
                font-size: $long-default;
                font-weight: $Gotham-normal;
            }
            .card-sub-int{
                font-size: $long-default;
                font-weight: $Gotham-light;
            }
            .ver{
                color: $unitec_secundario;
                font-weight: $Gotham-light
            }
            .filo-inicio-t{
                color: $unitec_principal;
                font-weight: $Gotham-light;
            }
        }

        ul {
            li {
                display: inline-flex;
                align-items: baseline;
                font-weight: $Gotham-light!important;
                span {
                    color: $titulos_principales;
                    font-weight: $Gotham-light;
                    font-size: $long-default;
                    line-height: normal;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .card-left, .card-right {
	    margin-left: 0px !important;
	    width: 100% !important;
	    right: 0px !important;
    }
}