@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.modal-tarjeta {
    .modal-fluid {
        max-width: none;
        margin: 0 auto;
    }
    .modal-content {
        min-height: 100vh;
        background-color: $white;
        flex-direction: inherit;
        border: none;
        .icons {
            position: absolute;
            z-index: 100;
            right: 1rem;
            top: 0.5rem;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            background-color: $unitec_secundario;
            border-radius: 50%;
            @include vertical_align();
            a {
                @include vertical_align();
            }
        }
        .icon-u-cerrar:before {
            color: $white;
            font-size: 22px;
        }
        .content-gral{
            .card-blue{
                background-color: $unitec_principal;
                border-radius: 0.375rem;
                .overlay{
                    .card-desc {
                        color: $white;
                        width: 98%;
                        font-weight: $Gotham-normal;
                        line-height: normal;
                        .tit-desc{
                            font-size: $long-extra-large;
                            font-weight: $Gotham-normal;
                            line-height: normal;
                        }
                        .sub-desc{
                            font-size: $long-normal;
                            font-weight: $Gotham-normal;
                            line-height: normal;
                        }
                        .lista-desc{
                            .desc-ind{
                                font-size: $long-normal;
                                .bullet{
                                    font-size: 0.5rem;
                                }
                            }
                        }
                        .legales{
                            font-size: $long;
                            font-weight: 200;
                        }
                    }
                }
            }
            .card-white {
                .card-left {
                    width: -webkit-calc(100% + 25px);
                       width: -moz-calc(100% + 25px);
                            width: calc(100% + 25px);
                    margin-left: -25px;
                    background-color: $cards-fondo;
                    border-radius: 0.25rem;
                    min-height: 400px;
                    .titulo-contactanos {
                        font-size: $long-extra-large;
                        font-weight: $Gotham-normal;
                        text-align: center;
                    }
                    .convenio{
                        max-height: 160px;
                    }
                    .card-title-contacto{
                        color: $titulos_principales;
                        font-weight: $Gotham-normal;
                    }
                    .card-sub-contacto {
                        position: inherit;
                        bottom: 3rem;
                        li.descuentos-lista {
                            display: list-item;
                            a{
                                color: inherit;
                                .descargar-descuento{
                                    color: $unitec_secundario;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 1200px) {
            .card-left, .card-right {
                margin-left: 0px !important;
                width: 100% !important;
                right: 0px !important;
            }
            .content-gral{
                display: block!important;
            }
        }
    }
    .modal-descuentos {
        background-color: transparent!important;
    }
}
.content-portadas-galeria{
    width: 100%;
    margin:auto;
    max-width: 90%;
    .portada-galeria{
        img{
            width:72px !important;
            height:70px !important;
            border-radius: 50%;
            margin:auto;
        }
    }
}
/* Inician los estilos de la galerÃ­a desktop */
.carrousel_inner{
    overflow: hidden;
    ul{
        display: flex;
    }
}
.impulsa{
    @include full-screen();
    margin-top: 0px !important;
    position: relative;
    .contenedor-impulsa{
        .filtros{
            .filtro-descuentos{
                border: solid 1px $grayPred;
                cursor:pointer;
                .icon-abajo{
                    color:$unitec_secundario;
                    font-weight:$Gotham-normal;
                    font-size:2.5rem;
                }
            }
            .menu-filtro-descuentos{
                width: 100%;
                .destacar:hover {
                    background-color: #f68b1f;
                }
            }
            .descargar{
                color:$unitec_secundario;
                font-weight:$Gotham-normal;
            }
        }
        .fila-descuentos {
            .collection-card .view {
                cursor: pointer;
            }
            .collection-card .stripe p {
                margin: 0;
                font-size: $long-default;
                font-weight: $Gotham-normal;
                line-height: 1.125rem;
            }
            .dir{ margin-top: -1px !important}
            .collection-card{ border: solid 1px rgba(225,225,225,.9); }
            // .collection-card .view { cursor: pointer; height: 105px; background-size: 110%; background-position-x: center; }
            
            // .zoom:hover img {
            //     -webkit-transform: scale(1.1);
            //         -ms-transform: scale(1.1);
            //             transform: scale(1.1);
            // }
            // .zoom img {
            //     -webkit-transition: all .2s linear;
            //          -o-transition: all .2s linear;
            //             transition: all .2s linear;
            // }
        }
    }
}
/* Terminan los estilos de la galerÃ­a desktop */
.scroll-hiden{
    overflow: hidden;
}