@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.mapa-campus {
    @include full-screen();
    padding: 0px;
    .geolocalizacion {
        display: flex;
        height: calc(100vh - 60px);
        .mapa{
            width: 100%;
            height: 100%;
        }
        .transport-links{
            padding-top:0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .transport-pilot a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                color: $titulos_principales;
                span, i{
                    font-size: 38px;
                }
                label{
                    margin: 0;
                }
            }
        }
        .card-mapa {
            position: absolute;
            width: 30rem;
            right: 2%;
            top: 5%;
            .card {
                .card-title-mapa {
                    margin-bottom: 0;
                    text-align: center;
                    border-bottom: none;
                    color: $titulos_principales;
                    font-weight: $Gotham-normal;
                    font-size: $long-extra-large;
                }
            }
        }
    }

    .parametros-geolocalizacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: $borde-gris;
        .parametros{
            width: 100%;
            display: flex;
            padding-top: $long-default;
            .iconos{
                width: 40px;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: space-around;
                i, span{
                    font-size: $long-normal;
                    &:first-child {
                        padding-top: 0.75rem;
                    }
                    &:second-child {
                        color: $unitec_principal; 
                    }
                }
            }
            form{
                padding-right: $long-default;
                display: flex;
                flex-direction: column;
                flex: 1;
                input[type=text]{
                    border-bottom: solid 1px $unitec_principal;
                    font-family: inherit;
                    @include noStyleMDBinput();
                }
            }
        }
        .botonSecundario{
            margin: 1rem 0;
            width: 90%;
            text-align: center;
        }
    }
    .simple-list {
        .list-item-mapa {
            display: flex;
            height: 50px;
            width: 100%;
            margin-bottom: 0.75rem;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            -webkit-appearance: none;
            cursor: pointer;
            .item-icon {
                width: 15%;
                display: flex;
                justify-content: center;
            }
            .item-description {
                width: 70%;
                display: flex;
                justify-content: left;
                font-weight: $Gotham-normal;
            }
            .arrow {
                width: 15%;
                display: flex;
                justify-content: center;
                font-size: $long-extra-large;
            }
        }
    }
    .simple-list.active {
        background-color: transparent;
        .list-item-mapa {
            .list-icon {
                background-color: transparent;
                color: inherit;
            }
            .item-description {
                font-weight: $Gotham-medium;
            }
        }
    }
    .desplegable {
        padding: 5px 15px;
        .item-interno {
            .referencia {
                width: 100%;
                margin-bottom: 0;
                font-weight: $Gotham-normal !important;
            }
        }
    }
    .botonesUnitec{
        width:100% !important;
        a{
            box-shadow:none;
            margin: 10px 0;
        }
    }

    /*Fix para pintar border en colapsables*/
    .parametros-geolocalizacion{
        border-bottom:none !important;
    }
    /*Fix para pintar border en colapsables*/

    /* fixes potential theme css conflict */
    #map img {
       max-width: inherit !important;
    }
   
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

     #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    } 

    #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    #right-panel select, #right-panel input {
        font-size: 15px;
    }

    #right-panel select {
        width: 100%;
    }

    #right-panel i {
        font-size: 12px;
    }
      
    #right-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
    }
      
    #floating-panel {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    } 
      
    @media print {
        #right-panel {
          float: none;
          width: auto;
        }
    }
}
.fix-margen-cards {
    padding-left: 12%;
    display: flex;
    flex-direction: column;
}
.gm-style-iw {
    font-family: Gotham,sans-serif;
    display: flex;
    justify-content: center;
    top: 25px !important;
    .img-mapa {
        width: 300px;
        height: 270px;
        .imagen {
            background-size: cover;
            background-position: center;
            height: 180px;
        }
        .text-img {
            margin-top: 1rem;
            font-size: $long;
            font-weight: $Gotham-normal;
        }
    }
}