@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";
.cont-principal-oferta{
    @include full-screen();
    .oferta-educativa {
    	.contenido-oferta-educativa {
    		.filtros-oferta {
    			.tabs-wrapper {
    				.classic-tabs {
    					li {
    						&:first-child {
    						    margin-left: 0;
    						}
    					}
    				}
    			}
    		}
    		.oferta-card{
                .titulo-menu-oferta {
                    font-size: $long-normal;
                    font-weight: $Gotham-normal;
                }
                .card-menu-oferta{
                    padding: 0.5rem 0;
                    .card-first{
                        a:not(.collapsed) .rotate-icon {
                            -webkit-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                    transform: rotate(180deg);
                            font-weight: 800;
                        }
                        .oferta-tit{
                            color: $titulos_principales;
                            .icon-menu-oferta{
                                width: 10%;
                                font-size:$long-normal;
                            }
                            .txt-menu-oferta{
                                width: 80%;
                                font-size:$long-default;
                            }
                            .icon-arrow-oferta{
                                width: 10%;
                                font-weight: 100;
                            }
                        }
                    }
                    .card-second{
                        .padding-bottom-menu {
                            padding-bottom: 0.75rem;
                        }
                        .menu-lista {
                            justify-content: space-around;
                            cursor: pointer;
                            .item-icon {
                                i{ font-size:$long;}
                            }
                            .item-description {
                                font-weight: $Gotham-light;
                                width: 90%;
                                line-height: 1;
                                font-size: $long;
                                color:$titulos_principales;
                                letter-spacing: -0.1px;
                            }
                        }
                    }
                }
                .carrusel-oferta {
                    .cards-oferta {
                        .carrousel_inner_oferta {
                            width: 100%;
                            overflow: hidden;
                            ul {
                                display: flex;
                                li{
                                    .card-left {
                                        width: -webkit-calc(100% + 80px);
                                           width: -moz-calc(100% + 80px);
                                                width: calc(100% + 80px);
                                        height: auto;
                                        margin-left: -80px;
                                        background-color: #fff;
                                        border-radius: .25rem;
                                        .card-unica-int{
                                            line-height: 1.5;
                                        }
                                    }
                                }
                            }
                            .altura-card {
                                height: 430px;
                                .card-oferta {
                                    transform-style: flat;
                                    .front{
                                        -webkit-backface-visibility: initial;
                                                backface-visibility: initial;
                                        .cover{
                                            overflow: hidden;
                                            border-radius: 4px 4px 0 0;
                                            height:155px;
                                            img {
                                                height: 200px;
                                            }
                                        }
                                        .content { 
                                            padding: 10px;
                                            text-align: left;
                                            line-height: 1.4;
                                            /* Altura definida para la descripcion de la carrera relacionada */
                                            /* height:275px; */
                                            overflow: hidden;
                                            font-size: .9375rem;
                                            font-weight: $Gotham-light;
                                            .main {
                                                max-height: 35vh;
                                                color: $titulos_principales;
                                                font-size: 0.95rem;
                                                letter-spacing: -0.5px;
                                                .title {
                                                    font-weight: $Gotham-Book;
                                                    font-size: $long-default;
                                                    line-height: normal;
                                                    margin-bottom:0.5rem;
                                                    // letter-spacing: -0.5px;
                                                }
                                            }
                                        }
                                    }
                                    .footer {
                                        border-top: 2px solid #eee;
                                        width: 100%;
                                        position: absolute;
                                        bottom: 0;
                                        height: 35px;
                                        .navegacion {
                                            width: 100%;
                                            padding: 0 0.5rem;
                                        }
                                        .regresar {
                                            margin: 0;
                                            font-size: $h5;
                                            font-weight: $Gotham-normal;
                                            display: inline-block;
                                            color: $titulos_principales;
                                            position: relative;
                                            float: none;
                                            right: 0;
                                            padding: 0;
                                        }
                                    }
                                }
                            }

                            // .content-reverse{
                            //     height:200px;
                            //     .main {
                            //         min-height: 200px;
                            //     }
                            // }

                            // .stats-container {
                            //     height: 220px;
                            //     .stats {
                            //         display: block;
                            //         width: 100%;
                            //         .card-back {
                            //             height: 260px;
                            //             /* Limitado a la cantidad de caracteres. */
                            //         }
                            //         .desktop-card-title-comparte {
                            //             border-bottom: none;
                            //             color: #5a5a5a!important;
                            //         }
                            //         ul.inline-ul-desktop {
                            //             width: 100%!important;
                            //             height: 65%;
                            //             display: flex;
                            //             justify-content: center;
                            //             align-items: center;
                            //             flex-wrap: wrap;
                            //             li {
                            //                 float: inherit;
                            //                 list-style: none;
                            //                 margin: 0;
                            //                 padding: 0;
                            //                 width: 25%;
                            //                 .btn-floating {
                            //                     background-color: transparent;
                            //                     i {
                            //                         font-size: 3rem;
                            //                         line-height: 1;
                            //                         // .path1 {
                            //                         //     font-size: 3rem!important;
                            //                         //     }
                            //                         // .path2 {
                            //                         //     font-size: 3rem!important;
                            //                         // }
                            //                     }
                            //                 }
                            //             }
                            //         }
                            //     }
                            // }
                        }
                    }
                }
    		}
    	}
    }
}

.controls {
    .btn-arrow {
        background-color: $white;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        margin: 0rem;

        .arrow-right, .arrow-left {
            font-size: 2.6rem;
            color: $grayPred
        }
    }
}

.activeOferta{
    font-weight:$Gotham-medium !important;
}