@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.contenedor-nuevas-carreras{
    @include full-screen();
    .svg-top{
        fill: #ededed;
        margin-bottom: -10px;
        -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
            -ms-transform: rotateY(180deg); /* IE 9 */
                transform: rotateY(180deg);
    }
    .svg-bottom{
        fill: #ededed;
        margin-top: -10px;
        -webkit-transform: rotateZ(180deg); /* Chrome, Safari, Opera */
            -ms-transform: rotateZ(180deg); /* IE 9 */
                transform: rotateZ(180deg);
    }
    .back-carreras{
        background: $gray-light;
    }
    .contenido-centrado{
        .cards-nuevas-carreras{
            .carrousel_inner_nuevas_carreras{
                overflow: hidden;
                /**************** Inician estilos del loader images *********************/
                .loader {
                   position: relative;
                    left: 0;
                    top: 0;
                    width: 100%;
                    min-height: 19.5rem;
                    // z-index: 9999;
                    background: url('../../../../../../../assets/cargando.gif') 50% 50% no-repeat rgb(249,249,249);
                    background-size: 10%;
                }
                /**************** Terminan estilos del loader images *********************/
                .card-wrapper {
                    height: 210px;
                    // z-index: 9999;
                }
                .front{
                    -webkit-backface-visibility: initial;
                            backface-visibility: initial;
                    background-color: $white;
                    box-shadow: none;
                    .card-title-nuevas-carreras{
                        height: 3rem;
                        font-weight: 300;
                        font-size: 1.35rem;
                        margin: 1rem 0 0.5rem;
                        word-break: break-word;
                    }
                }
                .card-text {
                    color: #757575;
                    font-weight: 300;
                    line-height: normal;
                    text-align: left;
                    height: 4.5rem;
                }
                .icon-u-cerrar:before {
                    color: #424242 !important;
                    font-size: 25px !important;
                }
            }
        }
        .controls-nuevas-carreras{
            .btn-arrow {
                background-color: $white;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;  
                .arrow-right, .arrow-left {
                    font-size: 2.6rem;
                    color: $grayPred
                }
            }
        }
    }
}
.share .activator{
    color: #757575;
    font-size: 1.5rem;
    font-weight: 500;
}
a .new-ofert{
    color: #fff;
    font-weight: 400;
    padding: 0.25rem 1rem;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    margin: 1rem;
    right: 0;
}
.verMasNewCareers{
    border: solid 1px;
    border-radius: 3px;
    color: $unitec_secundario;
}
.verMasNewCareers:hover{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 2px 5px 0 rgba(0,0,0,.08);
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.default{
    background-color: #066fba;
}
.licenciatura{
    background-color: #F1C40F;
}
.preparatoria-2{
    background-color: #59B14F;
}
.ingenieria{
    background-color: #8B254F;
}
.especialidad{
    background-color: #42748D;
}
.diplomado{
    background-color: #CCDB2A;
}
.maestria{
    background-color: #00AFA9;
}