@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.tooltip-info {
    position: relative;
    display: inline-block;
    .tooltiptext {
        visibility: hidden;
        width: 6rem;
        font-size: 0.75rem;
        background-color:$unitec_secundario;
        color:$white;
        text-align: center;
        border-radius: 0.25rem;
        padding: 1rem 0;
        margin-top: -4.75rem;
        left: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.3);
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
    .tooltiptext:before {
        content:"";
        position: absolute;
        top: 1.95rem;
        width:0rem;
        height:0rem;
        border-left:0.5rem solid transparent; /* izquierda flecha */
        border-right:0.5rem solid transparent; /* derecha flecha */
        border-top:0.5rem solid #f68b1f; /* base flecha y color*/
        font-size:0rem;
        line-height:0rem;
    }
}
.tooltip-info:hover .tooltiptext {
    visibility: visible;
}
.descripcion-botones{
    @include full-screen();
    margin-top: 0px !important;
    position: relative;
}
.tblSimulador {
    .row{
        margin: $long-default 0;
        div{
            display: flex;
            align-items: center;
            &.backGray{
                color: $unitec_principal;
                background: $gray-light;
                font-weight:$Gotham-Book;
            }
        }
    }
    .special{ 
        bottom: -$long-normal;
        position: absolute;
        margin: 0 auto;
        background-color: $unitec_secundario !important;
        box-shadow:none !important;
        display: flex;
        align-items: center;
        .icon-u-ver-mas, .icon-u-ver-menos{
            font-size: 2rem !important;
        }
        a{
            &.hover{
                box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
            }
        }
    }
    .caracteristicas-lic{
        font-weight: $Gotham-light;
        font-size: $long-default;
        line-height: normal;
    }
}
.botonesUnitec {
    flex:initial;
    a{
        width: 32%;
        border-radius: 3px;
        color: $titulos_secundarios;
        font-size: .85rem;
        box-shadow: none!important;
        padding: 1rem 0rem;

        .info{
            color: $unitec_principal;
        }
        .orange{
            color: $unitec_secundario;
        }
        .default{
            color: $titulos_principales;
        }
    }
}

.botones {
    .botones-contacto {
        max-width: 175px;
        display: flex;
        justify-content: space-between;
        .iconos-contacto {
            font-size: 2rem;
            margin-left: 0 !important;
            margin-right: 0!important;
            line-height: 0;
            margin-top: 0.5rem;
        }
    }
}
.filo-inicio-t {
    color: $unitec_principal;
    font-weight: 500;
}
.calendario{
    i{
        font-size: 7.5rem;
        color: $gray-light;
    }
    a{
        position: absolute;
        color: $unitec_secundario;
        &:hover,&:focus{
            color: $unitec_secundario;
        }
    }
    .ver-calendario{
        width: 100%;
        max-width: 5.5rem;
        font-size: $long-medium;
        font-weight:$Gotham-light;
    }
}
.phantom {
    max-width: 70px;
}
.altura {
    max-height: fit-content;
}
.btn-default:hover {
    background-color: #5390af !important;
}
.ancho-card {
    min-width: 30rem;
}