.modal-chat.show{
display: flex!important;
background: rgba(0,0,0,0.75);
}
.modal-chat .modal-content{
border: none;
border-radius: 0.25rem;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.modal-dialog{
    position: absolute;
}
.btn-chat, .btn-chat:hover, .btn-chat:active, .btn-chat:focus{
background: #f68b1f!important;
font-size: 1.125rem;
font-weight: 300;
letter-spacing: 0.5px;
}
.icon-form-chat{
    color:#f68b1f!important;
}
i.cel-chat {
    font-size: 1.25rem;
}
input[type=tel]:focus:not([readonly]){
    border-bottom: 1px solid #f68b1f;
    box-shadow:none!important;
}
.frm-terminos {
color: #757575;
font-size: 0.75rem!important;
font-weight: 300;
line-height: 1.5 !important;
}
.frm-terminos a{
color: #757575;
font-weight: 500;
}
.icons-desktop {
cursor: pointer;
width: 2rem;
height: 2rem;
background-color: #f68b1f;
border-radius: 50%;
position: relative;
}
.icons-desktop a {
flex-direction: initial!important;
cursor: pointer;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
color: #ffffff;
}
.md-form label{
font-size: 0.8rem
}
label.politicas {
    font-size: .7rem;
    font-weight: 300;
    line-height: 1.25;
}
.identificacion {
color: #f68b1f;
font-size: 1.125rem;
}
.myFeedBackError {
font-size: .65rem !important;
color: #c00;
}
.block{
display:block !important;
}
.card-chat {
background-color: #1EBEA5;
// background-color: #006fba;
}
.text-tnks, .text-alert{
color:#fff!important;
}
.text-alert{
color: #ff4d4d!important;
}
.msg-alert{
background-color: rgba(255,154,154,0.35);
border: solid 1px #ff4d4d;
border-radius: .25rem;
}
.modal-content .close {
position: relative;
right: 0;
top: -25px;
opacity: 0.8;
}
.fixed-action-btn ul{
bottom: 50px;
right: -4px; 
display: none
}
.fixed-action-btn.active ul {
  display: block;
}

.blur-chat{
filter: blur(4px);
-o-filter: blur(4px);
-ms-filter: blur(4px);
-moz-filter: blur(4px);
-webkit-filter: blur(4px);
}
// .overlay-ctc {
// position: fixed;
// display: none;
// width: 100%;
// height: 100%;
// top: 0;
// left: 0;
// right: 0;
// bottom: 0;
// background-color: rgba(0,0,0,.6);
// z-index: 9;
// cursor: pointer;
// }
.md-select-form label, .md-form label{
    font-size: 0.85rem !important;
    font-weight: 300;
}
.md-select-form span{
    color: #f6881f;
}
.md-select-form p{
    font-weight:300;
}
.btn-select{
    border: 0;
    width: 100%;
    float: none;
    border: none;
    outline: none;
    font-size: 0.75rem;
    text-align: left;
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    padding: 0.5rem 0.6rem;
    font-family: 'Roboto';
    background-color: #fff;
    color: #b0b0b0 !important;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center bottom, center calc(100% - 1px);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#686868)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
    background-image: linear-gradient(#686868, #686868), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 1px, 100% 1px;
    transition: background 0s ease-out
}
.top-cero{
    top: 0;
}
.cardBtnChat {
    font-size: 1rem;
    font-weight: 400;
    position: fixed;
    width: 320px;
    height: 35px;
    bottom: 0;
    right: 15px;
    z-index: 1030;
    background-color: #f68b1f;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.2);
}
@media (max-width: 768px) {
    #frm-chat .typeahead-menu{
        width: calc(100vw - 90px);
    }
}
@media only screen and (max-width: 768px) {
    .modal-chat.show{
        display: block!important;
        .modal-dialog {
            position: relative;
            margin: auto !important;
        }
    }
}
