/* Inician estilos para Nav */
.nvct {
  position: fixed;
  z-index: 100;
  top: 0px; }

.navContent {
  width: 100vw;
  /* padding: 10px 15px; */
  padding: 10px;
  line-height: 0px; }
  .navContent.navegador {
    height: 52px;
    background-color: white;
    display: flex; }
    .navContent.navegador a.logoNav {
      display: flex;
      flex: 1;
      /* justify-content: center; */
      /* margin: auto;  Descomentar en un futuro*/
      height: 24px;
      margin-left: .3rem;
      margin-top: 3px !important; }
      .navContent.navegador a.logoNav img {
        width: 5.625rem;
        height: auto; }
    .navContent.navegador a.searchNav {
      right: 1rem; }
    .navContent.navegador a i {
      font-size: 28px;
      color: #006fba;
      /* padding: 0 $long-small; */
      padding: 0.8rem; }
    .navContent.navegador a:first-child i {
      padding-left: 0px; }
  .navContent.searchNavbootom {
    margin-top: 52px;
    background-color: rgba(0, 111, 186, 0.9); }
    .navContent.searchNavbootom a i {
      font-size: 34px;
      color: white;
      padding: 0 0.5rem; }
    .navContent.searchNavbootom .dropdown-toggle:after {
      content: none !important; }
    .navContent.searchNavbootom div.comunidad {
      top: 4px;
      margin-right: 1rem; }
      .navContent.searchNavbootom div.comunidad a span {
        margin-right: .5rem; }

/* Terminan estilos Nav */
/* Inician estilos side-nav */
.side-nav {
  width: 95% !important; }
  .side-nav .side-nav-content {
    width: 100% !important; }
    .side-nav .side-nav-content #menu-sidenav .col-10.p-0.pl-3 {
      white-space: nowrap; }

.img-head {
  filter: brightness(0.7);
  width: 100%;
  z-index: 200; }

.side-nav-header {
  position: relative;
  height: 150px; }
  .side-nav-header .controls {
    width: 100%;
    height: 60px;
    z-index: 500;
    display: flex;
    flex-direction: row;
    align-content: center; }
    .side-nav-header .controls div.logo {
      padding: 0;
      display: flex;
      flex: 1;
      justify-content: flex-start; }
      .side-nav-header .controls div.logo a {
        line-height: inherit;
        padding: inherit; }
        .side-nav-header .controls div.logo a img {
          width: 120px;
          height: auto; }
    .side-nav-header .controls span {
      margin: .5rem !important; }
      .side-nav-header .controls span::before {
        color: white; }

.buscador {
  z-index: 500;
  display: flex;
  background: #fff !important; }
  .buscador .input-buscador {
    display: flex;
    align-items: center;
    flex: 1; }
    .buscador .input-buscador input[type=text] {
      margin: 0 !important; }
  .buscador .iconos {
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    width: 32px; }
    .buscador .iconos span {
      width: 20px; }

.arrow-r.active {
  font-weight: 500 !important; }

li.active > div {
  padding-left: 0.5rem; }

.side-nav .side-nav-content .collapsible a {
  display: flex !important;
  align-items: center !important; }
