.no-scroll {
  overflow: hidden !important; }

.img-header-formulario-expuesto {
  background-size: cover;
  background-position: top;
  height: 200px;
  width: 100%; }

.video-tour {
  position: relative;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 30%;
  background-size: cover; }

.overlay-absorcion {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  cursor: pointer; }

.titleLoad {
  color: #fff;
  font-size: 1.5rem; }

.titleCitaThanks {
  color: #006fba; }

.titleCitaLoad {
  color: #fff; }

.textInfoThankYou {
  font-size: 0.85rem; }
  .textInfoThankYou a {
    color: #f68b1f; }

.campusText {
  font-size: 1.25rem;
  font-weight: 500; }

.btn-close-cita {
  position: absolute !important;
  right: 1rem !important;
  top: 1rem !important;
  border: none;
  background-color: #f68b1f !important;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 2rem;
  line-height: 0; }

h3.titleSection {
  text-transform: capitalize !important;
  font-size: 1.75rem; }

.textThankYou {
  font-weight: 400;
  font-size: 1rem; }

.lineThankyouCita {
  border: solid 1px #f68b1f; }

.infoCampus {
  line-height: 1.6; }

.icon i {
  color: #006fba;
  font-size: 1.75rem; }

.blur-absorcion {
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px); }

.card-thankYouCita {
  background-color: #fff;
  position: fixed;
  z-index: 1050;
  top: 0; }

.form-head-conexion {
  height: 60px; }

.titulo-formulario-expuesto {
  color: #006fba; }
  .titulo-formulario-expuesto h2 {
    font-size: 1.25rem;
    font-weight: 500; }

.descFormExpuesto {
  font-size: 1rem;
  font-weight: 400; }

.frm-politicas-expuestas label {
  font-size: .625rem; }

.span-continuar {
  text-transform: uppercase;
  color: #f68b1f; }

.btn-frm-expuesto {
  background: #f68b1f !important;
  font-size: 1.125rem;
  font-weight: 500; }

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 2px solid #4285f4;
  box-shadow: none; }

.md-form .form-control.is-valid, .was-validated .md-form .form-control:valid {
  padding-right: 0; }

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: #28a745;
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  /* background-image: url('https://vignette.wikia.nocookie.net/logopedia/images/1/11/Google_Material_Design_Check.svg/revision/latest?cb=20180506180847'); */ }

.md-form .form-control.is-invalid, .was-validated .md-form .form-control:invalid {
  padding-right: 0; }

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2); }

.valid-feedback {
  display: none;
  width: 100%;
  margin-bottom: .25rem;
  font-size: 80%;
  color: #28a745; }

.form-control.is-valid ~ .valid-feedback, .form-control.is-valid ~ .valid-tooltip, .was-validated .form-control:valid ~ .valid-feedback, .was-validated .form-control:valid ~ .valid-tooltip {
  display: block; }

.invalid-feedback {
  display: none;
  width: 100%;
  margin-bottom: .25rem;
  font-size: 80%;
  color: #dc3545; }

.form-control.is-invalid ~ .invalid-feedback, .form-control.is-invalid ~ .invalid-tooltip, .was-validated .form-control:invalid ~ .invalid-feedback, .was-validated .form-control:invalid ~ .invalid-tooltip {
  display: block; }

[type=checkbox] + label:before {
  margin-top: 4px; }

.banner-formulario-expuesto {
  margin-top: 52px; }

.dropdown, .dropup {
  position: relative; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none; }

.btn-select {
  border: 0;
  width: 100%;
  float: none;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: left;
  box-shadow: none;
  border-radius: 0;
  font-weight: 300;
  padding: 0.5rem 0;
  font-family: 'Roboto';
  background-color: #fff;
  color: #757575;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center bottom, center calc(100% - 1px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#686868)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
  background-image: linear-gradient(#686868, #686868), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 1px, 100% 1px;
  transition: background 0s ease-out; }

.icon-style {
  color: #f6881f;
  font-size: 1.5rem;
  padding-top: 1rem; }

.alturaFila {
  height: 55px !important;
  max-height: 55px !important; }

.alturaHora {
  height: 55px; }

.backHora {
  background-color: #ededed;
  border-bottom: .1rem solid #f6881f !important;
  color: #757575; }

.classic-tabs li a.backHora.active {
  background-color: #f6881f;
  color: #fff; }

.dateBox {
  background-color: #757575;
  color: #fff !important; }

.dirRight, .dirLeft {
  height: 55px;
  align-items: center;
  background-color: #767676;
  color: #fff !important; }

.px-b {
  padding: 0 0.125rem; }

.btn-frm-expuesto {
  font-size: 1.125rem; }

.md-select-form span {
  color: #f6881f; }

label.politicas.light {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: normal; }

.disabled {
  cursor: not-allowed !important;
  color: #cacaca;
  margin: 0.35rem 0; }

.icon-disabled {
  color: #cacaca !important; }

div#co-campus, div#co-fecha {
  overflow-y: auto; }

.lineButtonCampus > a, .lineButtonFecha > a {
  color: #757575 !important;
  border-bottom: 1px solid #d7d7d7; }

.lineButtonCampus > a:nth-last-child(1) {
  border-bottom: none; }

.lineButtonFecha > a:nth-last-child(1) {
  border-bottom: none; }

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #f6881f !important; }
