.collapse .container .container li a {
  color: #FFFFFF;
  display: block; }

footer .fullBlue {
  padding: 1rem;
  background-color: #006fba;
  color: #FFFFFF; }
  footer .fullBlue .divisor {
    color: #F68B1F;
    font-weight: 700;
    font-size: 2rem; }
  footer .fullBlue hr {
    border: 1px solid rgba(190, 190, 190, 0.3); }
  footer .fullBlue .footerCollapse {
    color: #FFFFFF; }
    footer .fullBlue .footerCollapse a {
      color: #FFFFFF;
      margin-left: 0; }
  footer .fullBlue .fullBlueRedes a i {
    margin-right: 1rem;
    font-size: 2rem;
    color: white; }
  footer .fullBlue #footerCascada div {
    font-weight: 300;
    padding: 0; }
  footer .fullBlue #footerCascada table tbody tr td {
    padding: 0.75rem 0; }
footer .info p a, footer p b {
  color: #757575;
  font-size: 0.875rem; }

.footerCollapse {
  color: #006fba; }

footer .citeFullBlue {
  font-size: .5rem;
  font-weight: 400;
  padding: 0.5rem;
  text-align: center; }

footer .terminos {
  font-size: 0.75rem; }

footer .acuerdo {
  font-size: 0.625rem;
  font-weight: 500; }

.sponsors {
  height: 20px !important;
  margin-right: 0.25rem;
  width: auto !important; }

#inputMailFooter {
  border: 1px solid white !important;
  padding: 0 !important;
  margin: 0 !important; }

.contacto-inscripcion {
  font-weight: 300; }
  .contacto-inscripcion h2 a {
    display: flex;
    align-items: center !important;
    color: inherit !important; }
    .contacto-inscripcion h2 a i, .contacto-inscripcion h2 a span {
      padding-right: .5rem; }

/* Se elimina espaciado del contenedor de los collapsables */
.fix-container {
  padding-left: 0rem !important; }

.fix-content > li {
  margin-bottom: 0.5rem; }

/* End Se elimina espaciado del contenedor de los collapsables */
