@charset "UTF-8";
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.modal-tarjeta .modal-fluid {
  max-width: none;
  margin: 0 auto; }
.modal-tarjeta .modal-content {
  min-height: 100vh;
  flex-direction: inherit;
  border: none; }
  .modal-tarjeta .modal-content .convenio {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: 110%;
    background-position-x: center; }
  .modal-tarjeta .modal-content .icons {
    position: absolute;
    z-index: 100;
    right: 0.25rem;
    top: .25rem;
    cursor: pointer; }
  .modal-tarjeta .modal-content .icon-u-cerrar:before {
    color: #ffffff;
    font-size: 30px; }
  .modal-tarjeta .modal-content .content-gral .card-desc {
    color: #ffffff;
    font-weight: 400;
    line-height: normal; }
    .modal-tarjeta .modal-content .content-gral .card-desc .tit-desc {
      font-size: 0.75rem;
      font-weight: 500;
      line-height: normal; }
    .modal-tarjeta .modal-content .content-gral .card-desc .sub-desc {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: normal; }
    .modal-tarjeta .modal-content .content-gral .card-desc .lista-desc .desc-ind {
      font-size: 1.125rem; }
      .modal-tarjeta .modal-content .content-gral .card-desc .lista-desc .desc-ind .bullet {
        font-size: 0.5rem; }
    .modal-tarjeta .modal-content .content-gral .card-desc .legales {
      font-size: 0.875rem;
      font-weight: 200; }
  .modal-tarjeta .modal-content .content-gral .contacto-desc {
    color: #ffffff; }
    .modal-tarjeta .modal-content .content-gral .contacto-desc .titulo-contactanos {
      font-size: 1.125rem;
      font-weight: 400;
      text-align: center; }
    .modal-tarjeta .modal-content .content-gral .contacto-desc .card-title-contacto {
      font-weight: 300;
      font-size: 1.15rem; }
    .modal-tarjeta .modal-content .content-gral .contacto-desc .card-sub-contacto {
      position: inherit;
      bottom: 3rem; }
      .modal-tarjeta .modal-content .content-gral .contacto-desc .card-sub-contacto li.descuentos-lista {
        display: list-item;
        font-size: 1rem;
        font-weight: 200; }
.modal-tarjeta .modal-descuentos {
  background-color: rgba(0, 0, 0, 0.9); }

.content-portadas-galeria {
  width: 100%;
  margin: auto;
  max-width: 90%; }
  .content-portadas-galeria .portada-galeria img {
    width: 72px !important;
    height: 70px !important;
    border-radius: 50%;
    margin: auto; }

/* Inician los estilos de la galer├â┬¡a desktop */
.carrousel_inner {
  overflow: hidden; }
  .carrousel_inner ul {
    display: flex; }

.impulsa .contenedor-impulsa {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 1rem; }
  .impulsa .contenedor-impulsa .title-impulsa-mob {
    text-align: left;
    margin: 0;
    padding: 18px 12px 12px 12px;
    font-weight: 500;
    font-size: 1.125rem;
    color: #006fba;
    border-bottom: 1px solid; }
  .impulsa .contenedor-impulsa .description-impulsa-mob {
    text-align: left;
    margin: 0;
    font-size: 1rem; }
  .impulsa .contenedor-impulsa .filtros .filtro-descuentos {
    border: solid 1px #006fba;
    cursor: pointer; }
    .impulsa .contenedor-impulsa .filtros .filtro-descuentos .span-filtro {
      font-size: 0.75rem; }
    .impulsa .contenedor-impulsa .filtros .filtro-descuentos h6 {
      font-weight: 400; }
    .impulsa .contenedor-impulsa .filtros .filtro-descuentos .icon-abajo {
      font-weight: 400;
      font-size: 1.25rem; }
  .impulsa .contenedor-impulsa .filtros .dropdown .dropdown-menu .dropdown-item {
    padding: 0.5rem 0;
    margin-left: 0; }
  .impulsa .contenedor-impulsa .filtros .descargar {
    color: #F68B1F;
    font-weight: 400; }
  .impulsa .contenedor-impulsa .fichaDesign {
    padding: 5px; }
  .impulsa .contenedor-impulsa .title {
    line-height: 1;
    font-size: 1.125rem;
    font-weight: 500;
    display: -webkit-inline-box !important;
    height: 2.4rem;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important; }
  .impulsa .contenedor-impulsa .content {
    font-size: 1rem;
    font-weight: 300;
    line-height: normal; }
    .impulsa .contenedor-impulsa .content b {
      font-weight: 400; }
  .impulsa .contenedor-impulsa .content-iconos .destacar {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.3; }
    .impulsa .contenedor-impulsa .content-iconos .destacar .icon-descuentos {
      font-size: 2rem; }
  .impulsa .contenedor-impulsa .fila-descuentos .dir {
    margin-top: -1px !important; }
  .impulsa .contenedor-impulsa .fila-descuentos .collection-card {
    border: solid 1px rgba(225, 225, 225, 0.9); }
  .impulsa .contenedor-impulsa .fila-descuentos .collection-card .view {
    cursor: pointer;
    height: 105px;
    background-size: 110%;
    background-position-x: center; }

/* Terminan los estilos de la galer├¡┬¡a desktop */
.scroll-hiden {
  overflow: hidden; }
