#watermark {
  display: none; }

#banner-img-tour {
  background-position: center center;
  background-size: cover; }

body {
  overflow-x: hidden !important; }

.p-absolute {
  position: absolute !important; }

.border-none {
  position: absolute !important; }

.contenedor-tour-virtual {
  height: 350px;
  position: relative;
  z-index: 0; }

.info-tour {
  color: white;
  position: absolute; }

.btn-back-tour {
  background-color: rgba(246, 139, 31, 0.9);
  /* box-shadow: none!important; */
  /* padding: .75rem 1.5rem; */
  font-size: 1rem; }

.btn-back-tour:hover {
  background-color: #f68b1f; }

.title-tour {
  font-size: 2rem;
  font-weight: 300; }

.logo-unitec-tour {
  max-width: 90px; }

.title-campus-tour {
  font-size: 1.65rem;
  font-weight: 300; }

.subtitle-campus-tour {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1; }

.frameToruVirtual {
  border: none; }

.closeIframe {
  position: absolute !important;
  right: 2rem !important;
  top: 1rem !important;
  background-color: #f68b1f !important;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 2rem; }

.closeIframe:hover {
  color: #fff !important; }

.contentIframeTour {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  margin: 0 !important;
  overflow: hidden; }

.header-close-tour {
  border: none !important; }

@keyframes ld-breath {
  0% {
    -webkit-transform: scale(0.86);
    transform: scale(0.86); }
  50% {
    -webkit-transform: scale(1.06);
    transform: scale(1.06); }
  100% {
    -webkit-transform: scale(0.86);
    transform: scale(0.86); } }
@-webkit-keyframes ld-breath {
  0% {
    -webkit-transform: scale(0.86);
    transform: scale(0.86); }
  50% {
    -webkit-transform: scale(1.06);
    transform: scale(1.06); }
  100% {
    -webkit-transform: scale(0.86);
    transform: scale(0.86); } }
.ld.ld-breath {
  -webkit-animation: ld-breath 1s infinite;
  animation: ld-breath 1s infinite; }
