@charset "UTF-8";
.content-portadas-galeria {
  width: 100%;
  margin: auto;
  max-width: 90%; }
  .content-portadas-galeria .portada-galeria img {
    width: 72px !important;
    height: 70px !important;
    border-radius: 50%;
    margin: auto; }

.descuentos .contenedor-descuentos .filtros .filtro-descuentos {
  border: solid 1px #939393;
  cursor: pointer; }
  .descuentos .contenedor-descuentos .filtros .filtro-descuentos .icon-abajo {
    color: #F68B1F;
    font-weight: 400;
    font-size: 2.5rem; }
.descuentos .contenedor-descuentos .filtros .menu-filtro-descuentos {
  width: 100%; }
  .descuentos .contenedor-descuentos .filtros .menu-filtro-descuentos .destacar:hover {
    background-color: #F68B1F; }

/* Terminan los estilos de la galer├â┬¡a desktop */
.scroll-hiden {
  overflow: hidden; }

.cardHeight {
  height: 490px; }
  .cardHeight .front, .cardHeight .back {
    z-index: 2;
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s; }
  .cardHeight .front .cover {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin: auto;
    z-index: 5;
    width: 96%;
    top: -1rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.03); }
    .cardHeight .front .cover .etiqueta {
      position: absolute;
      top: .25rem;
      right: .25rem;
      color: #fff;
      padding: .2rem 1rem;
      font-size: .75rem;
      border-radius: 3px;
      text-transform: uppercase;
      letter-spacing: 1px;
      opacity: 0.85; }
  .cardHeight .front .content {
    color: #757575;
    top: -0.75rem; }
    .cardHeight .front .content .titleTaller {
      font-weight: 500;
      line-height: normal; }
    .cardHeight .front .content .shortDescription {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.2; }
    .cardHeight .front .content .rowData {
      font-size: 1.125rem;
      font-weight: 300; }
      .cardHeight .front .content .rowData .rotateCampus {
        position: relative !important;
        top: auto;
        right: auto;
        float: initial;
        font-size: inherit;
        color: inherit;
        cursor: pointer; }
      .cardHeight .front .content .rowData .itemIcon {
        color: #006fba; }
      .cardHeight .front .content .rowData .tallerCampus {
        font-weight: 400; }
      .cardHeight .front .content .rowData .tallerCost {
        font-weight: 400;
        color: #006fba; }
  .cardHeight .front .footer {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0; }
  .cardHeight .back .content {
    line-height: normal; }
    .cardHeight .back .content .main {
      min-height: 265px; }
    .cardHeight .back .content .title {
      font-weight: 500;
      line-height: normal;
      font-size: 1.125rem; }
    .cardHeight .back .content .longDescription {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.2; }
    .cardHeight .back .content .tallerCampus {
      font-weight: 400; }
  .cardHeight .back .footer {
    border-top: 3px solid #ededed;
    padding: 5px 15px 5px 15px;
    position: absolute;
    bottom: 0; }
    .cardHeight .back .footer .regresar {
      font-size: 1.25rem;
      font-weight: 400;
      color: #939393; }
  .cardHeight .verMas-taller, .cardHeight .asistir {
    border-radius: 0.25rem;
    font-weight: 400;
    font-size: 1.125rem;
    width: 120px;
    height: 35px; }
  .cardHeight .verMas-taller {
    font-size: 1rem; }
  .cardHeight .asistir {
    border: solid 1px #F68B1F !important;
    color: #F68B1F !important; }
  .cardHeight .asistir:hover {
    background-color: #F68B1F !important;
    color: #ffffff !important; }
  .cardHeight .stats-container .stats .card-back :nth-child(1) {
    text-align: center !important;
    font-size: 3rem; }
  .cardHeight .stats-container .stats .desktop-card-title-comparte {
    border-bottom: 3px solid #ededed;
    color: #5a5a5a;
    padding: 18px 12px 12px 12px;
    font-weight: 400;
    font-size: 1.125rem; }
  .cardHeight .stats-container .stats ul.inline-ul-desktop {
    display: flex; }
    .cardHeight .stats-container .stats ul.inline-ul-desktop li {
      width: 25%; }

.default {
  background-color: #066fba; }

.preparatoira {
  background-color: #87C80A; }

.licenciaturas {
  background-color: #F49F22; }

.licenciaturas-en-salud {
  background-color: #06C4B4; }

.ingenierias {
  background-color: #820000; }

.diplomados {
  background-color: #8C288C; }

.maestrias {
  background-color: #547DBF; }
