@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.esquema {
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: solid 1px;
  margin-bottom: 0.4rem; }
  .esquema .filtro-indicadores {
    font-size: 0.7rem;
    margin-bottom: 0.4rem; }
  .esquema .indicador {
    display: inline-block !important;
    width: 1rem;
    height: 1rem; }
    .esquema .indicador.rojo {
      background-color: #eb6852; }
    .esquema .indicador.verde {
      background-color: #00afa9; }
    .esquema .indicador.azul {
      background-color: #006fba; }
    .esquema .indicador.naranja {
      background-color: #ccdb2a; }
    .esquema .indicador.gris {
      background-color: #757575; }
    .esquema .indicador.azulB {
      background-color: #00b2e2; }

.ajusteTitulo {
  margin: auto;
  padding-left: 0.8rem; }

.titleMC {
  color: #006fba; }

.descMC {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2; }

.icons-mapa {
  display: flex;
  justify-content: flex-end; }
  .icons-mapa a {
    margin: 0.5rem 0;
    cursor: pointer; }
    .icons-mapa a i, .icons-mapa a span {
      margin: 0 !important; }
  .icons-mapa a:last-child {
    width: 24px;
    margin-right: 0; }

.btn-materia {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: default;
  height: default;
  margin: 0.25rem;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3px;
  max-width: calc(50% - 4px);
  font-size: .825rem; }
  .btn-materia.rojo {
    background-color: #eb6852; }
  .btn-materia.verde {
    background-color: #00afa9; }
  .btn-materia.azul {
    background-color: #006fba; }
  .btn-materia.naranja {
    background-color: #ccdb2a; }
  .btn-materia.gris {
    background-color: #757575; }
  .btn-materia.azulB {
    background-color: #00b2e2; }
  .btn-materia:first-child {
    margin-left: 0; }
  .btn-materia:last-child {
    margin-right: 0; }
  .btn-materia a {
    font-weight: 400;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: inherit; }

.c-b-mapa-curricular {
  padding: 0 11px; }

.borde-card {
  border-bottom: 2px solid #006fba !important;
  box-shadow: none !important;
  border-radius: 0 !important; }

.btn-share {
  font-size: 2.313rem !important; }

.btn-social-media {
  box-shadow: none !important;
  background-color: transparent !important; }

.descarga-plan {
  color: #757575 !important;
  font-size: 1.75rem !important; }

.inline-ul {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around; }
