@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.tarjeta img {
  padding: 0 !important; }

.title-testimoniales {
  font-size: 0.875rem;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 0.3rem;
  line-height: 1rem; }

.testimoniales-mob {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 110px;
  min-height: 150px;
  margin: 0;
  border-radius: 0.3rem; }
  .testimoniales-mob:last-child {
    margin-right: 0 !important; }

.carrusel-testimoniales {
  position: relative;
  left: -4vw;
  width: 100vw; }

.modal-footer {
  justify-content: center !important; }

.modal-header, .modal-footer {
  border: none; }

.modal-tarjeta .modal-fluid {
  max-width: none;
  position: relative;
  margin: 0 auto; }
.modal-tarjeta .modal-content {
  min-height: calc(100vh);
  background-color: black;
  color: #FFFFFF;
  font-size: 1rem;
  border: none; }
  .modal-tarjeta .modal-content .modal-header .imgMinTestimoniales {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: .5rem; }
    .modal-tarjeta .modal-content .modal-header .imgMinTestimoniales img {
      width: inherit;
      height: inherit; }
  .modal-tarjeta .modal-content .modal-header .description {
    flex: 1;
    line-height: 0.75rem;
    font-weight: 200;
    font-size: 0.875rem; }
    .modal-tarjeta .modal-content .modal-header .description .nombre, .modal-tarjeta .modal-content .modal-header .description .testimonio-title {
      font-size: inherit;
      font-weight: 400; }
  .modal-tarjeta .modal-content .modal-header .icons .puntos-tarjeta {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1rem;
    color: #757575; }
    .modal-tarjeta .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item {
      display: flex !important;
      align-items: center;
      padding: 3px 1rem !important;
      color: inherit; }
      .modal-tarjeta .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item i, .modal-tarjeta .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item span {
        color: inherit;
        font-size: 1rem;
        padding-right: 0.5rem; }
  .modal-tarjeta .modal-content .modal-content-tarjeta-testimoniales {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll; }
    .modal-tarjeta .modal-content .modal-content-tarjeta-testimoniales iframe, .modal-tarjeta .modal-content .modal-content-tarjeta-testimoniales img, .modal-tarjeta .modal-content .modal-content-tarjeta-testimoniales audio, .modal-tarjeta .modal-content .modal-content-tarjeta-testimoniales video {
      width: 100%;
      height: 100%;
      padding: .5rem 0; }
  .modal-tarjeta .modal-content .modal-footer {
    padding: 1rem 2rem; }
    .modal-tarjeta .modal-content .modal-footer p {
      font-weight: 200; }
