@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.altura-card {
  height: 178px; }

.card-body .fichaImg {
  float: left;
  width: 30%;
  max-width: 100px; }
.card-body .fichaDesign {
  float: left;
  width: 70%;
  padding: 5px; }
.card-body .title {
  line-height: normal;
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-inline-box !important;
  height: 2.4rem;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }
.card-body .content {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal; }
.card-body .navegacion {
  width: 100%;
  padding-top: 18px; }
  .card-body .navegacion a.link-fix {
    margin-right: 10px; }
.card-body .compartir-fix {
  color: #757575 !important;
  font-size: 1.5rem !important; }

.card-reveal {
  overflow: hidden !important; }
