@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.geolocalizacion {
  display: flex;
  flex-direction: column; }
  .geolocalizacion .mapa {
    width: 100%;
    height: calc( 300px - 57px ); }
  .geolocalizacion .transport-links {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .geolocalizacion .transport-links .transport-pilot a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      color: #757575; }
      .geolocalizacion .transport-links .transport-pilot a span, .geolocalizacion .transport-links .transport-pilot a i {
        font-size: 38px; }
      .geolocalizacion .transport-links .transport-pilot a label {
        margin: 0; }

.parametros-geolocalizacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .parametros-geolocalizacion .parametros {
    width: 100%;
    display: flex;
    padding-top: 1rem; }
    .parametros-geolocalizacion .parametros .iconos {
      width: 35px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-around; }
      .parametros-geolocalizacion .parametros .iconos i, .parametros-geolocalizacion .parametros .iconos span {
        font-size: 1rem; }
        .parametros-geolocalizacion .parametros .iconos i:first-child, .parametros-geolocalizacion .parametros .iconos span:first-child {
          margin-top: 10px; }
        .parametros-geolocalizacion .parametros .iconos i:last-child, .parametros-geolocalizacion .parametros .iconos span:last-child {
          color: #006fba;
          margin-bottom: 15px; }
    .parametros-geolocalizacion .parametros form {
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      flex: 1; }
      .parametros-geolocalizacion .parametros form input[type=text] {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
        .parametros-geolocalizacion .parametros form input[type=text]:focus:not([readonly]).mySuccess {
          border: none !important;
          box-shadow: none !important; }
        .parametros-geolocalizacion .parametros form input[type=text].mySuccess {
          border: none !important;
          box-shadow: none !important; }
        .parametros-geolocalizacion .parametros form input[type=text]:focus:not([readonly]).myError {
          border: none !important;
          box-shadow: none !important; }
        .parametros-geolocalizacion .parametros form input[type=text].myError {
          border: none !important;
          box-shadow: none !important; }
        .parametros-geolocalizacion .parametros form input[type=text].valid {
          border: none !important;
          box-shadow: none !important; }
  .parametros-geolocalizacion .botonSecundario {
    margin: 1rem 0;
    width: 90%;
    text-align: center; }

.botonesUnitec {
  padding: 6px;
  width: 97% !important; }
  .botonesUnitec a {
    box-shadow: none; }

/*Fix para pintar border en colapsables*/
.parametros-geolocalizacion {
  border-bottom: none !important; }

/*Fix para pintar border en colapsables*/
/* fixes potential theme css conflict */
#map img {
  max-width: inherit !important; }

.img-mapa img {
  width: 100%;
  height: auto; }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px; }

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px; }

#right-panel select, #right-panel input {
  font-size: 15px; }

#right-panel select {
  width: 100%; }

#right-panel i {
  font-size: 12px; }

#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto; }

#floating-panel {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4); }

@media print {
  #right-panel {
    float: none;
    width: auto; } }
