.prodDescription {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal; }

.miniSimulador .row .parametros {
  font-size: .93rem; }
  .miniSimulador .row .parametros .descuento {
    color: #8b254f; }
.miniSimulador .row .resultadoMS .costoDesc {
  font-size: 2.4rem;
  font-weight: 700;
  color: #006fba; }
.miniSimulador .row .resultadoMS .descrip {
  width: 100%;
  display: block;
  font-size: .7rem;
  color: #757575; }
.miniSimulador .margen-cantidad {
  padding-left: 0.25rem; }
.miniSimulador .margen-precio {
  padding-left: 1rem; }

.tablaSimulador {
  border: 1px solid #aba99e;
  padding-bottom: 0.5rem; }
  .tablaSimulador > .row {
    border-bottom: 2px solid #006fba;
    color: #006fba;
    font-size: 1.375rem;
    font-weight: 500;
    padding: 3px; }

.tblSimulador .row {
  margin: 1rem 0; }
  .tblSimulador .row div {
    display: flex;
    align-items: center; }
    .tblSimulador .row div.backGray {
      color: #006fba;
      background: #ededed; }
.tblSimulador .btn-floating {
  bottom: -1.125rem;
  left: calc( 50% - $long-normal );
  position: absolute;
  margin: 0 auto;
  background-color: #F68B1F !important; }

.botonesUnitec a {
  width: 100%;
  border-radius: 0px;
  color: #FFFFFF;
  margin: 0.5rem 0;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: none; }
  .botonesUnitec a .info {
    color: #006fba; }
  .botonesUnitec a .orange {
    color: #F68B1F; }
  .botonesUnitec a .default {
    color: #757575; }

.dp .greenTextProd {
  text-align: right;
  color: #007E33;
  font-size: .96rem;
  font-weight: 500; }
.dp .grayText {
  text-align: right;
  font-size: .7rem; }

/*Forzar el estilo del dropdown*/
.force-select-style > ul {
  color: #757575 !important;
  float: center !important;
  position: absolute !important;
  left: 49% !important;
  /* 40%!important */
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.select-dropdown {
  color: #757575; }
