@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.fix-horario-campus {
  padding-left: 2.5rem; }

label.horario-hora {
  padding-left: 0.5rem; }

/*Fix para alinear los horarios*/
.horarios-pre {
  flex: 1;
  line-height: normal;
  font-size: 1rem;
  color: #757575;
  font-family: Roboto,sans-serif;
  padding-left: .1rem;
  margin: 0; }

.fix-horarios-button {
  padding-left: 15px; }

/*Fix para alinear los horarios*/
.bg-white {
  background-color: #fff; }

a.textItemCard {
  color: #757575 !important; }
