@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.modal-tarjeta .modal-fluid {
  max-width: none;
  position: relative;
  margin: 0 auto; }
.modal-tarjeta .modal-content {
  min-height: calc(100vh);
  background-color: black;
  color: #FFFFFF;
  font-size: 1rem;
  border: none; }
  .modal-tarjeta .modal-content .modal-header .imgMin {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: .5rem; }
    .modal-tarjeta .modal-content .modal-header .imgMin img {
      width: inherit;
      height: inherit; }
    .modal-tarjeta .modal-content .modal-header .imgMin .portada-galeria {
      width: 100%;
      max-width: 125px !important;
      margin: 0 !important;
      margin-right: 8px !important; }
  .modal-tarjeta .modal-content .modal-header .description {
    flex: 1;
    line-height: 0.75rem;
    font-weight: 200;
    font-size: 0.875rem; }
    .modal-tarjeta .modal-content .modal-header .description .nombre, .modal-tarjeta .modal-content .modal-header .description .testimonio-title {
      font-size: inherit;
      font-weight: 400; }
  .modal-tarjeta .modal-content .modal-header .icons .puntos-tarjeta {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1rem;
    color: #757575; }
    .modal-tarjeta .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item {
      display: flex !important;
      align-items: center;
      padding: 3px 1rem !important;
      color: inherit; }
      .modal-tarjeta .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item i, .modal-tarjeta .modal-content .modal-header .icons .puntos-tarjeta .dropdown-item span {
        color: inherit;
        font-size: 1rem;
        padding-right: 0.5rem; }
  .modal-tarjeta .modal-content .modal-content-tarjeta {
    min-height: calc( 100vh - 300px );
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll; }
    .modal-tarjeta .modal-content .modal-content-tarjeta iframe, .modal-tarjeta .modal-content .modal-content-tarjeta img, .modal-tarjeta .modal-content .modal-content-tarjeta audio, .modal-tarjeta .modal-content .modal-content-tarjeta video {
      width: 100%;
      height: 100%;
      padding: .5rem 0; }
  .modal-tarjeta .modal-content .modal-footer {
    padding: 1rem 2rem; }
    .modal-tarjeta .modal-content .modal-footer p {
      font-weight: 200; }

.grid-galeria-master {
  height: auto !important; }

/*Clases para la navegacion en caso de que sea un iframe de youtube*/
.div-yt-video {
  padding: 0 !important; }

.div-yt-video-left {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-align: center; }

.div-yt-video-right {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-align: center; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item {
  width: 50%;
  float: left; }

.grid-item-video {
  width: 100%;
  float: left; }

.content-portadas-galeria {
  width: 100%;
  margin: auto;
  max-width: 90%; }
  .content-portadas-galeria .portada-galeria img {
    width: 72px !important;
    height: 70px !important;
    border-radius: 50%;
    margin: auto; }
