@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

.filtro-video {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%; }

#banner-imagen {
  position: relative; }

#home-texto {
  position: absolute;
  color: white;
  z-index: 1; }

#carousel-banner-video {
  overflow: hidden !important; }
  #carousel-banner-video .video-fluid {
    height: auto !important; }

.footer-banner-home {
  position: relative;
  width: 100%;
  background-color: #F68B1F;
  color: #FFFFFF;
  font-weight: 300;
  padding: 0.5rem;
  bottom: 0; }

.botonSecundario.home {
  position: unset;
  clear: both;
  z-index: 10; }

.banner {
  display: flex;
  flex-direction: row;
  widows: 100vw;
  height: calc( 100vh - 976px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 20;
  width: 100%; }
  .banner .banner-cinta {
    margin-top: 1rem;
    position: absolute;
    width: 100%; }
    .banner .banner-cinta.cinta-end {
      align-self: flex-end;
      margin-top: -22px; }
    .banner .banner-cinta .cintillo {
      justify-content: baseline;
      position: relative; }
      .banner .banner-cinta .cintillo .banner-cintillo-titulo {
        font-size: 1.375rem;
        line-height: normal;
        margin-bottom: 0 !important; }
        .banner .banner-cinta .cintillo .banner-cintillo-titulo span {
          color: #f68b1f !important;
          font-weight: 500; }
    .banner .banner-cinta.banner-cinta-estatico {
      top: 0;
      margin: auto; }

.btnB {
  display: flex;
  position: absolute;
  margin-left: calc( 50vw - 18px);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.313rem;
  height: 2.313rem;
  background-color: #f68b1f !important;
  z-index: 30;
  /*Video con Slider*/
  /*
  /*Video con Slider*/ }
  .btnB.btn-banner-cintillo {
    margin-top: -18px; }
  .btnB.btn-banner {
    /* margin-top: -68px; */
    align-self: flex-end; }
  .btnB i, .btnB span {
    font-size: 1.5rem;
    color: white; }
  .btnB.btn-banner-estatico {
    margin-top: -65px; }
  .btnB.btn-banner-estatico-calculadora {
    margin-top: -65px; }

.content-carousel {
  box-shadow: none !important; }

.carousel-inner {
  /*Video con Slider*/
  /*Video con Slider*/ }
  .carousel-inner .view {
    position: none !important;
    width: 100% !important; }
    .carousel-inner .view.hm-black-light {
      width: 100% !important; }
      .carousel-inner .view.hm-black-light img {
        width: 100% !important;
        /* height: auto!important; */ }
  .carousel-inner .carousel-caption {
    left: 0% !important;
    right: 0% !important; }
  .carousel-inner .carousel-calculadora {
    margin-bottom: -1em;
    width: 100%; }
  .carousel-inner .texto-slider {
    padding: 0.5rem !important;
    /* right:auto; 
    left:auto; */
    bottom: 5.25rem;
    /* 5.62rem */ }
    .carousel-inner .texto-slider p.texto-banner-carousel {
      margin: 0 !important;
      font-size: 1rem !important;
      color: #FFFFFF;
      font-weight: 300 !important;
      line-height: normal !important;
      text-align: center;
      width: 100%; }
    .carousel-inner .texto-slider p.texto-banner-carousel-calc {
      margin: 1rem 0 !important;
      font-size: 1.2rem !important;
      font-weight: 300 !important;
      line-height: normal !important; }
    .carousel-inner .texto-slider p.texto-banner-titulo {
      font-size: 1rem !important;
      color: #FFFFFF;
      line-height: normal !important;
      margin: auto;
      font-weight: 400 !important; }
    .carousel-inner .texto-slider p.texto-banner-titulo-calc {
      font-size: 1.5rem !important;
      line-height: normal !important;
      margin: auto;
      font-weight: 400 !important; }
  .carousel-inner .texto-slider-video {
    padding: 0.4rem; }

.carousel-calculadora-boton {
  position: relative;
  right: 0;
  z-index: 10;
  color: #fff;
  text-align: center; }

.carousel-banner-boton {
  position: relative;
  right: 0;
  bottom: -0.6em;
  z-index: 10;
  color: #fff;
  text-align: center; }

.crl-banner {
  position: absolute;
  align-self: flex-end; }
  .crl-banner .carousel-indicators {
    position: relative;
    bottom: 70px;
    z-index: 30;
    margin-left: 14% !important; }
    .crl-banner .carousel-indicators li {
      justify-content: space-evenly;
      max-width: 0.75rem !important;
      height: 0.75rem !important;
      margin: 0 .5rem; }
      .crl-banner .carousel-indicators li.active {
        background-color: white; }
  .crl-banner .calcu {
    width: 100vw;
    display: flex;
    margin: 1rem 0 !important;
    justify-content: center; }
    .crl-banner .calcu a {
      width: 80%;
      text-align: center; }

.indicadores-calculadora {
  position: relative !important;
  z-index: 30;
  top: -4rem; }
  .indicadores-calculadora li {
    max-width: 10px !important;
    height: 10px !important;
    margin-left: 10px; }

/*Video con Slider*/
.indicadores {
  position: relative !important;
  z-index: 30;
  top: -4rem; }
  .indicadores li {
    max-width: 10px !important;
    height: 10px !important;
    margin-left: 10px; }

/*Video con Slider*/
.banner-buscador .buscador-google {
  display: flex;
  flex-direction: column;
  align-self: center; }
  .banner-buscador .buscador-google .buscador-title {
    text-align: center;
    font-size: 1.75rem;
    color: #0f406b; }
  .banner-buscador .buscador-google .buscador-gcs-no-angular {
    display: flex;
    border: 1px solid #006fba;
    background: white;
    align-self: center;
    width: calc( 100vw - 2rem );
    padding: .3rem;
    margin: 0 1rem;
    margin-bottom: 0px; }
    .banner-buscador .buscador-google .buscador-gcs-no-angular .twitter-typeahead {
      position: absolute;
      width: 100%; }
    .banner-buscador .buscador-google .buscador-gcs-no-angular .banner-gcs {
      width: calc(100% - 5.3rem);
      padding: 0 2.3rem 0 .2rem;
      border-bottom: none !important;
      box-shadow: none !important; }
    .banner-buscador .buscador-google .buscador-gcs-no-angular .segment-icons {
      width: 30px;
      font-size: 1.5rem;
      text-align: center; }

.modal-buscador-php .modal-dialog {
  margin: 0;
  width: 100vw !important;
  height: 100vh !important; }
  .modal-buscador-php .modal-dialog .modal-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto; }
    .modal-buscador-php .modal-dialog .modal-content .modal-body {
      padding: 0; }
      .modal-buscador-php .modal-dialog .modal-content .modal-body .mdlc, .modal-buscador-php .modal-dialog .modal-content .modal-body .cmm {
        color: #F68B1F;
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
        width: 1.875rem; }
      .modal-buscador-php .modal-dialog .modal-content .modal-body header {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .modal-buscador-php .modal-dialog .modal-content .modal-body header img.logo {
          width: 150px;
          margin: 2.75rem; }
        .modal-buscador-php .modal-dialog .modal-content .modal-body header .buscador-gcs-no-angular {
          width: calc( 100% - 16px );
          display: flex;
          align-items: center;
          padding: 0;
          border: 1px solid #006fba; }
          .modal-buscador-php .modal-dialog .modal-content .modal-body header .buscador-gcs-no-angular .banner-gcs {
            display: flex;
            flex: 1;
            padding: .5rem;
            border-bottom: none !important;
            box-shadow: none !important; }
          .modal-buscador-php .modal-dialog .modal-content .modal-body header .buscador-gcs-no-angular .segment-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px; }
            .modal-buscador-php .modal-dialog .modal-content .modal-body header .buscador-gcs-no-angular .segment-icons span, .modal-buscador-php .modal-dialog .modal-content .modal-body header .buscador-gcs-no-angular .segment-icons i {
              font-size: 1.5rem; }
      .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem {
        width: 100%;
        clear: both; }
        .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem:hover {
          border: 1px solid #ededed; }
          .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem:hover header {
            border-bottom: 1px solid #ededed;
            padding-bottom: 1rem;
            margin-bottom: 1rem; }
        .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem > header, .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem section {
          padding: 1rem;
          overflow: hidden;
          height: fit-content; }
        .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem header {
          padding-bottom: 0px; }
          .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem header .titulo {
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            color: #F68B1F;
            height: 44px !important;
            overflow: hidden;
            display: -webkit-inline-box !important;
            height: 2.4rem;
            -webkit-line-clamp: 2 !important;
            -webkit-box-orient: vertical !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important; }
          .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem header .link {
            color: #0f406b;
            overflow: hidden;
            align-self: baseline;
            display: -webkit-inline-box !important;
            height: 1.2rem;
            -webkit-line-clamp: 1 !important;
            -webkit-box-orient: vertical !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important; }
        .modal-buscador-php .modal-dialog .modal-content .modal-body .GCSResultados .GCSresultItem section {
          display: -webkit-inline-box !important;
          height: 3.6rem;
          -webkit-line-clamp: 3 !important;
          -webkit-box-orient: vertical !important;
          overflow: hidden !important;
          text-overflow: ellipsis !important; }
      .modal-buscador-php .modal-dialog .modal-content .modal-body .modal-escucha .segment-icons {
        font-size: 4.625rem;
        margin: 1.625rem; }

.filtroCarusel {
  background-color: rgba(0, 0, 0, 0.5) !important; }
