<span [formGroup]="formularioPadre">
    <div [ngClass]="{'row' : whatsbrowser == 'Chrome'}" class="row form-group" formGroupName="{{fase}}">
        <div [ngClass]="{'col-10' : whatsbrowser == 'Chrome'}" class="col-10 md-form form-sm">
            <input type="text" id="frm_amaterno" class="form-control"
                   formControlName="frm_amaterno" autocomplete="off"
                   onpaste="return false;"
                   tabindex="3"
                   #frm_amaterno
                   (keypress)="reglasInputs(frm_amaterno, $event.keyCode, $event.key)"
                   [ngClass]="{ 
                       mySuccess : formularioPadre.get(inputComponent).valid,
                       myError   : !formularioPadre.get(inputComponent).valid && formularioPadre.get(inputComponent).dirty
                   }">
            <label [ngClass]="{ 
                        'col-10' : whatsbrowser == 'Chrome',
                       mySuccess : formularioPadre.get(inputComponent).valid,
                       myError   : formularioPadre.get(inputComponent).invalid && formularioPadre.get(inputComponent).dirty
                   }"
                   for="frm_amaterno">Apellido materno: 
                   <span [ngClass]="{ 'color-asterisco':true, asteriskDisplay : !asterisk }">*</span>
</label>
<div class="myFeedBackError" *ngIf="formularioPadre.get(inputComponent).errors  && formularioPadre.get(inputComponent).dirty">
    <div *ngIf="formularioPadre.get(inputComponent).errors.fieldError">
        {{formularioPadre.get(inputComponent).errors.customErrorMessage}}
    </div>
</div>
</div>

<!-- icono de busqueda por voz -->
<div *ngIf="whatsbrowser == 'Chrome' && speechSupport" class="frm_amaterno iconos-form col-2 m-0 d-flex align-items-center justify-content-center">
    <span id="micExtrangero" class=" icon-u-microfono microfono mic-form" (click)="callSpeechParentComponent(this)">
        <span class="path1"></span><span class="path2"></span>
    </span>
</div> 
<!--termina icono de busqueda por voz -->
</div>
<span>