<fieldset class="form-group check-calcu-mobile">
    <input type="checkbox" id="frm_revalidacion" (change)="cambiaTipoRegistro($event);">
    <label for="frm_revalidacion" class="frm-revalidacion-label">¿Quieres revalidar estudios previos?</label>
</fieldset>
<input type="hidden" id="frm_tipo_registro" value="10040">