<span [formGroup]="formularioPadre">
    <div [ngClass]="{'row' : whatsbrowser == 'Chrome'}" class="row form-group d-flex" formGroupName="{{fase}}">
        <!-- icono de identificación -->
        <div class="col-1 identificacion d-flex align-items-center justify-content-center">
            <span class="icon-u-celular"></span>
        </div>
        <!--termina icono de identificación -->
        <div [ngClass]="{'col-9' : whatsbrowser == 'Chrome'}" class="col-9 md-form form-sm w-100">
            <input type="tel" id="frm_celular" class="form-control"
                   formControlName="frm_celular" autocomplete="off"
                   onpaste="return false;"
                   maxlength="10"
                   tabindex="5"
                   #frm_celular
                   (keypress)="reglasInputs($event.keyCode)"
                   (keydown)="onKey($event)"
                   [ngClass]="{ 
                       mySuccess : formularioPadre.get(inputComponent).valid,
                       myError   : !formularioPadre.get(inputComponent).valid && formularioPadre.get(inputComponent).dirty
                   }">
            <label [ngClass]="{ 
                'col-9' : whatsbrowser == 'Chrome', 
                       mySuccess : formularioPadre.get(inputComponent).valid,
                       myError   : formularioPadre.get(inputComponent).invalid && formularioPadre.get(inputComponent).dirty
                   }"
                   for="frm_celular">* Celular (10 dígitos):
                <span [ngClass]="{ 'color-asterisco':true, asteriskDisplay : !asterisk }"></span>
            </label>
            <div class="myFeedBackError" *ngIf="formularioPadre.get(inputComponent).errors  && formularioPadre.get(inputComponent).dirty">
                <div *ngIf="formularioPadre.get(inputComponent).errors.fieldError">
                    {{formularioPadre.get(inputComponent).errors.customErrorMessage}}
                </div>
            </div>
        </div>
        <!-- icono de busqueda por voz -->
        <div *ngIf="whatsbrowser == 'Chrome'" class="col-2 text-center frm_celular iconos-form">
            <span id="micExtrangero" class=" icon-u-microfono microfono mic-form" (click)="callSpeechParentComponent(this)">
            <span class="path1"></span><span class="path2"></span>
            </span>
        </div>
        <!--termina icono de busqueda por voz -->
    </div>
</span>
<input type="hidden" id="CelByPass" value=""> 