//Variables principales del temaunitec
//Colores pricipales
$unitec_principal: #006fba;
$unitec_principal_b: #0f406b;
$unitec_secundario: #F68B1F;
//Titulos y texto
$titulos_principales: #757575;
$titulos_secundarios: #FFFFFF;
$texto_principal: #5a5a5a;
$texto_secundario: #FFFFFF;
$fondo-cuerpo-form: #FFFFFF;
//Divisores y lineas
$divisores_de_secciones: #333333;
//Margenes
$margen-superior-cuerpo: 10px;
$margen-inferior-imagen: 15px;
//Colores Thania
$azul_unitec: #006fba;
$boton_naranja_unitec: #f68b1f;
$gris_titulos: #757575;
$gris_texto: #333333;
$gris_minicards: #f8f8f8;
$iconos: #757575;
$input_verde: #00c851;
$input_rojo: #cc0000;
$input_azul: #0099CC;
$check_verde: #007E33;

/* Estilos para desktop */
$white: #ffffff;
$grayPred : #939393;
$font_gotam: Gotham (Thin, Light, book, medium);
$Gotham-thin:	 100;
$Gotham-light:   300;
$Gotham-normal:  400;
$Gotham-Book:    normal;
$Gotham-medium:  500;
$long-extra-small: 0.25rem;  //4px
$long-small:       0.5rem;   //8px
$long-medium:      0.75rem;  //12px
$long:             0.875rem; //14px
$long-default:     1rem;     //16px
$long-normal:      1.125rem; //18px
$long-extra-large: 1.75rem;  //28px;
/* Estilos para desktop */

/*Medidas para formulario*/
$iput_border_bottom: 8px;

//Mixins
//Aliniacion vertical
@mixin vertical_align() {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.modal-fluid {
    max-width: none;
    position: relative;
    margin: 0 auto;
}

.modal-tarjeta {
    overflow-y: hidden !important;
}

.modal-content {
    min-height: 100vh;
    border: none;
}

::ng-deep .icons-desktop {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: $unitec_secundario;
    border-radius: 50%;
    position: relative;
    a {
        flex-direction: initial!important;
        @include vertical_align;
    }
}

::ng-deep .icon-u-cerrar:before {
    color: $white;
    font-size: 22px;
}

.modal-body {
    padding: 0!important;
    background-color: $fondo-cuerpo-form;
    //margin-top: $margen-superior-cuerpo;
}

.modal-body-thankyou {
    padding: 0!important;
    background-color: $fondo-cuerpo-form;
    margin-top: $margen-superior-cuerpo;
}

.modal-header {
    z-index: 10;
    height: 220px;
    border-bottom: none;
}

.cerrar-modal {
    color: white;
    font-size: 2.5rem;
    opacity: 1;
}

//Clase para el row de la imagen del header del formulario
.img-header-formulario {
    height: 200px;
    //background: url("//calidadacademica.mx/wp-content/uploads/2017/05/sidenav.jpg");
    background-size: cover;
    margin-bottom: $margen-inferior-imagen;
    background-position: 50% 50%;
}

.img-header-thankyou {
    height: 200px;
    //background: url("//calidadacademica.mx/wp-content/uploads/2017/05/sidenav.jpg");
    background-size: cover;
    margin-bottom: $margen-inferior-imagen;
    background-position: 50% 50%;
}

.contenedor-header {
    position: absolute;
    width: 100%;
    left: 0;
}

.contenedor-header-p {
    position: absolute;
    width: 100%;
    left: 0;
}

// .titulo-logo {}

::ng-deep .logo-formulario {
    @include vertical_align;
    /*SVG como logo*/
    background-color: $azul_unitec;
    -webkit-mask-image: url(/assets/informacion.svg);
          -webkit-mask: url(/assets/informacion.svg) no-repeat 50% 50%;
            mask-image: url(/assets/informacion.svg);
                  mask: url(/assets/informacion.svg) no-repeat 50% 50%;
    -webkit-mask-size: 2.5rem;
}

.logo-thankyou {
    @include vertical_align;
}

::ng-deep .titulo-formulario {
    @include vertical_align;
    color: $unitec_principal;
    padding-left: 0;
    h1 {
        //font-size: 2em;
        font-size: 1.8em;
        font-weight: 500;
        margin-left: 10px;
    }
}

.titulo-thankyou {
    @include vertical_align;
    color: $unitec_principal;
    padding-left: 0;
    h2 {
        font-size: 2.1rem;
        font-weight: 400;
        margin-left: 10px;
    }
}

//Labels de inputs de formulario
::ng-deep .md-form {
    label {
        // text-transform: uppercase; // No es necesario en desktop
        color: $gris_titulos;
    }
}

//Asterisco de campos obligatorios
::ng-deep .color-asterisco {
    color: $titulos_principales;
}

::ng-deep input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid $input_azul !important;
    border-color: $input_azul !important;
    box-shadow: none;
    padding-bottom: 0!important;
}

::ng-deep #frm_celular:focus:not([readonly]) {
    border-bottom: 1px solid $input_azul !important;
    border-color: $input_azul !important;
    box-shadow: none;
    padding-bottom: 0!important;
}

::ng-deep .typeahead-menu {
    margin-top: -8px !important;
}
/*Quitamos el margen a los inputs para tomar las medidas de la especificacion de material design*/
::ng-deep #frm_nombre {
    padding-top: 0!important;
    margin-top: 0!important;
}
::ng-deep #frm_apaterno {
    padding-top: 0!important;
    margin-top: 0!important;
}
::ng-deep #frm_amaterno {
    padding-top: 0!important;
    margin-top: 0!important;
}
::ng-deep .frm_mail_class {
    padding-top: 0!important;
    margin-top: 0!important;
}

::ng-deep #frm_celular {
    padding-top: 0!important;
    margin-top: 0!important;
}

//Qutar el padding si ya esta lleno el campo padding-bottom: 0 !important;





::ng-deep input[type=text]:focus:not([readonly]) {
    border-bottom-width: 1px !important;
    box-shadow: none;
    padding-bottom: 0!important;
}

//Grosor de la linea de los inputs en el focus (color azul)
::ng-deep #frm_celular:focus:not([readonly]) {
    border-bottom-width: 1px !important;
    box-shadow: none;
    padding-bottom: 0!important;
}
::ng-deep #frm_amaterno:focus:not([readonly]) {
    border-bottom-width: 1px !important;
    box-shadow: none;
    padding-bottom: 0!important;
}
::ng-deep #frm_apaterno:focus:not([readonly]) {
    border-bottom-width: 1px !important;
    box-shadow: none;
    padding-bottom: 0!important;
}
::ng-deep #frm_nombre:focus:not([readonly]) {
    border-bottom-width: 1px !important;
    box-shadow: none;
    padding-bottom: 0!important;
}
::ng-deep .frm_mail_class:focus:not([readonly]) {
    border-bottom-width: 1px !important;
    box-shadow: none;
    padding-bottom: 0!important;
}
::ng-deep #frm_mail:focus:not([readonly]) {
    border-bottom-width: 1px !important;
    box-shadow: none;
    padding-bottom: 0!important;
}



/*
::ng-deep #frm_celular:focus:not([readonly])+label {
    color: $gris_texto!important;
    box-shadow: none;
    padding-bottom: 0!important;
}

::ng-deep .frm_mail_class:focus:not([readonly])+label {
    color: $gris_texto!important;
    box-shadow: none;
    padding-bottom: 0!important;
}*/

/*Termia ajustes para material design*/

::ng-deep .md-form label.active {
    font-size: .7rem!important;
}
::ng-deep .md-form label {
    color: #757575!important;
    font-weight: $Gotham-light;
}
::ng-deep input[type=text].myError,
#frm_email.myError,
#frm_celular.myError,
input[type=password].myError,
input[type=email].myError,
input[type=url].myError,
input[type=time].myError,
input[type=date].myError,
input[type=datetime-local].myError,
input[type=tel].myError,
input[type=number].myError,
input[type=search-md].myError,
input[type=search].myError {
    border-bottom: 1px solid $input_rojo;
    box-shadow: none;
    padding-bottom: 0;
}

::ng-deep #frm_celular.myError {
    border-bottom: 1px solid $input_rojo;
    box-shadow: none;
    padding-bottom: 0;
}

::ng-deep input[type=text]+label.myError,
#frm_email+label.myError,
input[type=password]+label.myError,
input[type=email]+label.myError,
input[type=url]+label.myError,
input[type=time]+label.myError,
input[type=date]+label.myError,
input[type=datetime-local]+label.myError,
input[type=tel]+label.myError,
input[type=number]+label.myError,
input[type=search-md]+label.myError,
input[type=search]+label.myError {
    color: $gris_titulos;
}

::ng-deep input[type=text]+label.myError+active,
#frm_email+label.myError+active,
input[type=password]+label.myError+active,
input[type=email]+label.myError:active,
input[type=url]+label.myError:active,
input[type=time]+label.myError:active,
input[type=date]+label.myError:active,
input[type=datetime-local]+label.myError:active,
input[type=tel]+label.myError:active,
input[type=number]+label.myError:active,
input[type=search-md]+label.myError:active,
input[type=search]+label.myError:active {
    color: $gris_titulos;
}

::ng-deep input[type=text]:focus:not([readonly])+label.myError,
#frm_email:focus:not([readonly])+label.myError,
input[type=password]:focus:not([readonly])+label.myError,
input[type=email]:focus:not([readonly])+label.myError,
input[type=url]:focus:not([readonly])+label.myError,
input[type=time]:focus:not([readonly])+label.myError,
input[type=date]:focus:not([readonly])+label.myError,
input[type=datetime-local]:focus:not([readonly])+label.myError,
input[type=tel]:focus:not([readonly])+label.myError,
input[type=number]:focus:not([readonly])+label.myError,
input[type=search-md]:focus:not([readonly])+label.myError,
input[type=search]:focus:not([readonly])+label.myError {
    color: $gris_titulos;
}


/*label focus*/

::ng-deep input[type=text]+label,
#frm_email+label,
input[type=password]+label,
input[type=email]+label,
input[type=url]+label,
input[type=time]+label,
input[type=date]+label,
input[type=datetime-local]+label,
input[type=tel]+label,
input[type=number]+label,
input[type=search-md]+label,
input[type=search]+label {
    color: $gris_titulos !important;
}


/*termina label focus*/


/*Label success*/

::ng-deep input[type=text]+label.mySuccess,
#frm_email+label.mySuccess,
input[type=password]+label.mySuccess,
input[type=email]+label.mySuccess,
input[type=url]+label.mySuccess,
input[type=time]+label.mySuccess,
input[type=date]+label.mySuccess,
input[type=datetime-local]+label.mySuccess,
input[type=tel]+label.mySuccess,
input[type=number]+label.mySuccess,
input[type=search-md]+label.mySuccess,
input[type=search]+label.mySuccess {
    color: $gris_titulos !important;
}



::ng-deep input[type=text]+label.mySuccess:active,
#frm_email+label.mySuccess:active,
input[type=password]+label.mySuccess:active,
input[type=email]+label.mySuccess:active,
input[type=url]+label.mySuccess:active,
input[type=time]+label.mySuccess:active,
input[type=date]+label.mySuccess:active,
input[type=datetime-local]+label.mySuccess:active,
input[type=tel]+label.mySuccess:active,
input[type=number]+label.mySuccess:active,
input[type=search-md]+label.mySuccess:active,
input[type=search]+label.mySuccess:active {
    color: $gris_titulos;
}

::ng-deep input[type=text]:focus:not([readonly])+label.mySuccess,
#frm_email:focus:not([readonly])+label.mySuccess,
input[type=password]:focus:not([readonly])+label.mySuccess,
input[type=email]:focus:not([readonly])+label.mySuccess,
input[type=url]:focus:not([readonly])+label.mySuccess,
input[type=time]:focus:not([readonly])+label.mySuccess,
input[type=date]:focus:not([readonly])+label.mySuccess,
input[type=datetime-local]:focus:not([readonly])+label.mySuccess,
input[type=tel]:focus:not([readonly])+label.mySuccess,
input[type=number]:focus:not([readonly])+label.mySuccess,
input[type=search-md]:focus:not([readonly])+label.mySuccess,
input[type=search]:focus:not([readonly])+label.mySuccess {
    color: $gris_titulos !important;
}

//Termina label success
::ng-deep input[type=text]:focus:not([readonly]).myError,
#frm_email.myError,
input[type=password]:focus:not([readonly]).myError,
input[type=email]:focus:not([readonly]).myError,
input[type=url]:focus:not([readonly]).myError,
input[type=time]:focus:not([readonly]).myError,
input[type=date]:focus:not([readonly]).myError,
input[type=datetime-local]:focus:not([readonly]).myError,
input[type=tel]:focus:not([readonly]).myError,
input[type=number]:focus:not([readonly]).myError,
input[type=search-md]:focus:not([readonly]).myError,
input[type=search]:focus:not([readonly]).myError {
    border-bottom: 1px solid $input_rojo !important;
    box-shadow: none;
    padding-bottom: 0;
}

//Para celular
::ng-deep #frm_celular:focus:not([readonly]).myError {
    border-bottom: 1px solid $input_rojo !important;
    box-shadow: none;
    padding-bottom: 0;
}
/*Exito*/

::ng-deep input[type=text].mySuccess,
#frm_email.mySuccess,
input[type=password].mySuccess,
input[type=email].mySuccess,
input[type=url].mySuccess,
input[type=time].mySuccess,
input[type=date].mySuccess,
input[type=datetime-local].mySuccess,
input[type=tel].mySuccess,
input[type=number].mySuccess,
input[type=search-md].mySuccess,
input[type=search].mySuccess {
    border-bottom: 1px solid $input_verde;
    box-shadow: none;
    padding-bottom: 0 !important;
}

::ng-deep #frm_celular.mySuccess {
    border-bottom: 1px solid $input_verde;
    box-shadow: none;
    padding-bottom: 0 !important;  
}

::ng-deep input[type=text]+label.mySuccess,
#frm_email+label.mySuccess,
input[type=password]+label.mySuccess,
input[type=email]+label.mySuccess,
input[type=url]+label.mySuccess,
input[type=time]+label.mySuccess,
input[type=date]+label.mySuccess,
input[type=datetime-local]+label.mySuccess,
input[type=tel]+label.mySuccess,
input[type=number]+label.mySuccess,
input[type=search-md]+label.mySuccess,
input[type=search]+label.mySuccess {
    color: $input_verde;
}

::ng-deep input[type=text]:focus:not([readonly])+label.mySuccess,
#frm_email:focus:not([readonly])+label.mySuccess,
input[type=password]:focus:not([readonly])+label.mySuccess,
input[type=email]:focus:not([readonly])+label.mySuccess,
input[type=url]:focus:not([readonly])+label.mySuccess,
input[type=time]:focus:not([readonly])+label.mySuccess,
input[type=date]:focus:not([readonly])+label.mySuccess,
input[type=datetime-local]:focus:not([readonly])+label.mySuccess,
input[type=tel]:focus:not([readonly])+label.mySuccess,
input[type=number]:focus:not([readonly])+label.mySuccess,
input[type=search-md]:focus:not([readonly])+label.mySuccess,
input[type=search]:focus:not([readonly])+label.mySuccess {
    color: $input_verde;
}

::ng-deep input[type=text]:focus:not([readonly]).mySuccess,
#frm_email:focus:not([readonly]).mySuccess,
input[type=password]:focus:not([readonly]).mySuccess,
input[type=email]:focus:not([readonly]).mySuccess,
input[type=url]:focus:not([readonly]).mySuccess,
input[type=time]:focus:not([readonly]).mySuccess,
input[type=date]:focus:not([readonly]).mySuccess,
input[type=datetime-local]:focus:not([readonly]).mySuccess,
input[type=tel]:focus:not([readonly]).mySuccess,
input[type=number]:focus:not([readonly]).mySuccess,
input[type=search-md]:focus:not([readonly]).mySuccess,
input[type=search]:focus:not([readonly]).mySuccess {
    border-bottom: 1px solid $input_verde !important;
    box-shadow: none;
}
::ng-deep #frm_celular:focus:not([readonly]).mySuccess {
    border-bottom: 1px solid $input_verde !important;
    box-shadow: none;
}
//Terminan labels
::ng-deep #continuar_politicas {
    text-transform: uppercase;
    color: $boton_naranja_unitec;
}

::ng-deep .div-btn-continuar {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

::ng-deep .btn-frm {
    width: 100%;
    margin: 0px;
}

::ng-deep .col-frm {
    padding: 2px !important;
}

::ng-deep #div_revalidacion {
    margin-top: 0px !important;
}

::ng-deep .hr-revalidacion {
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin-top: 10px;
}

::ng-deep .frm-revalidacion-label {
    color: $gris_titulos;
    font-size: 13px !important;
}

::ng-deep .frm-revalidacion-label {
    font-size: 1.1rem!important;
}

::ng-deep [type=checkbox]:checked+label:before {
    border-right: 2px solid $input_verde !important;
    border-bottom: 2px solid $input_verde !important;
}



/*Header del modal 2,3,4,n pasos*/

.modal-header-app {
    background-color: #006fba;
    color: white;
    height: 50px;
    /*Borde del modal
    border-left-color: #F68B1F;
    border-left-style: solid;
    border-left-width: 10px;
    border-bottom-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 10;*/
}

.modal-header-thankyou {
    //margin-top: 17px;
    padding-top: 0;
}

.primer-texto-thankyou {
    color: $unitec_principal;
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: justify;
}

#nombre-thankyou {
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.segundo-texto-thankyou {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: justify;
    color: $gris_texto;
}

.tercer-texto-thankyou {
    text-align: center;
    margin-bottom: 20px;
    color: $gris_texto;
    font-weight: bold;
}

.mini-app {
    text-align: center;
}

::ng-deep .cerrar-modal {
    color: white;
    font-size: 2.5rem;
    opacity: 1;
    font-weight: lighter;
    z-index: 999;
}

::ng-deep .titulo-icono {
    padding-left: 0;
    background-color: white;
    //background-image: url(/assets/informacion.svg);
    mask: url(/assets/informacion.svg) no-repeat 0% 50%;
    -webkit-mask: url(/assets/informacion.svg) no-repeat 0% 50%;
    mask-image: url(/assets/informacion.svg);
    -webkit-mask-image: url(/assets/informacion.svg);
    height: 50px;
    width: 50px;
}

::ng-deep .titulo-modal {
    padding-left: 0;
}

::ng-deep .app-menu-title {
    text-align: center;
    color: $unitec_principal;
    font-size: 1.2rem;
}

::ng-deep .app-rigth-arrow {
    text-align: center;
}

::ng-deep .app-left-arrow {
    text-align: center;
}

::ng-deep #divisor-menu-app {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 153, 204, 1)
}

::ng-deep .hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    //padding-top: 25px;
    //padding-top: 74px;
    padding-top: 66px;
}

::ng-deep .hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

::ng-deep .margin-padding-video {
    padding: 0;
    margin-top: -42px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: auto !important;
}

//Orientacion del video
@media screen and (orientation:landscape) {
    .modal-header-formulario {
        //height: 385px;
    }
    .modal-header-formulario-ytv {
        height: 350px;
    }
    .margen-para-video {
        margin-top: 100px;
    }
    .modal-header-form-img-h {
        margin-top: 17px;
    }
}


/*Iconos lineas de negocio*/

::ng-deep .cuadro-lic {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/licenciatura.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/licenciatura.svg) no-repeat 50% 50%;
    mask-image: url(/assets/licenciatura.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/licenciatura.svg);
    width: 100%;
}

::ng-deep .cuadro-ing {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/ingenieria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/ingenieria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/ingenieria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/ingenieria.svg);
    width: 100%;
}

::ng-deep .cuadro-salud {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/salud.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/salud.svg) no-repeat 50% 50%;
    mask-image: url(/assets/salud.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/salud.svg);
    width: 100%;
}

::ng-deep .cuadro-pos {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/posgrado.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/posgrado.svg) no-repeat 50% 50%;
    mask-image: url(/assets/posgrado.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/posgrado.svg);
    width: 100%;
}

::ng-deep .cuadro-prepa {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/preparatoria.svg);
    width: 100%;
}

::ng-deep .titulo-lineas-cuadros {
    width: 100%;
}


/*Clases modalidades*/

::ng-deep .cuadro-pres {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/presencial.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/presencial.svg) no-repeat 50% 50%;
    mask-image: url(/assets/presencial.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/presencial.svg);
    width: 100%;
}

::ng-deep .cuadro-eje {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/ejecutiva.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/ejecutiva.svg) no-repeat 50% 50%;
    mask-image: url(/assets/ejecutiva.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/ejecutiva.svg);
    width: 100%;
}

::ng-deep .cuadro-enlinea {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/enlinea.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/enlinea.svg) no-repeat 50% 50%;
    mask-image: url(/assets/enlinea.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/enlinea.svg);
    width: 100%;
}


/*Cuadros de campus*/

::ng-deep .cuadro-atz {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/atizapan.svg);
    width: 100%;
}

::ng-deep .cuadro-mar {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/marina.svg);
    width: 100%;
}

::ng-deep .cuadro-eca {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/ecatepec.svg);
    width: 100%;
}

::ng-deep .cuadro-gdl {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/guadalajara.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/guadalajara.svg);
    width: 100%;
}

::ng-deep .cuadro-leo {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/leon.svg);
    width: 100%;
}

::ng-deep .cuadro-rey {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/losreyes.svg);
    width: 100%;
}

::ng-deep .cuadro-sur {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/sur.svg);
    width: 100%;
}

::ng-deep .cuadro-cui {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/cuitlahuac.svg);
    width: 100%;
}

::ng-deep .cuadro-tol {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/toluca.svg);
    width: 100%;
}

::ng-deep .cuadro-qro {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/queretaro.svg);
    width: 100%;
}

::ng-deep .cuadro-onl {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/onl.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/onl.svg) no-repeat 50% 50%;
    mask-image: url(/assets/onl.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/onl.svg);
    width: 100%;
}

/*Ciclos*/

::ng-deep .cuadro-periodo {
    height: 50%;
    height: 50%;
    background-color: $titulos_principales;
    mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    -webkit-mask: url(/assets/preparatoria.svg) no-repeat 50% 50%;
    mask-image: url(/assets/preparatoria.svg);
    -webkit-mask-size: 50px 50px;
    mask-size: auto 50px;
    -webkit-mask-image: url(/assets/periodo.svg);
    width: 100%;
}

.btn-frm {
    background: #F68B1F !important;
    font-size: 1.2em;
}

/*
::ng-deep #cerrar_formulario_alpha {
    color: snow;
    position: absolute;
    font-size: 35px;
    align-content: right;
    position: relative;
    float: right;
    background-color: rgba(0, 111, 186, .7);
    margin-top: 33px;
    -khtml-opacity: .50;
    -moz-opacity: .50;
    -ms-filter: ”alpha(opacity=50)”;
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
}*/
/*
#modal_frm_app {
    margin-top: 30px;
}*/

::ng-deep #head_close_modal {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    background-color: $azul_unitec;
    color: white;
    position: relative;
    z-index: 999;
    /*Bordes*/
    border-bottom-style: solid;
    border-bottom-color: $gris_titulos;
    border-bottom-width: thin;
    border-bottom: -1px;
    margin-bottom: -1px;
    position: fixed;
    width: 100%;;
}

::ng-deep .header-wistia {
    margin-top: 30px;
    margin-bottom: -40px;
}

::ng-deep #icon-exit-form {
    font-size: 2em;
}

.modal { -webkit-overflow-scrolling: auto; }

.title-inside-head {
    margin-left:calc(100% - 75%);
} 

.title-modal-desk {
    color: $white;
}

.steps-row {
    color: $white;
}

.step-row-one {
    color: $unitec_secundario;
    padding: 0 0.25rem;
    font-weight: 600;
}

::ng-deep .modal-content-tarjeta {
    .solicitaInfo{
        .content-gral{
            .card-blue{
                background-color: $unitec_principal;
                border-radius: 0.375rem;
                .overlay{
                    .card-desc {
                        color: $white;
                        .tit-desc{
                            font-size: $long-extra-large;
                            font-weight: $Gotham-normal;
                            line-height: normal;
                        }
                        .sub-desc{
                            font-size: $long-normal;
                            font-weight: $Gotham-light;
                            line-height: normal;
                        }
                        .second-sub-desk {
                            font-weight: $Gotham-light;
                        }
                        .lista-desc{
                            .desc-ind{
                                font-size: $long-normal;
                                .bullet{
                                    font-size: 0.5rem;
                                }
                            }
                        }
                        .legales{
                            font-size: $long;
                            font-weight: 200;
                        }
                        .link-thankyou{
                            font-size: $long-default;
                            font-weight: $Gotham-medium;
                            color: $unitec_secundario;
                            i{
                                font-size: 1.35rem;
                            }
                        }
                    }
                }
            }
            .card-white {
                .card-left {
                    width: -webkit-calc(100% + 10px);
                       width: -moz-calc(100% + 10px);
                            width: calc(100% + 10px);
                    margin-left: -10px;
                    background-color: $white;
                    border-radius: 0.25rem;
                    min-height: 100%;
                    .titulo-contactanos {
                        font-size: $long-normal;
                        font-weight: $Gotham-normal;
                        line-height: normal;
                    }
                    .second-sub-desk {
                        font-weight: $Gotham-normal;
                    }
                    .legend-card{
                        font-size: $long-default;
                        font-weight: $Gotham-light;
                        line-height: normal;
                        color: $texto_principal;
                    }
                    .texto-int-card {
                        .convenio{
                            max-height: 120px;
                        }
                        .contacto-desc{
                            .card-title-contacto{
                                color: $titulos_principales;
                                font-weight: $Gotham-normal;
                                /* font-size: $long-normal; */
                            }
                            .card-sub-contacto {
                                position: absolute;
                                bottom: 3rem;
                                /* font-size: 1.15rem; */
                                li{
                                    a{
                                        color: inherit;
                                        .descargar-descuento{
                                            color: $unitec_secundario;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .collection-card .view {
                        cursor: pointer;
                    }
                    .collection-card .view img {
                        width: 100%;
                    }
                    .collection-card .stripe.dark {
                        background-color: rgba(0,80,160,.7);
                    }
                    .collection-card .stripe.light {
                        background-color: rgba(255,255,255,.5);
                    }
                    .collection-card .stripe {
                        position: absolute;
                        bottom: 1rem;
                        width: 100%;
                        text-align: center;
                        padding: 1.2rem;
                        height: 5rem;
                        @include vertical_align();
                    }
                    .collection-card .stripe.light p {
                        color: #424242;
                    }
                    .collection-card .stripe.dark p {
                        color: #eee;
                    }
                    .collection-card .stripe p {
                        margin: 0;
                        font-size: $long-normal;
                        font-weight: $Gotham-normal;
                        line-height: 1.125rem;
                    }
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .card-left, .card-right {
            margin-left: 0px !important;
            width: 100% !important;
            right: 0px !important;
        }
    }
}

::ng-deep .filtro-paises
{
    border: solid 1px $grayPred;
    cursor:pointer;
    .icon-abajo{
        color:$unitec_secundario;
        font-weight:$Gotham-normal;
        font-size:2.5rem;
    }
}
::ng-deep .filtro-paises:hover{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1), 0 4px 20px 0 rgba(0,0,0,.05);
    background-color: #FFFFFF;
}

::ng-deep .menu-filtro-paises
{
    width: 100%;
    .destacar:hover {
        background-color: $unitec_secundario !important;
    }
    overflow-y: scroll;
    max-height: 240px;
}

::ng-deep .descargar
{
    color:$unitec_secundario;
    font-weight:$Gotham-normal;
}

.modal-fluid {
    max-width: none;
    position: relative;
    margin: 0 auto;
}

::ng-deep .tt-cursor {
    background-color: $unitec_secundario;
    color: #FFFFFF;
}

.fila-botones {
    /*margin-top: 35px;*/
    margin-top: 0px;
}

.btn-frm {
    background: $unitec_secundario !important;
    font-size: 1.125rem;
    font-weight: 500;
}

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#div_ciclo {
    margin-top: 40px;
}

.oculta-ciclo {
    display: none;
}

.muestra-ciclo {
    display: block;
}

#div_revalidacion {
    margin-top: 40px;
}

.oculta-revalidacion {
    display: none;
}

.muestra-revalidacion {
    display: block;
}

.contenedor-app {
    padding: 0;
}

.row-content-menu-app {
    margin-left: 1px!important;
    margin-right: 1px!important;
}

.adapt-row-reset-desk {
    position: absolute;
    top: 50%;
}

 ::ng-deep .col-lineas-negocio {
    width: 100%;
}

//  ::ng-deep #secLineasNegocio {
//     overflow-x: hidden;
//     overflow-y: hidden;
//     padding: 0px;
// }

//  ::ng-deep #secProductos {
//     overflow-x: hidden;
//     overflow-y: hidden;
// }

//  ::ng-deep #secModalidades {
//     overflow-x: hidden;
//     overflow-y: hidden;
//     padding: 0px;
// }

//  ::ng-deep #secCampus {
//     overflow-x: hidden;
//     overflow-y: hidden;
//     padding: 0px;
// }

//  ::ng-deep #secCiclos {
//     overflow-x: hidden;
//     overflow-y: hidden;
//     padding: 0px;
// }


/*Errores*/

 ::ng-deep .row-error-app {
    display: none;
    text-align: center;
    color: $input_rojo;
}

::ng-deep .md-form label.active {
    font-size: .75rem;
}


/*Efecto para el error*/

::ng-deep .hr-error {
    border-top-color: $input_rojo !important;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    color: $input_rojo;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}


/*Implementacion de iconos de formulario*/

::ng-deep .md-form {
    margin-bottom: 0px !important;
}

::ng-deep .iconos-form {
    //margin-top: 20px;
    margin-top: 14px;
}

::ng-deep .mic-form {
    font-size: 1.125rem;
}


/*Animacion del microfono*/

::ng-deep .rotate-mic {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}


/*Animacion del borde*/

@-webkit-keyframes rainbow {
    0% {
        border-color: $input_rojo;
    }
    50% {
        border-color: $input_verde
    }
    75% {
        border-color: $input_rojo;
    }
    100% {
        border-color: $input_azul;
    }
}

 ::ng-deep .rainbow_border {
    border: 4px solid $input_rojo;
    -webkit-animation: rainbow 1.5s infinite alternate;
            animation: rainbow 1.5s infinite alternate;
}
// ::ng-deep input {
//     text-transform: lowercase !important;
// }
/*Autocomplete*/

::ng-deep .typeahead-menu {
    position: absolute;
    z-index: 1000;
    background-color: whitesmoke !important;
    width: 335px;
}


::ng-deep .tt-dataset-domains {
    padding: 10px;
}

::ng-deep .tt-selectable {
    padding:10px;
}
::ng-deep .tt-selectable:hover {
    background-color: $unitec_secundario;
    color: #FFFFFF;
    cursor: pointer;
}
// Estilos flecha
::ng-deep .active-right-arrow {
    color: #F68B1F !important;
}

::ng-deep .app-left-arrow {
    color: #f68b1f!important;
    .material-icons {
        margin-left: -20px;
    }
}

::ng-deep .app-rigth-arrow {
    
        .material-icons {
            margin-right: -20px;
        }
    }
//Modificacion inputs
::ng-deep input {
    padding-bottom: 0px;
    margin-bottom: .5rem;
}

//Espacio entre inputs
::ng-deep .form-group {
    margin-bottom: 3rem !important;
}
::ng-deep .form-control{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
::ng-deep .myFeedBackError{
    font-size: .8rem;
    color: $input_rojo;
}
// ::ng-deep #div_revalidacion {
//     .form-group {
//         margin-bottom: 1.5rem !important;
//     }  
// }
.logo-formulario{
    background: #FFFFFF;
}

::ng-deep .form-group{
    margin-bottom: 0.8rem!important;
    height: 55px; /*altura de los inputs de formulario*/
}
::ng-deep .identificacion{
    color:$unitec_secundario;
    font-size: 1.125rem;
}

::ng-deep .adapt-title-select-state {
    font-size: 1.5625rem;
}

::ng-deep .adapt-subtitle-select-state {
    font-size: 0.9375rem;
}