/*FORMULARIO*/
#paso1, #paso2 {
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0 auto; }
  
  #content_form {
	width: 92%;
	padding-top: 50px;
	margin-top: -40px; }
  
  #tituloCalculadora {
	padding-top: 15px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC; }
  
  #tituloCalculadora, #formCalculadora {
	width: 90%;
	margin: 10px auto;
	height: auto;
	text-align: center;
	margin-bottom: 20px; }
  
  .formCalculadora {
	/*font-size:13px;*/
	width: 97%;
	padding: 0px 10px;
	margin-left: 7px; }
  
  #infoCalculadora {
	width: 40%;
	float: left;
	margin-right: 3%;
	text-align: left;
	padding: 10px 0px; }
  
  .puntosCalculadora {
	font-size: 100%;
	list-style: inside;
	list-style-image: url(opcionCalculadora.jpg);
	padding-left: 0px; }
  
  #camposCalculadora {
	width: 55%;
	float: left; }
  
  #Nombre, #Ap_Pat, #Ap_Mat, #fechaNac, #email {
	width: 100%;
	padding: 2px 10px;
	background-color: #fff; }
  
  #tipoTel, #lada, #periodo_interes_sel {
	width: 100%;
	padding: 7px 2px;
	background-color: #fff;
	color: #818181; }
  
  #Estado {
	width: 100%;
	padding: 8px 2px;
	background-color: #fff;
	color: #818181; }
  
  #Telef {
	width: 98%;
	background-color: #fff; }
  
  #lada {
	width: 98%;
	margin-right: 5px; }
  
  .sel_tel {
	float: left;
	width: 82px;
	height: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
	padding-left: 1px; }
  
  .sel_tel ul {
	list-style: none;
	position: relative;
	background-color: #eee;
	margin: 0px;
	padding: 0px;
	border: 2px solid #999;
	z-index: 9999;
	left: 75px;
	top: -40px;
	width: 135px; }
  
  .sel_tel ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-left: 0px; }
  
  .content_titulo {
	/*font-size:14px; */
	color: #FFFFFF;
	text-align: center;
	margin-top: 6px;
	padding: 0px;
	height: 28px;
	position: relative;
	width: 100%;
	margin-left: 0px; }
  
  .content_titulo .titulo {
	/*font-size:13px;*/
	color: #FFFFFF;
	text-align: center;
	background-color: #F68B1F;
	padding: 7px 0 0 0;
	height: 22px;
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	float: left;
	font-family: Arial; }
  
  #plecaLeft {
	width: 6px;
	height: 34px;
	position: absolute;
	left: 0px; }
  
  #plecaRight {
	width: 6px;
	height: 34px;
	position: absolute;
	right: 0px; }
  
  #paso2 {
	display: none; }
  
  #btnSiguiente > a {
	background-color: #F68C1F;
	color: #fff;
	/*font-size:13px;*/
	padding: 13px 0px;
	font-weight: bold;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%; }
  
  #btnSiguiente {
	padding-bottom: 10px; }
  
  .formItem {
	margin: 10px 0; }
  
  .formItemIN {
	margin: 8px 0;
	/*text-align: center;*/
	color: #818181;
	border: 1px solid #dedede; }
  
  .formItemL {
	margin-right: 1%;
	width: 32%;
	float: left;
	margin-bottom: 5px; }
  
  .formItem3 {
	margin-right: 1%;
	width: 32%;
	float: left;
	margin-bottom: 5px; }
  
  /*Autocomplete estilos*/
  .autocomplete-w1 {
	/* background:url(../img/shadow.png) no-repeat bottom right*/
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 8px 0 0 6px;
	/* IE6 fix: */
	_background: none;
	_margin: 0; }
  
  .autocomplete {
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	text-align: left;
	max-height: 350px;
	overflow: auto;
	margin: -6px 6px 6px -6px;
	/* IE6 specific: */
	_height: 350px;
	_margin: 0;
	_overflow-x: hidden;
	width: 194px;
	font-size: 12px; }
  
  .autocomplete .selected {
	background: #F0F0F0; }
  
  .autocomplete div {
	padding: 2px 5px;
	white-space: nowrap; }
  
  .autocomplete strong {
	font-weight: normal;
	color: #3399FF; }
  
  /*----- END ----- */
  .bgFormCalcu {
	background: #fdffff;
	/* Old browsers */
	background-image: linear-gradient(bottom, white 0%, whitesmoke 100%);
	background-image: -o-linear-gradient(bottom, white 0%, whitesmoke 100%);
	background-image: -moz-linear-gradient(bottom, white 0%, whitesmoke 100%);
	background-image: -webkit-linear-gradient(bottom, white 0%, whitesmoke 100%);
	background-image: -ms-linear-gradient(bottom, white 0%, whitesmoke 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, whitesmoke));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
	/* IE6-9 */
	-moz-box-shadow: 1px 1px 1px #CCC;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	box-shadow: 1px 1px 1px #CCC; }
  
  /*CALCULADORA*/
  .float {
	float: left; }
  
  .txtBlue {
	color: #006EB9;
	line-height: 15px;
	padding: 5px; }
  
  .txtOrange {
	color: #EE831F;
	margin-top: 10px;
	display: block;
	font-size: 75%; }
  
  .txtOrange2 {
	color: #F2871F; }
  
  .clear {
	clear: both; }
  
  .circleBg {
	background: transparent url(circlebg.png) no-repeat top left;
	width: 50px;
	height: 50px; }
  
  .circleBg span {
	color: #FFFFFF;
	font-size: 18px;
	padding-left: 7px;
	display: block;
	padding-top: 9px; }
  
  #ofertaCarreras li {
	list-style-type: none; }
  
  /*SLIDER PROMEDIO*/
  #promedioSlider {
	/*max-width:835px;*/
	width: 91%;
	margin-top: 13px;
	/*background:transparent url(promedio_bg_init.png) left center;*/
	height: 16px;
	border: none;
	background: #CCCCCC;
	/*min-width:250px !important;*/ }
  
  #promedioSlider .ui-slider-horizontal .ui-slider-handle {
	top: -0.4em; }
  
  #promedioSlider .ui-slider-handle {
	height: 34px !important;
	width: 32px !important;
	border: none !important;
	cursor: pointer;
	color: #fff !important;
	font-size: 13px;
	padding-left: 12px;
	padding-top: 13px;
	text-decoration: none;
	margin-top: -13px; }
  
  #promedioSlider .ui-slider-image-6, .ui-slider-image-7 {
	background: transparent url(init_slider_7.png) no-repeat !important; }
  
  #promedioSlider .ui-slider-image-8 {
	background: transparent url(init_slider_8.png) no-repeat !important; }
  
  #promedioSlider .ui-slider-image-9 {
	background: transparent url(init_slider_9.png) no-repeat !important; }
  
  #promedioSlider .ui-slider-image-10 {
	background: transparent url(init_slider_10.png) no-repeat !important; }
  
  #final_slider {
	width: 55px;
	height: 61px; }
  
  #promedioSlider .ui-widget-header {
	/*background: transparent url(promedio_bg_init_avance.png) no-repeat left center !important; */
	background: #006EB9; }
  
  #promedioSlider .ui-state-active {
	background: transparent url(active_slider.png) no-repeat !important; }
  
  /*SLIDER MATERIAS*/
  #materiaSlider {
	/*max-width:835px;*/
	width: 91%;
	margin-top: 13px;
	/*background:transparent urlmaterias_bg_init.png) left center;*/
	height: 16px;
	border: none;
	background: #CCCCCC;
	/*min-width:250px !important;*/ }
  
  .circleBg2 {
	background: transparent url(circlebg.png) no-repeat top left;
	width: 50px;
	height: 50px; }
  
  .circleBg2 span {
	color: #FFFFFF;
	font-size: 22px;
	padding-left: 16px;
	display: block;
	padding-top: 10px; }
  
  #materiaSlider .ui-slider-horizontal .ui-slider-handle {
	top: -0.4em; }
  
  #materiaSlider .ui-slider-handle {
	height: 34px !important;
	width: 28px !important;
	border: medium none !important;
	cursor: pointer;
	color: white !important;
	font-size: 13px;
	padding-left: 17px;
	padding-top: 12px;
	text-decoration: none;
	margin-top: -7px; }
  
  #materiaSlider .ui-slider-image-1 {
	background: nt url(init_slider_m_1.png) no-repeat !important; }
  
  #materiaSlider .ui-slider-image-2 {
	background: transparent url(init_slider_m_2.png) no-repeat !important; }
  
  #materiaSlider .ui-slider-image-3 {
	background: transparent url(init_slider_m_3.png) no-repeat !important; }
  
  #materiaSlider .ui-slider-image-4 {
	background: transparent url(init_slider_m_4.png) no-repeat !important; }
  
  #materiaSlider .ui-slider-image-5 {
	background: transparent url(init_slider_m_5.png) no-repeat !important; }
  
  #materiaSlider .ui-slider-image-6 {
	background: transparent url(init_slider_m_6.png) no-repeat !important; }
  
  #final_slider_materias {
	width: 55px;
	height: 61px; }
  
  #materiaSlider .ui-widget-header {
	/*background: transparent url(materias_bg_init_avance.png) no-repeat left center !important; */
	background: #006EB9; }
  
  #materiaSlider .ui-state-active {
	background: transparent url(active_slider.png) no-repeat !important; }
  
  #contenedorCalculadora {
	width: 100%;
	max-width: 100%;
	height: auto;
	padding: 0px;
	margin: 0 auto; }
  
  /*CAMPUS*/
  #areaCampus {
	width: 100%;
	/*padding:5px;*/
	height: auto;
	/*margin-left:5px;*/
	max-width: 100%;
	min-width: 250px !important;
	border-bottom: 1px dashed #CCC;
	padding-bottom: 10px;
	margin-left: 5px; }
  
  #campusUNITEC li {
	list-style: none; }
  
  .campus {
	height: auto;
	margin: 5px auto;
	margin-right: 5px;
	margin-left: 5px;
	width: auto; }
  
  .tituloCampus {
	background: #086fb9;
	color: #fff;
	width: 75%;
	text-align: center;
	margin: auto;
	border-radius: .25rem;
	border: 1px solid transparent;
	text-transform: uppercase;
	font-weight: 100;
	font-size: .75rem;
	vertical-align: middle; }
  
  .imgCampus {
	opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity=30);
	cursor: pointer;
	height: 55px !important;
	margin-top: 5px; }
  
  .imgCampus_on, .campSel {
	opacity: 1;
	-moz-opacity: 1;
	filter: invert(80%) brightness(0.8) sepia(1) hue-rotate(-5deg) saturate(12);
	cursor: pointer; }
  
  #areaElementos {
	max-width: 100%;
	width: 100%;
	padding: 5px;
	margin-left: 5px;
	height: auto;
	min-width: 250px !important; }
  
  #areaElementos > div {
	margin-bottom: 10px;
	margin-top: 300px; }
  
  h4 {
	margin: 0px 5px; }
  
  #areaCampus h4 {
	margin-left: 15px; }
  
  #areaPromedio, #areaMaterias, #areaCarreras {
	/*	opacity: 0;
		-moz-opacity: 0;
		filter: alpha(opacity=0);*/
	border-bottom: 1px dashed #CCC;
	padding-bottom: 10px; }
  
  #areaCampus h4, #areaPromedio h4, #areaMaterias h4, #areaCarreras h4 {
	padding-bottom: 10px;
	font-size: 125%; }
  
  #areaCarreras {
	width: 100%;
	max-width: 100%;
	min-height: 100px;
	height: auto;
	min-width: 250px !important; }
  
  #areaCarreras > div {
	width: 95%;
	margin: 0 auto; }
  
  #areaMaterias {
	margin-bottom: 0px !important; }
  
  #areaPromedio {
	height: auto; }
  
  .carrera {
	width: 200px;
	height: 90px; }
  
  /* #PREPA {
	background: url(linea_PREPA.png) 50% 40% no-repeat; }
  
  #LIC {
	background: url(linea_LIC.png) 50% 40% no-repeat; }
  
  #LC {
	background: url(linea_LC.png) 50% 40% no-repeat; }
  
  #POS {
	background: url(linea_POS.png) 50% 40% no-repeat; }
  
  #DIP {
	background: url(linea_DIP.png) 50% 40% no-repeat; }
  
  #ONL {
	background: url(linea_ONL.png) 50% 40% no-repeat; }
  
  #ESP {
	background: url(linea_ESP.png) 50% 40% no-repeat; }
  
  #HLX {
	background: url(linea_HLX.png) 50% 40% no-repeat; } */
  
  .ofertaUnitec {
	width: 100%;
	height: 20px;
	margin: 57px auto;
	z-index: 999 !important; }
  
  .ofertaUnitec > select {
	font-size: 11px;
	width: 90%;
	height: 23px;
	z-index: 9999999999999 !important;
	padding: 0px;
	display: block;
	margin: 0 auto; }
  
  #totalMaterias, #totalPromedio {
	width: 20px;
	height: 20px;
	font-size: 18px;
	margin-top: 13px;
	position: absolute;
	margin-left: 4px;
	color: black;
	font-weight: bold; }
  
  #areaResultado {
	width: 100%;
	min-height: 200px;
	height: auto;
	padding: 0px;
	min-width: 250px; }
  
  #loader {
	width: 24px;
	height: 24px;
	margin: 0 auto;
	padding-top: 90px; }
  
  /*TABS*/
  ul.tabs {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 0px solid #DDD;
	background: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	width: auto;
	padding: 0px !important; }
  
  .tabs li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 5px 1px;
	color: #777;
	cursor: pointer;
	background: #66A9D6;
	border: 1px solid #66A9D6;
	border-bottom: 1px solid #66A9D6;
	position: relative;
	font-size: 12px;
	color: #fff; }
  
  .tabs li:hover, .vertical .tabs li:hover {
	color: #fff;
	padding: 0 5px 1px;
	background: #EE831F;
	border: 1px solid #EE831F; }
  
  .tabs li.current {
	color: #fff;
	background: #006EB9;
	padding: 0 13px 1px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #006EB9;
	border-top: 1px solid #006EB9;
	font-weight: bold;
	font-size: 13px; }
  
  .box {
	display: none;
	border: 1px solid #D4D4D4;
	border-width: 1px;
	padding: 0px;
	width: 100%;
	max-width: 100%;
	min-width: 250px;
	min-height: 160px;
	height: auto;
	padding-top: 10px; }
  
  .box.visible {
	display: block; }
  
  .infoPromedio {
	color: #006EB9;
	font-size: 11px;
	font-weight: bold; }
  
  .mensajeAhorro {
	color: #006EB9;
	font-size: 13px; }
  
  .botonREU, .botonMasInfo, .botonInscribirme, .otraConsulta {
	width: auto;
	height: auto;
	text-align: center; }
  
  .botonREU, .botonMasInfo, .botonInscribirme, .otraConsulta {
	margin-bottom: 5px !important; }
  
  .otraConsulta > a {
	color: #fff;
	background-color: #66A9D6;
	padding: 13px 14px;
	font-size: 13px;
	display: block;
	margin-bottom: 5px; }
  
  .botonREU > a {
	color: #fff;
	background-color: #338CC8;
	padding: 13px 14px;
	font-size: 13px;
	display: block;
	margin-bottom: 5px; }
  
  .infoPreApoyoUnitec {
	display: none; }
  
  .botonMasInfo > a {
	background-color: #006EB9;
	color: #fff;
	font-size: 13px;
	padding: 13px 48px;
	display: block;
	margin-bottom: 5px; }
  
  .botonInscribirme > a {
	background-color: #F68C1F;
	color: #fff;
	font-size: 13px;
	padding: 13px 50px;
	font-weight: bold;
	display: block;
	margin-bottom: 5px; }
  
  #areaResultado a {
	text-decoration: none; }
  
  #areaResultado a:hover {
	text-decoration: underline; }
  
  /*ZONA REU*/
  .reuDetalle {
	width: 100%;
	height: auto;
	padding: 5px; }
  
  .reuBloque1 {
	float: left;
	width: 65%;
	padding: 10px 0px;
	margin-left: 5px; }
  
  .reuBloque2 {
	float: left;
	width: 30%;
	margin: 0px 5px; }
  
  .reuBeca {
	float: left;
	width: 44%;
	line-height: 30px; }
  
  .reuBeca > div {
	text-align: center; }
  
  .reuIgual {
	float: left;
	width: 8%;
	font-size: 200%;
	padding: 35px 5px; }
  
  .reuPagarias {
	float: left;
	width: 44%;
	line-height: 32px; }
  
  .reuPagarias > div, .reuMPagarias > div {
	text-align: center; }
  
  .reuMPagarias {
	line-height: 32px; }
  
  .tituloBeca {
	font-size: 18px; }
  
  .precioBeca1 {
	font-size: 42px; }
  
  .precioBeca2 {
	font-size: 45px; }
  
  .reuAhorro {
	width: 100%;
	text-align: center;
	margin-top: 20px; }
  
  .reuMDetalle {
	width: 95%;
	margin: 0px 5px; }
  
  .reuMDetalle {
	width: 98%; }
  
  .reuMBloque1 {
	width: 55%;
	max-width: none;
	float: left;
	margin-top: 35px; }
  
  .reuMBloque2 {
	width: 40%;
	float: left; }
  
  /*REU*/
  /*CSS REU*/
  .content {
	float: left;
	width: 98%;
	padding: 10px;
	max-width: 150px; }
  
  .image-content {
	text-align: center;
	padding: 5px;
	width: 115px;
	height: 56px;
	margin: 0 auto; }
  
  .text-content {
	font-size: 12px;
	color: #000;
	padding: 5px;
	font-weight: normal !important; }
  
  .clear {
	clear: both; }
  
  .more_info {
	border: 1px solid #eee;
	background-color: #EEE;
	min-height: 100px;
	padding: 10px;
	width: 95%;
	margin: 5px auto; }
  
  .img_info {
	padding: 0px;
	margin-right: 25px; }
  
  .txt_req {
	font-size: 12px; }
  
  .legales {
	font-size: 11px;
	color: #999;
	width: 90%;
	margin: 5px auto; }
  
  .bullets_info {
	margin: 0px;
	padding: 0px;
	font-weight: normal !important;
	margin-bottom: 10px; }
  
  .bullets_info > li {
	margin-bottom: 7px;
	margin-top: 5px; }
  
  .title_info {
	font-size-adjust: 16px;
	font-weight: bold; }
  
  #btn_REU {
	background-color: #f93;
	color: #FFF;
	border: 1px solid #000;
	font-weight: bold;
	font-size: 16px;
	padding: 5px; }
  
  .price-content {
	text-align: center;
	font-size: 18px;
	color: #f68b1f; }
  
  .info_apoyo {
	border: 1px; }
  
  .img_precio {
	width: 113px;
	height: 57px; }
  
  .signo {
	float: left;
	margin-top: 65px;
	color: #F68B1F;
	font-size: 42px;
	padding: 6px; }
  
  .contenedor1 {
	margin: 0 auto;
	max-width: 400px; }
  
  .contenedor2 {
	margin: 0 auto;
	max-width: 600px; }
  
  .contenedor3 {
	margin: 0 auto;
	max-width: 98%; }
  
  .txtAyuda {
	font-size: 11px;
	color: #999999;
	padding-left: 10px;
	font-style: italic; }
  
  .dispuestoPagar {
	padding: 3px;
	font-size: 15px;
	width: 80%; }
  
  .btnSetPagar > a {
	font-size: 14px;
	color: #fff;
	background-color: #006EB9;
	padding: 6px 20px;
	margin-right: 5px; }
  
  .more_info {
	display: none; }
  
  .bloqueCalcu {
	float: left;
	width: 220px;
	height: auto;
	margin-top: 20px;
	margin-left: 60px; }
  
  .b1, .b2, .b3 {
	font-size: 12px;
	text-align: left; }
  
  .b1 {
	width: 190px !important;
	margin-left: 5px !important; }
  
  .b1 h4, .b2 h4, .b3 h4 {
	font-size: 15px;
	margin-top: 5px; }
  
  .one_third {
	position: relative;
	margin-right: 4%;
	float: left;
	height: auto;
	min-height: 55px;
	width: 29%;
	margin-top: 15px;
	padding-right: 0%; }
  
  .last {
	margin-right: 0 !important;
	clear: right; }
  
  #seccion_perfil_aspirante {
	border: 1px solid #F3F3F3;
	float: left;
	margin-bottom: 15px;
	margin-right: 0px;
	margin-top: 2px;
	width: 100%;
	padding: 5px 10px;
	height: 280px;
	background-image: linear-gradient(bottom, #e2e8eb 0%, #fafafa 53%, white 100%);
	background-image: -o-linear-gradient(bottom, #e2e8eb 0%, #fafafa 53%, white 100%);
	background-image: -moz-linear-gradient(bottom, #e2e8eb 0%, #fafafa 53%, white 100%);
	background-image: -webkit-linear-gradient(bottom, #e2e8eb 0%, #fafafa 53%, white 100%);
	background-image: -ms-linear-gradient(bottom, #e2e8eb 0%, #fafafa 53%, white 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e2e8eb), color-stop(0.53, #fafafa), color-stop(1, white));
	text-align: left;
	font-size: 90%; }
  
  .alignleft {
	float: left;
	margin-right: 10px; }
  
  .txt_box {
	font-size: 12px; }
  
  h5 {
	font-size: 16px; }
  
  #titAlumno {
	text-align: left;
	float: left;
	width: 50%; }
  
  .radio {
	width: 25px; }
  
  .info_topForm {
	padding-bottom: 10px; }
  
  .form_responsivo {
	display: inline-block;
	margin-left: 50px;
	/*margin-top: -143px;*/
	width: 40%;
	vertical-align: top; }
  
  .imagen_responsivo {
	display: inline-block;
	width: 50%;
	vertical-align: top; }
  
  /* breakpoints para rwd 320 480 600 768 1024 1200 */
  @media screen and (max-width: 900px) {
	.form_responsivo {
	  width: 100%;
	  display: block;
	  margin-left: 0px;
	  margin-top: 0px; }
  
	.imagen_responsivo {
	  display: block;
	  width: 100%;
	  text-align: center; } }
  .frm_icon {
	font-size: 25px;
	color: #AF9A9A; }
  
  .icon-cell:before {
	content: "\f10b"; }
  
  .alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px; }
  
  .alert h4 {
	margin-top: 0;
	color: inherit; }
  
  .alert .alert-link {
	font-weight: bold; }
  
  .alert > p,
  .alert > ul {
	margin-bottom: 0; }
  
  .alert > p + p {
	margin-top: 5px; }
  
  .alert-dismissable {
	padding-right: 35px; }
  
  .alert-dismissable .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit; }
  
  .alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6; }
  
  .alert-success hr {
	border-top-color: #c9e2b3; }
  
  .alert-success .alert-link {
	color: #2b542c; }
  
  .alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1; }
  
  .alert-info hr {
	border-top-color: #a6e1ec; }
  
  .alert-info .alert-link {
	color: #245269; }
  
  .alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc; }
  
  .alert-warning hr {
	border-top-color: #f7e1b5; }
  
  .alert-warning .alert-link {
	color: #66512c; }
  
  .alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1; }
  
  .alert-danger hr {
	border-top-color: #e4b9c0; }
  
  .alert-danger .alert-link {
	color: #843534; }
  
  .close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20); }
  
  .btn-groupmin > .btnmin:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0; }
  
  .btn-groupmin > .btnmin:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0 5px 5px 0; }
  
  .btn-groupmin > .btnmin, .btn-group-verticalmin > .btnmin {
	position: relative;
	float: left; }
  
  .btn-groupmin > .btnmin:first-child {
	margin-left: 0; }
  
  .btnmin {
	display: inline-block;
	padding: 3px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
	-moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
	box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.46);
	border-radius: 5px; }
  
  .btn-defaultmin {
	color: #666;
	background-color: #ffffff;
	border-color: #cccccc; }
  
  /*  PADDING ESPECIFICO PARA IE10 Y 11  */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#Nombre, #Ap_Pat, #Ap_Mat, #fechaNac, #email, #Telef {
	  padding: 3px 10px 13px 10px; } }
  