/*Hasta 768*/
@media screen and (max-width: 768px) {
	#tituloCalculadora span{
		margin-top:15px !important;
	}
	#infoCalculadora h4{
		font-size:115% !important;
	}
	.puntosCalculadora{
		font-size:95% !important;
	}
	.one_third{
		width:100% !important;
		padding-bottom: 0px !important;
	}
	#seccion_perfil_aspirante{
		height:auto !important;
	}
	#carouselCampus {
		width:90%;
	}
	#promedioSlider, #materiaSlider {
		width:85% !important;
	}
	#carouselCarreras {
		width:90% !important;
		margin-left:30px !important;
	}
	#areaResultado {
		width:96% !important;
	}
	.reuBloque1 {
		width:100% !important;
		max-width:none !important;
	}
	.reuBloque2{
		width:96% !important;
	}
	.reuBeca{
		width:40% !important;
	}
	.rePagarias{
		width:40%;
	}
	.reuIgual{
		width:6% !important;	
	}
	.reuAhorro{
		width:85% !important;
		margin-top:15px;
	}
	.reuMDetalle{
		width:98% !important;
	}
	.reuMBloque1{
		width:55% !important;
		max-width:none !important;
		float:left;
		margin-top:35px;
	}
	.reuMBloque2{
		width:45% !important;
		float:left;
	}
	#content_form{
		width:91% !important;
	}
	.signo{
		font-size:25px !important;
	}
	.content:last-child {
		max-width: 100% !important;
	}
}
/*Hasta 480*/
@media screen and (max-width: 480px) {
	#tituloCalculadora h3{
		line-height:25px !important;
	}
	.formItemL{
		width:100% !important;
	}
	.puntosCalculadora{
		font-size:100% !important;
	}
	#carouselCampus {
		width:100%;
	}
	#promedioSlider, #materiaSlider {
		width:77% !important;
	}
	#carouselCarreras {
		width:100% !important;
		margin-left:0px !important;
	}
	#areaResultado {
		width:95% !important;
	}
	div.ui-slider{
		margin:14px 2% 0 0px !important;
	}
	.reuBloque1{
		width:480px;
	}
	.reuIgual {
		width:5% !important;
	}
	.precioBeca1 {
		font-size:35px !important;
	}
	.precioBeca2 {
		font-size:38px !important;
	}
	.reuBloque2{
		max-width:none !important;
	}
	.reuMBloque1, .reuMBloque2{
		width:99% !important;
	}
	#areaPromedio, #areaMaterias, #areaCarreras, #areaCampus{
		width:96% !important;
	}
	/*REU*/
	.content{
		max-width:none !important;
		float:none !important;
	}
	.signo{
		float:none !important;
		margin-top:0px !important;
		padding: 0px !important;
		margin: 0 auto !important;
		width: 20px !important;
	}
	.text-content > .botonInscribirme > a{
		width:85% !important;
	}
	.more_info{
		width:90% !important;
	}
	.txt_req{
		width:100% !important;
	}
	.more_info > div{
		float:none !important;
		width: 180px;
		margin: 0 auto;
	}
	.bullets_info{
		margin-left:15px !important;
	}
	#infoCalculadora{
		float:none !important;
		width:100% !important;
	}
	#camposCalculadora{
		float: none !important;
		width: 95% !important;
		margin: 0 auto;
	}
	#plecaRight{
		right:-4px !important;
	}
	#tituloCalculadora{
		margin-bottom:13px !important;
		padding:15px 0px !important;
	}
	.puntosCalculadora{
		font-size:110% !important;
	}
	#infoCalculadora > h5{
		font-size:110% !important;
	}
	#infoCalculadora{
		padding:5px 0px !important;
	}
	#btnSiguiente{
		padding-bottom:10px !important;
	}
	#calculadoraMobileT{
		width:480px !important;
	}
	.bloqueCalcu{
		float:none !important;
		width:100% !important;
		margin-left:0px !important;
		padding:10px;		
	}
	.one_third{
		float:none !important;		
		width:90% !important;
	}
	.one_third > div{
		height:auto !important;
	}
}

/*Hasta 320*/
@media screen and (max-width: 321px) {
	.middle_inner{
		padding-left:15px !important;
		padding-right:15px !important;
		width:90% !important;
	}
	div h4{
		font-size:80%;
	}
	div span.txtAyuda{
		font-size:75%;
	}
	#carouselCampus {
		width:85%;
	}
	#promedioSlider, #materiaSlider {
		width:74% !important;
	}
	.formItemL{
		width:100% !important;
	}
	.radio{
		width:20px !important;
	}
	.puntosCalculadora{
		font-size:100% !important;
	}
	#seccion_perfil_aspirante{
		padding:5px 0px !important;
	}
	div.ui-slider{
		margin:12px 2% 0 0px !important;
	}
	#carouselCarreras {
		width:85% !important;
		margin-left:12px !important;
	}
	#areaResultado {
		width: 100% !important;
		margin-left: -10px !important;
	}
	.reuBeca{
		width:100% !important;
	}
	.reuIgual {
		width:100% !important;
		text-align:center;
	}
	.reuPagarias{
		width:100% !important;
	}
	.reuBloque2{
		width:93% !important;
	}
	.tituloBeca {
		font-size:15px !important;
	}
	.precioBeca1 {
		font-size:28px !important;
	}
	.precioBeca2 {
		font-size:30px !important;
	}
	.reuAhorro {
		width:95% !important;
	}	
	.reuMDetalle{
		width:96% !important;
	}
	.reuMBloque1, .reuMBloque2{
		width:99% !important;
	}
	#areaPromedio, #areaMaterias, #areaCarreras, #areaCampus{
		width:96% !important;
	}
	.btnSetPagar > a{
		padding:6px 7px !important;
	}
	/*REU*/
	.content{
		max-width:none !important;
		float:none !important;
	}
	.signo{
		float:none !important;
		margin-top:0px !important;
		padding: 0px !important;
		margin: 0 auto !important;
		width: 20px !important;
	}
	.text-content > .botonInscribirme > a{
		width:85% !important;
	}
	.more_info{
		width:90% !important;
	}
	.txt_req{
		width:100% !important;
	}
	.more_info > div{
		float:none !important;
		width: 180px;
		margin: 0 auto;
	}
	.bullets_info{
		margin-left:15px !important;
	}
	#content_form{
		width:93% !important;
	}
	#tituloCalculadora{
		padding:12px 0px !important;
	}
	#tituloCalculadora, #formCalculadora{
		width:100% !important;
		margin-bottom: 13px !important;
	}
	#infoCalculadora{
		float:none !important;
		width:100% !important;
	}
	#camposCalculadora{
		float: none !important;
		width: 95% !important;
		margin: 0 auto;
	}
	#tituloCalculadora > h4{
		font-size:14px !important;
	}
	#tituloCalculadora > h4 > span{
		font-size:11px !important;
	}
	.puntosCalculadora{
		font-size:11px !important;
	}
	#infoCalculadora{
		font-size:12px !important;
	}
	#infoCalculadora > h5{
		font-size:12px !important;	
	}
	#infoCalculadora{
		padding:5px 0px !important;
	}
	#btnSiguiente{
		padding-bottom:10px !important;
	}
	#plecaRight{
		right:-6px !important;
	}
	.formCalculadora{
		padding:0px 5px !important;
	}
	.formItem0{
		/*padding-top:50px !important;*/
		font-size: 12px !important;
	}
	#titAlumno{
		font-size:11px !important;
	}
	#calculadoraMobileT{
		width:320px !important;
	}
	.bloqueCalcu{
		float:none !important;
		width:100% !important;
		margin-left:0px !important;
		padding:10px;	
	}
	.one_third{
		float:none !important;		
		width:90% !important;
	}
	.one_third > div{
		height:auto !important;
	}
}