/* CSS Document */
/**
* Carousel with image and text, custom skinned scrollbar
**/
#carouselCampus {
	width: 95%;
	height: 90px;
	margin: 0 auto;	
}	
#carouselCampus .arrow-holder {
	height: 90px;
}		
#carouselCampus .touchcarousel-item {
	margin-right: 1px;	
	width: 150px;
	height: 90px;		
}
#carouselCampus .item-block {
	width: 150px;
	height: 90px;
	display: block;
}
#carouselCampus .item-block img,
#carouselCampus .item-block h4, 
#carouselCampus .item-block p {
	float: left;
	position: relative;
	display: block;
	margin: 0;			
}
#carouselCampus .item-block img {
	width: 150px;
	height: 90px;		
	border: 0;
	padding: 0;		
}
#carouselCampus .item-block {			
	text-decoration: none;
	color: inherit;			
}					
#carouselCampus .item-block h4 {
	font: bold 13px/20px Helvetica, Arial, sans-serif;
	color: #000;
	width: 158px;
	height: auto;		
	padding: 2px 0 0 6px;
	-webkit-transition: color 0.2s ease-out; 
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;  	
}
#carouselCampus .item-block:hover h4 {	
	color: #1873c9;		
}
#carouselCampus .item-block p {			
	font: normal 13px/20px Helvetica, Arial, sans-serif;
	color: #555;		
	width: 158px;
	padding: 0 0 0 6px;
}
#carouselCampus .scrollbar-holder {
	background: #CED7DB;
	bottom: 0;
	height: 1px;
	left: 0;
	right: 0;
}
#carouselCampus .scrollbar {
	background-color: #45a8ce !important;
	bottom: 0;
}

/*CARRERAS*/
#carouselCarreras {
	width: 95%;
	height: 110px;
	margin: 0 auto;	
}	
#carouselCarreras .arrow-holder {
	height: 90px;
}		
#carouselCarreras .touchcarousel-item {
	margin-right: 10px;	
	width: 250px;
	height: 90px;		
}
#carouselCarreras .item-block {
	width: 250px;
	height: 90px;
	display: block;
}
#carouselCarreras .item-block img,
#carouselCarreras .item-block h4, 
#carouselCarreras .item-block p {
	float: left;
	position: relative;
	display: block;
	margin: 0;			
}
#carouselCarreras .item-block img {
	width: 150px;
	height: 90px;		
	border: 0;
	padding: 0;		
}
#carouselCarreras .item-block {			
	text-decoration: none;
	color: inherit;			
}					
#carouselCarreras .item-block h4 {
	font: bold 13px/20px Helvetica, Arial, sans-serif;
	color: #000;
	width: 158px;
	height: auto;		
	padding: 2px 0 0 6px;
	-webkit-transition: color 0.2s ease-out; 
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;  	
}
#carouselCarreras .item-block:hover h4 {	
	color: #1873c9;		
}
#carouselCarreras .item-block p {			
	font: normal 13px/20px Helvetica, Arial, sans-serif;
	color: #555;		
	width: 158px;
	padding: 0 0 0 6px;
}
#carouselCarreras .scrollbar-holder {
	background: #CED7DB;
	bottom: 0;
	height: 1px;
	left: 0;
	right: 0;
}
#carouselCarreras .scrollbar {
	background-color: #45a8ce !important;
	bottom: 0;
}
