#infoLegales, #showCosto{
	width:50%;
	float:right;
	margin-top:30px;
}
.section{
	width:95%;
	margin:0 auto;
	padding:10px;
}
.numMaterias{
	font-size: 20px;
	padding: 10px;
	text-align:center;
}
.numMaterias span{
	font-weight:bold;
}
.costoMateria, .cargaCompleta {
	font-size: 3em;
	color: #f68b1f;
	text-align:center;
}
.cargaCompleta{
	line-height:50px;
}
.costoMateria2 {
	color: #f68b1f;
	text-align: center;
	padding-top: 20px;
	font-size: 1.8em;
}
.buttonCostos{
	padding:20px 0px;
	text-align:center;
}
.buttonCostos a{
	margin:0px 20px;
}
.buttonCostos input{
	width:30%
}
.otraConsultab{
	text-align:center;
	padding:10px 0px;
}
.infoBecas{
	padding-top:10px;
}
.tituloColeg{
	color: #f68b1f;
	font-size:1.7em;
	padding-bottom:10px;
	line-height:30px;
}
.materiaAdicional{
	text-align:center;
	padding:10px 0px;
}
.touchcarousel-container li:before{
	font-size: 0px!important;
}




/*Hasta 768*/
@media screen and (max-width: 768px) {
	#infoLegales, #showCosto{
		width:100%;
	}
}
/*Hasta 480*/
@media screen and (max-width: 480px) {
	#infoLegales, #showCosto{
		width:100%;
	}
	.tabs li{
		width:auto;
	}
}

/*Hasta 320*/
@media screen and (max-width: 321px) {
	#infoLegales, #showCosto{
		width:100%;
	}
	.tabs li{
		width:auto;
	}
	.buttonCostos a {
		margin: 0px 10px;
		padding-right: 15px;
		padding-left: 15px;
		min-width: 50px;
	}
	.otraConsultab {
		text-align: center;
		padding-bottom: 10px;
		font-size: 1.1em;
	}
	.button-naranja {
		font-size: 14px;
	}
	.costoMateria, .cargaCompleta{
		font-size:2.4em;
	}
	.costoMateria2{
		font-size:1.4em;
	}
}