body,li p,.sitemap > li ul > li ul li > a
{
	color:#8d8d8d;
	font:100 14px/20px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

h1
{
	color:#006fba;
	font:100 36px/50px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

h2
{
	color:#006fba;
	font:100 30px/36px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

h3
{
	color:#006fba;
	font:100 22px/36px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

h4
{
	color:#006fba;
	font:100 20px/36px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

h5
{
	color:#006fba;
	font:100 18px/24px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

h6
{
	color:#006fba;
	font:100 16px/24px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

h2.widgettitle
{
	font:100 26px/36px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

li
{
	line-height:27px;
}

q,blockquote,.format-quote .entry-title,q:before,blockquote:before,.post.format-aside .entry-content
{
	font:16px/24px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

q,q:before,.format-quote .entry-title
{
	font-style:italic;
	font-weight:700;
}

q:before,blockquote:before
{
	color:#33bee5;
	font-family:'Headland One', serif;
	font-size:26px;
	font-weight:400;
	line-height:1.5;
}

code,.project ul.project_details li div
{
	font:13px/18px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

small,small a,abbr,abbr a,.tab.lpr .tabs_tab strong,.cmsms_category li a,.post .entry-header .cmsms_post_info span,.post .entry-header .cmsms_post_info .user_name,.post .entry-header .cmsms_post_info .published,.post .entry-header .cmsms_post_info .post-categories,.post.format-quote .entry-content,#comments .comment-body .published,.comment-body .comment-edit-link,.cmsms_tags,.cmsms_tags li,.cmsms_tags li a,.project ul.project_details li span.fl,.skill_item_colored > span
{
	font:14px/30px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

input,input[type=submit],textarea,select,option,label,.cmsms_select span,.cmsms-form-builder p,.cmsms-form-builder .check_parent input[type=checkbox]+label,.cmsms-form-builder .check_parent input[type=radio]+label
{
	font:14px/30px Arial, Geneva, Helvetica, sans-serif;
}

#navigation > li > a,#navigation > li.current_page_item > a,#navigation > li.current_page_ancestor > a,#navigation > li.current-menu-ancestor > a,#navigation > li:hover > a
{
	font:100 18px/18px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

#navigation ul li a,.cmsms_shortcode_testimonials blockquote
{
	font:13px/18px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
}

.
/* Colors */
body,.tab.lpr .tabs_tab abbr,.project ul.project_details li.published div
{
	color:#727a7e;
}

.footer_nav li a,.bottom_inner .widget_links ul li a,.bottom_inner .widget_portfolio_link,.bottom_inner .portfolio_inner .entry-title a,.skill_item_colored_wrap > span span,.bottom_inner .post .entry-header .entry-title a:hover
{
	color:#b6c4cb;
}

.bottom_inner a
{
	color:#797979;
}

.bottom_inner a:hover,abbr a:hover,.cmsms_like a.active:hover span,ul.p_filter li a:hover,.related_posts_content div p a:hover,#comments .comment-body .published a:hover,.bottom_inner .widget_links ul li a:hover,.bottom_inner .footer_nav li a:hover,.cmsms_shortcode_testimonials .cmsms_tags li a:hover,.entry-title a:hover,.project_sidebar .cmsms_like a:hover span,.jp-playlist li div a:hover,.jp-playlist li.jp-playlist-current div a
{
	color:#f68b1f;
}

.bottom_inner,.bottom_inner .footer_nav li a,.bottom_inner .widget_links ul li a,.bottom_inner .widget_portfolio_link,.bottom_inner .portfolio_inner .entry-title a,.bottom_inner code,.bottom_inner small,.bottom_inner abbr,.bottom_inner abbr a
{
	color:#797979;
}

.bottom_inner h2.widgettitle
{
	color:#006fba;
}

h1 a
{
	color:#006fba;
}

#navigation li > a,#navigation li.current_page_item > a,#navigation li.current_page_ancestor > a,#navigation li.current-menu-ancestor > a,#navigation li:hover > a:hover,#navigation li:hover > a
{
	color:#fff;
}

#navigation li li > a
{
	color:#4e5c64;
}

#navigation li li.current_page_item > a,#navigation li li.current_page_ancestor > a,#navigation li li.current-menu-ancestor > a,#navigation li li:hover > a:hover,#navigation ul li:hover > a
{
	color:#33bee5;
}

q,span.dropcap,.table thead th,ul.p_filter li a
{
	color:#fff;
}

code,small,abbr,abbr a
{
	color:#727a7e;
}

input,textarea,select,option
{
	border:1px solid #dedede;
	color:#818181;
}

.bottom_inner .cmsms-form-builder input,.bottom_inner .cmsms-form-builder textarea,.bottom_inner .cmsms-form-builder select,.bottom_inner .cmsms-form-builder option,.bottom_inner .cmsms-form-builder .check_parent input[type=checkbox]+label,.bottom_inner .cmsms-form-builder .check_parent input[type=radio]+label
{
	color:#a0a0a0;
}

.comment-reply-link,.button,.bottom_inner .button,.button_medium,.bottom_inner .button_medium,.button_large,.bottom_inner .button_large
{
	color:#919191;
}

.button-naranja
{
	background-color:#f68b1f;
	color:#fff;
}

.button.current,.comment-reply-link:hover,.pricingtable .but .button:hover,.p_filter_container:hover > a.p_cat_filter,.p_sort .button:hover,.tabs li a:hover,.button:hover,.button_medium:hover,.button_large:hover
{
	color:#fff;
}

.bottom_inner .comment-reply-link:hover,.bottom_inner .tabs li a:hover,.bottom_inner .tabs li a.current,.bottom_inner .button:hover,.bottom_inner .button_medium:hover,.bottom_inner .button_large:hover
{
	background-color:#495459;
	color:#d4d6d6;
}

.button.current,.button_medium.current,.button_large.current
{
	background-color:#F8F8F8;
}

.comment-reply-link:hover,.button.cmsms_share:hover,.p_filter_container:hover > a.p_cat_filter,.p_sort a:hover,.p_sort a.current,.button:hover,.tabs li a:hover,.tabs li a.current,.button_medium:hover,.button_large:hover
{
	background-color:#006FBA;
}

.color2
{
	color:#33bee5;
}

.cmsms_content_slider_parent ul.cmsms_slides_nav li a
{
	background-color:#fff;
}

.cmsms_content_slider_parent ul.cmsms_slides_nav li a:hover,.cmsms_content_slider_parent ul.cmsms_slides_nav li.active a,a.cmsms_content_next_slide:hover,.bottom_inner a.cmsms_content_next_slide:hover,a.cmsms_content_prev_slide:hover,.bottom_inner a.cmsms_content_prev_slide:hover
{
	background-color:#33bee5;
}

.tp-leftarrow:hover,.tp-rightarrow:hover
{
	background-color:#33bee5!important;
}

.resp_navigation
{
	background-color:#006fba;
}

a.cmsms_content_prev_slide:hover,a.cmsms_content_next_slide:hover
{
	background-color:rgba(51,190,229,.8);
}

span.dropcap,#slide_top,.comment-reply-link,.button_medium,.button_large,.cmsmsLike:hover,.cmsmsLike.active,.cmsms_post_img
{
	background-color:rgba(58,69,75,.15);
}

.cmsms_plus_inner
{
	background-color:#d1d1d1;
}

.button,.table thead th
{
	background-color:#ebebeb;
}

code
{
	border:1px solid #ededed;
	border-top:3px solid #33bee5;
}

input[type=text]:focus,textarea:focus,select option:hover
{
	background:#fff;
	color:#818181;
}

.cmsms-form-builder input[type=text]:focus,.cmsms-form-builder textarea:focus,.cmsms-form-builder select:focus,option,.post .cmsms_tags li a:hover:before,.related_posts_content a img
{
	border:1px solid rgba(255,255,255,.08);
}

.cmsmsLike
{
	background-color:#33bee5;
}

.cmsmsLike:hover
{
	background-color:#fff;
}

.footer_inner
{
	color:rgba(255,255,255,.7);
	text-align:center;
}

#footer .footer_nav > li.current-menu-ancestor a,#footer .footer_nav > li.current_page_item a,#footer .footer_nav > li a:hover
{
	color:#33bee5;
}

.tp-rightarrow.default,.tp-leftarrow.default
{
	background-color:rgba(69,75,58,.2)!important;
}

.tp-bullets.simplebullets.round .bullet:hover,.tp-rightarrow.default:hover,.tp-leftarrow.default:hover,.tp-bullets.simplebullets.round .bullet:hover,.tp-bullets.simplebullets.round .bullet.selected,.tp-bullets.simplebullets.navbar .bullet:hover,.tp-bullets.simplebullets.navbar .bullet.selected
{
	background-color:#33bee5!important;
}

.tp-bullets.simplebullets.round .bullet
{
	background-color:#fff!important;
}

.social_block ul li
{
	background-color:rgba(58,69,75,.15);
	line-height:17px;
}

.social_block ul > li:hover
{
	background-color:#006fba;
}

.social_block ul > li + li:hover
{
	background-color:#0076be;
}

.social_block ul > li + li+ li:hover
{
	background-color:#3dd7e1;
}

.social_block ul > li + li+ li+ li:hover
{
	background-color:#375db0;
}

.social_block ul > li + li+ li+ li+ li:hover
{
	background-color:#f68b1f;
}

.social_block ul > li + li+ li+ li+ li + li:hover
{
	background-color:#fe3432;
}

@media only screen and max-width 1024px {
	#navigation li > a
	{
		color:#4e5c64;
	}
	
	#navigation ul li a
	{
		font:14px/18px "Open Sans", Arial, Geneva, Helvetica, sans-serif;
	}
}

@media only screen and min-width 950px and max-width 1439px {
	.portfolio_container.three_blocks .portfolio_inner .project_rollover ul.cmsms_category li,.portfolio_container.two_blocks .portfolio_inner .project_rollover ul.cmsms_category li
	{
		font:12px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
	
	.portfolio_container.two_blocks .portfolio_inner .project_rollover .entry-header h6
	{
		font:100 16px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}

@media only screen and min-width 769px and max-width 1024px {
	.portfolio_container.two_blocks .portfolio_inner .project_rollover .entry-header h6
	{
		font:100 16px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
	
	.pricingtable .title
	{
		font-size:1.538em;
	}
	
	.pricingtable .currency,.pricingtable .price,.pricingtable .coins
	{
		font-size:2.1em;
	}
	
	.one_third .pricingtable .currency,.one_third .pricingtable .price,.one_third .pricingtable .coins
	{
		font-size:3.1em;
	}
	
	.one_half .pricingtable .title
	{
		font-size:2.25em;
	}
	
	.one_half .pricingtable .currency,.one_half .pricingtable .price,.one_half .pricingtable .coins
	{
		font-size:3.8em;
	}
	
	.one_half .pricingtable .period
	{
		font-size:1.5em;
	}
}

@media only screen and min-width 768px and max-width 1024px {
	.portfolio_container.three_blocks .portfolio_inner .project_rollover ul.cmsms_category li,.portfolio_container.two_blocks .portfolio_inner .project_rollover ul.cmsms_category li
	{
		font:12px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}

@media only screen and min-width 541px and max-width 768px {
	.portfolio_container.three_blocks .portfolio_inner .project_rollover ul.cmsms_category li,.portfolio_container.two_blocks .portfolio_inner .project_rollover ul.cmsms_category li
	{
		font:12px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
	
	.portfolio_container.two_blocks .portfolio_inner .project_rollover .entry-header h6
	{
		font:100 16px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}

@media only screen and min-width 768px and max-width 950px {
	.featured_block h2
	{
		font-size:20px;
	}
}

@media only screen and min-width 769px and max-width 800px {
	.cmsms_our_team_wrap div .cmsms_team_rollover .entry-header h6,.project_rollover h6
	{
		font:100 16px/20px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}

@media only screen and min-width 650px and max-width 700px {
	.portfolio_container.two_blocks .portfolio_inner .project_rollover .entry-header h6
	{
		font:100 18px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
	
	.portfolio_container.two_blocks .portfolio_inner .project_rollover ul.cmsms_category li
	{
		font:14px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}

@media only screen and min-width 541px and max-width 650px {
	.portfolio_container.two_blocks .portfolio_inner .project_rollover .entry-header h6
	{
		font:100 18px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
	
	.portfolio_container.two_blocks .portfolio_inner .project_rollover ul.cmsms_category li
	{
		font:14px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}

@media only screen and min-width 450px and max-width 540px {
	.cmsms_our_team_wrap div .cmsms_team_rollover .entry-header h6,.portfolio_container.three_blocks .portfolio_inner .project_rollover .entry-header h6,.project_rollover h6
	{
		font:100 18px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
	
	.portfolio_container.three_blocks .portfolio_inner .project_rollover ul.cmsms_category li,.project_rollover ul.cmsms_category li
	{
		font:14px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}

@media only screen and max-width 700px {
	.portfolio_container.one_block .portfolio_inner .project_rollover .entry-header h6
	{
		font:100 16px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
	
	.portfolio_container.one_block .portfolio_inner .project_rollover ul.cmsms_category li
	{
		font:12px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}

@media only screen and max-width 540px {
	.portfolio_container.two_blocks .portfolio_inner .project_rollover .entry-header h6
	{
		font:100 16px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
	
	.portfolio_container.two_blocks .portfolio_inner .project_rollover ul.cmsms_category li
	{
		font:12px/18px "Open Sans",Arial,Geneva,Helvetica,sans-serif;
	}
}