/******************************************************\
*
*  Grey-Blue skin
*
*    1. Arrows(direction) navigation
*    2. Paging navigation
*
\******************************************************/



/******************************************************\
*
*  1. Arrows (direction) navigation
*
\******************************************************/
.touchcarousel.grey-blue .arrow-icon {	
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	/*width: 11px;
	height: 19px;	
	margin-top: -9px;*/
	width: 23px;
	height: 50px;
	margin-top: -9px;
}
.touchcarousel.grey-blue .arrow-holder {
	width: 19px;
	height: 100%;
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;	
}
.touchcarousel.grey-blue .arrow-holder.left {
	/*left: -20px;*/
	left: -22px;
}
.touchcarousel.grey-blue .arrow-holder.right {	
	/*right: -20px;*/
	right: -22px;
}

.touchcarousel.grey-blue .arrow-icon.left {
	left: 0;
	/*background-position: -6px -15px;*/
	background-position: 1px 0px;
}
.touchcarousel.grey-blue .arrow-icon.right {
	right: 0;
	/*background-position: -186px -15px;*/
	background-position: -184px 0px;
}
.touchcarousel.grey-blue .arrow-holder:hover .arrow-icon.left {
	/*background-position: -36px -15px;*/
	background-position: -29px 0px;
}
.touchcarousel.grey-blue .arrow-holder:hover .arrow-icon.right {
	/*background-position: -156px -15px;*/
	background-position: -154px 0px;
}
.touchcarousel.grey-blue .arrow-holder.disabled .arrow-icon.left {
	/*background-position: -66px -15px;*/
	background-position: -59px 0px;
}
.touchcarousel.grey-blue .arrow-holder.disabled .arrow-icon.right {
	/*background-position: -126px -15px;*/
	background-position: -124px 0px;
}
.touchcarousel.grey-blue .arrow-holder:hover {
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;	
}
.touchcarousel.grey-blue .arrow-holder:active .arrow-icon {
	margin-top: -8px;
}
.touchcarousel.grey-blue .arrow-holder.disabled {
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;	
}

/******************************************************\
*
*  2. Paging navigation
*
\******************************************************/

.touchcarousel.grey-blue .tc-paging-item {
	background: url('sprite.png') no-repeat -95px -4px;
	
	width: 16px;
	height: 16px;	
	
	-moz-opacity: 0.8;	
	-webkit-opacity: 0.8;	
	opacity: 0.8;	
}
.touchcarousel.grey-blue .tc-paging-item.current {	
	background: url('sprite.png') no-repeat -95px -22px;
}
.touchcarousel.grey-blue .tc-paging-item:hover {		
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;		
}





