<div class="container mt-1">
    <div class="row">
      <div class="col-12 app-menu-title">
          ¿En qué campus ? 
      </div>
    </div>
    <hr id="divisor-menu-app" class="mt-1 mb-1">

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let campu of campus " (click)="setCampus(campu)">
      
       {{( campu == 'ATZ') ? 'Atizapán' : '' }} 
       {{( campu == 'MAR') ? 'Marina' : '' }} 
       {{( campu == 'ECA') ? 'Ecatepec' : '' }}
       {{( campu == 'GDL') ? 'Guadalajara' : '' }}
       {{( campu == 'LEO') ? 'León' : '' }}
       {{( campu == 'SUR') ? 'Sur' : '' }}
       {{( campu == 'CUI') ? 'Cuitláhuac' : '' }}
       {{( campu == 'TOL') ? 'Toluca' : '' }}
       {{( campu == 'QRO') ? 'Querétaro' : '' }}
       {{( campu == 'REY') ? 'Los Reyes' : '' }}
       {{( campu == 'ONL') ? 'En Línea' : '' }}
    </li>
  </ul>
</div>