.modal-ctc.show{
display:flex !important;
background: rgba(0,0,0,0.75);
}
.modal-ctc .modal-content{
border: none;
border-radius: 0.25rem;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-frm-ctc, .btn-frm-ctc:hover, .btn-frm-ctc:active, .btn-frm-ctc:focus{
background: #f68b1f!important;
font-size: 1.125rem;
font-weight: 500;
letter-spacing: 1px;
}
.frm-terminos {
color: #757575;
font-size: 0.75rem!important;
font-weight: 300;
line-height: 1.5 !important;
}
.frm-terminos a{
color: #757575;
font-weight: 500;
}
.icons-desktop {
cursor: pointer;
width: 2rem;
height: 2rem;
background-color: #f68b1f;
border-radius: 50%;
position: relative;
}
.icons-desktop a {
flex-direction: initial!important;
cursor: pointer;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
color: #ffffff;
}
.md-form label{
font-size: 0.8rem
}
.identificacion {
color: #f68b1f;
font-size: 1.125rem;
}
.myFeedBackErrorCTC {
font-size: .8rem;
color: #c00;
display:none;
}
.block{
display:block !important;
}
.card-blue {
background-color: #006fba;
}
.text-tnks, .text-alert{
color:#fff!important;
}
.text-alert{
color: #ff4d4d!important;
}
.msg-alert{
background-color: rgba(255,154,154,0.35);
border: solid 1px #ff4d4d;
border-radius: .25rem;
}
.modal-content .close {
position: relative;
right: 0;
top: -25px;
opacity: 0.8;
}

.blur-ctc{
filter: blur(4px);
-o-filter: blur(4px);
-ms-filter: blur(4px);
-moz-filter: blur(4px);
-webkit-filter: blur(4px);
}
.overlay-ctc {
position: fixed;
display: none;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,.6);
z-index: 9;
cursor: pointer;
}
