@import "../generales/_variables_temaunitec";
@import "../generales/generales_mobile_temaunitec";

.btn-share{
    font-size:2.313rem !important;
}
.btn-social-media{
    box-shadow:none !important;
    background-color:transparent !important;    
}
.margen-btn-share{
    margin-top:-1rem !important;
    color:$titulos_principales !important;
}
.share{
    color: #757575 !important;
    font-size: 1.75rem !important;
}
.noticia{
    padding: $long-default !important;
}
.eventCalendarDay{
    font-size: 60px;
    font-weight: $Roboto-bold;
}
.boxiconActions a{
    color: $titulos_principales;
    padding-right: $long-default;
    &:last-child{
        padding-right: 0;
    }
}
.theCard{
    box-shadow: none !important;
}
.card-wrapper{
    //overflow: hidden;
    .card-rotating{
        text-align: unset !important;
        .face{
            box-shadow: 0 1px 10px #aba99e;
            .botonTexto{
                padding: $long-default 0 !important;
                color: $texto_principal;
                tr{
                    td{
                        h5{
                            font-weight: $Roboto-medium;
                            margin-top: $long-default;
                        }
                        p.card-text{
                            @include lineClamp(2);
                            color: $texto_principal;
                            line-height: initial !important;
                        }
                    }
                }
            }
        }
    }
}    


