@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

 .tarjeta img{
    padding:0 !important;
}
// .content-avatar-testimonios{
//     width: 100% !important;
//     max-width: 93% !important;
//     margin:auto !important;
// }
.title-testimoniales{
    font-size:$long;
    font-weight:$Roboto-regular;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 0.3rem;
    line-height: 1rem;
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
}
.testimoniales-mob{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 110px;
    min-height: 150px;
    margin: 0;
    border-radius: 0.3rem;
    &:last-child{
        margin-right: 0 !important;
    }
}
.carrusel-testimoniales{
    position: relative;
    left: -4vw;
    width: 100vw;
}
.modal-footer{
    justify-content:center !important;
}
.modal-header, .modal-footer{
    border: none;
}
.modal-tarjeta{
    .modal-fluid { 
        max-width: none;
        position: relative;
        margin: 0 auto;
    }
    .modal-content{
        //min-height: calc(100vh - 20px);
        min-height: calc(100vh);
        background-color: $black;
        color: $titulos_secundarios;
        font-size: $long-default;
        border: none;
        .modal-header{
            .imgMinTestimoniales{
                width: 60px;
                height: 60px;
                overflow: hidden;
                // border-radius: 50%;
                margin-right: .5rem;                
                img{
                    width: inherit;
                    height: inherit;
                }
            }
            .description{
                .nombre, .testimonio-title{
                    font-size: inherit;
                    font-weight: $Roboto-regular;
                }
                flex: 1;
                line-height: $long-medium;
                font-weight: $Roboto-thin;
                font-size: $long;
            }
            .icons{
                .puntos-tarjeta{
                    position: absolute;
                    right:$long-default;
                    top: $long-default;
                    font-size: $long-default;
                    color: $titulos_principales;

                    .dropdown-item{
                        display: flex !important;
                        align-items: center;
                        padding: 3px 1rem !important;
                        color: inherit;
                        i, span{
                            color: inherit;
                            font-size: $long-default;
                            padding-right: $long-small;
                        }
                    }
                }
            }
        }
        .modal-content-tarjeta-testimoniales{
            // min-height: calc( 100vh - 300px );
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            overflow: scroll;

            iframe, img, audio, video{
                width: 100%;
                height: 100%;
                padding: .5rem 0;
            }
        }
        .modal-footer{ 
            padding: 1rem 2rem;
            p{
                font-weight: $Roboto-thin;
            }
        }
    } 
}