@import "../generales/_variables_temaunitec";

/* Inician estilos para Nav */
.nvct{
    position: fixed;
    z-index: 100;
    top: 0px;
}
.navContent{
    width: 100vw;
    /* padding: 10px 15px; */
    padding: 10px;
    line-height: 0px;

    &.navegador{
        height: 52px;
        background-color: white;
        display: flex;

        a.logoNav{
            display: flex;
            flex: 1;
            /* justify-content: center; */
            /* margin: auto;  Descomentar en un futuro*/
            height: 24px;
            margin-left: .3rem;

            margin-top:3px !important;

            img{
                width: 5.625rem;
                height: auto;
            }
        }
        
        a {
            &.searchNav{
                right: $long-default;
            }

            i{
                font-size: 28px;
                color: #006fba;
                /* padding: 0 $long-small; */
                padding: 0.8rem;
            }

            &:first-child i{
                padding-left: 0px;
            }

            // &:last-child i{
            //     padding-right: 0px;
            // }
        }
    }

    &.searchNavbootom{
        margin-top: 52px;
        background-color: rgba(0, 111, 186, .9);

        a {
            i {
                font-size: 34px;
                color: white;
                padding: 0 $long-small;
            }
        }

        .dropdown-toggle:after{
            content: none !important;
        }

        div.comunidad{
            a span{
                margin-right: .5rem;
            }
            top: 4px;
            margin-right: $long-default;  
        }
    }

}
/* Terminan estilos Nav */

/* Inician estilos side-nav */
.side-nav{
    width: 80% !important;
    .side-nav-content{
        width: 100% !important;
    }
}
.img-head{
    filter: brightness(0.70);
    width: 100%;
    z-index: 200;
}

.side-nav-header{
    position: relative;
    height: 150px; 
    .controls{
        width: 100%;
        height: 60px;
        z-index: 500;
        display: flex;
        flex-direction: row;
        align-content: center;

        div.logo{
            padding: 0;
            display: flex;
            flex: 1;
            justify-content: flex-start;
            a {
                line-height: inherit;
                padding: inherit;
                img{
                    width: 120px;
                    height: auto;
                }
            }
        }

        span{
            margin: .5rem !important;
            &::before{
                color: white;
            }
        }
    }
}

.buscador{
    position: absolute;
    bottom: $long-default;
    width: calc(100% - 32px);
    z-index: 500;
    display: flex;
    margin-bottom: 1px;
    border: 1px solid #006fba;
    background: #fff !important;
    margin: 0 $long-default;

    .input-buscador{
        display: flex;
        align-items: center;
        flex: 1;

        &input[type=text] {
            position: relative;
            border: none;
            outline: 0px !important;
            padding: 0 $long-small;
            min-height: 25px;
            width: 100% !important;

            &:focus:not([readonly]).mySuccess{
                border: none !important;
                box-shadow: none !important;
            }
            &.mySuccess{
                border: none !important;
                box-shadow: none !important;
            }
            &:focus:not([readonly]).myError{
                border: none !important;
                box-shadow: none !important;
            }
            &.myError{
                border: none !important;
                box-shadow: none !important;
            }
            &:focus:not([readonly]).valid{
                border: none !important;
                box-shadow: none !important;
            }
            &.valid{
                border: none !important;
                box-shadow: none !important;
            }
        }
    }

    .iconos{
        display: flex;
        /* display: none; */
        justify-content: center;
        align-items: center;
        width: 32px;

        span{
            width: 20px;
        }
    }
}

.side-nav .side-nav-content .collapsible a{
    display: flex !important;
    align-items: center !important;
}