@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.geolocalizacion{
    display: flex;
    flex-direction: column;
    .mapa{
        width: 100%;
        height: calc( 300px - 57px );
    }
    .transport-links{
        padding-top:0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .transport-pilot a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            color: $titulos_principales;
            span, i{
                font-size: 38px;
            }
            label{
                margin: 0;
            }
        }
    }
}
.parametros-geolocalizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: $borde-gris;
    .parametros{
        width: 100%;
        display: flex;
        padding-top: $long-default;
        .iconos{
            width: 35px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-around;
            i, span{
                font-size: $long-default;
                &:first-child{
                    margin-top: 10px;
                }
                &:last-child{
                    color: $unitec_principal;
                    margin-bottom: 15px;
                }
            }
        }
        form{
            padding-right: $long-default;
            display: flex;
            flex-direction: column;
            flex: 1;
            input[type=text]{
                border-bottom: $borde-gris;
                @include noStyleMDBinput();
            }
        }
    }
    .botonSecundario{
        margin: 1rem 0;
        width: 90%;
        text-align: center;
    }
}
.botonesUnitec{
    padding:6px;
    width:97% !important;
    a{
        box-shadow:none;
    }
}
/*Fix para pintar border en colapsables*/
.parametros-geolocalizacion{
    border-bottom:none !important;
}
/*Fix para pintar border en colapsables*/
/* fixes potential theme css conflict */
#map img {
    max-width: inherit !important;
}
.img-mapa img{
    width: 100%;
    height: auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
    #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
} 
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#right-panel select, #right-panel input {
    font-size: 15px;
}
#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}
#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
} 
@media print {
    #right-panel {
        float: none;
        width: auto;
    }
}