@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.altura-card{
    height:178px;
}
.card-body{
    .fichaImg{
        float: left;
        width: 30%;
        max-width: 100px;
    }
    .fichaDesign{
        float: left;
        width: 70%;
        padding: 5px;
    }
    .title{
        line-height: normal;
        font-size: 1rem;
        font-weight: 500;
        display: -webkit-inline-box!important;
        height: 2.4rem;
        -webkit-line-clamp: 2!important;
        -webkit-box-orient: vertical!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
    }
    .content{
        font-size: 1rem;
        font-weight: 300;
        line-height: normal;
    }
    .navegacion{
        width: 100%;
        padding-top:18px;
        a.link-fix{
            margin-right:10px;
        }
    }
    .compartir-fix{
        color:$titulos_principales !important;
        font-size:$h3 !important;
    }
}
.card-reveal{
    overflow:hidden !important;
}
