@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.modal-tarjeta{
    .modal-fluid { 
        max-width: none;
        position: relative;
        margin: 0 auto;
    }
    .modal-content{
        //min-height: calc(100vh - 20px);
        min-height: calc(100vh);
        background-color: $black;
        color: $titulos_secundarios;
        font-size: $long-default;
        border: none;

        .modal-header{
            .imgMin{
                width: 60px;
                height: 60px;
                overflow: hidden;
                border-radius: 50%;
                margin-right: .5rem;                
                img{
                    width: inherit;
                    height: inherit;
                }
                .portada-galeria{
                    width: 100%;
                    max-width: 125px !important;
                    margin: 0 !important;
                    margin-right:8px !important;
                }
            }
            .description{
                .nombre, .testimonio-title{
                    font-size: inherit;
                    font-weight: $Roboto-regular;
                }
                flex: 1;
                line-height: $long-medium;
                font-weight: $Roboto-thin;
                font-size: $long;
            }
            .icons{
                .puntos-tarjeta{
                    position: absolute;
                    right:$long-default;
                    top: $long-default;
                    font-size: $long-default;
                    color: $titulos_principales;

                    .dropdown-item{
                        display: flex !important;
                        align-items: center;
                        padding: 3px 1rem !important;
                        color: inherit;
                        i, span{
                            color: inherit;
                            font-size: $long-default;
                            padding-right: $long-small;
                        }
                    }
                }
            }
        }
        .modal-content-tarjeta{
            min-height: calc( 100vh - 300px );
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            overflow: scroll;
            iframe, img, audio, video{
                width: 100%;
                height: 100%;
                padding: .5rem 0;
            }
        }
        .modal-footer{ 
            padding: 1rem 2rem;
            p{
                font-weight: $Roboto-thin;
            }
        }
    } 
}
.grid-galeria-master{
        height: auto !important;

}
/*Clases para la navegacion en caso de que sea un iframe de youtube*/
.div-yt-video {
    padding: 0 !important;
}
.div-yt-video-left {
    @include vertical_align();
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: center;
}
.div-yt-video-right {
    @include vertical_align();
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: center;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
    width: 50%;
    float: left;
}
.grid-item-video {
    width: 100%;
    float: left; 
}
.content-portadas-galeria{
    width: 100%;
    margin:auto;
    max-width: 90%;
    .portada-galeria{
        img{
            width:72px !important;
            height:70px !important;
            border-radius: 50%;
            margin:auto;
        }
    }
}