@import "../generales/_variables_temaunitec.scss";
@import "../generales/mixins_mobile.scss";

.modal-tarjeta {
    .modal-fluid { max-width: none;margin: 0 auto;}
    .modal-content { min-height: 100vh; flex-direction: inherit; border: none;

        .convenio{ border-radius: 50%; width: 60px; height: 60px; background-size: 110%; background-position-x: center; }
        .icons { position: absolute; z-index: 100; right: 0.25rem; top: .25rem; cursor: pointer; }
        .icon-u-cerrar:before { color: #ffffff; font-size: 30px; }
        .content-gral{
            .card-desc {
                color: #ffffff;
                font-weight: $Roboto-regular;
                line-height: normal;
                .tit-desc{ font-size: 0.75rem; font-weight: 500; line-height: normal; }
                .sub-desc{ font-size: 0.75rem; font-weight: 300; line-height: normal; }
                .lista-desc{
                    .desc-ind{
                        font-size: $long-normal;
                        .bullet{ font-size: 0.5rem; }
                    }
                }
                .legales{ font-size: $long; font-weight: 200; }
            }
            .contacto-desc{
                color: #ffffff;
                .titulo-contactanos { font-size: $long-normal; font-weight: $Roboto-regular; text-align: center; }
                .card-title-contacto{ font-weight: 300; font-size: 1.15rem; }
                .card-sub-contacto {
                    position: inherit;
                    bottom: 3rem;
                    li.descuentos-lista {
                        display: list-item;
                        font-size: 1rem;
                        font-weight: 200;
                        a{ color: inherit;
                            .descargar-descuento{ color: $unitec_secundario; }
                        }
                    }
                }
            }
        }
    }
    .modal-descuentos { background-color: rgba(0,0,0,0.9); }
}
.content-portadas-galeria{
    width: 100%;
    margin:auto;
    max-width: 90%;
    .portada-galeria{
        img{
            width:72px !important;
            height:70px !important;
            border-radius: 50%;
            margin:auto;
        }
    }
}
/* Inician los estilos de la galería desktop */
.carrousel_inner{
    overflow: hidden;
    ul{
        display: flex;
    }
}
.descuentos{
    // min-height: calc(100vh - 60px);
    .contenedor-descuentos{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        padding-bottom: 1rem;
        .title-descuentos-mob{
            text-align: left;
            margin: 0;
            padding: 18px 12px 12px 12px;
            font-weight: 500;
            font-size: 1.125rem;
            color: $unitec_principal;
            border-bottom: 1px solid;
        }
        .filtros{
            .filtro-descuentos{
                border: solid 1px $unitec_principal;
                cursor:pointer;
                .span-filtro{ font-size: 0.75rem; }
                h6{ font-weight: 500;}
                .icon-abajo{ font-weight: 400; font-size: 1.25rem; }
            }
            .dropdown .dropdown-menu .dropdown-item { padding: 0.5rem 0; margin-left: 0; }
            .descargar{ color:$unitec_secundario; font-weight:$Roboto-regular; }
        }
        .content-iconos{
            .destacar{
                text-align: center;
                font-size: 0.75rem;
                line-height: 1.3;
                .icon-descuentos{
                    font-size: 2rem;
                }
            }
        }
        .fila-descuentos {
            .collection-card{ border: solid 1px rgba(225,225,225,.9); }
            .collection-card .view { cursor: pointer; height: 130px; background-size: 110%; background-position-x: center; }
        }
    }
}
/* Terminan los estilos de la galería desktop */
.scroll-hiden{ overflow: hidden; }