//@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.filtro-video{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width:100%;
    height:100%;
}
#banner-imagen{
    position:relative;
}
#home-texto{
    position: absolute;
    color: white;
    z-index: 1;
}
#carousel-banner-video{
    overflow:hidden !important;
    .video-fluid{
        height:auto !important;
    } 
}
.footer-banner-home{
    position: relative;
    width: 100%;
    background-color: $unitec_secundario;
    color: $texto_secundario;
    font-weight: $Roboto-light;
    padding: $long-small;
    bottom: 0; 
}
.botonSecundario.home{
    position: unset;
    clear: both;
    z-index: 10;
}
.banner{
    display: flex;
    flex-direction: row;
    widows: 100vw;
    height: calc( 100vh - 976px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute; 
    z-index: 20; 
    width: 100%;
    .banner-cinta{
        margin-top: $long-default;
        position: absolute;
        width: 100%;
        &.cinta-end{
            align-self: flex-end;
            margin-top: -22px;
        }
        .cintillo{
            justify-content: baseline;
            position: relative;
            .banner-cintillo-titulo{
                font-size: $h4;
                line-height: normal;
                margin-bottom: 0 !important;
                span{
                    color: #f68b1f!important;
                    font-weight: $Roboto-medium;
                }
            }
        }
        &.banner-cinta-estatico{
            top:0;
            margin:auto;
        }
    }
}
.btnB{
    display: flex;
    position: absolute;
    margin-left: calc( 50vw - 18px);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.313rem;
    height: 2.313rem;
    background-color: #f68b1f!important;
    z-index:30;
    
    &.btn-banner-cintillo{
        margin-top: -18px;
    }
    &.btn-banner{
        /* margin-top: -68px; */
        align-self: flex-end;
    }
    i, span{
        font-size: $h3;
        color: white;
    }


    /*Video con Slider*/
    &.btn-banner-estatico{
        margin-top:-65px;
    }

    &.btn-banner-estatico-calculadora{
        margin-top:-65px;
    }
    /*
    /*Video con Slider*/
}
.content-carousel{
    box-shadow: none !important;
}
.carousel-inner{
    .view{
        position:none !important;
        width:100% !important;  
        &.hm-black-light{
            width:100% !important;
            img{
                width:100% !important;
                /* height: auto!important; */ 
            }
        }        
    }
    .carousel-caption{
        left:0% !important;
        right:0% !important;
    }
     .carousel-calculadora{
          margin-bottom: -1em;
          width: 100%;
    }
    .texto-slider{
        padding:$long-small !important;
        /* right:auto; 
        left:auto; */
        bottom:5.25rem; /* 5.62rem */
        p.texto-banner-carousel {
            margin:0 !important;
            font-size: $long-default !important;
            color: $titulos_secundarios;
            font-weight: $Roboto-light !important;
            line-height: normal !important;
            text-align:center;
            width:100%;
        }
        p.texto-banner-carousel-calc {
            margin: 1rem 0!important;
            font-size: 1.2rem!important;
            font-weight: 300!important;
            line-height: normal!important;
        }
        p.texto-banner-titulo{
            font-size: $long-default !important;
            color: $titulos_secundarios;
            line-height: normal !important;
            margin: auto;
            font-weight: $Roboto-regular !important;
        }
        p.texto-banner-titulo-calc{
            font-size: 1.5rem !important;
            line-height: normal !important;
            margin: auto;
            font-weight: $Roboto-regular !important;
        }
    }
    /*Video con Slider*/
    .texto-slider-video{
        padding:0.4rem;
    }
    /*Video con Slider*/
}
.carousel-calculadora-boton {
    position: relative;
    right: 0;
    z-index: 10;
    color: #fff;
    text-align: center;
}
.carousel-banner-boton {
    position: relative;
    right: 0;
    bottom: -0.6em;
    z-index: 10;
    color: #fff;
    text-align: center;
}

.crl-banner{
    position: absolute;
    align-self: flex-end;
    .carousel-indicators{
        position:relative;
        bottom:70px;
        z-index:30;
        margin-left:14% !important;
        li{
            justify-content: space-evenly;
            max-width: $long-medium !important;
            height: $long-medium !important;
            margin: 0 .5rem;
            &.active{
                background-color: white;
            }
        }
    } 
    .calcu{
        width: 100vw;
        display: flex;
        margin: 1rem 0!important;
        justify-content: center;
        a{
            width: 80%;
            text-align: center;
        }
    }
}
.indicadores-calculadora{
        position: relative !important;
        z-index:30;
        top:-4rem;
        li{
            max-width:10px!important;
            height:10px !important;
            margin-left:10px;
        }
    }
/*Video con Slider*/
    .indicadores{
        position:relative !important;
        z-index:30;
        top:-4rem;
        li{
            max-width:10px!important;
            height:10px !important;
            margin-left:10px;
        }
    }
    /*Video con Slider*/
// .banner-360{
//     .hs-responsive-embed-youtube{
//         position: relative;
//         display: flex;
//         width: 100%;
//         height: 100%;
//         padding-top: 0px !important;
//         padding-bottom: 0px;
//         iframe{
//             position: relative;
//             width: 100% !important;
//             height: 100% !important;
//         }
//         video{ 
//             position: fixed;
//             top: 50%;
//             left: 50%;
//             min-width: 100vw;
//             min-height: 100vh;
//             width: auto;
//             height: auto;
//             z-index: -100;
//             transform: translateX(-50%) translateY(-50%);
//             background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
//             background-size: cover;
//         }
//         .banner-cinta{
//             display: flex;
//             align-self: flex-end;
//             .btn-banner-cintillo{
//                 margin-top: 18px !important;
//                 align-self: flex-end;
//             }
//         }
//     }
// }
.banner-buscador{
    .buscador-google{
        display: flex;
        flex-direction: column;
        align-self: center;
        .buscador-title{
            text-align: center;
            font-size: $h2;
            color: $unitec_principal_b;
        }
        .buscador-gcs-no-angular{
            display: flex;
            border: 1px solid $unitec_principal;    
            background: white;
            align-self: center;
            width: calc( 100vw - 2rem );
            padding: .3rem;
            margin: 0 1rem;
            margin-bottom: 0px;
            .twitter-typeahead{
                position: absolute;
                width: 100%;
            }
            .banner-gcs{
                width: calc(100% - 5.3rem);
                padding: 0 2.3rem 0 .2rem;
                border-bottom: none!important;
                box-shadow: none !important;
            }
            .segment-icons{
                width: 30px;
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
}
.modal-buscador-php{
    .modal-dialog{
        margin: 0;
        width: 100vw!important;
        height: 100vh!important;
        .modal-content{
            width: 100%;
            height: 100%;
            padding: 1rem;
            overflow-y: auto;
            .modal-body{
                padding: 0;
                .mdlc, .cmm{ 
                    color: $unitec_secundario;
                    font-size:  2.5rem;
                    margin: 0;
                    padding: 0;
                    width: 1.875rem;
                }
                header{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img.logo{
                        width: 150px;
                        margin: 2.75rem;
                    }
                    .buscador-gcs-no-angular{
                        width: calc( 100% - 16px );
                        display: flex;
                        align-items: center;
                        padding: 0;
                        border: 1px solid $unitec_principal;    
                        .banner-gcs{
                            display: flex;
                            flex: 1;
                            padding : .5rem;
                            border-bottom: none!important;
                            box-shadow: none !important;
                        }
                        .segment-icons{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            span, i{
                                font-size: 1.5rem;
                            }
                        }
                    }
                    
                }
                .GCSResultados{
                    .GCSresultItem{
                        width: 100%;
                        clear: both;
                        &:hover{
                            border: 1px solid $gray-light;
                            header{
                                border-bottom: 1px solid $gray-light;
                                padding-bottom: 1rem;
                                margin-bottom: 1rem; 
                            }
                        }
                        > header, section{
                            padding: 1rem;
                            overflow: hidden;
                            height: fit-content;
                        }
                        header{
                            padding-bottom: 0px;
                            .titulo{
                                font-weight: 500;
                                font-size: 16px;
                                text-transform: uppercase;
                                color: $unitec_secundario;
                                height: 44px !important;
                                overflow: hidden;
                                @include lineClamp(2);
                            }
                            .link{
                                color: $unitec_principal_b;
                                overflow: hidden;
                                align-self: baseline;
                                @include lineClamp(1);
                            }
                        }
                        section{
                            @include lineClamp(3);
                        }
                        
                    }
                }
                .modal-escucha{
                    .segment-icons{
                        font-size: 4.625rem;
                        margin: 1.625rem;
                    }
                }
            }
        }
    }
}
.filtroCarusel{
    background-color:rgba(0,0,0,0.5) !important;
}