// @import "../generales/_variables_temaunitec";
// @import "../generales/generales_mobile_temaunitec";

.content-portadas-galeria{
    width: 100%;
    margin:auto;
    max-width: 90%;
    .portada-galeria{
        img{
            width:72px !important;
            height:70px !important;
            border-radius: 50%;
            margin:auto;
        }
    }
}

.descuentos{
    // min-height: $fullvh;
    .contenedor-descuentos{
        .filtros{
            .filtro-descuentos{
                border: solid 1px #939393;
                cursor:pointer;
                .icon-abajo{
                    color:#F68B1F;
                    font-weight:400;
                    font-size:2.5rem;
                }
            }
            .menu-filtro-descuentos{
                width: 100%;
                .destacar:hover {
                    background-color: #F68B1F;
                }
            }
        }
    }
}
/* Terminan los estilos de la galerÃ­a desktop */
.scroll-hiden{
    overflow: hidden;
}


.cardHeight{
    height: 490px;;
    .front, .back {
        z-index: 2;
        -webkit-transition: -webkit-transform 0.8s;
                transition: transform 0.8s;
    }
    .front {
        .cover{
            position: relative;
            overflow: hidden;
            height: 200px;
            margin: auto;
            z-index: 5;
            width: 96%;
            top: -1rem;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.08), 0 2px 5px 0 rgba(0,0,0,.03);
            .etiqueta{
                position: absolute;
                top: .25rem;
                right: .25rem;
                color: #fff;
                padding: .2rem 1rem;
                font-size: .75rem;
                border-radius: 3px;
                text-transform: uppercase;
                letter-spacing: 1px;
                opacity: 0.85;
            }
        }
        .content {
            color: #757575;
            top: -0.75rem;
            .titleTaller {
                font-weight: 500;
                line-height: normal;
            }
            .shortDescription{
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2;
            }
            .rowData{
                font-size: 1.125rem;
                font-weight: 300;
                .rotateCampus{
                    position: relative !important;
                    top: auto;
                    right: auto;
                    float: initial;
                    font-size: inherit;
                    color: inherit;
                    cursor: pointer;
                }
                .itemIcon{
                    color: #006fba;
                }
                .tallerCampus{
                    font-weight: 400;
                }
                .tallerCost{
                    font-weight: 400;
                    color: #006fba;
                }
            }
        }
        .footer {
            background-color: #ffffff;
            position: absolute;
            bottom: 0;
            left:0;
        }
    }
    .back{
        .content{
            line-height: normal;
            .main{
                min-height: 265px;
            }
            .title{
                font-weight: 500;
                line-height: normal;
                font-size: 1.125rem;
            }
            .longDescription{
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2;
            }
            .tallerCampus{
                font-weight: 400;
            }
        }
        .footer{
            border-top: 3px solid #ededed;
            padding: 5px 15px 5px 15px;
            position: absolute;
            bottom: 0;
            .regresar{
                font-size: 1.25rem;
                font-weight: 400;
                color: #939393;
            }
        }
    }
    .verMas-taller, .asistir{
        border-radius: 0.25rem;
        font-weight: 400;
        font-size: 1.125rem;
        width: 120px;
        height: 35px;
    }
    .verMas-taller {
        font-size: 1rem;
    }
    .asistir{
        border: solid 1px #F68B1F !important;
        color: #F68B1F !important;
    }
    .asistir:hover{
        background-color: #F68B1F !important;
        color: #ffffff !important;
    }
    .stats-container{
        .stats{
            .card-back{
                // height: 130px;
                & :nth-child(1){
                    text-align: center !important;
                    font-size: 3rem;
                }
            }
            .desktop-card-title-comparte{
                border-bottom: 3px solid #ededed;
                color: #5a5a5a;
                padding: 18px 12px 12px 12px;
                font-weight: 400;
                font-size: 1.125rem;
            }
            ul.inline-ul-desktop{
                display: flex;
                li{
                    width: 25%;
                }
            }
        }
    }
}
.default{
    background-color: #066fba;
}
.preparatoira{
    background-color: #87C80A;  
}
.licenciaturas{
    background-color: #F49F22;  
}
.licenciaturas-en-salud{
    background-color: #06C4B4;  
}
.ingenierias{
    background-color: #820000;  
}
.diplomados{
    background-color: #8C288C;  
}
.maestrias{
    background-color: #547DBF;  
}
