@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile";

.fix-horario-campus{
    padding-left:2.5rem;
}
label.horario-hora {
    padding-left: 0.5rem;
}
/*Fix para alinear los horarios*/
.horarios-pre{
    flex: 1;
    line-height: normal;
    font-size:$long-default;
    color: #757575;
    font-family: Roboto,sans-serif;
    padding-left: .1rem;
    margin: 0;
}
.fix-horarios-button{
    padding-left:15px;
}
/*Fix para alinear los horarios*/
.bg-white{
    background-color:#fff;
}
a.textItemCard{
    color:#757575 !important;
}