a .new-ofert{
    color: #fff;
    font-weight: 400;
    padding: 0.25rem 1rem;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    margin: 1rem;
    right: 0;
}
.verMasNewCareers{
    border: solid 1px;
    border-radius: 3px;
}

.default{
    background-color: #066fba;
}
.licenciatura{
    background-color: #F1C40F;
}
.preparatoria-2{
    background-color: #59B14F;
}
.ingenieria{
    background-color: #8B254F;
}
.especialidad{
    background-color: #42748D;
}
.diplomado{
    background-color: #CCDB2A;
}
.maestria{
    background-color: #00AFA9;
}