@import "../generales/_variables_temaunitec";

.img-header-formulario-expuesto {
    background-size: cover;
    background-position: top;
    height: 200px;
    width: 100%;
}
.overlay-absorcion {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 9;
    cursor: pointer;
}
.titleSectionAbsorcion, .descriptionSectionAbsorcion{
    color:#fff;
}
.blur-absorcion{
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
}
.card-blue-absorcion {
    background-color: #006fba;
    position: absolute;
    z-index: 1;
}
.form-head-conexion{
    height: 60px;
}
.titulo-formulario-expuesto {
    color: #006fba;
    h2 {
        font-size: 1.25rem;
        font-weight: 500;
    }
}
// .logo-formulario-expuesto{
//     background-color: #006fba;
//     height: 60px;
//     -webkit-mask: url(/assets/informacion.svg) no-repeat 50% 53%;
//             mask: url(/assets/informacion.svg) no-repeat 50% 53%;
//     -webkit-mask-image: url(/assets/informacion.svg);
//             mask-image: url(/assets/informacion.svg);
//     -webkit-mask-size: 70%;
//             mask-size: 70%;
// }
.descFormExpuesto{
    font-size: 1rem;
    font-weight: 400;
}
.frm-politicas-expuestas label{
    font-size: .625rem;
}
.span-continuar {
    text-transform: uppercase;
    color: #f68b1f;
}
.btn-frm-expuesto {
    background: #f68b1f!important;
    font-size: 1.125rem;
    font-weight: 500;
}
input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #4285f4;
    box-shadow: none;
}

.md-form .form-control.is-valid, .was-validated .md-form .form-control:valid {
    padding-right: 0;
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #28a745;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    /* background-image: url('https://vignette.wikia.nocookie.net/logopedia/images/1/11/Google_Material_Design_Check.svg/revision/latest?cb=20180506180847'); */
}
.md-form .form-control.is-invalid, .was-validated .md-form .form-control:invalid {
    padding-right: 0;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
}
.valid-feedback {
    display: none;
    width: 100%;
    margin-bottom: .25rem;
    font-size: 80%;
    color: #28a745;
}
.form-control.is-valid~.valid-feedback, .form-control.is-valid~.valid-tooltip, .was-validated .form-control:valid~.valid-feedback, .was-validated .form-control:valid~.valid-tooltip {
    display: block;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-bottom: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
}
[type=checkbox]+label:before {
    margin-top: 4px;
}