@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

.esquema {
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: solid 1px;
    margin-bottom: 0.4rem;
    .filtro-indicadores{
        font-size: 0.7rem;
        margin-bottom: 0.4rem;
    }
    .indicador{
        display: inline-block !important;
        width: $long-default;
        height: $long-default;
        @include colores();
    }
}
.ajusteTitulo{
    margin: auto;
    padding-left: 0.8rem;
}
.titleMC{
    color: $unitec_principal;    
}
.descMC{
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.2;    
}
.icons-mapa{
    display: flex;
    justify-content: flex-end;
    a{
        margin: $long-small 0;
        cursor: pointer;
        i, span{
            margin: 0 !important;
        }
        // i.activator{
        //     padding: 0;
        // }
    }
    a:last-child{
        width: 24px;
        margin-right: 0;
    }
}
.btn-materia{
    @include flexCenter();
    justify-content: center;
    flex: 1;
    width: default;
    height: default;
    margin: $long-extra-small;
    color: $texto_secundario;
    text-align: center;
    padding: $long-small;
    border-radius: 3px;
    max-width: calc(50% - 4px);
    font-size: .825rem;
    @include colores();
    &:first-child{
        margin-left: 0; 
    }
    &:last-child{
        margin-right: 0;
    }
    a{
        font-weight: $Roboto-regular;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: inherit;
        font-size: inherit;
    }
}
.c-b-mapa-curricular{
    padding: 0 11px;
}
.borde-card{
    border-bottom:2px solid $unitec_principal !important;
    box-shadow:none !important;
    border-radius:0 !important;
}
.btn-share{
    font-size:2.313rem !important;
}
.btn-social-media{
    box-shadow:none !important;
    background-color:transparent !important;    
}
.descarga-plan{
    color:$titulos_principales !important;
    font-size:$h2 !important;
}
.inline-ul{
    padding-top:1rem;
    display: flex;
    justify-content: space-around;
}