@import "../generales/_variables_temaunitec";

.collapse .container .container li a{
    color: $titulos_secundarios;
    display: block;
}
footer{
    .fullBlue{
        padding: $long-default;
        background-color: $unitec-principal;
        color: $titulos_secundarios;
        .divisor{
            color: $unitec_secundario;
            font-weight: $Roboto-bold;
            font-size: 2rem;
        }
        hr{
            border: 1px solid rgba(190,190,190,.3); 
        }
        .footerCollapse{
            color: $titulos_secundarios;
            a{
                color: $titulos_secundarios;
                margin-left:0;
            }
        }
        .fullBlueRedes a i{
            margin-right: $long-default;
            font-size:2rem;
            color: white; 
        }
        #footerCascada {
            div{
                font-weight: $Roboto-light;
                padding: 0;
            }
            table tbody tr td{
                padding: $long-medium 0;  
            }
        }
    }
    .info p a, p b{
        color: $titulos_principales;
        font-size:0.875rem;
    }
}
.footerCollapse{
    color: $unitec-principal;
}
footer .citeFullBlue{
    font-size: .5rem;
    font-weight: $Roboto-regular;
    padding: $long-small;
    text-align: center;
}
footer .terminos{
    font-size: $long-medium;
}
footer .acuerdo{
    font-size: $long-extra-medium;
    font-weight:$Roboto-medium;
}
.sponsors{
    height: 20px !important;
    margin-right: $long-extra-small;
    width: auto !important;
}
#inputMailFooter{
    border: 1px solid white !important;
    padding: 0 !important;
    margin: 0 !important;
}
.contacto-inscripcion{
    font-weight: $Roboto-light;
    h2 a{
        display: flex;
        align-items: center !important;
        color: inherit !important;
        i, span{
            padding-right: .5rem;
        }
    }
}
/* Se elimina espaciado del contenedor de los collapsables */
.fix-container{
    padding-left:0rem !important;
}
.fix-content >li{
    margin-bottom:0.5rem;
}
/* End Se elimina espaciado del contenedor de los collapsables */