@import "../generales/_variables_temaunitec";

.prodDescription{ 
    font-size: $long-default;
    font-weight: $Roboto-light;
    line-height: normal;
}
.miniSimulador{
    .row{
        .parametros{
            font-size: .93rem;
            .descuento{
                color: $carreras_derecho;
            }
        }
        .resultadoMS{
            .costoDesc{
                font-size: 2.4rem;
                font-weight: 700;
                color: $unitec_principal;
            }
            .descrip{
                width: 100%;
                display: block;
                font-size: .7rem;
                color: $titulos_principales;
            }
        }
    }
    .margen-cantidad{
        padding-left:$long-extra-small;
    }

    .margen-precio{
        padding-left:$long-default;
    }
}

.tablaSimulador{
    border: 1px solid $carreras_economicas;
    padding-bottom: $long-small;
    >.row{
        border-bottom: 2px solid $unitec_principal; 
        color: $unitec_principal;
        font-size: $h4;
        font-weight: $Roboto-medium;
        padding: 3px;
    }
}
.tblSimulador{
    .row{
        margin: $long-default 0;
        div{
            display: flex;
            align-items: center;
            &.backGray{
                color: $unitec_principal;
                background: $gray-light;
            }
        }
    }
    .btn-floating{
        bottom: -$long-normal;
        left: calc( 50% - $long-normal );
        position: absolute;
        margin: 0 auto;
        background-color: $unitec_secundario !important;
    }
}
.botonesUnitec{
    a{
        width: 100%;
        border-radius: 0px;
        color: $titulos_secundarios;
        margin: $long-small 0;
        font-size: $long-default;
        text-decoration: none;
        box-shadow:none;
        .info{
            color: $unitec_principal;
        }
        .orange{
            color: $unitec_secundario;
        }
        .default{
            color: $titulos_principales;
        }
    }
}
.dp{
    .greenTextProd{
        text-align: right;
        color: $greenPred;
        font-size: .96rem;
        font-weight: 500;
    }
    .grayText{
        text-align: right;
        font-size: .7rem;
    }
}
/*Forzar el estilo del dropdown*/
.force-select-style > ul{
    color:$titulos_principales !important;
    float: center!important;
    position: absolute!important;
    left: 49%!important;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.select-dropdown{
    color:$titulos_principales;
}