.bot-contacto i{
font-size:1.25rem !important;
}
i.icon-u.icon-u-chat-card {
font-size: 1.8rem !important;
}
.btn-principal {
background-color: #25D366!important;
width: 47px;
height: 47px;
display: flex;
align-items: center;
i{
font-size: 1.8rem !important;
}
}
.btn-ctc {
background-color: #00b2e2!important;
font-size: 1.8rem;
}
.btn-calcu{
background-color: #4285F4!important;
font-size: 1.6rem;
font-weight: bold;
}
.btn-formulario{
background-color: #4285f4!important;
font-size: 1.8rem;
}
.btn-chat-botonera {
background-color: #2829a0!important;
font-size: 1.8rem;
}
.btn-whatsapp {
background-color: #25d366!important;
font-size: 1.8rem;
}
.chatMsj{
margin-bottom: -25px;
padding-right: 5px;
position: relative;
z-index: 10;
}
.chatMsj-int-botonera, .whatsMsj-int{
margin: 4px 4px -15px 0;
position: relative;
z-index: 10;
}
.chatMsj-int {
  margin: -5px 0px 0px 30px;
  position: absolute;
  z-index: 10;
}
.notificacion{
width:18px;
height:18px;
border-radius:50%;
background-color:red;
color:white;
display:flex;
justify-content:center;
align-items:center;
font-size: 0.75rem;
}
.notificacion-int{
width:12px;
height:12px;
border-radius:50%;
background-color:red;
color:white;
display:flex;
justify-content:center;
align-items:center;
font-size: 0.5rem;
}

.fixed-action-btn ul{
bottom: 50px;
right: -4px; 
display: none
}
.fixed-action-btn.active ul {
  display: block;
}

.tooltip-info-ctc {
position: relative;
display: inline-block;
}
.tooltiptext-ctc {
visibility: hidden;
width: auto;
font-size: 1rem;
background-color: #f68b1f;
color: white;
text-align: center;
border-radius: 0.25rem;
margin-top: -2.25rem;
right: 4rem;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.3);
position: absolute;
z-index: 1;
line-height: 1;
height: 26px;
padding: 0 10px;
white-space: nowrap;
letter-spacing: 0.5px;
}
.tooltiptext-ctc:after {
content: "";
position: absolute;
right: -11px;
width: 0rem;
height: 0rem;
border-bottom: 0.75rem solid transparent;
border-top: 0.75rem solid transparent;
border-left: 0.75rem solid #f68b1f;
font-size: 0rem;
line-height: 0rem;
}
.tooltip-info-ctc:hover .tooltiptext-ctc {
visibility: visible;
}
span.btn-floating.bot-contacto{
opacity:0;
}
.botonera-gral{
bottom:35px;right:20px;z-index: 1000
}