<!-- <div class="buscador">
    <div class="input-buscador">
        <input class="input-search-sidenav" type="text" placeholder="  Buscar ..." id="gcsextrangero">
    </div>
    <div class="iconos">
        <i *ngIf="whatsbrowser == 'Chrome'" id="micExtrangero" class="icon-u-microfono microfono">
            <span class="path1"></span><span class="path2"></span>
        </i>
    </div>
</div> -->

<div class="buscador-desk d-flex align-items-center">
    <div class="buscador-desk-input d-flex w-100">
        <input type="search" class="input-search-sidenav" placeholder="Buscar..." id="gcsextrangero">
        <button type="submit" id="" class="microfono">
            <i *ngIf="whatsbrowser == 'Chrome'" id="micExtrangero" class="icon-u-microfono d-flex justify-content-center align-items-center">
                <span class="path1"></span><span class="path2"></span>
            </i>
        </button>
    </div>
</div>