$input_naranja : #f68b1f;
$input_azul_unitec : #006fba;
$bold_title:400;

.radio-input{
    width: 45%;
    text-align: center;
    cursor: pointer;
}

fieldset{
    label.label{
        font-size: 1rem;
        font-family: 'Roboto';
    }
    .icon-profesor, .icon-alumno {
        font-size: 1.5rem;  
    }
}

.fix-error{
    padding-left: 2.18rem;
    padding-top: 0.625rem;
}

// fieldset{
//     div.icon-alumno{
//         background-color:$input_azul_unitec;
//         mask-image: url(/assets/salud.svg);
//         -webkit-mask-image: url(/assets/salud.svg);
//         width: 20px;
//         height: 20px;
//         margin-right:2px;   
//     }

//     div.icon-profesor{
//         background-color:$input_azul_unitec;
//         mask-image: url(/assets/salud.svg);
//         -webkit-mask-image: url(/assets/salud.svg);
//         width: 20px;
//         margin-right: 2px;
//         height: 20px;       
//     }
// }
