.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}

::ng-deep .back{
  color: #f68b1f !important;
}

#head_close_modal{
  color: #ff8400;
  position: absolute;
  right: 21px;
  padding-top: 2px;
  background-color: #fff;
}