<div id="head_close_modal">
  <i id="icon-exit-form" class="icon-u icon-u-cerrar"></i>
</div>
<div class="home-page">
  <div class="container">
    <div class="row">
      <app-formulario-tradicional></app-formulario-tradicional>
    </div>
  </div>

  <div class="container page">
    <div class="row">
    </div>
  </div>
</div>

<!-- <a routerLink="/estado">ESTADOS</a> -->