<div class="buscador">
    <div class="input-buscador">
        <input class="input-search-sidenav" type="text" placeholder="  Buscar ..." id="gcsextrangero">
    </div>
    <div class="iconos">
        <span *ngIf="whatsbrowser == 'Chrome'" id="micExtrangero" class="icon-u-microfono microfono">
            <span class="path1"></span><span class="path2"></span>
        </span>
    </div>
</div>