//Variables principales del temaunitec
//Colores pricipales
$unitec_principal: #006fba;
$unitec_principal_b: #0f406b;
$unitec_secundario: #F68B1F;
//Titulos y texto
$titulos_principales: #757575;
$titulos_secundarios: #FFFFFF;
$texto_principal: #5a5a5a;
$texto_secundario: #FFFFFF;
//Divisores y lineas
$divisores_de_secciones: #333333;
//Lineas de negocio
$carreras_administrativas: #00afa9;
$carreras_salud: #00b2e2;
$carreras_arte_diseno: #ccdb2a;
$carreras_comunicacion_mkt: #93d3ca;
$carreras_derecho: #8b254f;
$carreras_economicas: #aba99e;
$carreras_ingenierias: #42748d;
$carreras_turismo_gastro: #eb6852;
//Fuentes
$font_gotam: Gotham (Thin, Light, book, medium);
$font_roboto: (Thin, Light, book, medium);
//Tamaños
$tamano_base_fuente_desk: 16px;
$tamano_base_fuente_mob: 12px;

//fondo prestigio
$prestigio_fondo: #F5F5F5;

//carousel
$carousel_indicator_color : #BEBEBE;
$carousel_indicator_active_color : #454545;




