.sin-estado {
    display: block;
}
.con-estado {
    display: none;
}
.img-menu{
    filter: invert(100%) brightness(.4) sepia(0) hue-rotate(0) saturate(1);
}
.presencial {
    background-image: url("assets/presencial.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.ejecutiva {
    background-image: url("assets/ejecutiva.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.en-linea {
    background-image: url("assets/onl.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}