<div class="container mt-1">
    <div class="row">
        <div class="col-12 app-menu-title">
            <div class="row">
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <a href="javascript:history.back()"><i class="icon-u icon-u-tab-izquierda back"></i></a>
                </div>
                <div class="col-8">
                    ¿En qué modalidad? 
                </div>
            </div>
        </div>
    </div>
    <hr id="divisor-menu-app" class="mt-1 mb-1">

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-left align-items-center" *ngFor="let modalidad of modalidades" (click)="setOferta(modalidad)" >
            <div *ngIf="modalidad.modalidad==1" class="img-menu presencial"></div>
            <div *ngIf="modalidad.modalidad==2" class="img-menu ejecutiva"></div>
            <div *ngIf="modalidad.modalidad==3" class="img-menu en-linea"></div>
            {{( modalidad.modalidad == 1) ? 'Presencial' : '' }}
            {{( modalidad.modalidad == 2) ? 'Ejecutiva' : '' }}
            {{( modalidad.modalidad == 3) ? 'En línea' : '' }}

        </li>
    </ul>
</div>
 