<div id="frm_problemas_cuenta" class="frm-problemas-cuenta">
    <label class="mb-2">
        ¿Tienes problemas con tu cuenta?<a href="mailto:ayudabv@my.unitec.edu.mx" target="_top"> Escr&iacute;benos</a>
        <br>
        ¿Eres exalumno y tienes problemas con tu cuenta?<a href="mailto:exalumno@service.unitec.mx" target="_top"> Escr&iacute;benos</a>
    </label>
</div>