$input_naranja : #f68b1f;
$input_azul_unitec : #006fba;
$titulos_principales: #757575;
$input_inactive : #ffffff;
$bold_title:400;

.btn{
    box-shadow: none;
}

.content-close{
    background:#000;
    height:24px;
    width: 100%;
}

.modal-login-biblioteca {
    overflow-y: hidden !important;
    padding-right: 0px !important;
}

.adapt-row-biblioteca {
    width: 100%;
}

.modal-fluid {
    // max-width: none;
    position: relative;
    margin: 0 auto;
}

.titulo-formulario{
    color: $input_azul_unitec;
}

// ::ng-deep a
.div-btn-ingresar{
    // color: $input_naranja;
    width: 100%;
}

.btn_ingresar{
    background: $input_naranja;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.modal-footer, .modal-header{
    border: none;
    width: 100%;
}

.modal-footer{
    margin-top: -35px;
}

.modal-header{
    padding: 0;
    overflow: hidden;

    img{
        width: 100%;
    }
}

.btn-close{
    color: $input_inactive;
}

.dominio{
    font-size: .9rem;
    padding-top: 1.75rem;
}

.titulo-modal{
    font-weight:$bold_title;
    padding-top: .1rem;
    font-size: 1.875rem;
}

.contenido-modal{
    width: 100%;
    margin: auto;
    max-width: 540px;
    .modal-content {
        height: 100%;
        border-radius: 5px;
    }
}

.aviso-privacidad{
    padding-top: 0.875rem;
    margin-bottom: 0;
}

.icono-biblioteca{
    font-size: 4rem;
}

#preload-library{
    padding-bottom: 1rem;
    i{
        font-size: 3rem;
    }
}
// .logo-formulario-biblioteca{
//     background-color:$input_azul_unitec;
//     mask-image: url(/assets/salud.svg);
//     -webkit-mask-image: url(/assets/salud.svg);
//     width: 48px;
//     height: 48px;
// }
.content-logo{
    width: 100%;
    color: $titulos_principales;
}
.cuenta{
    margin-bottom: 0;
    margin-top: -.625rem;
}