<!-- Modal -->
<div class="modal fade modal-login-biblioteca" id="modal_frm_biblioteca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Cintillo para cerrar el formulario -->
    <!-- <div id="head_close_modal">
        <i id="icon-exit-form" class="icon-u icon-u-cerrar"></i>
    </div> -->
    <div class="h-100 d-flex align-items-center">
        <div class="modal-dialog modal-fluid contenido-modal" role="document">
            <!--Content-->
            <div class="modal-content modal-header">
                <!-- <div class="row content-close">
                    <i class="icon-u  icon-u-cerrar btn-close" id="btn-close"></i>                   
                </div> -->
                <div class="row adapt-row-biblioteca">
                    <div class="col-11 titulo-formulario title-modal-desk text-center">
                    </div>
                    <div class="col-1 p-2 titulo-formulario">
                        <div class="row steps-row d-flex justify-content-around">
                            <button type="button" class="close cerrar-modal" data-dismiss="modal" aria-label="Close">
                            </button>
                            <div class="icons-desktop d-flex align-items-center justify-content-center">
                                <a href="javascript:void(0)" data-dismiss="modal">
                                    <i class="icon-u icon-u-cerrar" data-dismiss="modal"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="row">
                    <div class="img-formulario">
                        <img id="img-form-biblioteca" src="" alt="img-form" class="img-header">
                    </div> -->
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <!-- </div> -->
                
                <!--Header-->            
                <!-- div para el icono y el titulo -->
                <div class="row content-logo pt-1 pl-5 pr-5">
                    <div class="col-2 p-0 logo-formulario-biblioteca">
                        <i class="icon-u icon-u-biblioteca icono-biblioteca"></i>
                    </div>
                    
                    <div class="col-10">
                        <h2 class="titulo-modal">{{ titulo }}</h2>
                    </div>                
                </div>            
                
                <!--Body formulario-->            
                <div class="modal-body modal-body-login col-12 pl-5 pr-5">
                    <!-- <span [formGroup]="formularioLogin"> -->
                        <div id="faseUno">
                            <div class="mt-1">
                                <frm-radio-perfil-alumno-maestro [formularioPadre] = "formularioLogin" [fase]="primerPaso"></frm-radio-perfil-alumno-maestro>
                            </div>
    
                            <div class="row mt-2">
                                <div class="col-7">
                                    <frm-mail-login [formularioPadre] = "formularioLogin" [fase]="primerPaso"></frm-mail-login>
                                </div>
                                <div class="col-5 dominio">{{ dominio_Correo}}</div>                            
                            </div>
    
                            <div class="col-12 p-0 mt-1 cuenta">
                                <frm-ncuenta [formularioPadre] = "formularioLogin" [fase]="primerPaso" [asterisk]="false"></frm-ncuenta>
                            </div>
    
                            <div class="col-12 p-0 mt-2 aviso-privacidad">
                                <app-frm-aviso-de-privacidad [formularioPadre] = "formularioLogin" [fase]="primerPaso"></app-frm-aviso-de-privacidad>
                            </div>                            
                        </div>
    
                        <div id="preload-library" class="text-center p-0"></div>    
                    <!-- </span> -->
                </div>            
                <!-- Body formulario-->
    
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <div class="div-btn-ingresar pb-1 pl-4 pr-4">                                
                        <button  type="submit" (click)="enviar()" id="{{btn_ingresar}}" class="btn btn_ingresar">
                            Ingresar.
                        </button>                   
                    </div>                            
                </div>
                <!-- Modal Footer -->
                <div class="col-8 text-center">                    
                    <frm-problemas-cuenta></frm-problemas-cuenta>                   
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
<!-- Modal -->

<div class="contenido-buscador d-flex mb-6 mt-6 content-busqueda-integrada" style="display: none!important">
    <frm-busqueda-integrada class="w-100"></frm-busqueda-integrada>
</div>
<!-- Background -->