<!-- Modal -->
<div class="modal modal-tarjeta" id="modal_frm_app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Cintillo para cerrar el formulario -->
    <div id="head_close_modal" style="display: none">
        <div class="row h-100">
            <div class="col-10 titulo-formulario title-modal-desk text-center">
                <h3 class="title-inside-head mb-0">{{ titulo_modal_formulario }}</h3>
            </div>
            <div class="col-2 titulo-formulario">
                <div class="row steps-row d-flex justify-content-around">
                    <p class="mb-0 d-flex align-items-center">Paso <span class="step-row-one"> 1 </span> de 6</p>
                    <button type="button" class="close cerrar-modal" data-dismiss="modal" aria-label="Close">
                    </button>
                    <div class="icons-desktop d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)" data-dismiss="modal">
                            <i class="icon-u icon-u-cerrar" data-dismiss="modal"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content d-flex align-items-center justify-content-center">
            <!--Header-->
            <!-- <div class="modal-header modal-header-formulario">
                <div class="container contenedor-header-p"> -->
                    <!-- div para imagen de fondo -->
                    <!-- <div class="row img-header-formulario">
                    </div> -->
                    <!-- div para el icono y el titulo -->
                    <!-- <div class="row titulo-logo">
                        <div class="col-2 logo-formulario">
                        </div>
                        <div class="col-10 titulo-formulario">
                            <h1>{{ titulo_modal_formulario }}</h1>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Header segundo paso -->
            <!-- <div class="modal-header modal-header-app" style="display: none;">
                <button type="button" class="close cerrar-modal" data-dismiss="modal" aria-label="Close">
                </button>
                <div class="col-2 titulo-icono">
                </div>
                <div class="col-10 titulo-modal">
                    <h4 class="titulo modal-title w-100" id="myModalLabel">{{ titulo_modal_formulario }}</h4>
                </div>
            </div> -->
            <!-- Header thank you page -->
            <div class="modal-header modal-header-thankyou" style="display: none;">
                <div class="container contenedor-header">
                    <!-- div para imagen de fondo -->
                    <div class="row img-header-thankyou">
                    </div>
                    <!-- div para el icono y el titulo -->
                    <!-- <div class="row titulo-logo">
                        <div class="col-2 logo-thankyou">
                            ICONO
                        </div>
                        <div class="col-10 titulo-thankyou">
                            <h2>Thank you page</h2>
                        </div>
                    </div> -->
                </div>
            </div>
            <!--Body formulario-->
            <div class="modal-content-tarjeta" id="body-form-todo">
                <app-formulario-tradicional></app-formulario-tradicional>
            </div>
            <!-- Body thankyoupage -->
            <div class="modal-body-thankyou" style="display: none;">
                <div class="modal-content-tarjeta p-5" id="body-form-todo">
                    <div class="container solicitaInfo">
                            <div class="content-gral d-flex justify-content-center">
                                <div class="col-lg-12 col-xl-6 card-blue p-5 d-flex align-items-center">
                                    <div class="overlay">
                                        <div class="card-desc">
                                            <div class="row titulo-logo">
                                                <div class="col-12">
                                                    <h3 class="tit-desc m-0 modal-titulo-descuentos">¡Gracias por dejarnos tus datos!</h3>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-12">
                                                    <h4 class="sub-desc">Solicitaste información sobre:</h4>
                                                </div>
                                            </div>
                                            <div class="lista-desc mb-2 col-12">
                                                <ul class="mt-2">
                                                    <li class="desc-ind d-flex align-items-center" id="thank-linea" *ngIf="complete_cookie !== undefined">
                                                        <!-- {{ complete_cookie.linea | lowercase }} {{ good_name_career }} -->
                                                        <div class="col-1 offset-1">
                                                            <i class="icon-u-licenciaturas"></i>
                                                        </div>
                                                        <div class="col-10">
                                                            {{ complete_cookie.linea | lowercase | capitalize }} en {{ good_name_career }}
                                                        </div>
                                                    </li>
                                                    <li class="desc-ind d-flex align-items-center" id="thank-modalidad" *ngIf="modalidadNombre !== undefined">
                                                        <div class="col-1 offset-1">
                                                            <i class="icon-u-modalidades-de-estudio"></i>
                                                        </div>
                                                        <div class="col-10">
                                                            {{ modalidadNombre }}
                                                        </div>
                                                    </li>
                                                    <li class="desc-ind d-flex align-items-center" id="thank-campus" *ngIf="campusNombre !== undefined">
                                                        <div class="col-1 offset-1">
                                                            <i class="icon-u-campus"></i>
                                                        </div>
                                                        <div class="col-10">
                                                            Campus {{ campusNombre }}
                                                        </div>
                                                    </li>
                                                    <!-- <li class="desc-ind d-flex align-items-center" id="thank-ciclo" *ngIf="cicloTexto !== undefined">
                                                        <div class="col-1 offset-1">
                                                            <i class="icon-u-calendario"></i>
                                                        </div>
                                                        <div class="col-10">
                                                            Iniciar {{ cicloTexto }} 2018
                                                        </div>
                                                    </li> -->
                                                </ul>
                                            </div>
                                            <h4 class="sub-desc">{{ textAfterList }}</h4>
                                            <div class="col-12 d-flex justify-content-around mt-1 p-0">
                                                <!-- <div class="col-6 p-1">
                                                    <a class="link-thankyou d-flex align-items-center justify-content-center" id="link-to-campus-study">
                                                        <i class="pr-2 icon-u-plan"></i>
                                                        <div>
                                                            Plan de Estudios
                                                        </div>
                                                    </a>
                                                </div> -->
                                                <!-- <div class="col-4 p-1">
                                                    <a class="link-thankyou d-flex align-items-center justify-content-center" id="link-to-campus-beca">
                                                        <i class="pr-2 icon-u-becas-academicas"></i>
                                                        <div>
                                                            Calcula tu beca
                                                        </div>
                                                    </a>
                                                </div> -->
                                                <div class="col-6 p-1">
                                                    <a class="link-thankyou d-flex align-items-center justify-content-center" id="link-to-campus-finantial" href="/respaldo-economico-unitec#detalle">
                                                        <i class="pr-2 icon-u-becas-y-financiamientos"></i>
                                                        <div>   
                                                            Financiamientos
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="legales modal-terminos-descuentos"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-5 card-white d-flex align-items-center p-0">
                                    <div class="card-body card text-md-left card-left p-4 d-flex align-items-end">
                                        <div class="icons-desktop d-flex align-items-center justify-content-center">
                                            <a href="" data-dismiss="modal">
                                                <i class="icon-u icon-u-cerrar" data-dismiss="modal"></i>
                                            </a>
                                        </div>
                                        <h4 class="second-sub-desk text-align-left w-100">UNITEC Campus {{ campusNombre }}</h4>
                                        <div class="card collection-card z-depth-1-half">
                                            <!--Card image-->
                                            <a id="link-to-campus">
                                                <div class="view zoom portada-galeria" id="campus-instalaciones">
                                                    <img src="" alt="" id="image-virtualtour" class="img-fluid centrar flex-custom" *ngIf="titleVirtual !== null">
                                                    <!-- <?php echo do_shortcode( '[icono nombre="'.sanitize_title("hospital-simulado").'"][/icono]' ); ?> -->
                                                    <div class="stripe dark">
                                                        <p class="title-galerias" id="title-virtualtour"><i class="icon-u-instalacion pr-2"></i>Conoce más</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <!--Card image-->
                                        </div>
                                        <h4 class="legend-card mt-1 mb-1" id="descripcionThanks">Impulsamos tu esfuerzo recompensándote con una Beca Académica de Primer Ingreso. Conoce el porcentaje que te corresponde según tu promedio.</h4>
                                        <div class="w-100" id="div-btn-continuar">
                                            <div class="div-btn-continuar">
                                                <a href="/calcula-tu-beca" (click)="setCookiePasoCalculadora()">
                                                    <button class="btn btn-primary btn-frm m-0" id="continuarTrd">
                                                        Calcula tu beca
                                                    </button>
                                                </a>
                                                
                                                <!-- <button type="submit" class="btn btn-primary btn-frm" id="enviarTrd" style="display:none">
                                                                                                                {{ btnEnviar }}
                                                                                                            </button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-12 primer-texto-thankyou">
                            <span id="nombre-thankyou"></span> <label id="txt-thanks">Gracias por proporcionarnos tus datos. En breve te enviaremos la información que nos solicitas de:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 segundo-texto-thankyou">
                            Compártenos tu promedio para conocer tu porcentaje de beca y tu colegiatura para:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 tercer-texto-thankyou">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mini-app">
                            <div class="form-group row fila-botones">
                                <div class="centered div-btn-continuar">
                                    <button type="submit" class="btn btn-primary btn-frm" id="calcula-tu-beca" (click)="calculadora();">
                                        CALCULA TU BECA
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->
<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_frm_app">
    Modal formulario tradicional diseño app
</button> -->