<span [formGroup]="formularioPadre">
    <div class="form-group" formGroupName="{{ fase }}">
        <div class="md-form div-content">
        <input  type="text" 
                class="form-control" 
                formControlName="frm_mail_login"
                onpaste="return false;"
                tabindex="4"
                (keypress)="reglasInputs($event)" 
                >
            <label for="frm_mail_login">Ingresa Correo My Unitec: 
                    <span [ngClass]="{ asteriskDisplay : !asterisk }" style="color: red">*</span>
            </label>           
            
            <div class="myFeedBackError" *ngIf="formularioPadre.get(inputComponent).errors  && 
                                                formularioPadre.get(inputComponent).dirty">
                <div *ngIf="formularioPadre.get(inputComponent).errors.fieldError">
                    {{formularioPadre.get(inputComponent).errors.customErrorMessage}}
                </div>
            </div>
        </div>
    </div>
    </span>