@charset "UTF-8";
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
/*Estilos para visualizar el 100% de la viewport ajustarse si se cambia altra del menu*/
@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotateX(0deg);
    /* Safari */
    transform: rotateX(0deg); }
  60% {
    -webkit-transform: rotateX(360deg);
    /* Safari */
    transform: rotateX(360deg); }
  80% {
    -webkit-transform: rotateY(360deg);
    /* Safari */
    transform: rotateY(360deg); } }
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite; }

body {
  color: #757575;
  font-weight: 500; }

a {
  text-decoration-line: none; }

section {
  background-color: #ffffff; }

/**************** Inicio de estilos de Banner boton Share y color de texto ***************/
/* inician estilos share */
.boton-size-d {
  font-size: 1rem; }

.banner-share {
  position: relative;
  font-size: 1.75rem; }
  .banner-share .social-reveal {
    position: absolute;
    display: flex;
    top: .125rem;
    left: 1rem;
    width: 20rem;
    visibility: hidden;
    /* Tama├▒o contenedor iconos redes sociales */
    /* width: 150px; */
    /* Tama├▒o contenedor iconos redes sociales */
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease-in-out; }
  .banner-share .social-reveal-active {
    z-index: 11;
    visibility: visible;
    transform: translateZ(0);
    /* Transici├│n del efecto ___ Lo que se agregue aqui se le agrega a tama├▒o de contenedor */
    transform: translateX(16px);
    /* Transici├│n del efecto ___ Lo que se agregue aqui se le agrega a tama├▒o de contenedor */
    transition: transform 0.35s ease-in-out; }
  .banner-share a i {
    color: #F68B1F; }

/* terminan estilos share */
/* inician clases para crecer el icono de redes sociales */
.icon-share-banner .path1 {
  font-size: 2rem; }
.icon-share-banner .path2 {
  font-size: 2rem; }

.btn-floating i {
  font-size: 3rem !important;
  line-height: normal; }

/* terminan clases para crecer el icono de redes sociales */
/* Texto color dependiendo de tema */
.texto_claro {
  color: #FFFFFF; }

.texto_oscuro {
  color: #5a5a5a; }

/* Texto color dependiendo de tema */
/* Estilos generales de im├ígenes y textos los banner */
.section-banner {
  min-height: calc(100vh - 55px);
  padding-top: 60px !important;
  background-color: #ffffff;
  z-index: 1000;
  position: relative; }

.bann_wind {
  height: calc(100vh - 60px);
  background-position: center;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover; }

.back-naranja-unitec {
  background-color: #F68B1F;
  box-shadow: none !important;
  padding: .75rem 1.5rem;
  font-size: 1rem; }

.back-naranja-unitec-2 {
  background-color: #F68B1F;
  font-weight: normal;
  font-size: 0.875rem;
  box-shadow: none !important;
  width: 100%; }

.boton-gris {
  background-color: #757575; }

.boton-azul {
  background-color: #42748D; }

.bg-light {
  background-color: #ffffff; }

.bg-video {
  background-color: rgba(0, 0, 0, 0.5); }

.p-heredada {
  position: inherit; }

.title-banner {
  font-weight: normal;
  text-transform: uppercase; }

.descripcion-banner {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 0.5rem; }

.subtitulo-banner {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 0.5rem; }

.share-button {
  position: relative;
  top: 0.25rem; }

.inline-ul {
  margin-top: 0.25rem; }

/* Terminan lso estilos generales de im├ígenes y textos los banner */
/* indicadores circulares de slide del banner */
.indicadores {
  position: absolute; }
  .indicadores li {
    max-width: 0.625rem !important;
    min-height: 0.625rem !important;
    margin-left: 0.625rem;
    background-color: #ededed !important;
    box-shadow: 0 0 8px 0.5px rgba(0, 0, 0, 0.5); }
  .indicadores .active {
    background-color: #F68B1F !important;
    max-width: 1rem !important;
    height: 1rem !important;
    position: relative;
    top: -0.15rem; }

/* indicadores circulares de slide del banner */
/**************** Fin de estilos de Banner boton Share y color de texto ***************/
/* inician estilos del men├╣ desplegable izquierdo */
.side-nav {
  z-index: 2000; }
  .side-nav .scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #006fba;
    border-radius: 10px; }
  .side-nav .scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 7px;
    background-color: #006fba; }
  .side-nav .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(15, 64, 107, 0.5); }
  .side-nav .side-nav-content {
    background: #006fba !important;
    width: 100%; }
    .side-nav .side-nav-content .side-nav-header {
      position: relative; }
      .side-nav .side-nav-content .side-nav-header .controls {
        justify-content: space-between; }
        .side-nav .side-nav-content .side-nav-header .controls .logoNav img {
          height: 30px; }
        .side-nav .side-nav-content .side-nav-header .controls .btnCerrar {
          font-size: 1.5rem;
          color: #ffffff; }
        .side-nav .side-nav-content .side-nav-header .controls i.logo {
          font-size: 2rem; }
        .side-nav .side-nav-content .side-nav-header .controls span {
          margin: .5rem !important; }
          .side-nav .side-nav-content .side-nav-header .controls span::before {
            color: #ffffff; }

/* terminan estilos del men├╣ desplegable izquierdo */
/**************** Terminan estilos del menu *********************/
/**************** Inician estilos de t├¼tulos y subt├¼tulos generales *********************/
.titleSection {
  font-size: 1.75rem;
  font-weight: 400; }

.descriptionSection {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.5px; }

/**************** Terminan estilos de t├¼tulos y subt├¼tulos generales *********************/
/**************** Inician estilos de botones layout (Ver M├ís) *********************/
.verMas {
  color: #F68B1F !important;
  font-weight: 300 !important;
  font-size: 1rem !important; }

.verMas:hover {
  color: #F68B1F !important;
  font-weight: 400 !important; }

/**************** Terminan estilos de botones layout (Ver M├ís) *********************/
/**************** Inicia estilo ocultar popUp barra calculadora *********************/
input[type=range] + .thumb.active {
  display: none !important; }

/**************** Termina estilo ocultar popUp barra calculadora *********************/
/************* Microsoft Edge Browser 12+ (All) - @supports method *****************/
@supports (-ms-ime-align: auto) {
  .side-nav .side-nav-content {
    width: 30%; } }
/*********************** Safari 10.1+ (alternate method) ***************************/
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .side-nav .side-nav-content {
      width: 30%; } } }
