//Variables principales del temaunitec
//Colores pricipales.
//Estas variables aplican para padding y margin
$long-extra-small: 0.25rem;  //4px
$long-small:       0.5rem;   //8px
$long-medium:      0.75rem;  //12px
$long:             0.875rem; //14px
$long-default:     1rem;     //16px
$long-normal:      1.125rem; //18px

$font-size-default: $long-default;

$long-extra-medium:	0.625rem;	//10px
$h6 :  $long-normal;     		//18px;
$h5 :  1.25rem;        			//20px;
$h4 :  1.375rem;       			//22px;
$h3 :  1.5rem;         			//24px;
$h2 :  1.75rem;        			//28px;
$h1 :  2.0625rem;      			//33px;

$unitec_principal: #006fba;
$unitec_principal_b: #0f406b;
$unitec_secundario: #F68B1F;
//Titulos y texto.
$titulos_principales: #757575;
$titulos_secundarios: #FFFFFF;
$texto_principal: #5a5a5a;
$texto_secundario: #FFFFFF;
//Divisores y lineas
$divisores_de_secciones: #333333;
//Lineas de negocio
$carreras_administrativas: #00afa9;
$carreras_salud: #00b2e2;
$carreras_arte_diseno: #ccdb2a;
$carreras_comunicacion_mkt: #93d3ca;
$carreras_derecho: #8b254f;
$carreras_economicas: #aba99e;
$carreras_ingenierias: #42748d;
$carreras_turismo_gastro: #eb6852;

$gray-light : #ededed;
$greenPred: #007E33; //bootstrap determinado  #00c851
$grayPred : #939393;
$redPred: #cc0000;
$black: black;

$color-hover-cascade: #EEE;

//Fuentes
$font_gotam: Gotham (Thin, Light, book, medium);
$font_roboto: (Thin, Light, book, medium);

$Roboto-thin:    200;
$Roboto-light:   300;
$Roboto-regular: 400;
$Roboto-medium:  500;
$Roboto-bold:    700;

//Tamaños: las medidad proporcionadas por tania cambiaron por las anteriores 
$tamano_base_fuente_desk: $long-default; //16px
$tamano_base_fuente_mob:  $long-medium;  //12px

//fondo prestigio
$prestigio_fondo: #F5F5F5;

$borde-gris: 1px solid rgba(0,0,0,.125);