//Importamos los estilos que se ocupan en todo el sitio
@import "mixins_mobile.scss";
//@import "../secciones/mob_1_menu.scss";
//@import "../secciones/mob_21_footer.scss";

//Estilos generales que aplican para el body por ejemplo
html, body{
    font-size: $font-size-default;
    color: $titulos_principales;
}
.margen-top-menu{
    height: 51px;
}
.icon-u-cerrar, .icon-u-ver-derecha, .icon-u-ver-izquierda, .icon-u-tab-derecha, .icon-u-tab-izquierda, .icon-u-ver-mas, .icon-u-compartir{
    font-size:$h3;
}

.custom-indicadores li{
    background-color:#454545 !important;
    margin-left:5px;
}

.custom-indicadores .active{
    background-color:#bebebe !important;
}

.link-simple-list{
    color: $titulos_principales !important;
}

/* Eliminar el espaciado que hay en los collapsables */

.fix-card-block{
    padding-top:0 !important;
}
/* End Eliminar el espaciado que hay en los collapsables */

/*Fix remove bold a texto secundario a la card de prestigio*/
.fix-texto-secundario{
    font-size: $long-default;
    font-weight: $Roboto-regular;
    display:inline;
}
/*Fix remove bold a texto secundario a la card de prestigio*/

/*Fix para dar margen y borde entre el contenido, imagen y collapasble*/
.card-text{
    margin-bottom:0.625rem !important;
}

.border-top-fix{
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom:none !important;
}

.fix-top-space{
    margin-top:-2px !important;
}
/*Fix para dar margen entre el contenido, imagen y collapasble*/

/*Ajuste a bold titulos carreras de interes*/
.title-nuevas-carreras{
    font-weight:$Roboto-regular !important;
}
/*Ajuste a bold titulos carreras de interes*/

/*Fix para los iconos de la card nuestros campus */
.fix-margen-icono{
    padding-left: .75rem;
}
/*End Fix para los iconos de la card nuestros campus */

/* Fix para Corregir altas y bajas en la clase md-form label */
.div-productos, 
.division-div,
.md-form label {
    text-transform: unset !important;
}
/* Fix para Corregir altas y bajas en la clase md-form label */

.bt{
    border-top: 1px solid rgba(0,0,0,.125);
}

.bb{
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.bsn{
    box-shadow: none;
}

.lh-0{
    line-height: 0;
}

.cintillo{ //El padre de este elemto debe ser flex column reverse ver geolocalizacion
    background-color: rgba(0,80,160,.7);
    position: absolute;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px;
    width: 100%;
}

a.linkSecundario{
    margin: 0;
    font-size: $long-default;
    font-weight: $Roboto-regular;
    padding: 0px !important;  
    display: inline-block !important;
    color: $unitec_secundario !important;
}

.botonSecundario{
    padding: $long-small $long-default;
    display: inline-block !important;
    color: $texto_secundario;
    background-color: $unitec_secundario;
    outline: none;
    border: 0 solid transparent;
    margin-bottom: 0;
}

//Estilos para el boton especial centrado
.special{
    bottom: -18px;
    left: calc(50% - 18px);
    position: absolute;
    margin: 0 auto;
    background-color: #f68b1f!important;
}

.vertical-centered-text {
    @include flex();
    align-items: center;
    justify-content: center;
}

//colores...
//font
.back-gris-unitec{ background-color: $grayPred }
.back-azul-secundario{ background-color: #42748d }
//back
.back-naranja-unitec{ background-color: $unitec_secundario; }
.bg-light{ background-color: #fff }
.bg-video{ background-color: rgba(0,0,0,0.5) }

.roboto-thin    { font-weight: 200; }
.roboto-light   { font-weight: 300; }
.roboto-regular { font-weight: 400; }
.roboto-medium  { font-weight: 500; }
.roboto-bold    { font-weight: 700; }

// Estilo para tachar texto
.tachado{
    text-decoration:line-through;
}

/* Inician estilos para dropdown custom */
.prodColapsables{
    @include flex();
    margin: $long-small 0;
    font-size: $long-medium;

    .dropdown{
        flex: 1;
        @include flex();
        padding: $long-small;
        border: 1px solid $unitec_principal;

        .drop-view{
            @include flex();
            flex-direction: row;
            align-items: center;
            flex: 1;

            .drop-text{
                display: flex;
                flex: 1;
                flex-direction: column;
                font-size: .75rem;

                label{
                    margin-right: .25rem !important;
                    font-weight: $Roboto-light !important;
                    align-items: center;
                    margin: 0;
                    display: block !important;
                    &:nth-child(1){
                        font-size: $long-default;
                        font-weight: $Roboto-medium !important;
                    }
                }
                
            }
            
            i{
                width: 20px;
                color: $unitec_principal;
            }
        }
        .dropdown-menu{
            padding: 0px .5rem;
            min-width: 100%;
            .dropdown-item{
                border-bottom: 1px solid #757575;
            }
            .dropdown-item:last-child{
                border-bottom: none;
            }
        }
    }
    .dropdown:first-child{
        margin-right: $long-small;
    }
    .dropdown:last-child{
        margin-left: $long-small;
    }

    @media ( max-width: 340px ) {
        display: block;
        .dropdown{
            margin: $long-small 0 !important;
        }
    }
}
/* Finalizan estilos para dropdown custom */

.select-box{
    padding: 4px;
    flex: 0 0 calc( 50% - 23px);
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    border: 1px solid $unitec_principal;
    label{
        margin: 0;
    }
    .select-custom{
        display: flex;
        align-items: center;
        
        .select-wrapper{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            input.select-dropdown{
                height: default;
                line-height: normal;
            }
        }
        
        span:before, i:before{
            display: inline-block;
            padding: 0 4px;
        }
    }
    &:first-child{
        margin: 0 8px 0 15px;
    }
    &:last-child{
        margin: 0 15px 0 8px;
    }
}


section#tabNav{
    @include flex();
    align-items: center;
    &.free{
        align-items: end;
        i.direccionales{
            &:first-child{
                margin-right: 5px;
            }
            &:last-child{
                margin-left: 5px;
            }
        }
    }
    .tabs-wrapper{
        flex: 1;
        ul.nav{
            &::-webkit-scrollbar {
                display: none;
                width: 0px;
                height: 0px;
            }
            ::-moz-scrollbar-track {
                -moz-box-shadow: inset 0 0 6px red;
                background: red;
            }
            ::-moz-scrollbar-thumb {
                border-radius: 10px;
                -moz-box-shadow: inset 0 0 6px red;
                background: greenyellow;
            }
            li.nav-item{
                width: 100%;
            }
        } 
    }
    i.direccionales{
        color: $unitec_secundario;
        &:first-child{
            margin-right: 5px;
        }
        &:last-child{
            margin-left: 5px;
        }
    }
}
/* Finalizan estilos para tabs custom */
.nextSeccion{ 
    padding: 10px;
    font-weight: $Roboto-regular;
    display: inline-block !important;
    color: $texto_secundario;
    background-color: $unitec_principal;
    outline: none;
    border: 0 solid transparent;
}

/* Inician estilos para lista simple */
.simple-list{
    width: 100%;
    margin: 0;

    &.no-active.active{
        background-color: transparent;
    }
    .list-item-container {
        @include flex();
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,.125);  //antes 125

        /*Fix para pintar border en colapsables*/
        // border-top: 1px solid rgba(0,0,0,.125);
        /*Fix para pintar border en colapsables*/

        .calendario{
            @include flex();
            margin: 0 0 0 1.5rem;
            flex-direction: column;
            line-height: 2.5rem;
            justify-content: center;
            align-items: center;
            min-width: 81px;
            max-width: 81px;
            min-height: 80px;
            padding: 0 $long-small;
            
            > * {
                margin: 0;
            }

            .dia{
                font-size: 3.125rem;
                font-weight: $Roboto-bold;
                max-height: 2.25rem;
            }
            .mes{
                font-size: $long-medium;
                font-weight: $Roboto-medium ;
            }
        }
        .item-icon{
            @include flex();
            justify-content: center;
            align-items: center;
            min-width: 3.375rem;
            max-width: 3.375rem;
            min-height: 3.375rem;
    
            span, i{
                font-size: $h2;
            }
        }
        .item-description {
            padding: $long-default .3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            line-height: normal;
            h6{
                font-weight: $Roboto-light;
            }
            a{
                color: $titulos_principales;
                .active{
                    color: $titulos_principales;
                }
                &.linkSecundario{
                    line-height: $long-small;
                    text-align: right;
                }
            }
            p{
                margin:0;
                font-size: $font-size-default;
                font-weight: $Roboto-medium;
                a{
                    text-decoration: none;
                    cursor: pointer;
                    b{
                        color: #006fba;
                        font-size: $h3;
                        font-weight: $Roboto-medium;
                    }
                }
                
                :hover{
                    font-weight: $Roboto-medium;
                }
            }
        }
        .arrow{
            padding: $long-small;
            display: flex;
            align-items: center;
            i,span{
                display: flex;
                font-size: $long-default;
                align-content: center;
                justify-content: center;
            }            
        }
    }
}

.listop3{
    // margin-top: $long-default;
    margin-top: 1.8rem;
    overflow: hidden;
    li{
        /* display: flex; */
        display:inline-flex;
        align-items: baseline;
        font-weight: $Roboto-light !important;  
        padding-bottom:$long-small;
        text-align:left;      
        i{
            width: 10px;
            font-size: 8px;
            color: $unitec_principal;
            padding-right: $long-default;
            flex: 1;
        }
    }
}

.card-title-comparte{
    border-bottom:1px solid $texto_principal;
    color:$texto_principal !important; 
}

.title-galerias{
    font-size:$long !important;
    font-weight:$Roboto-light;
    text-align:center !important;
}

.card-block{ 
    line-height: normal;
    /* text-align: justify; */
}

.titulo-stepper{
    font-size:$long-default;
    text-align:left;
}

.inicio-clases{
    padding: 1rem 0.7rem !important;
    a.linkCalendario{
        color: $unitec_secundario !important;
    }
}

.alineacion-collapsable{
    padding-left:2.6875rem !important;
}

/* Fix para la card Oferta Academica */
.fix-horario{
    padding-left:1.7rem;
}
/* Fix para la card Oferta Academica */

.horario{
    .horario-item{
        display: flex;
        justify-content: center;
        padding: .5rem 1.1rem;
        .horario-dia{
            display: flex;
            width: 100px;
            font-size:$long-default;
        }
        .horario-hora{
            display: flex;
            flex: 1;
            font-size:$long-default;
        }
    }
    label{
        margin: 0;
    }
}

/* Estilos para youtube Lazy*/
.youtube {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    img{
        width: 100%;
        top: -16.84%;
        left: 0;
        opacity:0.3;
        /* background: rgba(0, 0, 0, 0.2); */
    }
}

.youtube .play-button {
    width: 35px;
    height: 25px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
//Clases depuradas de archivos duplicados o inutiles
.clase_para_h1
{
    color: blue;
}

.clase_para_p
{
    color: #F68B1F;
}
/**************** Inician estilos de tìtulos y subtìtulos generales *********************/
.titleSection {
    font-size: 1.5rem;
    font-weight: 400;
}
.descriptionSection {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: .5px;
}
/**************** Terminan estilos de tìtulos y subtìtulos generales *********************/
#UnitecSideNav{
    z-index: 1050;
}
/**************** Inicia estilo ocultar popUp barra calculadora *********************/
input[type=range]+.thumb.active {
    display: none !important;
}
/**************** Termina estilo ocultar popUp barra calculadora *********************/