@import "../generales/_variables_temaunitec";
@import "../generales/mixins_mobile.scss";

body{
  color:$titulos_principales;
  font-weight: $Gotham-medium;
}
a{
  text-decoration-line:none;   
}
section{
    background-color: $white;
}
/**************** Inicio de estilos de Banner boton Share y color de texto ***************/
/* inician estilos share */
.boton-size-d{
  font-size: 1rem;
}
.banner-share {
  position: relative;
  font-size: $long-extra-large;
  .social-reveal {
      position: absolute;
      display: flex;
      top: .125rem;
      left: 1rem;
      width: 20rem;
      visibility: hidden;
      /* Tamaño contenedor iconos redes sociales */
      /* width: 150px; */
      /* Tamaño contenedor iconos redes sociales */
      transform: translateZ(0);
      transform: translateX(0px);
      transition: transform 0.35s ease-in-out;
  }
  .social-reveal-active {
      z-index: 11;
      visibility: visible;
      transform: translateZ(0);
      /* Transición del efecto ___ Lo que se agregue aqui se le agrega a tamaño de contenedor */
      transform: translateX(16px);
      /* Transición del efecto ___ Lo que se agregue aqui se le agrega a tamaño de contenedor */
      transition: transform 0.35s ease-in-out;
  }
  a{
      i{
          color: $unitec_secundario;
      }
  }
}
/* terminan estilos share */
/* inician clases para crecer el icono de redes sociales */
.icon-share-banner{
  .path1 {
      font-size: 2rem;
  }
  .path2 {
      font-size: 2rem;
  }
}
.btn-floating i {
    font-size: 3rem !important;
    line-height: normal;
}
/* terminan clases para crecer el icono de redes sociales */
/* Texto color dependiendo de tema */
.texto_claro{
    color: $titulos_secundarios;
}
.texto_oscuro {
    color: $texto_principal;
}
/* Texto color dependiendo de tema */
/* Estilos generales de imágenes y textos los banner */
.section-banner{
    @include full-screen();
    position: relative;
    // & :nth-child(1) {
    //     position:absolute;
    // }
}
.bann_wind {
    height: calc(100vh - 60px);
    background-position: center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.back-naranja-unitec {
  background-color: $unitec_secundario;
  box-shadow: none!important;
  padding: .75rem 1.5rem;
  font-size: 1rem;
}
.back-naranja-unitec-2 {
  background-color: $unitec_secundario;
  font-weight: $Gotham-Book;
  font-size: $long;
  box-shadow:none !important;
  width: 100%;
}
.boton-gris {
  background-color: $titulos_principales;
}
.boton-azul {
  background-color: #42748D;
}
.bg-light{
    background-color: $white;
}
.bg-video{
    background-color: rgba(0,0,0,0.5);
}
.p-heredada{
  position: inherit;
}
.title-banner {
    font-weight:$Gotham-Book;
    text-transform: uppercase;
}
.descripcion-banner {
    font-weight: $Gotham-Book;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.subtitulo-banner {
    font-weight: $Gotham-light;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.share-button {
    position: relative;
    top: 0.25rem;
}
.inline-ul {
    margin-top: 0.25rem;
}
/* Terminan lso estilos generales de imágenes y textos los banner */
/* indicadores circulares de slide del banner */
.indicadores {
    position: absolute;
    li {
        max-width: 0.625rem !important;
        min-height: 0.625rem !important;
        margin-left: 0.625rem;
        background-color: $gray-light !important;
        box-shadow: 0 0 8px 0.5px rgba(0,0,0,.5);
    }
    .active {
        background-color: $unitec_secundario !important;
        max-width: 1rem!important;
        height: 1rem!important;
        position: relative;
        top: -0.15rem;
    }
} 
/* indicadores circulares de slide del banner */
/**************** Fin de estilos de Banner boton Share y color de texto ***************/

/* inician estilos del menù desplegable izquierdo */
.side-nav{
    z-index:2000;
    //width:100%;
    .scrollbar-ripe-malinka::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: $unitec_principal;
        border-radius: 10px;
    }
    .scrollbar-ripe-malinka::-webkit-scrollbar{
        width: 7px;
        background-color: $unitec_principal;
    }
    .scrollbar-ripe-malinka::-webkit-scrollbar-thumb{
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: rgba(15, 64, 107, 0.5);
    }
    .side-nav-content{
        background:$unitec_principal !important;
        width: 100%;
        .side-nav-header{
            position: relative;
            //height: 80px; 
            .controls{
                justify-content: space-between;
                .logoNav {
                    img {
                        height: 30px;
                    }
                }
               .btnCerrar{
                    font-size:1.5rem;
                    color:$white;
                }
                i.logo{
                    font-size:2rem;
                }
                span{
                    margin: .5rem !important;
                    &::before{
                        color:$white;
                    }
                }
            }
        }
    }
}
/* terminan estilos del menù desplegable izquierdo */
/**************** Terminan estilos del menu *********************/

/**************** Inician estilos de tìtulos y subtìtulos generales *********************/
.titleSection{
    font-size: $long-extra-large;
    font-weight: $Gotham-normal;
}
.descriptionSection{ 
    font-size: $long-default;
    font-weight: $Gotham-light;
    line-height: 1.4;
    letter-spacing: 0.5px;
}
/**************** Terminan estilos de tìtulos y subtìtulos generales *********************/

/**************** Inician estilos de botones layout (Ver Más) *********************/
.verMas{
    color:$unitec_secundario !important;
    font-weight:$Gotham-light !important;
    font-size:$long-default !important;
}
.verMas:hover{
    color:$unitec_secundario !important;
    font-weight:$Gotham-normal !important;
}
/**************** Terminan estilos de botones layout (Ver Más) *********************/

/**************** Inicia estilo ocultar popUp barra calculadora *********************/
input[type=range]+.thumb.active {
    display: none !important;
}
/**************** Termina estilo ocultar popUp barra calculadora *********************/

/************* Microsoft Edge Browser 12+ (All) - @supports method *****************/
@supports (-ms-ime-align:auto) {
    .side-nav .side-nav-content {
        width:30%;
    } 
  }
/*********************** Safari 10.1+ (alternate method) ***************************/
@media not all and (min-resolution:.001dpcm){
    @supports (-webkit-appearance:none) {
        .side-nav .side-nav-content { 
            width:30%;
        }
    }
}
