@import "_variables_temaunitec";
@keyframes rotating {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    20% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    40%{
        -webkit-transform: rotateX(0deg); /* Safari */
      transform: rotateX(0deg);
    }
    60%{
        -webkit-transform: rotateX(360deg); /* Safari */
      transform: rotateX(360deg);
    }
    80%{
      -webkit-transform: rotateY(360deg); /* Safari */
      transform: rotateY(360deg);
    }
}
  
.rotating {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
}

@mixin noStyleMDBinput(){
    //Estilos para omitir anuncios de inpur mdbootstrap
    &:focus:not([readonly]).mySuccess{
        border: none !important;
        box-shadow: none !important;
    }
    &.mySuccess{
        border: none !important;
        box-shadow: none !important;
    }
    &:focus:not([readonly]).myError{
        border: none !important;
        box-shadow: none !important;
    }
    &.myError{
        border: none !important;
        box-shadow: none !important;
    }
    &.valid{
        border: none !important;
        box-shadow: none !important;
    }
}

@mixin lineClamp( $lineas ){
    display: -webkit-inline-box!important;
    height: ( $lineas * 1.2 ) + rem;
    -webkit-line-clamp: $lineas!important;
    -webkit-box-orient: vertical!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}

@mixin flex(){
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}

@mixin colores(){
    &.rojo{
        background-color: $carreras_turismo_gastro;
    }

    &.verde{
        background-color: $carreras_administrativas;
    }

    &.azul{
        background-color: $unitec_principal;
    }

    &.naranja{
        background-color: $carreras_arte_diseno;
    }

    &.gris{
        background-color: $titulos_principales;
    }
    
    &.azulB{
        background-color: $carreras_salud;
    }
}

@mixin flexCenter(){
    @include flex();
    align-items: center;
}

@mixin scroll-style( $color ){
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $color;
        box-shadow: inset 0 0 6px $color;
        background-color: $color;
    }
    &::-webkit-scrollbar {
        width: 0px;
        background-color: $color;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color;
    }
}

@mixin full-screen(){
    min-height: $fullvh;
    padding-top: $alturamenu !important;
    background-color: $white;
    z-index: 1000;
}
//Aliniacion vertical
@mixin vertical_align() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}