.profile_color{
	background-color: rgba(103, 166, 209, 0.23);
	margin-top: 25px;
	color:gray;
	padding-bottom: 20px;
}
.profile_color input{
	background-color: transparent;
	border: solid 1px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	width: 202px;
	height: 30px;
	padding-left: 8px;
}
.text_algoSobre{
	background-color: rgba(204, 192, 192, 0.42);
	color: gray;
	border-radius: 14px;
	border: none;
	text-align: center;
	height: 127px;
}
.subir_datos{
	border: none;
	background-color:#0D71B9 ;
	color: white ;
	width: 191px;
	height: 32px;
	border-radius: 11px;
	font-size: 19px;
	margin-top: 5px;
}

.btn-perfil{
	background: #FF9933 !important;
}