@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url('../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Thin.eot');
    src: url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Thin.eot?#iefix") format('embedded-opentype'),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Thin.woff2") format("woff2"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Thin.woff") format("woff"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Thin.ttf") format("truetype");

    font-weight: 200;
    font-display: swap;
} 
@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url('../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Light.eot');
    src: url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Light.eot?#iefix") format('embedded-opentype'),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Light.woff2") format("woff2"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Light.woff") format("woff"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url('../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Regular.eot');
    src: url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Regular.woff2") format("woff2"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Regular.woff") format("woff"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Medium.eot');
    src: url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Medium.eot?#iefix") format('embedded-opentype'),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Medium.woff2") format("woff2"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Medium.woff") format("woff"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Bold.eot');
    src: url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Bold.eot?#iefix") format('embedded-opentype'),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Bold.woff2") format("woff2"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Bold.woff") format("woff"),
        url("../../wp-content/themes/temaunitec/assets/frontend/font/generales/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

*, body {
	font-family: 'Roboto' !important;
}
h2{
	color:#006fba;
}
.header-vocacional{
	height: 50px;
	background-color: #006fba;
}
.header-vocacional .logo{
	height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-vocacional .logo img{
	width: 125px;
}
.like {
    display: flex;
    flex-direction: column;
}
#content_blog img{
	width: 100% !important;
	height: auto;
	margin:auto;
}
#content_blog p{
	font-size: 14px;
}
#fondo{
	background: url("../images/background.jpg");
	background-position: center;
	background-size: 100% 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    width: 100%;
    /*height: 100%;*/
}
#formulario-log{
	color:#096FB8;	
}
#formulario-log p{
	text-align: center;
	font-size: 16px;
}
.alerta{
	background-color: #FFF;
	width: 300px;
	height: auto;
	z-index: 999999;
}
#cboxClose{
	float:right !important;
	background-color: #FFF;
	border: 0px;
	color: #F68A20;
	position: relative;
	top:0;
}
#cboxContent{
	min-height: 50px;
	background-color: #FFF !important;
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}
#formulario-reg h4{
	background-color: #096FB8;
	color: #FFF;
	width: 100%;
	line-height: 40px;
	font-weight: 200;
	text-align: center;
}
#colorbox{
	z-index: 99999999 !important;
	height: auto !important;
}
#cboxContent{
	height: auto !important;
}
.instrucciones{
	font-size: 16px;
	color:#006fba;
	padding: 10px;
	min-height: 50px;
}
.instrucciones h2{
	text-align: center;
}
.instrucciones ul{
	text-align: center;
	padding: 0;
	list-style: none;
}
#cerrar_color{
	color:#006fba !important;
	font-weight: bold !important;
	font-size: 20px !important;
}
.border_orange{
	border: 10px #D88D13 solid;
}
.modal-header{
	border: 0px !important;
}
#test_voca{
	padding-top:10px;
}
#test_voca h1{
	color:#006fba;
	font-size: 5vh;
	font-weight: bold;
}
.respuesta{
	cursor: pointer;
	font-size:  5vmin;
	font-weight: bold;
	display: block;
}
.respuesta:hover{
	border-bottom: 2px #FFF solid;
}

/*NORMAL FOR TEST VOCA*/

#preguntas_test{
	margin-top: 20px;
	color: #FFF;
	font-size:14px;
	font-size: 3.5vmin;
	padding: 30px 15px;
	background-color:#006fba;
}
#preguntas_test ul{
	list-style: none;
	display: block;
}
#preguntas_test small{
	font-size: 10px;
	line-height: normal;
}
#grupo2_vocacional{
	display: none;
}
#grupo3_vocacional{
	display: none;
}
#grupo4_vocacional{
	display: none;
}
#grupo5_vocacional{
	display: none;
}
#grupo6_vocacional{
	display: none;
}
#grupo7_vocacional{
	display: none;
}
#grupo8_vocacional{
	display: none;
}
#grupo9_vocacional{
	display: none;
}
#grupo10_vocacional{
	display: none;
}

input[type=radio] {
	visibility: hidden;
}
input[type=radio].css-checkbox {
	position:absolute; z-index:-1000; top:-1000px;
}

input[type=radio].css-checkbox + label.css-label, input[type=radio].css-checkbox + label.css-label.clr {
	padding-left:45px;
	height:40px; 
	display:inline-block;
	line-height:40px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:40px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label, input[type=radio].css-checkbox + label.css-label.chk {
	background-position: 0 -40px;
}
label.css-label {
	background-image:url(../images/testvocacional/csscheckbox_d72d05ee1c4e5ea32d07b272e1e2ab15.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*option rojo*/			

input[type=radio].css-checkboxRED {
	position:absolute; z-index:-1000; top:-1000px;
}

input[type=radio].css-checkboxRED + label.css-labelRED, input[type=radio].css-checkboxRED + label.css-labelRED.clr {
	padding-left:45px;
	height:40px; 
	display:inline-block;
	line-height:40px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:40px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-checkboxRED:checked + label.css-labelRED, input[type=radio].css-checkboxRED + label.css-labelRED.chk {
	background-position: 0 -40px;
}

label.css-labelRED {
	background-image:url(../images/testvocacional/csscheckbox_45ebbaeb4c758f8c99ac3dedcc5190fe.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*Helpers*/
.margin-top{
	margin-top: 15px;
}

.btn-siguiente{
	color: #FFF;
	background: #D88D13;
}

.padding-zero{
	 padding: 0px !important; 
}
.redonda{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}

/*MITOS*/
#mitos{
	padding-top:10px;
	color:#006fba;
}
#mitos p{
	margin-top: 30px;
	font-size: 20px;
	color:#006fba;
	text-align: center;
}
#mitos p span{
	color:#FF8B00;
}
.padding{
	padding: 15px;
}
#area1{
	color: #FFF !important;
	background: #0071BE;
}
.white-txt{
	font-size: 16px !important;
	text-align: left !important;
	font-weight: 100;
	color: #FFF !important;
}
.padding-minus{
	padding: 16px !important;
}
#carreras1{
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #0071BE;
	-moz-box-shadow: inset 0px 0px 5px #0071BE;
	-webkit-box-shadow: inset 0px 0px 5px #0071BE;
	box-shadow: inset 0px 0px 5px #0071BE;
	/*Inner elements should not cover inner shadows*/
	/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
}
#carreras1 ul{
	color: #666;
	margin:0;  
	padding:0;  
	list-style-type:none; 
	list-style: none;
	font-size: 18px;
	display: block;
	line-height: 50px;
}
#carreras1 ul li{
	padding-left: 10px;
}
#carreras1 ul a{
	line-height: 50px;
	color:#666;
	text-decoration: none;
}
#carreras1 ul a:hover{
	color:#FFF !important;
}
#carreras1 button{
	border:0px;
	border-radius: 0px;
	background: transparent;
}
#carreras1 li:hover{
	width: 100%;
	cursor: pointer;
	background: #0071BE;
	color: #FFF !important;
}

/*Mitos Area 2*/

#area2{

	color: #FFF !important;

	background: #00B300;

}

#carreras2{

	height: 300px;

	overflow-y: scroll;

	overflow-x: hidden;

	border: 1px solid #00B300;

	-moz-box-shadow: inset 0px 0px 5px #00B300;

-webkit-box-shadow: inset 0px 0px 5px #00B300;

box-shadow: inset 0px 0px 5px #00B300;

/*Inner elements should not cover inner shadows*/

/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/





}



#carreras2 ul{

	color: #666;

	margin:0;  

padding:0;  

list-style-type:none; 

	list-style: none;

	font-size: 18px;

	display: block;

	line-height: 50px;

}



#carreras2 ul li{

	padding-left: 10px;

}

#carreras2 ul a{

	line-height: 50px;

	color:#666;

	text-decoration: none;

}



#carreras2 ul a:hover{

	color:#FFF !important;

	

}



#carreras2 button{

	border:0px;

	border-radius: 0px;

	background: transparent;

}



#carreras2 li:hover{

	width: 100%;

	cursor: pointer;

	background: #00B300;

	color: #FFF !important;

}





/*Mitos Area 3*/

#area3{

	color: #FFF !important;

	background: #FF8C00;

}

#carreras3{

	height: 300px;

	overflow-y: scroll;

	overflow-x: hidden;

	border: 1px solid #FF8C00;

	-moz-box-shadow: inset 0px 0px 5px #FF8C00;

-webkit-box-shadow: inset 0px 0px 5px #FF8C00;

box-shadow: inset 0px 0px 5px #FF8C00;

/*Inner elements should not cover inner shadows*/

/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/





}



#carreras3 ul{

	color: #666;

	margin:0;  

padding:0;  

list-style-type:none; 

	list-style: none;

	font-size: 18px;

	display: block;

	line-height: 50px;

}



#carreras3 ul li{

	padding-left: 10px;

}

#carreras3 ul a{

	line-height: 50px;

	color:#666;

	text-decoration: none;

}



#carreras3 ul a:hover{

	color:#FFF !important;

	

}



#carreras3 button{

	border:0px;

	border-radius: 0px;

	background: transparent;

}



#carreras3 li:hover{

	width: 100%;

	cursor: pointer;

	background: #FF8C00;

	color: #FFF !important;

}



/*Mitos Area 4*/

#area4{

	color: #FFF !important;

	background: #A103EA;

}

#carreras4{

	height: 300px;

	overflow-y: scroll;

	overflow-x: hidden;

	border: 1px solid #A103EA;

	-moz-box-shadow: inset 0px 0px 5px #A103EA;

-webkit-box-shadow: inset 0px 0px 5px #A103EA;

box-shadow: inset 0px 0px 5px #A103EA;

/*Inner elements should not cover inner shadows*/

/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/





}



#carreras4 ul{

	color: #666;

	margin:0;  

padding:0;  

list-style-type:none; 

	list-style: none;

	font-size: 18px;

	display: block;

	line-height: 50px;

}



#carreras4 ul li{

	padding-left: 10px;

}

#carreras4 ul a{

	line-height: 50px;

	color:#666;

	text-decoration: none;

}



#carreras4 ul a:hover{

	color:#FFF !important;

	

}



#carreras4 button{

	border:0px;

	border-radius: 0px;

	background: transparent;

}



#carreras4 li:hover{

	width: 100%;

	cursor: pointer;

	background: #A103EA;

	color: #FFF !important;

}



/*Lista mitos-Real*/



#lista_mitos_real{

	margin-top: 20px;

	list-style: none;

	list-style-image: url('../images/mitos/iconflecha.png');

}

#lista_mitos_real li{

	line-height: 20px;

	margin-top: 5px;

}



/*backs*/



#back-area2{

	height: 57px;

	background: url('../images/mitos/plecaverde.jpg')

}



#back-area1{

	height: 57px;

	background: url('../images/mitos/plecaazul.jpg')

}



#back-area3{

	height: 57px;

	background: url('../images/mitos/plecanaranja.jpg')

}

#back-area4{

	height: 57px;

	background: url('../images/mitos/plecamorada.jpg')

}