.logo_muro{
	margin-top: 40px;
	margin-left: 65px;
}

#comentario{
	border: #666 0px solid;
	border-bottom: #666 1px solid;
}

.entrada_muro{
	background: -webkit-linear-gradient(#1174b6, #67a6d1);
	background: -moz-linear-gradient(#1174b6, #67a6d1);
	background: -o-linear-gradient(#1174b6, #67a6d1);
	text-align: center;
	padding: 27px;
	color: white;
	margin-top: 33px;
}

.actua_muro{
height: 200px;
margin-top: 10px;
}
.boton_aqui{
	background-color: #F68A21;
	width: 150px;
	text-align: center;
	height: 35px;
	border: none;
	margin-top: 20px;
	color: white;
	margin-left: 31%;
}
.imagen_decide{
	width: 50%;
}

.postear_coment{
	margin-top: 40px;
}

.postear_coment textarea{
	border-radius: 11px;
	background: rgba(128, 128, 128, 0.23);
	border: none;
	text-align: center;
}

.boton_postear_coment{
	color: white;
	background-color: #F68A21;
	border: none;
	border-radius: 4px;
	width: 83px;
	margin-left: 50%;
margin-top: -23px;
	
}
.mono_perfil{
	float: left;
width: 100px;
height: 91px;
}
.input_like{
	width: 2em;
	border: none;
	background: #F68A21;
	border-radius: 6px;
	color: white;
	text-align: center;
}
.input_like_post{
	width: 2em;
	border: none;
	background: #1174b6;
	border-radius: 6px;
	color: white;
	text-align: center;
}
.megusta{
	border: none;
	background: transparent;
	color: #1174b6;
	margin-left: -4px;
}
.btn_comentar{
	border: none;
	height: 41px;
	color: white;
	background-color: #1174b6;
	border-radius: 2px;
	margin-left: 5px;
}
.btn_vermas{
	border: none;
	color: white;
	background-color: #F68A21;
	width: 203px;
	border-radius: 4px;
	margin-top: 45px;
	height: 35px;
}

/*--------------------------------------------------
	  **Iconos Footer**
---------------------------------------------------*/


.iconos_footer {
	/*width: 100%;*/
	width: 50%;
	padding: 0!important;
	margin: auto;
	list-style-type: none!important;
}

.iconos_footer ul{
	margin-top: 70px;
}
	
.iconos_footer li{
	float: left!important;
	margin-right: 4px!important;
	margin-bottom: 4px!important;
	padding: 4px!important;
	display: inline!important;
	width: auto!important;

}
		
.iconos_footer li a {
	-moz-transition: all 0.3s ease 0s;
	display: block!important;
	float: left!important;
	height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	width: 120px!important;
	height: 41px!important;
	text-indent: -9999px!important;
}


.iconos_footer li a:hover {
	background-position: 0 -40px!important;
}
.iconos_footer li a {
	background-color:transparent;
}




.iconos_footer li.tucarrera a {
	background: url(../images/tucarrera-gris.png) no-repeat 0 0;
}
.iconos_footer li.tucarrera a:hover {
	background-color: #fff;
}


.iconos_footer li.receso a {
	background: url(../images/elreceso.png) no-repeat 0 0;
}
.iconos_footer li.receso a:hover {
	background-color: #fff;
}



.iconos_footer li.reta a {
	background: url(../images/reta.png) no-repeat 0 0;
}
.iconos_footer li.reta a:hover {
	background-color: #fff;
}



.iconos_footer li.feria a {
	background: url(../images/feria.png) no-repeat 0 0;
}
.iconos_footer li.feria a:hover {
	background-color: #fff;
}


.iconos_footer li.muro a {
	background: url(../images/muro.png) no-repeat 0 0;
}
.iconos_footer li.muro a:hover {
	background-color: #fff;
}

.iconos_footer li.decide a {
	background: url(../images/decide.png) no-repeat 0 0;
}
.iconos_footer li.decide a:hover {
	background-color: #fff;
}
.iconos_footer li.unitec a {
	background: url(../images/unitec.png) no-repeat 0 0;
}
.iconos_footer li.unitec a:hover {
	background-color: #fff;
}

.error{
	color: #DF0101;
}

.cajas_reta{
	background-color: #DDDDDD;
color: #0C71B8;
border-radius: 16px;
padding: 22px;
font-size: 20px;
	
}
