.menu_home{
	color: white;
	background-color: #0067AC;
	margin-top: 15px;
	text-align: center;
	padding-top: 4px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 4px;
-webkit-border-top-left-radius: 34px;
-webkit-border-top-right-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-webkit-border-bottom-left-radius: 35px;
border-top-left-radius: 34px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 35px;
min-height: 30px;
margin-left: 4%;
}

.menu_home a:link{
	 text-decoration:none;   
}
.menu_home_derecho{
	color: white;
	background-color: #0067AC;
	margin-top: 15px;
	text-align: center;
	padding-top: 4px;
	font-weight: bold;
	font-size: 12px;
	-webkit-border-radius: 34px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-radius: 34px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	width: 120px;
	margin-left: 5px;
	min-height: 30px;
}

.menu_home_derecho a:link{
	text-decoration:none; 
	color:white;
}

.cerrar_sesion{
	border-radius: none;
}

#menu {


/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/

}

#izq-menu{
	-moz-border-top-left-radius: 20px !important;
-webkit-border-top-left-radius: 20px !important;
border-top-left-radius: 20px !important;
-moz-border-bottom-left-radius: 20px !important;
-webkit-border-bottom-left-radius: 20px !important;
border-bottom-left-radius: 20px !important;
}

#der-menu{
	-moz-border-top-right-radius: 20px !important;
-webkit-border-top-right-radius: 20px !important;
border-top-right-radius: 20px !important;
-moz-border-bottom-right-radius: 20px !important;
-webkit-border-bottom-right-radius: 20px !important;
border-bottom-right-radius: 20px !important;
}

#menu ul{
	margin-top: 20px !important;
	list-style: none;
	text-decoration:none;   
}

#menu li{
	line-height: 46px;
	margin:0px !important;
	background-color: #0D71B9;
	/*width: 110px;*/
	width: 20%;
	float: left;
	display: block;
	border-right: solid 1px white;
	text-align: center;
}
#menu li a {
	font-size: 14px;
	color: #FFF;
	font-weight: bold;

}

#menu li a:hover {
	text-decoration: none;

}
.images_cab{
	width: 20px;
	height: 20px;
	padding-left: 3px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 3px;
}
.logo_horaLibre{
	width: 138px;
	height: 73px;
}