<span [formGroup]="formularioPadre">
    <div class="form-group" formGroupName="{{fase}}">
        <div id="secLineasNegocio" class="tabs_content">
            <div class="row justify-content-center">
                <div
                    class="col-6 col-cuadros-contenedor mt-1"
                    *ngFor="let lineas of lineasNegocio; let i = index;"
                    (click)="muestraProductos($event,lineas.id)" 
                >
                        <div class="col-12 col-cuadros-lineas">
                            <div class="titulo-lineas-cuadros" style="text-align:center;">
                                {{ lineas.name }}
                            </div>
                            <div class="imagen-lineas-cuadros {{ lineas.class }}">

                            </div>
                            <button id="" (click)="muestraProductos($event,lineas.id)" role="button" class="btn-dtc waves-effect waves-light">Selecciona</button>
                        </div>
                    
                </div>
            </div>
        </div>
        <!-- Div para el listado de productos (carreras) -->
        <div id="secProductos" class="tabs_content">
        </div>
        <!-- div para el listado de modalidades -->
        <div id="secModalidades" class="tabs_content">
            <div class="row justify-content-center">
            </div>
        </div>
        <!-- div para el listado de campus -->
        <div id="secCampus" class="tabs_content">
                <div class="row justify-content-center">
                </div>
        </div>
        <!-- div para el listado de tipo de registro -->
        <!-- <div id="secTipoRegistro" class="tabs_content">
            <div class="row adapt-desk-lineas col-12">   
            </div>
        </div> -->
        <!-- div para el listado de ciclos -->
        <div id="secCiclos" class="tabs_content">
                <div class="row">
                </div>
        </div>

    </div>
</span>