<span [formGroup]="formularioPadre">
    <div class="row" formGroupName="{{fase}}">
      <fieldset id="politicas" class="pl-3">
          <input type="checkbox" id="privacidad" formControlName="frm_aviso_de_privacidad" name="privacidad" value="privacidad">
          <label class="m-0" for="privacidad">
              Acepto las  <a href="{{url}}" target="_blank" >Políticas de Privacidad</a>
          </label>
      </fieldset>
    </div>
</span>
<div class="myFeedBackError" *ngIf="formularioPadre.get(inputComponent).errors  && formularioPadre.get(inputComponent).dirty">
    <div *ngIf="formularioPadre.get(inputComponent).errors.fieldError">
        {{formularioPadre.get(inputComponent).errors.customErrorMessage}}
    </div>
</div>